<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Constancias</v-toolbar-title>
    </v-card-title>
    <v-card>
      <constance-table :headers="headers" :items="items" :loading="loading" :modal="modal" @showModal="val => { modal = val }"
                       :fetchRequest="fetchRequest" :submit="submit" :isAdmin="isAdmin" :isDone="isDone"
                       :types="types"/>
    </v-card>
  </div>
</template>
<script>
  import ConstanceTable from '../../components/request/ConstanceTable.vue'
  export default {
    components: {ConstanceTable},
    data () {
      return {
        isAdmin: false,
        headers: [
          {
            text: 'Tipo de Solicitud',
            value: 'type',
            align: 'left',
            sortable: false
          },
          {
            text: 'Colaborador',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Motivo',
            value: 'purpose',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha',
            value: 'dateStart',
            align: 'left',
            sortable: false
          },
          {
            text: 'Estado',
            value: 'idStatus',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false,
        modal: false,
        modalNote: false,
        isDone: false,
        types: []
      }
    },
    methods: {
      fetchRequest (limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('getConstanceRequest', {limit, offset, admin: 0})
          .then((res) => {
            this.loading = false
            this.items = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchTypeRequest () {
        this.$store.dispatch('getTypeRequest')
          .then((res) => {
            this.types = res.data
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      submit (params) {
        this.loading = true
        this.isDone = false
        this.$store.dispatch('submitConstance', params)
          .then((res) => {
            this.loading = false
            this.isDone = true
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest()
            // this.hideModal()
          })
          .catch((err) => {
            this.loading = false
            this.isDone = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchRequest()
      this.fetchTypeRequest()
    }
  }
</script>
