<template>
  <div>
    <div style="padding-bottom: 10px;">
      <v-icon class="primary--text">edit</v-icon>&nbsp;Solicitudes - <span class="primary--text">Citas Médicas</span>
    </div>
    <v-card>
      <v-card-title>
        <div class="headline">SOLICITUD DE CITAS MÉDICAS</div>
      </v-card-title>
      <v-card-text>
        <full-calendar
          ref="calendar"
          defaultView="month"
          :event-sources="eventsource"
          @event-selected="eventSelected"
          @event-created="eventCreated"
          :config="config"></full-calendar>
      </v-card-text>
    </v-card>

    <v-dialog v-model="modal" persistent scrollable width="500px" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">CREAR UNA SOLICITUD - CITA MÉDICA</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card flat>
          <v-card-text style="height: 430px;">
            <v-layout>
              <v-flex xs5>
                <v-subheader>Cod. Colaborador</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="iduser"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Nombre</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="name"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Fecha y Hora</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="menu"
                  offset-y
                  :nudge-left="40">
                  <v-text-field
                    slot="activator"
                    v-model="time"
                    readonly></v-text-field>
                  <v-time-picker v-model="time" autosave></v-time-picker>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Motivo</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="purpose"
                  rows="3"
                  multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModal" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            primary
            class="white--text"
            v-if="time != null && purpose.trim().length > 0"
            @click.native="submit()"
            :loading="loading"
            :disabled="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalDetail" persistent scrollable width="500px" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">CITA MÉDICA</div>
        </v-card-title>
        <v-card-text style="height: 430px;">
          <v-layout>
            <v-flex xs5>
              <v-subheader>Cod. Colaborador</v-subheader>
            </v-flex>
            <v-flex xs7>
              <v-subheader v-html="iduser"></v-subheader>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs5>
              <v-subheader>Nombre</v-subheader>
            </v-flex>
            <v-flex xs7>
              <v-subheader v-html="name"></v-subheader>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs5>
              <v-subheader>Fecha y Hora</v-subheader>
            </v-flex>
            <v-flex xs7>
              <v-subheader v-html="dateDetail"></v-subheader>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs5>
              <v-subheader>Motivo</v-subheader>
            </v-flex>
            <v-flex xs7>
              <v-subheader v-html="purposeDetail"></v-subheader>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="modalDetail = false" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            error
            :disabled="loading"
            :loading="loading"
            @click.native="deleteRequest(item)">Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  export default {
    data () {
      return {
        menu: false,
        iduser: this.$store.state.auth.user.idUser,
        name: this.$store.state.auth.user.name + ' ' + this.$store.state.auth.user.lastName,
        dateDetail: null,
        purposeDetail: '',
        item: null,
        time: null,
        modal: false,
        modalDetail: false,
        purpose: '',
        dateEvent: '',
        events: [],
        eventsource: [
          {
            events: this.events,
            color: 'orange',
            textColor: 'black'
          }
        ],
        config: {
          weekends: false,
          fixedWeekCount: false,
          locale: 'es',
          eventLimit: true,
          eventLimitText: 'Más solicitudes...',
          allDayText: 'Horas/Días',
          buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista'
          },
          dayRender: (date, cell) => {

            // cell.addClass('disabled')
          },
          eventClick: (event) => {
            this.dateDetail = dateFormat(event.request.dateStart) + ' ' + event.request.timeStart
            this.purposeDetail = event.request.medicalDescription
            this.item = event.request.idRequest
            this.modalDetail = true
          },
          dayClick: (date, jsEvent, view) => {
            this.modal = true
            this.dateEvent = date
          },
          eventRender: (event) => {
            let clss = event.request.idStatus === 1 ? 'green' : 'blue'
            return '<div class="text-xs-left ' + clss + ' white--text request-event">' + event.request.timeStart + ' ' + event.request.name + '</div>'
          },
          header: {
            left: 'today prev,next',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          }
        },
        loading: false
      }
    },
    methods: {
      dateFormat,
      refreshEvents () {
        this.$refs.calendar.$emit('refetch-events')
      },
      removeEvent () {
        this.$refs.calendar.$emit('remove-event', this.selected)
        this.selected = {}
      },
      eventSelected (event) {
        this.selected = event
      },
      eventCreated (...test) {
      },
      hideModal () {
        this.modal = false
        this.time = null
        this.purpose = ''
      },
      submit () {
        this.loading = true
        this.$store.dispatch('submitMedical', {date_event: this.dateEvent, timePicker: this.time, reason_event: this.purpose, cod_user: this.$store.state.auth.user.idUser})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest()
            this.hideModal()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchRequest () {
        this.$store.dispatch('getMedicalRequest', {})
          .then((res) => {
            this.loading = false
            this.events = res.data.requests
            // this.hideModal()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      deleteRequest (item) {
        this.loading = true
        this.$store.dispatch('deleteRequest', {idRequest: item})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest()
            this.hideModalDetail()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      hideModalDetail () {
        this.modalDetail = false
        this.dateDetail = null
        this.item = null
        this.purposeDetail = ''
      }
    },
    watch: {
      events () {
        this.eventsource = [
          {
            events: this.events,
            color: 'orange',
            textColor: 'white'
          }
        ]
      }
    },
    mounted () {
      this.fetchRequest()
      this.refreshEvents()
    }
  }
</script>
