<template>
  <div>
    <div style="padding-bottom: 10px;">
      <v-icon class="primary--text">edit</v-icon>&nbsp;Solicitudes - <span class="primary--text">Medicinas</span>
    </div>
    <v-card>
      <v-card-title>
        <div class="headline">SOLICITUD DE MEDICINAS</div>
      </v-card-title>
      <v-card-title>
        <v-btn icon @click.native="modal = true" class="green--text">
          <v-icon v>add_circle_outline</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="fetchRequest()" class="grey--text text--darken-2" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
        v-bind:headers="headers"
        :items="items.rows"
        :total-items="items.total"
        :pagination.sync="pagination"
        :loading="loading"
        :no-data-text="loading ? '' : 'no se encontraron resultados'">
        <template slot="items" scope="props">
          <td>{{ props.item.medicine }}</td>
          <td>{{ props.item.name + ' ' + props.item.lastName }}</td>
          <td>{{ dateFormat(props.item.dateStart) }}</td>
          <td>{{ props.item.dateEnd != null ? props.item.dateEnd : 'Fecha no asignada aun' }}</td>
          <td><v-btn small :class="statusClasses[props.item.idStatus]" class="elevation-0" :raised="false" :ripple="false">{{ status[props.item.idStatus] }}</v-btn></td>
          <td>
            <v-btn icon small v-if="props.item.note != null" @click.native="showNote(props.item.note)">
              <v-icon class="primary--text">edit</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="modal" persistent scrollable width="500px" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">CREAR UNA SOLICITUD - MEDICINA</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card flat>
          <v-card-text style="height: 430px;">
            <v-layout>
              <v-flex xs5>
                <v-subheader>Cod. Colaborador</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="iduser"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Nombre</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="name"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Medicina</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="medicine"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Prescripción</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="prescription"
                  rows="3"
                  multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModal" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            primary
            class="white--text"
            v-if="prescription.trim().length > 0 && medicine.trim().length > 0"
            @click.native="submit()"
            :loading="loading"
            :disabled="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalNote" persistent scrollable width="500px" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">NOTA AL COLABORADOR</div>
        </v-card-title>
        <v-card-text>
          <v-layout>
            <v-flex xs4>
              <v-subheader>Nota</v-subheader>
            </v-flex>
            <v-flex xs8>
              <v-subheader v-html="note"></v-subheader>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalNote" class="primary--text">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  export default {
    data () {
      return {
        headers: [
          {
            text: 'Medicamento',
            value: 'prescription',
            align: 'left',
            sortable: false
          },
          {
            text: 'Colaborador',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha de Solicitud',
            value: 'dateStart',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha Estimada de Preparación',
            value: 'dateEnd',
            align: 'left',
            sortable: false
          },
          {
            text: 'Estado',
            value: 'idStatus',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false,
        pagination: {},
        medicine: '',
        prescription: '',
        modal: false,
        modalNote: false,
        iduser: this.$store.state.auth.user.idUser,
        name: this.$store.state.auth.user.name + ' ' + this.$store.state.auth.user.lastName,
        status: ['Solicitado', 'Aprobada', 'Rechazada', 'En elaboración', 'Listo para retirar', 'Devuelta al laboratorio'],
        statusClasses: ['default', 'success', 'error', 'primary', 'info', 'warning'],
        note: ''
      }
    },
    methods: {
      dateFormat,
      fetchRequest () {
        this.loading = true
        this.$store.dispatch('getMedicineRequest', {limit: this.pagination.rowsPerPage, offset: this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1)})
          .then((res) => {
            this.loading = false
            this.items = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      hideModal () {
        this.modal = false
        this.medicine = ''
        this.prescription = ''
      },
      hideModalNote () {
        this.modalNote = false
        this.note = ''
      },
      submit () {
        this.loading = true
        this.$store.dispatch('submitMedicine', {medicine: this.medicine, prescription: this.prescription})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest()
            this.hideModal()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      showNote (note) {
        this.note = note
        this.modalNote = true
      }
    },
    watch: {
      pagination: {
        handler () {
          this.fetchRequest()
        },
        deep: true
      }
    },
    mounted () {
      this.fetchRequest()
    }
  }
</script>
