<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Salas</v-toolbar-title>
    </v-card-title>
    <v-card>
      <room-calendar :loading="loading" :items="items" :eventsource="eventsource" @showModal="val => { modal = val }"
                     :clear="clear" :submit="submit" :modal="modal" :fetchRequest="fetchRequest" :isAdmin="isAdmin"
                     :loadingM="loadingM" :fetchContact="fetchContact" :isDone="isDone"/>
    </v-card>
  </div>
</template>
<script>
  import AvatarDefault from '../../assets/images/avatar-default.png'
  import RoomCalendar from '../../components/request/RoomCalendar.vue'
  export default {
    components: {RoomCalendar},
    data () {
      return {
        isAdmin: false,
        loading: false,
        loadingM: false,
        modal: false,
        events: [],
        eventsource: [
          {
            events: this.events,
            color: 'orange',
            textColor: 'black'
          }
        ],
        isDone: false,
        items: [],
        clear: false
      }
    },
    methods: {
      submit (dateEvent, timeStart, timeEnd, purpose, members, type) {
        this.loading = true
        this.isDone = false
        this.$store.dispatch('submitRoom', {dateEvent, timeStart, timeEnd, purpose, members: members.join(','), type})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest(type)
            this.clear = true
            this.isDone = true
          })
          .catch((err) => {
            this.loading = false
            this.isDone = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchRequest (type) {
        this.loading = true
        this.$store.dispatch('getRoomRequest', {type: type})
          .then((res) => {
            this.loading = false
            this.events = res.data.requests
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchContact (search) {
        this.loadingM = true
        this.$store.dispatch('fetchContact', {search})
          .then((res) => {
            this.loadingM = false
            res.data.rows.map(user => {
              this.items.push({
                value: user.email,
                code: user.email,
                text: `${user.name}`,
                avatar: user.avatar != null ? user.avatar : AvatarDefault
              })
            })
          })
          .catch((err) => {
            this.loadingM = true
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    watch: {
      events () {
        this.eventsource = [
          {
            events: this.events,
            color: 'orange',
            textColor: 'white'
          }
        ]
      }
    },
    mounted () {
      this.fetchRequest(3)
      this.fetchContact()
    }
  }
</script>
