<template>
  <div>
    <v-card>
      <v-card-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="refreshChangesRequest()" class="grey--text text--darken-2" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
        v-bind:headers="headers"
        :items="items.rows"
        :total-items="items.total"
        :pagination.sync="pagination"
        :loading="loading"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
        rows-per-page-text="Filas por página">
        <template slot="items" scope="props">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.lastName }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ moment(props.item.created_at).format('DD/MM/YYYY hh:mm a') }}</td>
          <td>
            <v-btn icon class="primary--text" @click.native="showModalDetail(props.item.idUser, props.item.groupUpdate)">
              <v-icon>edit</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="modalEmail" persistent scrollable width="600px">
      <v-card class="default-modal" lazy absolute>
        <form v-on:submit.prevent="toSubmitEmail('frm-email')" data-vv-scope="frm-email" autocomplete="off" ref="form">
          <v-card-title class="modal-row-title grey darken-3 ">
            <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
              Administrar emails
            </div>
          </v-card-title>
          <v-card-text>
            <v-layout>
              <v-flex xs4>
                <v-subheader>Colaboradores a notificar</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-select
                  label="Select"
                  :items="itemsMembers"
                  v-model="memberSelect"
                  multiple
                  chips
                  persistent-hint
                  autocomplete></v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              flat
              @click.native="modalEmail = false"
              class="primary--text"
              :disabled="loading">Cancelar</v-btn>
            <v-btn
              right
              type="submit"
              primary
              :loading="loading"
              :disabled="loading">Guardar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalDetail" persistent scrollable width="600px">
      <v-card class="default-modal" lazy absolute>
        <form v-on:submit.prevent="toSubmitDetail('frm-detail')" data-vv-scope="frm-detail" autocomplete="off">
          <v-card-title class="modal-row-title grey darken-3 ">
            <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
              Detalle de la Solicitud
            </div>
          </v-card-title>
          <v-progress-linear v-if="loadingDetail" :indeterminate="loadingDetail" style="position: absolute; top: 30px"></v-progress-linear>
          <v-card-text v-else>
            <v-layout v-for="i in itemDetail" :key="i.description">
              <v-flex xs4>
                <v-subheader>{{ i.description }}</v-subheader>
              </v-flex>
              <v-flex xs8>
                <div class="pt-3">{{ i.value }}</div>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              flat
              @click.native="modalDetail = false"
              class="primary--text"
              :disabled="loading">Cancelar</v-btn>
            <v-btn
              right
              success
              :loading="loading"
              :disabled="loading"
              @click.native="toUpdateDetail(id, 1)">Aprobar</v-btn>
            <v-btn
              right
              error
              :loading="loading"
              :disabled="loading"
              @click.native="toUpdateDetail(id, 2)">Rechazar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>

    <v-fab-transition>
      <v-btn primary dark absolute fab right large @click.native.stop="showModalEmail" style="bottom: 30px;">
        <v-icon>build</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
  import moment from 'moment'
  export default {
    props: {
      headers: Array,
      loading: Boolean,
      loadingDetail: Boolean,
      items: Object,
      itemDetail: Array,
      modalChange: Boolean,
      itemsMembers: Array,
      members: Array,
      submitEmail: Function,
      updateDetail: Function,
      fetchDetail: Function,
      fetchChangesRequest: Function
    },
    data () {
      return {
        pagination: {},
        modalEmail: false,
        memberSelect: [],
        id: '',
        modalDetail: false
      }
    },
    methods: {
      moment,
      showModalEmail () {
        this.modalEmail = true
      },
      toSubmitEmail () {
        this.submitEmail(this.memberSelect)
      },
      showModalDetail (id, groupUpdate) {
        this.modalDetail = true
        this.id = groupUpdate
        this.fetchDetail(id, groupUpdate)
      },
      toUpdateDetail (id, to) {
        this.updateDetail(id, to)
        // this.modalDetail = !this.loading
      },
      refreshChangesRequest () {
        this.fetchChangesRequest(this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      }
    },
    watch: {
      members (value) {
        this.memberSelect = this.members
      },
      loading () {
        if (!this.loading) this.modalDetail = false
      },
      pagination: {
        handler () {
          this.refreshChangesRequest()
        },
        deep: true
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.modalDetail = false
      })
    }
  }
</script>
