<template>
    <div>
        <v-card>
            <v-card-title>
                Perfiles
                <v-spacer></v-spacer>
                <v-text-field
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                        v-model="search"
                ></v-text-field>
            </v-card-title>
            <v-data-table
                    v-bind:headers="headers"
                    :items="items"
                    hide-actions
                    class="elevation-1"
                    :loading="loading"
                    :no-data-text="loading ? '' : 'no se encontraron resultados'"
            >
                <template slot="items" scope="props">

                    <td class="text-xs-left avatar"><img :src="props.item.avatar ? props.item.avatar : avatarDefault"></td>
                    <td class="text-xs-left">{{ props.item.name }}</td>
                    <td class="text-xs-left">{{ props.item.active }}</td>
                    <td class="text-xs-left">
                        <v-btn icon flat primary><v-icon>edit</v-icon></v-btn>
                        <v-menu offset-y>
                            <v-btn icon flat primary slot="activator"><v-icon>delete</v-icon></v-btn>
                            <v-list>
                                <v-list-item>
                                    <v-list-tile @click.native = "removeUser(props.item.uid)">
                                        <v-list-tile-title>Remover</v-list-tile-title>
                                    </v-list-tile>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </td>
                </template>
            </v-data-table>
            <v-btn floating large class="add-user" primary @click.native.stop="add">
                <v-icon light>add</v-icon>
            </v-btn>
        </v-card>
        <v-dialog v-model="modal" persistent scrollable>
            <v-card>
                <form v-on:submit.prevent="submit('frm-user')" data-vv-scope="frm-user">
                    <v-card-row>
                        <v-card-title>Add User</v-card-title>
                    </v-card-row>
                    <v-card-row>
                        <v-card-text>

                            <v-text-field label="Usuario"
                                          v-model="profile.name"
                                          name="name"
                                          required
                                          class="m-t-b-5"
                                          v-validate="'required'"
                                          :rules="[formValidate('name')]"/>

                            <v-text-field label="Contraseña"
                                          name="password"
                                          v-model="profile.active"
                                          required
                                          class="m-t-b-5"
                                          v-validate="'required'"
                                          :rules="[formValidate('active')]"/>
                        </v-card-text>
                    </v-card-row>
                    <v-card-row actions>
                        <v-btn flat @click.native="$emit('showModal', false)">Close</v-btn>
                        <v-btn type="submit" primary flat :loading="loading" :disabled="loading"> Save</v-btn>
                    </v-card-row>
                </form>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
  export default {
    props: {
      items: Array,
      headers: Array,
      loading: Boolean,
      modal: Boolean,
      submit: Function,
      remove: Function
    },
    data () {
      return {
        search: '',
        profile: {
          name: '',
          active: ''
        }
      }
    },
    methods: {
      add () {
        this.profile.name = ''
        this.profile.active = ''
        this.$emit('showModal', true)
      },
      formValidate (field) {
        if (this.formErrors.has(field)) return this.formErrors.first(field)
        return true
      }
    },
    watch: {
      'search' () {
        this.$emit('search', this.search)
      }
    }
  }
</script>
