<template>
    <v-layout row justify-center>
        <v-dialog v-model="modalShow" persistent  width="400px">
            <v-card class="default-modal" lazy absolute>
                <form @submit.prevent="submitModule" autocomplete="off">
                    <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
                        <div class="headline white--text">Perfil</div>
                        <v-spacer></v-spacer>
                        <v-btn icon class="white--text" @click.native="$emit('show', false)">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text :style="{height: $store.state.less600 ? '400px' : '400px',  overflowX: 'auto'}">
                        <v-layout row>
                            <v-flex xs12>

                                <v-text-field
                                        v-model="profile.roleName"
                                        name="title"
                                        label="Nombre"
                                        :rules="[formValidate('name', profile.roleName)]"
                                />

                                <v-select
                                        :items="parents"
                                        v-model="profile.modules"
                                        label="Módulos"
                                        bottom
                                        multiple
                                        chips
                                />

                            </v-flex>
                        </v-layout>

                    </v-card-text>
                </form>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="$emit('show', false)">Cancelar</v-btn>
                    &nbsp;&nbsp;
                    <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text"
                           @click.native="submitModule">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-fab-transition>
            <v-btn primary dark absolute fab right large @click.native.stop="add" style="bottom: 0">
                <v-icon>add</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-layout>
</template>
<script>
  import isEmpty from 'lodash/isEmpty'
  import {dateFormat} from '../../plugins/moment'
  export default{
    props: {
      modalShow: Boolean,
      submit: Function,
      profiles: Array,
      loading: Boolean,
      row: Object,
      modules: Array
    },
    data () {
      return {
        validated: false,
        isValid: false,
        profile: {
          idRole: 0,
          roleName: null,
          modules: [],
          active: true
        },
        parents: []
      }
    },
    methods: {
      dateFormat,
      add () {
        this.validated = false
        this.profile = {
          idRole: 0,
          roleName: null,
          modules: [],
          active: true
        }
        this.$emit('show', true)
      },
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      },
      validateSelect (obj, field) {
        if (!obj && this.validated) return 'Campo requerido'
        return true
      },
      submitModule () {
        this.validated = true
        var $this = this
        if (this.profile.roleName) {
          setTimeout(() => {
            $this.submit(this.profile)
          }, 400)
        }
      }
    },
    watch: {
      row () {
        if (!isEmpty(this.row)) {
          var modules = []
          try {
            modules = JSON.parse(this.row.modules)
          } catch (e) {
            modules = this.row.modules
          }
          this.profile = {
            idRole: this.row.idRole,
            roleName: this.row.roleName,
            modules: modules
          }
        }
      },
      modules () {
        this.parents = []
        let arr = []
        this.modules.map(m => {
          arr.push({value: m.id, text: m.name})
        })
        this.parents = arr
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('show', false)
      })
    }
  }
</script>
