<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      :loading="loading"
      hide-actions
      :no-data-text="loading ? '' : 'no se encontraron resultados'">
      <template slot="items" scope="props">
        <td>{{ props.item.title }}</td>
        <td>{{ props.item.comment }}</td>
        <td>
          <v-btn icon @click="toggle(props.item.id, props.item.idStatus)" :class="props.item.idStatus == 1 ? 'success--text pa-0 ma-0' : 'primary--text pa-0 ma-0'">
            <v-icon>{{props.item.idStatus == 1 ? 'visibility' : 'visibility_off'}}</v-icon>
          </v-btn>
          <v-menu right>
            <v-btn icon class="primary--text" slot="activator">
              <v-icon light>delete_forever</v-icon>
            </v-btn>
            <v-card>
              <v-card-actions>
                <v-btn fab success small @click.native="remove(props.item.id)">
                  <v-icon class="white--text">thumb_up</v-icon>
                </v-btn>
                <v-btn fab error small>
                  <v-icon class="white--text">thumb_down</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="modal" persistent scrollable width="600" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text">Agregar Indicador</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 400px;">
          <v-layout>
            <v-flex xs12>
              <v-text-field
                v-model="title"
                light
                label="Título"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12>
              <v-text-field
                v-model="comment"
                light
                label="Comentario"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12 >
              <v-switch :label="`${status == 1 ? 'Activo': 'Inactivo'}`" color="primary" class="pt-3" v-model="status"></v-switch>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12>
              <div class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                <label>Indicadores</label>
              </div>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs1>
              <v-btn icon class="primary--text" @click="addRow">
                <v-icon>add</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs11>
              <table style="width: 450px;">
                <thead>
                <tr>
                  <th class="pa-0">Marca</th>
                  <th class="pa-0">Porcentaje</th>
                  <th class="pa-0">Color</th>
                  <th class="pa-0"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(row, i) in itemsI">
                  <td class="pa-0" align="center">
                    <v-text-field
                      class="pa-0 ma-0"
                      style="width: 100px; margin-right: 0!important;"
                      v-model="row.brand"
                      name="input-2"
                      persistent-hint/>
                  </td>
                  <td class="pa-0" align="center">
                    <v-text-field
                      class="pa-0 ma-0"
                      style="width: 100px; margin-right: 0!important;"
                      v-model="row.percentage"
                      name="input-2"
                      persistent-hint/>
                  </td>
                  <td class="pa-0" align="center">
                    <v-menu offset-y v-model="row.show" :position-absolutely="true" full-width>
                      <v-text-field
                        :disabled="true"
                        slot="activator"
                        class="pa-0 ma-0"
                        style="width: 100px; margin-right: 0!important;"
                        v-model="row.color.hex"
                        name="input-2"
                        persistent-hint/>
                      <sketch :value="colors" v-model="row.color" />
                    </v-menu>
                  </td>
                  <td>
                    <v-btn icon class="error--text" @click="removeRow(i)">
                      <v-icon>clear</v-icon>
                    </v-btn>
                  </td>
                </tr>
                </tbody>
              </table>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="hideModal" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            v-if="title.trim().length > 0 && comment.trim().length > 0 && itemsI.length > 0"
            primary
            :disabled="loading"
            @click="submit">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-fab-transition v-if="this.$store.state.auth.user.idRole == 1">
      <v-btn primary dark absolute fab right large @click="modal = true" style="bottom: 30px;">
        <v-icon>cloud_upload</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
  import FileUpload from 'vue-upload-component'
  import { Sketch } from 'vue-color'
  export default {
    components: {FileUpload, Sketch},
    props: {
      items: Array,
      headers: Array,
      loading: Boolean,
      fetchIndicator: Function,
      removeIndicator: Function,
      toggleIndicator: Function
    },
    data () {
      return {
        x: 0,
        y: 0,
        colors: {
          hex: '#194d33',
          hsl: {
            h: 150,
            s: 0.5,
            l: 0.2,
            a: 1
          },
          hsv: {
            h: 150,
            s: 0.66,
            v: 0.30,
            a: 1
          },
          rgba: {
            r: 25,
            g: 77,
            b: 51,
            a: 1
          },
          a: 1
        },
        modal: false,
        title: '',
        comment: '',
        status: true,
        loadingI: false,
        itemsI: [{brand: '', percentage: '', color: '', show: false}]
      }
    },
    methods: {
      addRow () {
        this.itemsI.push({brand: '', percentage: '', color: '', show: false})
      },
      removeRow (index) {
        if (this.itemsI.length > 1) this.itemsI.splice(index, 1)
      },
      submit () {
        this.loadingI = true
        this.$store.dispatch('importExcelIndicator', {title: this.title, comment: this.comment, status: this.status, items: this.itemsI})
          .then((res) => {
            this.loadingI = false
            this.hideModal()
            this.fetchIndicator()
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
          })
          .catch((err) => {
            this.loadingI = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      hideModal () {
        this.modal = false
        this.title = ''
        this.comment = ''
        this.status = true
        this.itemsI = [{brand: '', percentage: '', color: '', show: false}]
      },
      remove (id) {
        this.removeIndicator(id)
      },
      toggle (id, status) {
        this.toggleIndicator(id, status)
      }
    },
    watch: {
      files (value) {
        this.fileName = value.length > 0 ? value[0].file.name : ''
      },
      colors (value) {

      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    }
  }
</script>
