<template>
  <div>
    <v-card-text class="pa-4">
      <v-progress-linear :indeterminate="true" v-if="loading" style="position: absolute"></v-progress-linear>
      <v-layout row wrap>
        <v-flex xs12 sm12 md12 lg12>
          <v-slider v-model="nps" thumb-label step="10"></v-slider>

        </v-flex>
        <v-flex xs12 sm2 md2 lg2 class="text-xs-center">
          <v-text-field
            auto-grow
            id="percentage"
            label="Porcentaje"
            v-model="nps"
            type="number"
            max="100"
            min="0"
            suffix="%"></v-text-field>
        </v-flex>
        <v-flex xs12 sm7 md7 lg7 class="text-xs-center">
          <v-text-field
            auto-grow
            id="comment"
            label="Comentario"
            v-model="comment"
            maxlength="20"></v-text-field>
        </v-flex>
        <v-flex xs12 sm3 md3 lg3 class="text-xs-center">
          <v-btn fab dark class="primary" :disabled="loading" @click="submit">
            <v-icon dark>refresh</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-text>
  </div>
</template>
<script>
  export default {
    props: {
      npsR: Number,
      commentNps: String
    },
    data () {
      return {
        nps: 0,
        comment: '',
        loading: false
      }
    },
    methods: {
      submit () {
        this.loading = true
        this.$store.dispatch('submitNps', {value: this.nps, comment: this.comment})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      }
    },
    watch: {
      npsR (value) {
        this.nps = value
      },
      commentNps (value) {
        this.comment = value
      }
    }
  }
</script>
