<template>
  <div>
    <v-tabs dark fixed icons left class="custom__tab-item--menu">
      <v-tabs-bar slot="activators" class="transparent" style="border-bottom: 1px solid rgba(0,0,0,0.1)!important;">
        <v-tabs-slider class="primary"></v-tabs-slider>
        <v-tabs-item href="#tab-1"><span class="primary--text">Part. mercado</span></v-tabs-item>
        <v-tabs-item href="#tab-2"><span class="primary--text">Satisf. cliente</span></v-tabs-item>
        <v-tabs-item href="#tab-3"><span class="primary--text">VOC</span></v-tabs-item>
      </v-tabs-bar>

      <v-tabs-content id="tab-1">
        <v-card-title>
          <v-icon fab primary >timeline</v-icon>
          <v-toolbar-title class="grey--text text--darken-2">Participación mercado</v-toolbar-title>
        </v-card-title>
        <indicator-table :headers="headers" :items="items" :loading="loading" :fetchIndicator="fetchIndicator"
                         :removeIndicator="removeIndicator" :toggleIndicator="toggleIndicator"/>
      </v-tabs-content>

      <v-tabs-content id="tab-2">
        <v-card-title>
          <v-icon fab primary >timeline</v-icon>
          <v-toolbar-title class="grey--text text--darken-2">Satisfacción cliente</v-toolbar-title>
        </v-card-title>
        <indicator-nps :npsR="nps" :commentNps="commentNps"/>
      </v-tabs-content>

      <v-tabs-content id="tab-3">
        <v-card-title>
          <v-icon fab primary >timeline</v-icon>
          <v-toolbar-title class="grey--text text--darken-2">VOC</v-toolbar-title>
        </v-card-title>
        <indicator-voc :vocR="voc" :commentVoc="commentVoc"/>
      </v-tabs-content>

    </v-tabs>
  </div>
</template>
<script>
  import IndicatorTable from '../../components/indicators/IndicatorTable.vue'
  import IndicatorNps from '../../components/indicators/IndicatorNps.vue'
  import IndicatorVoc from '../../components/indicators/IndicatorVoc.vue'
  export default {
    components: {IndicatorTable, IndicatorNps, IndicatorVoc},
    data () {
      return {
        headers: [
          {
            text: 'Título',
            value: 'title',
            align: 'left',
            sortable: false
          },
          {
            text: 'Comentario',
            value: 'comment',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: [],
        nps: 0,
        voc: 0,
        commentNps: '',
        commentVoc: '',
        loading: false
      }
    },
    methods: {
      fetchIndicator () {
        this.loading = true
        this.$store.dispatch('getIndicators', {})
          .then((res) => {
            this.items = res.data.items
            this.nps = res.data.nps
            this.voc = res.data.voc
            this.commentNps = res.data.commentNps
            this.commentVoc = res.data.commentVoc
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      removeIndicator (id) {
        this.loading = true
        this.$store.dispatch('removeIndicators', {id})
          .then((res) => {
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.loading = false
            this.fetchIndicator()
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      toggleIndicator (id, status) {
        this.loading = true
        this.$store.dispatch('toggleIndicators', {id, status})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchIndicator()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchIndicator()
    }
  }
</script>
