.day-not-allowed {
  background: #eee;
  pointer-events: none!important;
}

.request-event {
  cursor: pointer;
  padding-left: 5px;
  border-radius: 3px;
  margin-bottom: 1px;
}

.fc-center {
  text-transform: capitalize;
}

.fc-center {
  h2 {
    font-size: 2em!important;
  }
}

.isActiveList {
  background: #f3f7f9;
  .list__tile__title {
    color: #62a8ea;
  }
}

.div__text--calendar {
  background:#2196f3;
  border-radius:10px;
  margin-right: auto;
  margin-left: auto;
  margin-top:10px;
  font-size:12px;
  display: table;
  padding:3px;
  color:white;
  width: 50%;
}

.lb-number {
  display: none!important;
}

table.table thead th {
  white-space: normal!important;
}

#quill {
  height: 150px;
}

.file--name-ticket {
  white-space: nowrap!important;
  text-overflow: ellipsis;
}

.description--ticket-detail {
  p {
    word-break: break-word;
  }
}

.typerequest__expansion-panel {
  .expansion-panel__header:after {
    top: 35% !important;
  }
}