@import "signin";
@import "users";
@import "map";
@import "animation";
@import "home";
@import "modal";
@import '~fullcalendar/dist/fullcalendar.css';
@import '~cropperjs/dist/cropper.css';
@import 'contact';
@import 'sizes';
@import 'request';
@import "toolbar";
@import "news";
@import "birthdays";
@import "link";
@font-face {
  font-family: Conv_HelveticaNeue-UltraLight;
  src: url(https://www.divemotor.com/fonts/HelveticaNeue-UltraLight.eot);
  src: local("â˜º"),url(https://www.divemotor.com/fonts/HelveticaNeue-UltraLight.woff) format("woff"),url(https://www.divemotor.com/fonts/HelveticaNeue-UltraLight.ttf) format("truetype"),url(https://www.divemotor.com/fonts/HelveticaNeue-UltraLight.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Conv_HelveticaNeue;
  src: url(https://www.divemotor.com/fonts/HelveticaNeue.eot);
  src: local("â˜º"),url(https://www.divemotor.com/fonts/HelveticaNeue.woff) format("woff"),url(https://www.divemotor.com/fonts/HelveticaNeue.ttf) format("truetype"),url(https://www.divemotor.com/fonts/HelveticaNeue.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
/* General */
body {
  font-size: 13px;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 18px;
  font-weight: 400;
  color: #1b1b1b;
}
p {
  color: #6c6c6c;
  font-size: 12px;
}
main{
  padding-top: 56px;
}

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

a {
  text-decoration: none;
}

.app-vuetify{
  opacity: 0;
  background: transparent;

  main{
    height: 100%;
    padding-top: 48px;
  }
  .container{
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    padding: 34px 20px;
  }
  .container-grey{
    background-color:#eee;
  }
  .container-white{
    background-color: white;
  }
  &.show{
    opacity: 1;
  }

  .list__tile__title, .list__tile__sub-title{
    white-space: normal;
  }
}


.card__text{
  font-size: 12px;
  color: #6c6c6c;
}
.page-enter-active, .page-leave-active {
  transition: opacity .3s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.left-drawer{
  // para tooltips in minivariant descomentar
  // overflow: inherit !important;
}

.top-logo{
  width: 110px;
}

.avatar-rounded {
  display: block;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  /* transition: all 10; */
  img {
    color: rgb(255, 255, 255);
    background-color: rgb(188, 188, 188);
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    &.large {
      width: 96px;
      height: 96px
    }
  }
}

.small-table {
  max-height: calc(100vh - 250px);
  &.large {
    min-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  table {
    tbody {
      tr {
        td {
          height: 38px !important
        }
      }
    }
  }
}

.side-sw {
  height: 70px;
  .list__tile__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.btn-badge .btn__content{
  overflow: inherit;
}


/* Left Drawer */
.left-drawer {
  .list--group__header {
    &.list--group__header--active {
      background: #FF7104;
      .list__tile__content {
        color: #fff;

        .list__tile__title{
          color: #fff;
          white-space: normal;

        }
      }

      .list__tile__action i {
        color: #fff !important;
      }
      .list__tile {
        background: none;
      }
    }
  }
}


.social-icon{
  border-right: 1px solid;
}

.add-fload-btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
  @media only screen and ('min-width': 768px){
    bottom: 30px;
    right: 30px;
  }
}

.td-image{
  padding-top: 5px !important;
  position: relative;
  width: 50px;
  height: 50px;

  &.rounded{
    img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  img{
    width: 100%;
  }
}

.tb-action{
  padding: 0;
  margin: 0;
}

.upload-image{
  max-height: 314px !important;
}

.upload-front{
  top: 0;
  position: absolute !important;
  width: 100%;
  height: 100%;
  visibility: hidden !important;
  &.active{
    visibility: visible !important;
  }

}

.text-bold{
  font-weight: 600;
}

.aling-middle-center{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.aling-top-center{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.btn-content-p-0{
  .btn__content{
    padding: 0 5px 0 0 !important;
  }
}

.truncate-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  &.row-4 {
    -webkit-line-clamp: 4;
    max-height: 91px;
  }
  &.row-3 {
    -webkit-line-clamp: 3;
    max-height: 81px;
  }
  &.row-2 {
    -webkit-line-clamp: 2;
    max-height: 40px;
  }
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.absolute-element {
  position: absolute !important;

  &.a-0{
    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }

  &.a-5{
    &.top {
      top: 5px;
    }

    &.bottom {
      bottom: 5px;
    }

    &.right {
      right: 5px;
    }

    &.left {
      left: 5px;
    }
  }

  &.a-10{
    &.top {
      top: 10px;
    }

    &.bottom {
      bottom: 10px;
    }

    &.right {
      right: 10px;
    }

    &.left {
      left: 10px;
    }
  }
}

.text-normal{
  text-transform: none !important;
}

.text-uppercase{
  text-transform: uppercase !important;
}

.text-lowercase{
  text-transform: lowercase !important;
}
.badge:after {
  font-size: 12px;
}
.no-border,
.tabs-no-border .tabs__items{
  //border: 0 !important;
}
.tabs__items{
  border-width: 1px 1px 1px 1px;
}

.tabs__bar{
  height: 40px;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Flickity*/
.flickity-prev-next-button{
  background: hsla(0,0%,100%,.1);
  .arrow {
    fill: #000 !important;
  }
}
.flickity-prev-next-button:hover {
  background: rgba(0, 0, 0, 0.1)!important;
}

.btn-add-fixed{
  position: fixed;
  bottom: 70px;
  right: 10px;
}

iframe {
  border: 4px #eee solid;
}

.mar-auto {
  margin: 0 auto;
}

.list-icons {
  width: 290px;
  text-align: center;
  li{
    display: inline-block;
  }
}

.active-home{

  .Inicio:not(.router-link-exact-active){
    .btn__content {
      &:before {
        background-color: transparent !important;
      }
    }
  }

}
.doltNews {
  position: absolute;
  right: 5px;
  padding-top: 5px;

  .btn-dolt {
    opacity: 0.7;
    &.active {
      opacity: 1 ;
    }
  }

}
