.w-auto{
  width: auto;
}

.w-30{
  width: 30px;
}

.w-40{
  width: 40px;
}

.w-50{
  width: 50px;
}

.w-total{
  width: 100% !important;
}

.h-30{
  height: 30px;
}

.h-40{
  height: 40px;
}

.h-50{
  height: 50px;
}

.h-total{
  height: 100%;
}