
/* tool bar */
.top-bar{
  .toolbar__side-icon{
    border-radius: 0;
    margin: 0 40px 0 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 50px;
    &:hover{
      border-radius: 0;
    }
  }

  .toolbar__item{
    &.toolbar__item--active{
      span{
        color: #FF7104 !important;
      }
    }
  }

  .app-image {

  }
}

.remove-favorite{
  position: relative;

  .btn-remove-favorite{
    position: absolute !important;
    right: -5px;
    top: -15px;
  }


  .icon-remove-favorite {
    visibility: hidden;
  }

  &:hover .icon-remove-favorite {
    visibility: visible;
  }
}


