<!DOCTYPE html>
<html  lang="es">
<head>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initil-scale=1,minimal-ui">

  <% if (htmlWebpackPlugin.options.environment === 'production') { %>
    <% if (htmlWebpackPlugin.options.styles === '"DV"') { %>
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
      <title>Intranet Divemotor</title>
    <% }else{%>
      <link rel="icon" type="image/x-icon" href="/favicon-cr.ico">
      <title>Intranet Autostar</title>
    <%} %>
  <% }else{%>
    <% if (htmlWebpackPlugin.options.styles === '"DV"') { %>
      <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
      <title>Intranet Divemotor</title>
    <% }else{%>
      <link rel="icon" type="image/x-icon" href="/public/favicon-cr.ico">
      <title>Intranet Autostar</title>
    <%} %>
  <%} %>


  <% if (htmlWebpackPlugin.options.environment === 'production') { %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href='/vendors/font-awesome/css/font-awesome.min.css' rel="stylesheet" type="text/css">
  <link href='/vendors/emojionearea/emojionearea.min.css' rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <% }else{%>
  <link href='/public/roboto/css/roboto.min.css' rel="stylesheet" type="text/css">
  <link href='/public/roboto/css/material-icons.css' rel="stylesheet" type="text/css">
  <link href='/public/vendors/font-awesome/css/font-awesome.min.css' rel="stylesheet" type="text/css">
  <link href='/public/vendors/emojionearea/emojionearea.min.css' rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/public/vendors/flickity/flickity.css">
  <%} %>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<% if (htmlWebpackPlugin.options.environment === 'production') { %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="/vendors/emojionearea/emojionearea.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104432050-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-104432050-1');
</script>
<% }else{%>
<script src="/public/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/public/vendors/googleApi/api.js"></script>
<script src="/public/vendors/emojionearea/emojionearea.min.js"></script>
<%} %>
</body>
</html>
