<<template>
  <div>
    <v-card-title>
      <v-icon fab primary >photo</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Album {{$route.params.name}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon class="primary--text text--lighten-2 ma-0" @click.native="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
    </v-card-title>
    <album-detail :items="items" :loading="loading" :delete="remove" :fetchDetail="fetchDetail"
                  :addGalley="addGalley" :isDoneG="isDoneG"/>
  </div>
</template>
<script>
  import AlbumDetail from '../../components/gallery/AlbumDetail.vue'
  import {baseUrl} from '../../api/'
  export default {
    components: {AlbumDetail},
    data () {
      return {
        items: [],
        loading: false,
        imgs: [],
        isDoneG: false
      }
    },
    methods: {
      fetchDetail () {
        this.loading = true
        this.$store.dispatch('getGalleryDetail', {album: this.$route.params.id})
          .then((res) => {
            this.loading = false
            if (this.$store.state.auth.user.idRole === 1) this.items = res.data
            else {
              res.data.map(img => {
                this.items.push({name: 'Gallery', src: `${baseUrl}/files/gallery/${img.src}`})
              })
            }
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      remove (id) {
        this.loading = true
        this.$store.dispatch('deleteGallery', {id})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchDetail()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      addGalley (params) {
        this.loading = true
        this.isDoneG = false
        params.append('id', this.$route.params.id)
        this.$store.dispatch('addGallery', params)
          .then((res) => {
            this.loading = false
            this.isDoneG = true
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchDetail()
          })
          .catch((err) => {
            this.loading = false
            this.isDoneG = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchDetail()
    }
  }
</script>
