<template>
  <div>
    <v-card-title>
      <v-icon fab primary >photo</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Galería</v-toolbar-title>
    </v-card-title>
    <album @showModal="val => { modal = val }" :modal="modal" :loading="loading" :submit="submit"
           :fetchGalleries="fetchGalleries" :gallery="gallery" :isAdmin="isAdmin"/>
  </div>
</template>
<script>
  import Album from '../../components/gallery/Album.vue'
  export default {
    components: {Album},
    data () {
      return {
        modal: false,
        loading: false,
        gallery: [],
        isAdmin: false
      }
    },
    methods: {
      submit (params) {
        this.loading = true
        this.$store.dispatch('submitGallery', params)
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchGalleries () {
        this.loading = true
        this.$store.dispatch('getGalleries', {})
          .then((res) => {
            this.loading = false
            this.gallery = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchGalleries()
    }
  }
</script>
