<template>
  <div class="container pa-0" style="max-width: 1378px; padding-top: 20px; transform-origin: center top 0px;">
    <div class="card__title" style="padding-top: 0px;"><i fab="" class="material-icons icon primary--text">import_contacts</i>
      <div class="toolbar__title grey--text text--darken-2">Documentos</div>
    </div>
    <ul class="breadcrumbs" style="justify-content: left;"></ul> <!---->
    <div class="layout row wrap">
      <div class="flex xs12">
        <div class="card grid elevation-0" style="height: auto;">
          <nav class="white elevation-0 toolbar" style="margin-top: 0px;">
            <div class="toolbar__content">
              <div class="toolbar__title grey--text text--darken-2">Carpetas</div>
            </div>
          </nav>
          <div class="container fluid grid-list-xl"><!---->
            <div class="layout row wrap">
              <!--<div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Autos
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/09FBA577-535E-45DB-9E4C02474E9B483A.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Buses
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/1D0E6B60-1A29-41D2-ACCE4562357E8D94.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Camiones
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/F1140BC5-36CE-4688-934FE26FC0FF5AED.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Postventa
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/03CDAE6B-6F7C-457A-BD91CDB2F4D0A86F.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Administración y Finanzas
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/22A01153-AF7A-486B-8ECCBF39042B503E.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Contraloría
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/B11783BB-14FB-49DD-866309FE862BE880.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>-->
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docsSalud">Primero mi salud</router-link>
                    </div>
                    <router-link to="/general/docsSalud">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/assets/Image/salud-new.jpg"
                         style="max-width: 100%;">
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);" >
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">

                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docsAutos">Autos</router-link>
                    </div>
                    <router-link to="/general/docsAutos">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/assets/Image/autos.png"
                         style="max-width: 100%;">
                    </router-link>
                  </div>

                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);" >
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">

                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docs">Informática</router-link>
                    </div>
                    <router-link to="/general/docs">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/8AF8A851-B879-4110-BB38C953AF853301.jpg"
                         style="max-width: 100%;">
                    </router-link>
                  </div>

                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docsDesa"> Desarrollo Humano </router-link>
                    </div>
                    <router-link to="/general/docsDesa">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/DFD3FAB6-FF79-4BF1-A983096A0645209B.jpg"
                         style="max-width: 100%;">
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docsViajes">Información para viajes</router-link>
                    </div>
                    <router-link to="/general/docsViajes">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/CF493EC8-98FA-4AF1-A202AD7CD8959E3B.jpg"
                         style="max-width: 100%;">
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docsSeguros">Seguros</router-link>
                    </div>
                    <router-link to="/general/docsSeguros">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/ABA5A624-4175-4DB1-97FFFBE503D77165.jpg"
                         style="max-width: 100%;">
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/docsLegal">Legal y Cumplimiento</router-link>
                    </div>
                    <router-link to="/general/docsLegal">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/D20EE8B4-F230-4951-80FBE3A69D0CAC80.jpg"
                         style="max-width: 100%;">
                    </router-link>
                  </div>
                </div>
              </div>

              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      <router-link to="/general/manuales/guia">Manuales y Guias</router-link>
                    </div>
                    <router-link to="/manual/guias">
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/assets/Image/manual.png"
                         style="max-width: 100%;">
                    </router-link>
                  </div>
                </div>
              </div>
              <!--<div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Salud Ocupacional
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/CE9D6251-9855-41C6-81BD39ACA3B2F2C5.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Marketing
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/639C6AE2-26C5-4440-A2B887143E71A079.jpg"
                         style="max-width: 100%;"></div>
                </div>
              </div>
              <div class="flex xs12 sm6 md3">
                <div class="layout row wrap elevation-6" style="background-color: rgb(255, 255, 255);">
                  <div class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial;">
                    <div style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center;">
                      Experiencia de clientes
                    </div>
                    <img src="https://cms.intranet.divemotor.com.pe/intranet/default/cache/file/4FB88E94-4B42-4EE5-8A4211E77E3BCEE8.jpg"
                         style="max-width: 100%;"></div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex xs12"><!----></div>
    </div>
  </div>
  </div>
</template>
<script>
  import GridNews from '../../components/news/GridNews.vue'
  export default {
    components: {GridNews},
    data () {
      return {
        items: [],
        loading: false,
        paginate: {
          pageindex: 1,
          itemsperpage: 10
          // domain: 1
        },
        mode: 0,
        detail: {},
        modal: false
      }
    },
    methods: {
      fetchBenefit (id) {
        if (id) {
          this.paginate.id = id
          this.paginate.fields = 'title,summary,images,body,created'
          this.mode = 1
        } else this.mode = 0
        this.loading = true
        this.$store.dispatch('fetchDocs', this.paginate).then((com) => {
          if (com.data.data) {
            if (this.mode === 0) this.items = com.data.data.items
            else this.detail = com.data.data
          }
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchBenefit()
    }
  }
</script>
