<template>
  <div>
    <GridNews :items="items" :loading="loading" title="Beneficios" :type="4" :fetchItems="fetchBenefit"
              :detail="detail" :modal="modal" @showModal="val => { modal = val }" />
  </div>
</template>
<script>
  import GridNews from '../../components/news/GridNews.vue'
  export default {
    components: {GridNews},
    data () {
      return {
        items: [],
        loading: false,
        paginate: {
          pageindex: 1,
          itemsperpage: 10
          // domain: 1
        },
        mode: 0,
        detail: {},
        modal: false
      }
    },
    methods: {
      fetchBenefit (id) {
        if (id) {
          this.paginate.id = id
          this.paginate.fields = 'title,summary,images,body,created'
          this.mode = 1
        } else this.mode = 0
        this.loading = true
        this.$store.dispatch('fetchExclusiveBenefits', this.paginate).then((com) => {
          if (com.data.data) {
            if (this.mode === 0) this.items = com.data.data.items
            else this.detail = com.data.data
          }
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchBenefit()
    }
  }
</script>
