<template>
  <div>
    <v-card-title>
      <v-icon fab primary >account_balance</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Institución</v-toolbar-title>
    </v-card-title>

    <v-card class="mt-3 elevation-1">
      <v-tabs v-model="active">
        <v-tabs-bar slot="activators" class="white">
          <v-tabs-item
            v-for="tab in tabs"
            :key="tab.id"
            :href="'#' + tab.id"
            ripple>
            {{tab.title}}
          </v-tabs-item>
          <v-tabs-slider class="primary"></v-tabs-slider>
        </v-tabs-bar>
        <v-tabs-content :key="'1'" :id="'1'">
          <v-layout>
            <v-flex xs12>
              <v-layout>
                <v-flex xs2 md1 class="mt-5">
                  <div class="primary" style="width: 30px!important;height: 30px!important;position: relative;">
                    <v-icon class="white--text" style="position: absolute!important;top:3px;left: 3px;">hourglass_empty</v-icon>
                  </div>
                </v-flex>
                <v-flex xs10 md4 class="mt-5 mr-5">
                  <p class="primary--text headline" justify>
                    Historia
                  </p>
                  <p class="text-xs-justify" v-for="(item,i) in items" :key="i">
                    <b>{{ item.history.title }}</b><br/>
                    {{ item.history.text }}
                  </p>
                  <p class="text-justify">
                    Hoy podemos decir que somos la empresa más grande del sector automotriz.<br/><br/>
                    ¡Feliz 25 aniversario familia Divemotor!

                  </p>
                </v-flex>
                  <v-flex md6 hidden-xs-only class="mt-5">
                      <v-carousel icon="stop" v-model="caro" style="width:650px;height: 300px;">
                          <v-carousel-item v-for="(item,i) in items" v-bind:src="item.src" :key="i"></v-carousel-item>
                      </v-carousel>
                  </v-flex>
              </v-layout>
            </v-flex>

          </v-layout>
          <v-layout>
            <v-flex xs2 md1 class="mt-5">
              <div class="primary" style="width: 30px!important;height: 30px!important;position: relative;">
                <v-icon class="white--text" style="position: absolute!important;top:3px;left: 3px;">account_balance</v-icon>
              </div>
            </v-flex>
            <v-flex xs10 class="mt-5 mr-5">
              <p class="primary--text headline" justify>
                La Empresa
              </p>
              <p class="text-xs-justify">
                Divemotor es una empresa peruana con 28 años de experiencia en el mercado automotriz. Está dedicada a la comercialización de autos, camiones y buses y a brindar soporte y servicio Post Venta.
              </p>
              <p class="text-xs-justify">
                Divemotor vela por el bienestar de más de 1,000 familias, por lo que trabaja arduamente para que sus colaboradores sientan que son personas que generan valor y son reconocidas por la empresa.
              </p>
              <p class="text-xs-justify">
                La compañía ha sido reconocida como la empresa Líder en ventas en vehículos pesados por 9 años consecutivos. Así mismo, por 19 años continuos ha mantenido el liderazgo en la venta de buses con la marca Mercedes-Benz
              </p>
              <p class="text-xs-justify">
                Contando con 22 puntos de atención a nivel nacional, Divemotor se compromete a seguir brindando el soporte y la asesoría personalizada a miles de usuarios y transportistas de todo el Perú.
              </p>
            </v-flex>
          </v-layout>
        </v-tabs-content>
        <v-tabs-content :key="'2'" :id="'2'">
          <v-layout>
            <v-flex xs12>
              <v-layout>
                <v-flex xs2 class="mt-5">
                  <div class="primary" style="width: 30px!important;height: 30px!important;position: relative;">
                  <v-icon class="white--text" style="position: absolute!important;top:3px;left: 3px;">thumb_up</v-icon>
                  </div>
                </v-flex>
                <v-flex xs10 class="mt-5">

                  <p class="primary--text headline mb-4" justify>
                    Valores
                  </p>

                  <v-layout row wrap class="aling-middle-center text-xs-center" style="display: flex; justify-content: center; align-items: stretch">
                    <v-flex xs12 sm12 md12 class="aling-middle-center text-xs-center mb-4 " style="align-items: center" >
                      <img src="../../assets/images/iconsVues/Logo-Fuerza.jpg" width="250" class="mr-5"/>
                    </v-flex>

                    <v-flex xs4 sm2 md1 class="aling-middle-center text-xs-center mb-5 " >
                      <img src="../../assets/images/iconsVues/Iconos-Valores-3.png" width="80"/>
                    </v-flex>

                    <v-flex xs7 sm3 md4 class="aling-middle-center text-xs-center mb-5 col-md-1" >
                      <p class="text-xs-justify mb-0" style="padding-left: 12px;">
                        <b>Colaboración</b><br/>
                        Buscar llegar a las metas en equipo, y atender las necesidades del cliente sin perder el ritmo de trabajo.
                      </p>
                    </v-flex>
                      <v-flex xs1 sm1 md1 class="aling-middle-center text-xs-center mb-5" >

                      </v-flex>

                    <v-flex xs4 sm2 md1 class="aling-middle-center text-xs-center mb-5">
                      <img src="../../assets/images/iconsVues/Iconos-Valores-1.png" width="80"/>
                    </v-flex>

                    <v-flex xs7 sm3 md4 class="aling-middle-center text-xs-center mb-5">

                      <p class="text-xs-justify mb-0" style="padding-left: 12px;">
                        <b>Responsabilidad</b><br/>
                        Hacer el trabajo a tiempo y con total transparencia.
                      </p>
                    </v-flex>
                      <v-flex xs1 sm1 md1 class="aling-middle-center text-xs-center mb-5" >

                      </v-flex>

                    <v-flex xs4 sm2 md1 class="aling-middle-center text-xs-center mb-5" >
                      <img src="../../assets/images/iconsVues/Iconos-Valores-4.png" width="80"/>
                    </v-flex>

                    <v-flex xs7 sm3 md4 class="aling-middle-center text-xs-center mb-5">
                      <p class="text-xs-justify mb-0" style="padding-left: 12px;">
                        <b>Integridad</b><br/>
                        Brindar información exacta y cumplir las funciones con rectitud, franqueza y honestidad.
                      </p>
                    </v-flex>
                      <v-flex xs1 sm1 md1 class="aling-middle-center text-xs-center mb-5" >

                      </v-flex>

                    <v-flex xs4 sm2 md1 class="aling-middle-center text-xs-center mb-5" >
                      <img src="../../assets/images/iconsVues/Iconos-Valores-2.png" width="80"/>
                    </v-flex>

                    <v-flex xs7 sm3 md4 class="aling-middle-center text-xs-center mb-5">
                      <p class="text-xs-justify mb-0" style="padding-left: 12px;">
                        <b>Pasión por el cliente</b><br/>
                        Cumplir con las necesidades del cliente, buscar satisfacer sus demandas y exceder sus expectativas.
                      </p>
                    </v-flex>
                      <v-flex xs1 sm1 md1 class="aling-middle-center text-xs-center mb-5" >

                      </v-flex>
                  </v-layout>

                </v-flex>
              </v-layout>
            </v-flex>
            <!--v-flex xs7 class="mt-5">
              <img src="../../assets/images/institution/valores.png" style="width: 100%; padding-right: 10px;"/>
            </v-flex-->
          </v-layout>
        </v-tabs-content>
        <v-tabs-content :key="'3'" :id="'3'">
          <v-layout>
            <v-flex xs12 md5>
              <v-layout>
                <v-flex xs2 class="mt-5">
                  <div class="primary" style="width: 30px!important;height: 30px!important;position: relative;">
                    <v-icon class="white--text" style="position: absolute!important;top:3px;left: 3px;">terrain</v-icon>
                  </div>
                </v-flex>
                <v-flex xs8 class="mt-5">
                  <p class="primary--text headline" justify>
                    Misión y Visión
                  </p>
                  <p class="text-xs-justify">
                    <b>Misión</b><br/>
                    Satisfacer las necesidades de nuestros clientes a través de la comercialización de autos, buses y camiones, fidelizándolos mediante la calidad de nuestro servicio post venta. Contribuimos al desarrollo de nuestra sociedad mediante nuestro compromiso de inversión a largo plazo, el desarrollo personal y profesional de nuestros colaboradores y una retribución adecuada a los accionistas.
                  </p>
                  <p class="text-xs-justify">
                    <b>Visión</b><br/>
                    Ser líder en los mercados en los que competimos y ser reconocidos por la calidad del servicio que prestamos.
                  </p>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs7 md7 hidden-xs-only class="mt-5">
              <img src="../../assets/images/institution/mision-vision.jpg" style="width: 100%; padding: 0px 25px 25px;"/>
            </v-flex>
          </v-layout>
        </v-tabs-content>
      </v-tabs>
    </v-card>
  </div>
</template>
<script>
  import img1993 from '../../assets/images/institution/1993.jpg'
  import img1994 from '../../assets/images/institution/1994.jpg'
  import img1997 from '../../assets/images/institution/1997.jpg'
  import img2000 from '../../assets/images/institution/2000.jpg'
  import img2002 from '../../assets/images/institution/2002.jpg'
  import img2013 from '../../assets/images/institution/2013.jpg'
  export default {
    data () {
      return {
        tabs: [
          {title: 'Empresa', id: '1'},
          {title: 'Valores', id: '2'},
          {title: 'Misión y Visión', id: '3'}
        ],
        active: null,
        text: 'PRUEBA',
        items: [
          {
            src: img1993,
            history: {
              title: '1993 - INICIO ACTIVIDADES',
              text: '5 de marzo de 1993, Divemotor S.A. obtiene la representación de la Corporación Daimler-Benz en el segmento vehículos comerciales.'
            }
          },
          {
            src: img1994,
            history: {
              title: '1997 - ASOCIACIÓN CON AUTOMOTRIZ DEL PERÚ',
              text: 'Por la que Divemotor adquirió la representación de la marca Mercedes-Benz en lo que respecta a automóviles.'
            }
          },
          {
            src: img1997,
            history: {
              title: '2000 - REPRESENTACIÓN DEL GRUPO CHRYSLER',
              text: 'Luego de la fusión de la Corporación Chrysler con Daimler-Benz, se incorporan a nuestra cartera las marcas Jeep, Dodge y Chrysler.'
            }
          },
          {
            src: img2000,
            history: {
              title: '2000 - SUCURSAL TRUJILLO',
              text: 'Apertura sucursal en la ciudad de Trujillo.'
            }
          },
          {
            src: img2002,
            history: {
              title: '2002 - SUCURSAL CUSCO',
              text: 'Apertura sucursal en la ciudad de Cusco.'
            }
          },
          {
            src: img2002,
            history: {
              title: '2005 - SUCURSAL CAJAMARCA',
              text: 'Apertura sucursal Cajamarca.'
            }
          },
          {
            src: img2013,
            history: {
              title: '2018 – ANIVERSARIO',
              text: 'Divemotor cumple 25 años en el país. Consolidándose en sus diferentes líneas de negocio, con tres claros pilares: un equipo humano comprometido, contar con un portafolio de marcas prestigiosas en la industria automotriz  y brindar soluciones ágiles y oportunas a través de una excelente infraestructura y respaldo financiero.'
            }
          }
        ],
        caro: 0
      }
    },
    methods: {
      fetchCommunicateds () {
      }
    },
    created () {
    },
    mounted () {
    },
    watch: {
      caro (value) {

      }
    }
  }
</script>
