<template>
    <GridNews :items="items" :loading="loading" title="Noticias" :type="2"/>
</template>

<script>
  import GridNews from '../../components/news/GridNews.vue'
  export default {
    components: {GridNews},
    data () {
      return {
        items: [],
        loading: false,
        paginate: {
          pageindex: 1,
          itemsperpage: 10
          // domain: 1
        }
      }
    },
    methods: {
      fetchCommunicated () {
        this.loading = true
        this.$store.dispatch('fetchNotices', this.paginate).then((com) => {
          if (com.data.data) this.items = com.data.data.items
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchCommunicated()
    }
  }
</script>
