<template>
    <NewsDetail :item="item" :loading="loading" :type="type"/>
</template>
<script>
  import NewsDetail from '../../components/news/NewsDetail.vue'
  export default {
    components: {NewsDetail},
    data () {
      return {
        item: {},
        loading: false,
        type: 2,
        params: {
          pageindex: 1,
          itemsperpage: 10,
          id: this.$route.params.id,
          fields: 'title,summary,images,body,created'
          // domain: 1
        }
      }
    },
    methods: {
      fetchCommunicated () {
        this.loading = true
        this.$store.dispatch('fetchDetailMura', this.params).then((com) => {
          if (com.data.data) this.item = com.data.data
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchCommunicated()
    },
    watch: {
      '$route.params.id' () {
        this.params.id = this.$route.params.id
        this.fetchCommunicated()
      }
    }
  }
</script>
