// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
@import '../../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $amber.darken-4
  accent: #ce93d8
  secondary: $grey.darken-3
  info: $blue.darken-1
  warning: #ffb300
  error: $red.darken-1
  success: $green.darken-1
}
$navigation-drawer-width = 240px

@import '../../../node_modules/vuetify/src/stylus/main.styl'

