<template>
  <div>
    <v-dialog v-model="dialog" persistent scrollable width="600" scrollable>
      <v-card>
        <form v-on:submit.prevent="submit('frm-menu')" data-vv-scope="frm-menu" autocomplete="off" enctype="multipart/form-data">
          <v-card-title class="modal-row-title grey darken-3">
            <div class="headline white--text">Carga de Menú</div>
          </v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex xs4 offset-xs2>
                <Headquarters
                  :items="itemSede"
                  v-model="sede"
                  itemText="text"
                  itemValue="value"
                  :ligth="true"
                  :max-height="200"
                  :multiple="false"
                  :chips="false"
                  label="Sucursal"
                  :autocomplete="true" />
              </v-flex>
              <v-flex xs6>
                <label class="btn btn--raised primary" style="padding: 15px;">
                  <v-icon>unarchive</v-icon>
                  Buscar Archivo
                  <file-upload
                    style="display: block !important;z-index:10;"
                    :name="name"
                    :extensions="extensions"
                    :accept="accept"
                    :multiple="multiple"
                    :directory="directory"
                    :size="size || 0"
                    :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                    :drop="drop"
                    :dropDirectory="dropDirectory"
                    v-model="files"
                    @input-file="inputFile"
                    ref="upload">
                  </file-upload>
                </label>
                <v-btn fab small error @click.native="deleteFile" v-if="files.length > 0">
                  <v-icon class="white--text">delete</v-icon>
                </v-btn>
                <br/>
                <small class="caption">{{ fileName }}</small>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <a class="btn btn--raised primary" style="padding: 15px;" :href="url + '/File/menu_divemotor_intranet.xls'" download>Descargar archivo plantilla</a>
            <v-spacer></v-spacer>
            <v-btn type="submit" primary :loading="loading" :disabled="loading" v-if="sede > 0 && files.length > 0">Cargar</v-btn>
            <v-btn class="primary--text" flat :disabled="loading" @click.native="$emit('showDialog', false)">Cancelar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import Headquarters from '../shared/Headquarters.vue'
  import FileUpload from 'vue-upload-component'
  import {baseUrl} from '../../api/'
  export default {
    components: { Headquarters, FileUpload },
    props: {
      dialog: Boolean,
      sedes: Array,
      fetchMenu: Function
    },
    data () {
      return {
        url: baseUrl,
        accept: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        size: 1024 * 1024 * 10,
        extensions: 'xls,xlsx',
        search: '',
        pagination: {},
        multiple: false,
        directory: false,
        thread: 3,
        drop: false,
        dropDirectory: false,
        name: 'file',
        files: [],
        sede: '',
        itemSede: [],
        upload: {
          file: null,
          sede: ''
        },
        loading: false,
        fileName: ''
      }
    },
    methods: {
      submit () {
        let fd = new FormData()
        fd.append('idsucursal', this.sede)
        fd.append('menu', this.files[0].file)
        this.loading = true
        this.$store.dispatch('importExcel', fd)
          .then((res) => {
            this.loading = false
            this.files = []
            this.fileName = ''
            this.fetchMenu()
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      processFile (event) {
        this.upload.file = event.target.files[0]
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      deleteFile () {
        this.files = []
      }
    },
    watch: {
      sedes () {
        this.itemSede = this.sedes
      },
      sede (value) {
      },
      files (value) {
        this.fileName = value.length > 0 ? value[0].file.name : ''
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showDialog', false)
      })
    }
  }
</script>
