<template>
  <div>
    <v-card v-if="this.$store.state.auth.user.idRole == 1">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="refreshHistoryMenu()" class="grey--text text--darken-2" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
              v-bind:headers="headers"
              :items="items.rows"
              :total-items="items.total"
              :pagination.sync="pagination"
              :loading="loading"
              :no-data-text="loading ? '' : 'no se encontraron resultados'"
              :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
              rows-per-page-text="Filas por página">
        <template slot="items" scope="props">
          <td>{{ props.item.nameStructure }}</td>
          <td>{{ props.item.file }}</td>
          <td>
            <v-btn icon class="primary--text" @click.native="showMenuDay(props.item)">
              <v-icon light>visibility</v-icon>
            </v-btn>
            <v-menu right>
              <v-btn icon class="primary--text" slot="activator">
                <v-icon light>delete</v-icon>
              </v-btn>
              <v-card>
                <v-card-actions>
                  <v-btn fab success small @click.native="removeMenu(props.item)">
                    <v-icon class="white--text">thumb_up</v-icon>
                  </v-btn>
                  <v-btn fab error small>
                    <v-icon class="white--text">thumb_down</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="modalUser" persistent scrollable width="600" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text">Menú del Mes</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 350px;">
          <full-calendar
            ref="calendar"
            defaultView="month"
            :event-sources="eventsource"
            @event-selected="eventSelected"
            @event-created="eventCreated"
            :config="config"></full-calendar>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalUser" class="primary--text">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalDetail" persistent scrollable width="800px" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">Menú del Día</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card flat>
          <v-card-text style="height: 400px;padding-top: 0!important;">
            <v-layout>
              <v-flex xs12 sm4 v-for="(item, index) in foods" :key="item">
                <v-card>
                  <v-card-media :src="plates[item.schedule]" height="100px">
                  </v-card-media>
                  <v-card-title primary-title>
                    <div>
                      <h3 class="title mb-0">{{ item.schedule }}</h3>
                      <div class="body-1">{{ dateFormat(new Date, 'DD/MM/YYYY') }}</div>
                    </div>
                    <v-spacer></v-spacer>
                    <label class="primary btn btn--floating btn--small theme--dark dark--bg elevation-0">
                      <v-icon class="white--text">restaurant</v-icon>
                    </label>
                  </v-card-title>
                  <v-card-text>
                    <div v-for="i in item.foods" :key="i">
                      <div v-for="(k, j) in i">
                        <b>{{ j }}</b> {{ k }}
                      </div>
                    </div>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalDetail" class="primary--text">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import imgB from '../../assets/images/menu/desayuno.jpg'
  import imgL from '../../assets/images/menu/almuerzo.jpg'
  import imgD from '../../assets/images/menu/cena.jpg'
  import {dateFormat} from '../../plugins/moment'
  export default {
    // components: { fullcalendar },
    props: {
      items: Object,
      headers: Array,
      loading: Boolean,
      fetchmenusede: Function,
      fetchMenu: Function,
      deleteMenu: Function,
      events: Array
    },
    data () {
      return {
        plates: {
          desayuno: imgB,
          almuerzo: imgL,
          cena: imgD
        },
        pagination: {},
        eventsource: [
          {
            events: this.events,
            color: 'yellow',
            textColor: 'black'
          }
        ],
        config: {
          weekends: false,
          locale: 'es',
          eventClick: (event) => {
            this.selected = event
            this.foods = event.food
            this.modalUser = false
            this.modalDetail = true
          },
          eventRender: (event) => {

          }/* ,
          header: {
            left: null,
            center: 'title',
            right: null
          } */
        },
        selected: {},
        modalDetail: false,
        modalUser: false,
        isSede: false,
        foods: []
      }
    },
    methods: {
      dateFormat,
      hideModalUser () {
        this.modalUser = false
      },
      showMenuDay (item) {
        this.modalUser = true
        this.getMenuSede(item)
      },
      getMenuSede (item) {
        this.fetchmenusede(item)
        this.refreshEvents
      },
      refreshEvents () {
        this.$refs.calendar.$emit('refetch-events')
      },
      removeEvent () {
        this.$refs.calendar.$emit('remove-event', this.selected)
        this.selected = {}
      },
      eventSelected (event) {
        this.selected = event
      },
      eventCreated (...test) {

      },
      refreshHistoryMenu () {
        this.fetchMenu(this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      removeMenu (item) {
        this.deleteMenu(item.idMenu)
      },
      hideModalDetail () {
        this.modalDetail = false
        if (this.$store.state.auth.user.idRole === 1) this.modalUser = true
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) {
          this.hideModalUser()
          this.hideModalDetail()
        }
      })
    },
    watch: {
      pagination: {
        handler () {
          this.refreshHistoryMenu()
        },
        deep: true
      },
      events () {
        this.eventsource = [
          {
            events: this.events,
            color: 'orange',
            textColor: 'white'
          }
        ]
        // this.refreshEvents
        // this.$refs.calendar.$emit('gotoDate', '02 2017')
      }
    }
  }
</script>
