<template>
  <v-card class="elevation-8">
    <v-card-title>
      <v-layout row wrap style="width: 50%">
        <v-flex xs12 md6>
          <v-select
            class="mt-3 ml-3"
            label="Sedes"
            :items="sedes"
            v-model="sede"
            itemText="text"
            itemValue="value"
            bottom
            autocomplete></v-select>
        </v-flex>
        <v-flex xs12 md6>
          <v-select
            class="mt-3 ml-3"
            :items="itemsStatus"
            v-model="statuSearch"
            label="Estado"
            bottom></v-select>
        </v-flex>
      </v-layout>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="refreshTable()" class="grey--text text--darken-2" :loading="loading">
        <v-icon v>refresh</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text class="pt-0">
      <v-data-table
        :headers="headers"
        :items="items.rows"
        :total-items="items.total"
        class="elevation-1"
        :loading="loading"
        :pagination.sync="pagination"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
        rows-per-page-text="Filas por página">
        <template slot="items" scope="props">
          <td>{{ props.item.name }} {{ props.item.lastName }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.description }}</td>
          <td>
            <v-select
              :class="{ 'input-group--disabled': loading }"
              style="margin: 0 !important;padding-top: 15px!important;text-align: center;"
              :items="status"
              :value="props.item.estatus"
              single-line>
              <template slot="selection" scope="data">
                <v-btn small :class="statusClasses[data.item.value]" class="elevation-0" :raised="false" :ripple="false">{{ data.item.text }}</v-btn>
              </template>
              <template slot="item" scope="data">
                <div v-on:click="setStatus(props.item.idReservation, data.item.value)" class="text-xs-center" style="width: 90%">
                  <v-btn style="width: 100%!important;min-height: 0!important;" small :class="statusClasses[data.item.value]" class="elevation-0" :raised="false" :ripple="false">{{ data.item.text }}</v-btn>
                </div>
              </template>
            </v-select>
          </td>
          <td>{{ moment(props.item.created_at).format('DD/MM/YYYY') }}</td>
          <td>
            <v-btn v-if="props.item.photo" icon class="primary--text" :href="`${url}/files/prescription/${props.item.photo}`">
              <v-icon>file_download</v-icon>
            </v-btn>
          </td>
          <!--<td>
            <v-btn icon class="primary&#45;&#45;text">
              <v-icon light>edit</v-icon>
            </v-btn>
          </td>-->
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>
<script>
  import Headquarters from '../shared/Headquarters.vue'
  import moment from 'moment'
  import {baseUrl} from '../../api/'
  export default {
    components: {Headquarters},
    props: {
      headers: Array,
      items: Object,
      loading: Boolean,
      sedes: Array,
      fetchReservation: Function,
      updateStatus: Function
    },
    data () {
      return {
        url: baseUrl,
        sede: '',
        pagination: {},
        status: [
          {
            value: 0,
            text: 'Solicitado'
          },
          {
            value: 1,
            text: 'Aprobado'
          },
          {
            value: 2,
            text: 'Rechazado'
          }
        ],
        itemsStatus: [
          {
            value: -1,
            text: 'Todos'
          },
          {
            value: 0,
            text: 'Solicitado'
          },
          {
            value: 1,
            text: 'Aprobado'
          },
          {
            value: 2,
            text: 'Rechazado'
          }
        ],
        statuSearch: -1,
        statusClasses: ['default', 'success', 'error']
      }
    },
    methods: {
      moment,
      refreshTable () {
        this.sede = ''
        this.fetchReservation(null, null, null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      setStatus (id, status) {
        this.updateStatus(id, status)
      }
    },
    watch: {
      pagination: {
        handler () {
          this.refreshTable()
        },
        deep: true
      },
      sede (value) {
        this.fetchReservation(value, null, this.statuSearch, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      statuSearch (value) {
        this.fetchReservation(this.sede, null, value, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      }
    }
  }
</script>
