<template>
  <v-card class="elevation-8">
      <v-card-title>
        <v-flex xs4>
          <Headquarters :items="itemSede"
                        v-model="sede"
                        itemText="text"
                        itemValue="value"
                        :ligth="true"
                        :max-height="200"
                        :multiple="false"
                        :chips="false"
                        label="Sedes"
                        :autocomplete="true" />
        </v-flex>
        <v-flex xs4>
          <v-menu
            lazy
            :close-on-content-click="true"
            v-model="menu"
            transition="v-scale-transition"
            offset-y
            :nudge-left="40">
            <v-text-field
              slot="activator"
              label="Seleccione la fecha"
              v-model="date"
              prepend-icon="event"
              readonly></v-text-field>
            <v-date-picker
              v-model="date"
              :date-format="date => dateFormat(date)"
              :formatted-value.sync="date"
              no-title
              scrollable
              actions>
            </v-date-picker>
          </v-menu>
        </v-flex>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="refreshSuggest()" class="grey--text text--darken-2" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-data-table
          v-bind:headers="headers"
          :items="items.rows"
          :total-items="items.total"
          :pagination.sync="pagination"
          :loading="loading"
          :no-data-text="loading ? '' : 'no se encontraron resultados'"
          :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
          rows-per-page-text="Filas por página">
          <template slot="items" scope="props">
            <td>{{ props.item.name + ' ' + props.item.lastName }}</td>
            <td>{{ props.item.nameStructure }}</td>
            <td>{{ dateFormat(props.item.fecha, 'DD/MM/YYYY hh:mm a') }}</td>
            <td>{{ props.item.description }}</td>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
</template>
<script>
  import Headquarters from '../shared/Headquarters.vue'
  import {dateFormat} from '../../plugins/moment'
  export default {
    components: { Headquarters },
    props: {
      items: Object,
      headers: Array,
      loading: Boolean,
      sedes: Array,
      fetchsuggest: Function
    },
    data () {
      return {
        pagination: {},
        search: '',
        sede: '',
        itemSede: [],
        date: '',
        menu: false
      }
    },
    methods: {
      dateFormat,
      refreshSuggest () {
        this.fetchsuggest(this.sede, this.date, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      }
    },
    watch: {
      pagination: {
        handler () {
          this.refreshSuggest(this.sede, this.date, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
        },
        deep: true
      },
      sede () {
        this.refreshSuggest(this.sede, this.date, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      date () {
        this.refreshSuggest(this.sede, this.date, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      sedes () {
        this.itemSede = this.sedes
      }
    }
  }
</script>
