<template>
  <div>
    <v-card-title>
      <v-btn icon @click.native="$emit('showModal', true)" class="green--text" v-if="!isAdmin">
        <v-icon v>add_circle_outline</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="refreshSuggests()" class="grey--text text--darken-2" :loading="loading">
        <v-icon v>refresh</v-icon>
      </v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items.rows"
      :total-items="items.total"
      :loading="loading"
      :pagination.sync="pagination"
      :no-data-text="loading ? '' : 'no se encontraron resultados'">
      <template slot="items" scope="props">
        <td>{{ props.item.code }}</td>
        <td>{{ props.item.name }} {{ props.item.lastName }}</td>
        <td>{{ props.item.purpose }}</td>
        <td>{{ props.item.description }}</td>
        <td>
          <v-btn icon class="primary--text" @click.native="showDetail(props.item)">
            <v-icon light>visibility</v-icon>
          </v-btn>
          <v-btn v-if="props.item.note != null" icon class="primary--text" @click.native="">
            <v-icon light>edit</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="modal" persistent width="500px">
      <v-card class="default-modal" lazy absolute>
        <form @submit.prevent="submitSuggest('frm-suggest')" autocomplete="off">
          <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
            <div class="headline white--text">NUEVA SUGERENCIA</div>
            <v-spacer></v-spacer>
            <div>
              <v-btn icon class="white--text" @click.native="$emit('showModal', false)">
                <v-icon>close</v-icon>
              </v-btn>
            </div>
          </v-card-title>
          <v-card-text>
            <v-layout class="pt-1">
              <v-flex xs5>
                <div class="pa-2"><b>Nombre</b></div>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  class="pa-0"
                  v-model="nameUser"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout class="pt-1">
              <v-flex xs5>
                <div class="pa-2"><b>Motivo *</b></div>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  id="purpose"
                  class="pa-0"
                  v-model="purpose"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout class="pt-1">
              <v-flex xs12>
                <v-text-field
                  label="Descripción *"
                  rows="3"
                  v-model="description"
                  counter
                  max="200"
                  maxlength="200"
                  multi-line></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 class="pl-2">
                <div class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                  <label>Subir archivo</label>
                </div>
                <file-upload
                  style="display: block !important;"
                  :name="name"
                  :extensions="extensions"
                  :accept="accept"
                  :multiple="multiple"
                  :directory="directory"
                  :size="size || 0"
                  :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                  :drop="drop"
                  :dropDirectory="dropDirectory"
                  v-model="files"
                  @input-file="inputFile"
                  ref="upload">
                  <v-card style="min-height: 50px; border: 1px dashed orangered!important;" class="grey lighten-4">
                    <v-card-text>
                      <v-list>
                        <v-subheader inset>
                          <span class="primary--text">Adjuntar archivos (máximo 5 MB)</span>
                        </v-subheader>
                        <v-list-tile v-for="(item, i) in files" src="" :key="+i">
                          <v-list-tile-action>
                            <v-btn icon class="primary--text" @click.native="removeFile(i, item)">
                              <v-icon light>close</v-icon>
                            </v-btn>
                          </v-list-tile-action>
                          <v-list-tile-content>
                            <v-list-tile-title>{{ item.file.name }}</v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-card-text>
                  </v-card>
                </file-upload>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <small class="primary--text" style="float: left; margin-top: 15px; padding-left: 10px">(*) Campos obligatorios</small>

            <v-spacer></v-spacer>
            <v-btn
              flat
              class="primary--text"
              @click.native="hideModal"
              :disabled="loading">Cancelar</v-btn>
            <v-btn
              primary
              type="submit"
              class="white--text"
              v-if="purpose.trim().length > 0 && description.trim().length > 0"
              :loading="loading"
              :disabled="loading">Enviar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalDetail" persistent width="600px">
      <v-card class="default-modal" lazy absolute>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">DETALLE DE LA SUGERENCIA</div>
        </v-card-title>
        <v-card-text>
          <v-layout>
            <v-flex xs3>
              <div class="pa-2"><b>Códido ticket</b></div>
            </v-flex>
            <v-flex xs9>
              <div class="pt-2">{{ detail.code }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs3>
              <div class="pa-2"><b>Motivo</b></div>
            </v-flex>
            <v-flex xs9>
              <div class="pt-2">{{ detail.purpose}}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs3>
              <div class="pa-2"><b>Descripción</b></div>
            </v-flex>
            <v-flex xs9>
              <div class="pt-2">{{ detail.description }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs3>
              <div class="pa-2"><b>Evidencias</b></div>
            </v-flex>
            <v-flex xs9>
              <div class="pt-2">
                <div v-for="(item, key) in detail.files" style="word-break: break-all">
                  <a :href="url + item.href" download>{{ item.name }}</a>
                </div>
              </div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalDetail" class="primary--text" :disabled="loading">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>
<script>
  import FileUpload from 'vue-upload-component'
  import {baseUrl} from '../../api/'
  export default {
    components: {FileUpload},
    props: {
      loading: Boolean,
      isAdmin: Boolean,
      modal: Boolean,
      headers: Array,
      items: Object,
      fetchSuggests: Function,
      submit: Function
    },
    data () {
      return {
        url: baseUrl,
        accept: 'application/msword,application/pdf,image/png,image/jpeg,image/webp',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        pagination: {},
        multiple: true,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,
        name: 'file',
        files: [],
        iduser: this.$store.state.auth.user.idUser,
        nameUser: this.$store.state.auth.user.name + ' ' + this.$store.state.auth.user.lastName,
        purpose: '',
        description: '',
        detail: {
          code: 0,
          purpose: '',
          description: '',
          files: []
        },
        modalDetail: false
      }
    },
    methods: {
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      hideModal () {
        this.$emit('showModal', false)
        this.purpose = ''
        this.description = ''
        this.files = []
      },
      refreshSuggests () {
        this.fetchSuggests(this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      submitSuggest () {
        let fd = new FormData()
        fd.append('purpose', this.purpose)
        fd.append('description', this.description)
        this.files.map(file => {
          fd.append('files[]', file.file)
        })
        this.submit(fd)
      },
      showDetail (item) {
        this.modalDetail = true
        this.detail.code = item.code
        this.detail.purpose = item.purpose
        this.detail.description = item.description
        if (item.files !== '') item.files.split(',').map((f) => { this.detail.files.push({name: f, href: '/files/suggest/' + f}) })
      },
      hideModalDetail () {
        this.detail.code = 0
        this.detail.purpose = ''
        this.detail.description = ''
        this.detail.files = []
        this.modalDetail = false
      }
    },
    watch: {
      pagination: {
        handler () {
          this.refreshSuggests()
        },
        deep: true
      },
      loading () {
        if (!this.loading) {
          this.hideModal()
        }
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) {
          this.hideModal()
          this.hideModalDetail()
        }
      })
    }
  }
</script>
