<template>
    <v-card class="grid elevation-0">
        <v-toolbar class="white elevation-0">
          <v-toolbar-title class="grey--text text--darken-2">{{title}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid grid-list-xl>
            <v-progress-linear v-if="loading" :indeterminate="true" class="mb-0"/>
            <v-layout row wrap>
                <v-flex xs12 sm6 md3 v-for="(item, i) in items" :key="i">
                  <v-layout row wrap class="elevation-6 pa-3" style="min-width: 119px">
                    <div style="width: 100%">
                      <a v-if="item.contenttype != 'image' && item.type == 'File'" :href="item.url" target="_blank">
                        <v-icon class="darken-2 blue--text" x-large style="width: 100%; height: 150px; font-size: 100px">insert_drive_file</v-icon>
                      </a>
                      <a v-else-if="item.contenttype == 'image'" :href="item.images.large" target="_blank">
                        <img :src="item.images.medium" sytle="width: 100%; height: 150px">
                      </a>
                      <a v-else-if="item.type == 'Page'" :href="'/info/page/'+item.id">
                        <v-icon class="darken-2 blue-grey--text" x-large style="width: 100%; height: 150px; font-size: 100px">open_in_browser</v-icon>
                      </a>
                    </div>
                     <v-flex class="pt-3" style="max-width: 70%">
                       <h6 v-if="item.type == 'File'" class="blue--text text--darken-2 mb-1" style="white-space: nowrap; overflow: hidden;  font-size: 15px">{{item.title}}</h6>
                       <h6 v-if="item.type == 'Page'" class="blue-grey--text text--darken-2 mb-1" style="white-space: nowrap; overflow: hidden; font-size: 15px">{{item.title}}</h6>
                     </v-flex>
                     <v-flex class="pt-3">
                       <a v-if="item.contenttype != 'image' && item.type == 'File'" :href="item.url" target="_blank" class="indigo--text a-5 right bottom">Abrir</a>
                       <a v-else-if="item.contenttype == 'image'" :href="item.images.large" target="_blank" class="indigo--text a-5 right bottom">Abrir</a>
                       <a v-else-if="item.type == 'Page'" :href="'/info/page/'+item.id" class="indigo--text a-5 right bottom">Abrir</a>
                     </v-flex>
                   </v-layout>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>
<script>
  export default {
    props: {
      items: Array,
      loading: Boolean,
      title: String,
      type: Number,
      folder: Boolean
    }
  }
</script>
