<template>

    <v-card class="grid elevation-0">
        <v-toolbar class="white elevation-0">
            <v-toolbar-title class="grey--text text--darken-2">{{title}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid grid-list-xl>
            <v-progress-linear v-if="loading" :indeterminate="true" class="mb-0"/>
            <v-layout row wrap>
                <v-flex xs12 sm6 md3  v-for="(item, i) in items" :key="i">
                  <v-layout row wrap :class="level === 1? 'elevation-6':'elevation-6 pa-3'" :style="level == 1 ? 'background-color: #ffffff' : 'background-color: #dddddd'">
                        <router-link v-if="level == 2" :to="'/info/documents/folder/'+item.id" class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial">
                          <div v-if="!item.images.large" style="white-space: nowrap; overflow: hidden; max-width: 175.55px">
                            <v-icon x-large class="orange--text text--darken-2">folder_shared</v-icon>
                            {{ item.title }}
                          </div>
                          <div v-else style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center">
                            {{ item.title }}
                          </div>
                        <img v-if="item.images.large" :src="item.images.large" style="max-width: 100%">
                        </router-link>

                        <div v-else-if="level == 1" @click="$router.push({path: `/info/documents/${item.id}`})" class="text-xs-left text-bold cursor-pointer" style="width: 100%; color: initial">
                          <div v-if="!item.images.medium" style="white-space: nowrap; overflow: hidden; max-width: 175.55px">
                            <v-icon x-large class="orange--text text--darken-2">folder_shared</v-icon>
                            {{ item.title }}
                          </div>
                          <div v-else style="white-space: nowrap; overflow: hidden; max-width: 100%; height: 42px; line-height: 44px; text-align: center">
                            {{ item.title }}
                          </div>
                        <img v-if="item.images.large" :src="item.images.large" style="max-width: 100%">
                        </div>

                  </v-layout>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>

</template>
<script>
  export default {
    props: {
      items: Array,
      loading: Boolean,
      title: String,
      type: Number,
      folder: Boolean,
      level: Number
    }
  }
</script>
