<template>
  <v-toolbar class="top-bar grey darken-3" fixed :style="{ zIndex:  less600 ? 5 : 3}">
    <!--<v-btn icon @click.native.stop="isMiniVariant = !isMiniVariant" light tabindex="-1">
      <v-icon class="black&#45;&#45;text" v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
    </v-btn>-->
    <v-toolbar-side-icon @click.stop="isDrawer = !isDrawer" tabindex="-1" primary dark></v-toolbar-side-icon>

    <v-toolbar-items class="hidden-sm-and-down remove active-home">

      <v-btn flat v-for="item in items" :key="item.title" :to="item.to" :class="`grey--text text--lighten-4 ${item.title}`">{{ item.title }}</v-btn>
        <v-menu  bottom left offset-y origin="top left" transition="v-slide-y-transition"  :closeOnContentClick="true">
            <a  slot="activator"class="btn btn--flat grey--text text--lighten-4 Institución" style="position: relative;height: 64px;padding:  0px;margin: 0px;">
                <div class="btn__content">Directorio</div>
            </a>

            <v-list>
                <v-list-tile router to="/directory/contact">
                    <v-list-tile-title>Directorio Perú</v-list-tile-title>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-title >
                        <a href="https://grupokaufmann.sharepoint.com/sites/AnexosInternacionales/SitePages/Per%C3%BA.aspx" target="_blank" style="display: block; width: 100%; text-align: center">
                            Directorio Corporativo
                        </a>
                    </v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-toolbar-items>

    <img v-if="less600" :src="logo" style="width: 160px"/>

    <v-spacer></v-spacer>
    <!--Search  router :to="tab.id === 1 ? `/general/notice/${item.id}` : `/event/${item.id}`"-->
    <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom right offset-y origin="top right" transition="v-slide-y-transition" max-height="300" max-width="600" :closeOnContentClick="false">
    <Search slot="activator" class="white--text lighten-2 btn-badge" :fetchSearchList="fetchSearchList" :loadingSearch="loadingSearch" :titleSearch="titleSearch"/>
            <v-list two-line v-if="itemsSearch.length > 0">
                <template  v-for="(item, i) in itemsSearch">
                    <v-list-tile ripple :key="i" router :to="item.typeInfo === 1 ? `/general/notice/${item.id}` : item.typeInfo === 2 ? `/general/communicated/${item.id}` : `/`">
                        <v-list-tile-content @click="changeName(item.title)">
                                <v-list-tile-title>{{item.title}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-divider v-if="i + 1 < itemsSearch.length" :key="i"></v-divider>
                </template>
            </v-list>
    </v-menu>

        <v-chip color="#E96F28" text-color="white" class="mx-2" v-tooltip:left="{ html: `última actualización ${tipoCambio.last_update ? tipoCambio.last_update: ''}` }">
        <v-progress-circular v-if="loadingCambio"
          indeterminate
        ></v-progress-circular>
          <v-avatar v-else class="orange darken-3">{{ tipoCambio.symbol }}</v-avatar>
          {{ tipoCambio.rate }}
        </v-chip>


    <!-- list -->
    <MenuItems v-if="!less600"  :notifications="notifications" :inbox="inbox" :isModalTicket="isModalTicket" :isModalIncidente="isModalIncidente" :site="site" :baseUrl="baseUrl"
                :googleApps="googleApps" :diveApps="diveApps" :readNotification="readNotification" :favorites="favorites" :fetchFavorite="fetchFavorite" :googleAuth="googleAuth"/>

    <!--Profile-->
    <v-menu bottom left offset-y origin="top left" transition="v-slide-y-transition" class="ml-2">
      <v-btn slot="activator" fab small>
        <div class="avatar">
          <img :src="avatarDefault" style="height: 38px; width: 38px">
        </div>
      </v-btn>
      <v-list>
        <v-list-tile router to="/user/profile">
          <v-list-tile-title>Perfil</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click.native="$store.commit('TOOGLE_CHANGE_PASS', !isChangePass)">
          <v-list-tile-title>Cambiar Contraseña</v-list-tile-title>
        </v-list-tile>

        <v-list-tile @click.native="logout">
          <v-list-tile-title>Cerrar sesion</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-snackbar
            :timeout="null"
            :top="true"
            :right="true"
            v-model="removeLink.show"
            error
    >
      Eliminar?
      <v-btn flat class="white--text" @click="removeFavorite(null, true)">si</v-btn>
      <v-btn flat class="white--text" @click="removeLink.show = false">no</v-btn>
    </v-snackbar>
  </v-toolbar>
</template>
<script>
import avatarDefault from '../../assets/images/avatar-default.png'

const dive = process.env.STYLES === 'DV' ? require('../../assets/images/systems/dive.png')
  : require('../../assets/images/icono_A.png')
const site = process.env.STYLES === 'DV'
import {baseUrl} from '../../api'
import FavoriteForm from '../link/FavoriteForm.vue'
import MenuItems from '../shared/MenuItems.vue'
import Search from '../shared/Search.vue'
const logo = process.env.STYLES === 'DV' ? require('../../assets/images/logo.png')
  : require('../../assets/images/logo-cr.png')
export default {
  components: { FavoriteForm, MenuItems, Search },
  props: {
    clipped: Boolean,
    miniVariant: Boolean,
    drawer: Boolean,
    rightDrawer: Boolean,
    fixed: Boolean,
    logout: Function,
    ticketpay: Function,
    notifications: Array,
    inbox: Array,
    isChangePass: Boolean,
    isModalTicket: Boolean,
    isModalIncidente: Boolean,
    googleApps: Array,
    diveApps: Array,
    favorites: Array,
    readNotification: Function,
    fetchFavorite: Function,
    less600: Boolean,
    less768: Boolean,
    less1124: Boolean,
    googleAuth: Function
  },
  data () {
    return {
      locales: ['en', 'es'],
      isDrawer: this.drawer,
      isClipped: this.clipped,
      isFixed: this.fixed,
      isMiniVariant: this.miniVariant,
      isRightDrawer: this.rightDrawer,
      avatarDefault: this.$store.state.auth.user.avatar ? this.$store.state.auth.user.avatar : avatarDefault,
      dive,
      logo,
      baseUrl,
      items: [
        { title: 'Inicio', to: '/' },
        // { title: 'Beneficios', to: '/greats' },
        // { title: 'Directorio Perú', to: '/directory/contact' },
        { title: 'Institución', to: '/general/institution' }
      ],
      removeLink: {
        id: 0,
        show: false
      },
      site,
      itemsSearch: [],
      loadingSearch: false,
      paginateSearch: {
        pageindex: 1,
        itemsperpage: 10
      },
      titleSearch: '',
      tipoCambio: {},
      loadingCambio: false
    }
  },
  mounted () {
    this.fetchCurrenciesList()
  },
  methods: {
    fetchCurrenciesList (value) {
      this.loadingCambio = true
      this.$store.dispatch('fetchCurrencies').then((data) => {
        this.tipoCambio = data.data
        this.loadingCambio = false
      }).catch(() => {
        this.loadingCambio = false
      })
    },
    changeName (title) {
      this.titleSearch = title
    },
    submitFavorite (params) {
      this.loadingFavorite = true
      this.$store.dispatch('submitFavorite', params).then((res) => {
        this.loadingFavorite = false
        this.modalFavorite = false
        this.fetchFavorite()
      }).catch((err) => {
        this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
        this.loadingFavorite = false
      })
    },
    removeFavorite (id, remove) {
      if (!remove) this.removeLink.id = id
      if (remove) {
        this.loadingFavorite = true
        this.removeLink.show = false
        this.$store.dispatch('deleteFavorite', {id: this.removeLink.id}).then((res) => {
          this.loadingFavorite = false
          this.fetchFavorite()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loadingFavorite = false
        })
      } else {
        this.removeLink.show = true
      }
    },
    search (nameKey, myArray) {
      const arraySearch = []
      myArray.map((value, i) => {
        if (myArray[i].title.indexOf(nameKey) > -1) {
          arraySearch.push(myArray[i])
        }
      })
      return arraySearch
    },
    fetchSearchList (value) {
      setTimeout(() => {
        this.loadingSearch = true
        this.itemsSearch = []
        this.$store.dispatch('fetchSearch', this.paginateSearch).then((data) => {
          const listResul = this.search(value, data)
          if (listResul.length > 0) this.itemsSearch = listResul
          if (listResul.length === 0) this.itemsSearch = [{ title: 'No hay Resultados' }]
          this.loadingSearch = false
        }).catch(() => {
          this.loadingSearch = false
        })
      }, 1000)
    }
  },
  watch: {
    'drawer' () {
      this.isDrawer = this.drawer
    },
    'isClipped' () {
      this.$emit('clipped', this.isClipped)
    },
    'isDrawer' () {
      this.$emit('drawer', this.isDrawer)
    },
    'isFixed' () {
      this.$emit('fixed', this.isFixed)
    },
    'isMiniVariant' () {
      this.$emit('miniVariant', this.isMiniVariant)
    },
    'isRightDrawer' () {
      this.$emit('rightDrawer', this.isRightDrawer)
    }
  }
}
</script>
