<template>
    <v-dialog v-model="isChangePass" persistent scrollable width="700px">
        <v-card class="default-modal" lazy absolute>
            <form @submit.prevent="formsubmit('frm-Change-Password')" autocomplete="off">
                <v-card-title class="modal-row-title grey darken-3 ">
                    <div class="headline white--text">Cambiar Contraseña</div>
                </v-card-title>
                <div class="madal-row-container">
                    <v-card-text>
                        <v-text-field label="Contraseña Actual"
                                      v-model="user.currentPassword"
                                      name="currentPassword"
                                      type="password"
                                      required
                                      class="m-t-b-5"
                                      :rules="[formValidate('password', user.currentPassword)]"
                                      autocomplete="off"/>

                        <v-text-field label="Contraseña Nueva"
                                      name="password"
                                      v-model="user.password"
                                      type="password"
                                      required
                                      class="m-t-b-5"
                                      :rules="[formValidate('password', user.password)]"
                                      autocomplete="off"/>

                        <v-text-field label="Confirmar Contraseña"
                                      name="password_confirmation"
                                      v-model="user.password_confirmation"
                                      type="password"
                                      required
                                      class="m-t-b-5"
                                      :rules="[formValidate('password', user.password_confirmation)]"
                                      autocomplete="off"/>
                    </v-card-text>
                </div>

                <v-card-actions>
                    <small class="primary--text" style="float: left; margin-top: 15px; padding-left: 10px">(*) Campos obligatorios</small>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="$store.commit('TOOGLE_CHANGE_PASS', false)">Cancelar</v-btn>
                    &nbsp;&nbsp;
                    <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>
<script>
  import isEmpty from 'lodash/isEmpty'
  export default{
    props: {
      isChangePass: Boolean
    },
    data () {
      return {
        loading: false,
        user: {}
      }
    },
    methods: {
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      },
      formsubmit () {
        this.loading = true
        this.$store.dispatch('changePassword', this.user).then((res) => {
          this.loading = false
          if (res.data.success) {
            this.user = {}
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      }
    }
  }
</script>
