<template>
  <div>
    <v-select
            :label="label"
            :items="items"
            v-model="selected"
            :item-text="itemText"
            :item-value="itemValue"
            :ligth="ligth"
            :max-height="maxHeight"
            :multiple="multiple"
            :chips="chips"
            :autocomplete="autocomplete"
            :required="required"
            :rules="rules">
      <template slot="selection" scope="data">
        <v-chip v-if="chips"
                close
                @input="data.parent.selectItem(data.item)"
                @click.native.stop
                class="chip--select-multi"
                :key="data.item.code"
        >
          {{ data.item.text }}
        </v-chip>
        <div v-else label :key="data.item.code">
          {{ data.item.text }}
        </div>
      </template>
      <template slot="item" scope="data">
        <v-list-tile-content>
          <v-list-tile-title v-html="data.item.text"></v-list-tile-title>
          <v-list-tile-sub-title v-html="data.item.code"></v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
    </v-select>
  </div>
</template>
<script>
  export default {
    props: {
      items: Array,
      itemText: String,
      itemValue: String,
      ligth: Boolean,
      maxHeight: Number,
      multiple: Boolean,
      chips: Boolean,
      autocomplete: Boolean,
      label: String,
      clear: Boolean,
      required: Boolean,
      rules: Array
    },
    data () {
      return {
        selected: []
      }
    },
    watch: {
      selected () {
        this.$emit('input', this.selected)
      },
      clear () {
        if (this.clear) {
          this.selected = []
          this.$emit('clear')
        }
      }
    }
  }
</script>
