<template>
  <v-navigation-drawer persistent
                       :hide-overlay="!less600"
                       temporary
                       :mini-variant="miniVariant"
                       :clipped="true"
                       v-model="isDrawer"
                       :disable-route-watcher="!less600"
                       class="left-drawer" dark> <!--add permanent in desktop-->
    <v-list dense>
      <v-list-tile avatar tag="div" class="mt-1 mb-2" v-if="!less600">
        <v-list-tile-content>
          <router-link to="/">
            <img :src="logo" >
          </router-link>
        </v-list-tile-content>
        <v-list-tile-action>
        <!--  <v-btn icon @click.native.stop="isMiniVariant = !isMiniVariant">
            <v-icon class="white&#45;&#45;text" v-if="isMiniVariant">chevron_right</v-icon>
            <v-icon class="white&#45;&#45;text" v-if="!isMiniVariant">chevron_left</v-icon>
          </v-btn>-->
        </v-list-tile-action>
      </v-list-tile>

      <router-link v-if="less600" v-for="item in navItems" :key="item.title"  :to="item.to" class="white--text text-normal pa-2 ma-0 text-xs-center" style="float: left; width: 30%">{{ item.title }}</router-link>


      <template v-for="(item, i) in items">
        <v-divider v-if="item.divider && i != 0" dark/>
        <v-subheader v-if="item.divider && item.header" v-text="item.header" class="grey--text"/>
        <v-list-group v-for="(listItem, i) in item.items" :key="i" :value="listItem.active">
          <v-list-tile slot="item" :to="listItem.to" router ripple primary :href="listItem.href" tag="a" :exact="listItem.exact" :target="listItem.target">
            <v-list-tile-action>
              <v-icon v-if="!isEmpty(listItem.icon)" light class="white--text">{{listItem.icon}}</v-icon>
              <img v-else="listItem.image" :src="listItem.image" width="21px" height="21px"/>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ listItem.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon v-if="listItem.items.length > 0" class="grey--text">chevron_right</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile v-if="listItem.items.length > 0" v-for="subItem in listItem.items" :key="subItem.title" router :to="subItem.to" :href="subItem.href" tag="a" :exact="subItem.exact" :target="subItem.target">
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  const logo = process.env.STYLES === 'DV' ? require('../../assets/images/logo-divenet-100.png')
    : require('../../assets/images/logo-cr.png')
  import isEmpty from 'lodash/isEmpty'
  export default {
    props: {
      items: Array,
      clipped: Boolean,
      miniVariant: Boolean,
      drawer: Boolean,
      logout: Function,
      less600: Boolean,
      navItems: Array
    },
    data () {
      return {
        isDrawer: this.drawer,
        isMiniVariant: this.miniVariant,
        auth: this.$store.state.auth.user,
        logo
      }
    },
    methods: {
      isEmpty
    },
    watch: {
      'drawer' () {
        this.isDrawer = this.drawer
      },
      'isDrawer' () {
        this.$emit('drawer', this.isDrawer)
      },
      'isMiniVariant' () {
        this.$emit('miniVariant', this.isMiniVariant)
      }
    }
  }
</script>
