<template>
<div>
    <v-card class="grey darken-3 pa-0 ma-0 pr-4 elevation-0">
        <!-- <v-menu bottom
                 left
                 offset-y
                 origin="top right"
                 transition="v-slide-y-transition">

           <v-btn icon
                  slot="activator" class="grey&#45;&#45;text text&#45;&#45;lighten-2">
             <v-icon>language</v-icon>
           </v-btn>
           </v-btn>
           <v-list>
             <v-list-item v-for="locale in locales"
                          :class="{ active: $i18n.locale === locale }"
                          @click="$i18n.locale = locale"
                          :key="locale">
               <v-list-tile>
                 <v-list-tile-title>{{ $t('language.' + locale) }}</v-list-tile-title>
               </v-list-tile>
             </v-list-item>
           </v-list>
         </v-menu>-->

        <!--incidencia
        <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="300" max-width="500" :closeOnContentClick="true">
            <v-btn slot="activator" class="white--text lighten-2" icon >
                <v-icon>receipt</v-icon>
            </v-btn>
            <v-list>
                <v-list-tile @click.native="$store.commit('TOOGLE_MODAL_INCIDENTE', {modal: !isModalIncidente, desc: 'Incidente', type: 1})">
                    <v-list-tile-title>Incidente</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        -->

        <!--Ticket-->
        <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="300" max-width="500" :closeOnContentClick="true">
            <v-btn slot="activator" class="white--text lighten-2" icon >
                <v-icon>headset_mic</v-icon>
            </v-btn>
            <v-list>
              <!--
                <v-list-tile @click.native="$store.commit('TOOGLE_MODAL_TICKET', {modal: !isModalTicket, desc: 'Incidente', type: 1})">
                    <v-list-tile-title>Incidente</v-list-tile-title>
                </v-list-tile>-->

                <v-list-tile>
                <a :href="`http://mda.grupokaufmann.com/mistickets.aspx`" target="_blank">
                    <v-list-tile-title>Mesa de ayuda</v-list-tile-title>
                </a>
                </v-list-tile>
                <v-list-tile>
                    <a href="/general/docs">
                        <v-list-tile-title>Preguntas Frecuentes</v-list-tile-title>
                    </a>
                </v-list-tile>
            </v-list>
        </v-menu>

        <!--Systems-->
        <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="400" max-width="300" :closeOnContentClick="true">
            <v-btn slot="activator" class="white--text lighten-2" icon >
                <img :src="dive" :style="site ? 'width: 35px' : 'width: 25px'">
            </v-btn>
            <v-card class="grid" style="min-width: 300px">
                <v-subheader class="grey--text text--darken-2">Sistemas Internos</v-subheader>
                <v-divider/>
                <v-container fluid grid-list-sm class="pa-1">
                    <v-layout row wrap >
                        <v-flex xs4 v-for="item in diveApps" :key="item.text">
                            <a :href="item.type === 1 ? item.urlPath : `webrun:${item.urlPath}`" :target="item.type === 1 ? 'blank' : null" style="display: block; width: 100%; text-align: center; cursor: pointer" class="avatar">
                                <img :src="`${baseUrl}/files/link/${item.iconPath}`"/><br/>
                                <span class="grey--text">{{item.name}}</span>
                            </a>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-menu>

        <!--GoogleAps-->
        <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="400" max-width="300" :closeOnContentClick="true">
            <v-btn slot="activator" class="white--text lighten-2" icon >
                <v-icon>apps</v-icon>
            </v-btn>
            <v-card class="grid" >

                <v-container fluid grid-list-sm class="pa-1" style="max-height: 300px; overflow-y: auto">
                    <v-subheader class="grey--text text--darken-2">Office 365 Apps</v-subheader>
                    <v-divider/>
                    <v-layout row wrap>
                        <v-flex xs4 v-for="item in googleApps" :key="item.name">
                            <a :href="item.to" target="_blank" style="display: block; width: 100%; text-align: center">
                                <img :src="item.img"/><br/>
                                <span class="grey--text">{{item.text}}</span>
                            </a>
                        </v-flex>
                    </v-layout>
                    <v-subheader class="grey--text text--darken-2">Favoritos</v-subheader>
                    <v-divider/>
                    <br/>
                    <v-layout row wrap>
                        <v-flex xs4 v-for="item in favorites" :key="item.name" class="remove-favorite">

                            <v-btn small icon flat slot="activator" class="btn-remove-favorite" @click="removeFavorite(item.id, false)">
                                <v-icon class="icon-remove-favorite red--text">delete</v-icon>
                            </v-btn>

                            <a :href="item.type === 1 ? item.urlPath : `webrun:${item.urlPath}`"
                               :target="item.type === 1 ? 'blank' : null"
                               style="display: block; width: 100%; text-align: center; cursor: pointer" class="avatar">
                                <img :src="`${baseUrl}/files/link/${item.iconPath}`"/><br/>
                                <span class="grey--text">{{item.name}}</span>
                            </a>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions style="justify-content: center;">
                    <v-btn fab small primary @click="modalFavorite = true">
                        <v-icon class="white--text">add</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
            <FavoriteForm @showModalFavorite="val => { modalFavorite = val }" :modalFavorite="modalFavorite" :loadingFavorite="loadingFavorite"
                          :submitFavorite="submitFavorite" :removeFavorite="removeFavorite"/>
        </v-menu>

        <!-- Inbox -->
        <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="300" max-width="500" :closeOnContentClick="false">
            <v-btn slot="activator" class="white--text lighten-2 btn-badge" icon
              type="link"
              target="_blank"
              href="https://outlook.office.com/mail/inbox">
                <v-icon v-if="inbox.length > 0" ripple small  v-badge="{ value: (inbox.length >= 100 ? '+99' : inbox.length) }" class="grey--text deep-orange--after text--lighten-2">email</v-icon>
                <v-icon v-if="inbox.length === 0" ripple small  class="grey--text deep-orange--after text--lighten-2">email</v-icon>
            </v-btn>
            <v-list three-line v-if="$store.state.auth.isGoogleAuth">
                <template v-for="(item, i) in inbox" console.log(inbox) >
                    <v-list-tile ripple :key="item.messageId">
                        <a :href="`https://mail.google.com/#inbox/${item.messageId}`" target="_blank" class="grey--text text--darken-3" style="display: flex; align-items: center;">
                            <v-list-tile-action>
                                <v-icon>email</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{item.subject}}</v-list-tile-title>
                                <v-list-tile-sub-title>De: {{item.from}}</v-list-tile-sub-title>
                                <v-list-tile-sub-title>{{item.date}}</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </a>
                    </v-list-tile>
                    <v-divider v-if="i + 1 < inbox.length"></v-divider>
                </template >
            </v-list>
            <!--
            <v-card v-else>
                <v-card-text>
                    <p style="font-size: 14px">
                        Inicia sesión con tu cuenta de correo Outlook
                    </p>
                  <v-btn block class="white--text blue darken-1 mt-6 mb-3"
                  style="width: 295px; margin: 0 auto"
                  type="link"
                  :loading="loading"
                  :disabled="loading"
                  target="_blank"
                  href="https://outlook.office.com/mail/inbox">
                  Ir a Outlook
                </v-btn>
                </v-card-text>
            </v-card> -->


        </v-menu>
        <!-- Inbox //-->

        <!--Notifications-->
        <v-menu :style="{ width: less600 ? '50px' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="300" max-width="600" :closeOnContentClick="false">
            <v-btn slot="activator" class="white--text lighten-2 btn-badge" icon >
                <v-icon v-if="notifications.length > 0" ripple small  v-badge="{ value: notifications.length }" class="grey--text deep-orange--after text--lighten-2">notifications_active</v-icon>
                <v-icon v-if="notifications.length === 0" ripple small  class="grey--text deep-orange--after text--lighten-2">notifications_paused</v-icon>
            </v-btn>
            <v-list two-line>
                <template  v-for="(item, i) in notifications" >
                    <v-list-tile ripple :key="i">
                        <v-list-tile-avatar @click="$router.push(item.action)">
                            <img :src="item.avatar ? item.avatar === 'none' ? happy : item.avatar : item.pathIcon ? (item.commId ? item.pathIcon : (baseUrl + item.pathIcon)) : notificationDefault">
                        </v-list-tile-avatar>
                        <v-list-tile-content @click="$router.push(item.action), readNotification(item)" >
                                <v-list-tile-title>{{item.title}}</v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.commId ? '' : item.body"></v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-btn icon ripple v-tooltip:left="{ html: 'Marcar leido' }" @click="readNotification(item)">
                                <v-icon class="red--text">close</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider v-if="i + 1 < notifications.length"></v-divider>
                </template >
            </v-list>
        </v-menu>

    </v-card>
</div>
</template>
<script>
  const dive = process.env.STYLES === 'DV' ? require('../../assets/images/systems/dive.png')
    : require('../../assets/images/icono_A.png')
  import FavoriteForm from '../link/FavoriteForm.vue'
  import notificationDefault from '../../assets/images/notification/default-notifications.png'
  import happy from '../../assets/images/happy.jpg'
  export default {
    components: { FavoriteForm },
    props: {
      baseUrl: String,
      notifications: Array,
      inbox: Array,
      googleApps: Array,
      diveApps: Array,
      favorites: Array,
      readNotification: Function,
      fetchFavorite: Function,
      site: Boolean,
      less600: Boolean,
      googleAuth: Function,
      isModalTicket: Boolean
    },
    data () {
      return {
        dive,
        modalFavorite: false,
        loadingFavorite: false,
        notificationDefault,
        removeLink: {},
        happy
      }
    },
    methods: {
      submitFavorite (params) {
        this.loadingFavorite = true
        this.$store.dispatch('submitFavorite', params).then((res) => {
          this.loadingFavorite = false
          this.modalFavorite = false
          this.fetchFavorite()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loadingFavorite = false
        })
      },
      removeFavorite (id, remove) {
        this.loadingFavorite = true
        this.$store.dispatch('deleteFavorite', {id}).then((res) => {
          this.loadingFavorite = false
          this.fetchFavorite()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loadingFavorite = false
        })
      },
      readAll () {
        this.notifications.map(n => {
          this.readNotification(n)
        })
      }
    }
  }
</script>
