<template>
  <v-dialog v-model="isModalTicket" persistent width="500px">
    <v-card class="default-modal" lazy absolute>
      <form @submit.prevent="submit('frm-ticket')" autocomplete="off">
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
            Crear {{ type }} - Mesa de Ayuda

          </div>
            <v-spacer></v-spacer>
            <v-btn icon class="white--text" @click.native="$store.commit('TOOGLE_MODAL_TICKET', {modal: false, desc: '', type: 0})">
                <v-icon>close</v-icon>
            </v-btn>

        </v-card-title>
        <v-card-text class="pa-0">
          <v-stepper v-model="e1">
            <v-stepper-header>
              <v-stepper-step step="1" :complete="e1 > 1">General</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="2" :complete="e1 > 2">Detalle</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="3">Listo</v-stepper-step>
            </v-stepper-header>
            <v-stepper-content step="1" style="padding: 0px !important;">
              <div style="padding: 15px;">
                <!-- COLLABORATOR -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].user.title : ''"
                      :text="intType > 0 ? toolTips[intType].user.text :''"/>
                  </v-flex>
                  <v-flex xs11>
                    <v-select
                      label="Solicitante *"
                      :items="colaborator"
                      v-model="params.idCoorp"
                      item-text="name"
                      item-value="value"
                      :disabled="disabled"
                      light
                      max-height="200"
                      on
                      autocomplete>
                    </v-select>
                  </v-flex>
                </v-layout>
                <!-- PHONE -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].phone.title : ''"
                      :text="intType > 0 ? toolTips[intType].phone.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                    <v-text-field
                      :autofocus="focused" @focus="focused = true" @blur="focused = false"
                      id="phoneInput"
                      ref="phone"
                      v-model="params.phone"
                      name="input-1"
                      maxlength="12"
                      light
                      label="Teléfono de contacto"></v-text-field>
                  </v-flex>
                </v-layout>
                <!-- COMPONENT / SERVICE -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].service.title : ''"
                      :text="intType > 0 ? toolTips[intType].service.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                    <v-select
                      label="Servicio *"
                      :items="components"
                      v-model="component"
                      item-text="name"
                      item-value="value"
                      :disabled="disabledC"
                      light
                      max-height="200"
                      autocomplete>
                    </v-select>
                  </v-flex>
                </v-layout>
                <!-- DESCRIPTION -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].description.title : ''"
                      :text="intType > 0 ? toolTips[intType].description.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                    <div
                      class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                      <label>Descripción *</label>
                    </div>
                    <vue-editor
                      id="quill"
                      ref="editt"
                      v-model="params.description"
                      :editorToolbar="customToolbar"
                      useCustomImageHandler
                      @imageAdded="handleImageAdded"></vue-editor>
                  </v-flex>
                </v-layout>
              </div>
              <v-divider></v-divider>
              <div class="text-xs-right" style="padding-right: 5px !important;">
                <small class="primary--text" style="float: left; margin-top: 15px; padding-left: 10px">(*) Campos obligatorios</small>
                <v-btn
                  flat
                  @click.native="$store.commit('TOOGLE_MODAL_TICKET', {modal: false, desc: '', type: 0})"
                  class="primary--text">Cancelar
                </v-btn>
                <v-btn
                  primary
                  @click.native="e1 = 2"
                  :disabled="component < 1 || params.description.trim().length <= 0">Siguiente
                </v-btn>
              </div>
            </v-stepper-content>
            <v-stepper-content step="2" style="padding: 0px !important;">
              <div style="padding: 15px;">
                <v-layout>
                  <v-flex xs1 class="text-xs-center">
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].attachment.title : ''"
                      :text="intType > 0 ? toolTips[intType].attachment.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                    <div
                      class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                      <label>Evidencias</label>
                    </div>
                    <file-upload
                      style="display: block !important;"
                      :name="name"
                      :extensions="extensions"
                      :accept="accept"
                      :multiple="multiple"
                      :directory="directory"
                      :size="size || 0"
                      :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                      :drop="drop"
                      :dropDirectory="dropDirectory"
                      v-model="files"
                      @input-file="inputFile"
                      ref="upload">
                      <v-card style="min-height: 50px; border: 1px dashed orangered!important;" class="grey lighten-4">
                        <v-card-text style="max-height: 210px;overflow-y: auto;">
                          <div style="background: white"><span
                            class="primary--text">Adjuntar archivos (máximo 5 MB)</span></div>
                          <v-list>
                            <v-list-tile v-for="(item, i) in files" src="" :key="i">
                              <v-list-tile-action>
                                <v-btn icon class="primary--text" @click.native="removeFile(i, item)">
                                  <v-icon light>close</v-icon>
                                </v-btn>
                              </v-list-tile-action>
                              <v-list-tile-content>
                                <v-list-tile-title class="file--name-ticket">{{item.file.name}}</v-list-tile-title>
                              </v-list-tile-content>
                            </v-list-tile>
                          </v-list>
                        </v-card-text>
                      </v-card>
                    </file-upload>
                  </v-flex>
                </v-layout>
              </div>
              <v-divider></v-divider>
              <div class="text-xs-right" style="padding-right: 5px !important;">
                <v-spacer></v-spacer>
                <v-layout row wrap class="text-xs-center">
                  <v-flex xs6 sm3 offset-sm3>
                    <v-btn
                      flat
                      class="primary--text"
                      @click.native="$store.commit('TOOGLE_MODAL_TICKET', {modal: false, desc: '', type: 0})"
                      :disabled="loading">Cancelar
                    </v-btn>
                  </v-flex>
                  <v-flex xs6 sm3>
                    <v-btn
                      @click.native="e1 = 1"
                      :disabled="loading">Anterior
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 sm3>
                    <v-btn
                      type="submit"
                      primary
                      :loading="loading"
                      :disabled="loading">Enviar
                    </v-btn>
                  </v-flex>
                </v-layout>
              </div>
            </v-stepper-content>
            <v-stepper-content step="3" style="padding: 0px !important;">
              <div style="padding: 15px;">
                <v-card>
                  <v-card-text class="text-md-center">
                    <h3 class="primary--text">Muchas gracias</h3>
                    <span style="font-size: 17px">Su solicitud fué enviada con éxito, en breve enviaremos su numero de ticket </span>
                  </v-card-text>
                  <!--
                  <v-card-text>
                    <span>Un correo fue enviado a:</span>
                    <div v-for="item in emails">
                      {{ item.description }}
                    </div>
                  </v-card-text>
                  -->
                </v-card>
              </div>
              <v-divider></v-divider>
              <div class="text-xs-right" style="padding-right: 5px !important;">
                <v-btn
                  flat
                  class="primary--text"
                  @click.native="$store.commit('TOOGLE_MODAL_TICKET', {modal: false, desc: '', type: 0})">Finalizar
                </v-btn>
              </div>
            </v-stepper-content>
          </v-stepper>
        </v-card-text>
      </form>
    </v-card>
  </v-dialog>
</template>
<script>
  import FileUpload from 'vue-upload-component'
  import Popover from '../shared/Popover.vue'
  import { VueEditor } from 'vue2-editor'
  const $ = window.$
  export default {
    components: {FileUpload, Popover, VueEditor},
    props: {
      type: String,
      isModalTicket: Boolean,
      intType: Number
    },
    data () {
      return {
        customToolbar: [['bold', 'italic', 'underline'], ['image'], ['clean']],
        focused: false,
        accept: 'application/msword,application/pdf,image/png,image/jpeg,image/webp,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        pagination: {},
        multiple: false,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,
        name: 'file',
        e1: 0,
        colaborator: [],
        components: [],
        specifications: [],
        idCoorp: 0,
        component: [],
        specification: 0,
        disabled: true,
        disabledC: true,
        disabledS: true,
        searchDep: false,
        files: [],
        params: {
          idCoorp: this.$store.state.auth.user.idUser,
          tickettype: this.intType,
          component: 0,
          phone: '',
          description: '',
          files: []
        },
        emails: [],
        loading: false,
        disabledText: false,
        toolTips: {
          '1': {
            user: {
              title: 'Solicitante',
              text: 'Indicar el usuario afectado'
            },
            phone: {
              title: 'Teléfono de Contacto',
              text: 'Colocar un teléfono de contacto para ubicarlo (Anexo, Celular, RPM)'
            },
            service: {
              title: 'Servicio',
              text: 'Seleccionar tipo de servicio afectado (SAP, CRM, SID, Software o Equipos de Escritorio, etc.)'
            },
            description: {
              title: 'Descripción',
              text: 'Colocar una descripción detallada del incidente, también puede pegar imágenes (tecla Impr Pant + Ctrl V)'
            },
            attachment: {
              title: 'Evidencias',
              text: 'Adjuntar documentos como evidencias, formatos en word, excel, pdf, etc.'
            }
          },
          '2': {
            user: {
              title: 'Solicitante',
              text: 'Indicar el usuario afectado'
            },
            phone: {
              title: 'Teléfono de Contacto',
              text: 'Colocar un teléfono de contacto para ubicarlo (Anexo, Celular, RPM)'
            },
            service: {
              title: 'Servicio',
              text: 'Seleccionar tipo de servicio (Altas y Bajas de Usuario, Ofimática, Equipos de Escritorio, etc.)'
            },
            description: {
              title: 'Descripción',
              text: 'Colocar una descripción detallada del requerimiento también puede pegar imágenes (tecla Impr Pant + Ctrl V)'
            },
            attachment: {
              title: 'Evidencias',
              text: 'Adjuntar documentos como evidencias, formatos en word, excel, pdf, etc.'
            }
          }
        },
        configs: {
          status: false,
          toolbar: ['bold', 'italic', '|', 'heading', '|', 'side-by-side', 'fullscreen', 'preview'],
          forceSync: true,
          height: '100px',
          highlight: false
        }
      }
    },
    methods: {
      handleImageAdded (file, Editor, cursorLocation) {
        if (file) {
          let fd = new FormData()
          fd.append('file', file)
          this.$store.dispatch('uploadFile', fd)
            .then((res) => {
              let url = res.data
              Editor.insertEmbed(cursorLocation, 'image', url)
            })
            .catch((err) => {
              this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
            })
        }
      },
      dropFunction (event) {
      },
      fetchComponent (params) {
        this.disabledC = true
        this.searchDep = false
        this.params.component = 0
        this.$store.dispatch('getComponent', params)
          .then((res) => {
            this.components = res.data
            this.disabledC = false
            this.searchDep = true
            this.params.tickettype = this.intType
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      fetchMembers (params) {
        this.disabled = true
        this.$store.dispatch('getMembers', params)
          .then((res) => {
            this.colaborator = res.data
            this.disabled = true
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      submit (scope) {
        let fd = new FormData()
        for (var k in this.params) {
          fd.append(k, this.params[k])
        }
        this.files.map(f => {
          fd.append('files[]', f.file)
        })
        this.loading = true
        this.$store.dispatch('submit', fd)
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.emails = res.data.emails
            this.e1 = 3
            this.resetForm()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      removeFile (index, file) {
        this.files.splice(index, 1)
        this.$refs.upload.remove(file)
      },
      resetForm () {
        this.params.idCoorp = this.$store.state.auth.user.idUser
        this.params.tickettype = this.intType
        this.params.component = 0
        this.params.phone = ''
        this.params.description = ''
        this.params.files = []
        this.components = []
        this.files = []
        this.disabledS = true
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      }
    },
    watch: {
      isModalTicket () {
        this.component = []
        if (this.isModalTicket) {
          this.$refs.phone.focus()
          this.focused = true
          this.fetchComponent(this.intType)
        } else {
          this.focused = false
          this.e1 = 1
          this.resetForm()
        }
      },
      component (value) {
        this.params.component = value
      }
    },
    mounted () {
      let tthis = this
      this.fetchMembers()
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$store.commit('TOOGLE_MODAL_TICKET', {modal: false, desc: '', type: 0})
      })
      $('#quill').on('paste', (e) => {
        var file = e.originalEvent.clipboardData.items[0].getAsFile()
        var quill = tthis.$refs.editt.quill
        var cursor = tthis.$refs.editt.quill.container.innerText.length
        tthis.handleImageAdded(file, quill, cursor)
      })
    }
  }
</script>
