<template>
  <v-dialog v-model="isModalIncidente" persistent width="500px">
    <v-card class="default-modal" lazy absolute>
      <form @submit.prevent="submit('frm-ticket')" autocomplete="off">
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
            Registro de 111111
          </div>
            <v-spacer></v-spacer>
            <v-btn icon class="white--text" @click.native="$store.commit('TOOGLE_MODAL_INCIDENTE', {modal: false, desc: '', type: 0})">
                <v-icon>close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="pa-0">
          <v-stepper v-model="e1">
            <v-stepper-header>
              <v-stepper-step step="1" :complete="e1 > 1">General</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="2">Listo</v-stepper-step>
            </v-stepper-header>
            <v-stepper-content step="1" style="padding: 0px !important;">
              <div style="padding: 15px;">
                <!-- Fecha -->
                <v-layout>
                  <v-flex xs12>
                     <v-menu
                      ref="menu"
                      :close-on-content-click="false"
                      v-model="menu"
                      :nudge-right="40"
                      :return-value.sync="date"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="params.date"
                        label="Fecha"
                        prepend-icon="event"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="params.date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="menu = false">Cancelar</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu.save(params.date)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>

                <!-- Hora -->
                <v-layout>
                  <v-flex xs12>
                   <v-menu ref="menu"
                          :close-on-content-click="false"
                          v-model="menu2"
                          :nudge-right="40"
                          :return-value.sync="time"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          max-width="290px"
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            v-model="params.time"
                            label="Hora"
                            prepend-icon="access_time"
                            readonly
                          ></v-text-field>
                          <v-time-picker v-model="params.time" @change="$refs.menu.save(params.time)"></v-time-picker>
                        </v-menu>
                  </v-flex>
                </v-layout>

                <!-- ubicacion -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].ubicacion.title : ''"
                      :text="intType > 0 ? toolTips[intType].ubicacion.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                     <v-text-field
                      v-model="params.ubicacion"
                      name="input-1"
                      maxlength="12"
                      light
                      label="Ubicación incidente"></v-text-field>
                  </v-flex>
                </v-layout>

                <!-- DESCRIPTION -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].description.title : ''"
                      :text="intType > 0 ? toolTips[intType].description.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                    <div
                      class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                      <label>Descripción *</label>
                    </div>
                    <vue-editor
                      id="quill"
                      ref="editt"
                      v-model="params.description"
                      :editorToolbar="customToolbar"
                      useCustomImageHandler
                      @imageAdded="handleImageAdded"></vue-editor>
                  </v-flex>
                </v-layout>

                <!-- acciones tomadas -->
                <v-layout>
                  <v-flex xs1>
                    <popover
                      icon="info_outline"
                      :title="intType > 0 ? toolTips[intType].acciones.title : ''"
                      :text="intType > 0 ? toolTips[intType].acciones.text : ''"/>
                  </v-flex>
                  <v-flex xs11>
                     <v-text-field
                     v-model="params.acciones"
                      name="input-1"
                      maxlength="12"
                      light
                      textarea
                      label="Acciones Tomadas *"></v-text-field>
                  </v-flex>
                </v-layout>

              </div>
              <v-divider></v-divider>
              <div class="text-xs-right" style="padding-right: 5px !important;">
                <small class="primary--text" style="float: left; margin-top: 15px; padding-left: 10px">(*) Campos obligatorios</small>
                <v-btn
                  flat
                  @click.native="$store.commit('TOOGLE_MODAL_INCIDENTE', {modal: false, desc: '', type: 0})"
                  class="primary--text">Cancelar
                </v-btn>
                <v-btn
                      type="submit"
                       @click.native="e1 = 2"
                      primary
                      :loading="loading"
                      :disabled="loading">Enviar
                    </v-btn>
              </div>
            </v-stepper-content>
            <v-stepper-content step="2" style="padding: 0px !important;">
              <div style="padding: 15px;">
                <v-card>
                  <v-card-text class="text-md-center">
                    <h3 class="primary--text">Muchas gracias</h3>
                    <span style="font-size: 17px">Su solicitud fué enviada con éxito</span>
                  </v-card-text>
                </v-card>
              </div>
              <v-divider></v-divider>
              <div class="text-xs-right" style="padding-right: 5px !important;">
                <v-btn
                  flat
                  class="primary--text"
                  @click.native="$store.commit('TOOGLE_MODAL_INCIDENTE', {modal: false, desc: '', type: 0})">Finalizar
                </v-btn>
              </div>
            </v-stepper-content>
          </v-stepper>
        </v-card-text>
      </form>
    </v-card>
  </v-dialog>
</template>
<script>
  import FileUpload from 'vue-upload-component'
  import Popover from '../shared/Popover.vue'
  import { VueEditor } from 'vue2-editor'
  export default {
    components: {FileUpload, Popover, VueEditor},
    props: {
      type: String,
      isModalIncidente: Boolean,
      intType: Number
    },
    data () {
      return {
        customToolbar: [['bold', 'italic', 'underline'], ['image'], ['clean']],
        focused: false,
        e1: 0,
        time: null,
        menu2: false,
        date: null,
        menu: false,
        colaborator: [],
        components: [],
        specifications: [],
        idCoorp: 0,
        component: [],
        specification: 0,
        disabled: true,
        disabledC: true,
        disabledS: true,
        searchDep: false,
        params: {
          idCoorp: this.$store.state.auth.user.idUser,
          tickettype: this.intType,
          date: '',
          time: '',
          description: '',
          ubicacion: '',
          acciones: '',
          files: []
        },
        emails: [],
        loading: false,
        disabledText: false,
        toolTips: {
          '1': {
            description: {
              title: 'Descripción',
              text: 'Colocar una descripción detallada del incidente, también puede pegar imágenes (tecla Impr Pant + Ctrl V)'
            },
            ubicacion: {
              title: 'Ubicacion',
              text: 'Colocar la ubicacion detallada del incidente'
            },
            acciones: {
              title: 'Acciones',
              text: 'Colocar las acciones tomadas para repetir la incidente'
            }
          }
        },
        configs: {
          status: false,
          toolbar: ['bold', 'italic', '|', 'heading', '|', 'side-by-side', 'fullscreen', 'preview'],
          forceSync: true,
          height: '100px',
          highlight: false
        }
      }
    },
    methods: {
      handleImageAdded (file, Editor, cursorLocation) {
        if (file) {
          let fd = new FormData()
          fd.append('file', file)
          this.$store.dispatch('uploadFile', fd)
            .then((res) => {
              let url = res.data
              Editor.insertEmbed(cursorLocation, 'image', url)
            })
            .catch((err) => {
              this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
            })
        }
      },
      dropFunction (event) {
      },
      submit (scope) {
        let fd = new FormData()
        for (var k in this.params) {
          fd.append(k, this.params[k])
        }
        this.loading = true
        this.$store.dispatch('sendIncidente', fd)
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.emails = res.data.emails
            this.resetForm()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      resetForm () {
        this.params.idCoorp = this.$store.state.auth.user.idUser
        this.params.description = ''
        this.params.date = ''
        this.params.time = ''
        this.params.ubicacion = ''
        this.params.acciones = ''
        this.disabledS = true
      }
    },
    watch: {
      isModalIncidente () {
        this.component = []
        if (this.isModalIncidente) {
          this.focused = true
        } else {
          this.focused = false
          this.e1 = 1
          this.resetForm()
        }
      },
      component (value) {
        this.params.component = value
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$store.commit('TOOGLE_MODAL_INCIDENTE', {modal: false, desc: '', type: 0})
      })
    }
  }
</script>
