<template>
  <v-menu open-on-hover left offset-x>
    <v-icon slot="activator" class="grey--text">{{ icon }}</v-icon>
    <v-card class="elevation-0" style="max-width:250px;height:100px">
      <v-card-title class="grey darken-3">
        <div class="white--text" style="font-size: 12px !important; line-height: 5px !important; font-weight: 300 !important;">
          {{ title }}
        </div>
      </v-card-title>
      <v-card-text style="font-size: 12px !important; line-height: 15px !important; font-weight: 300 !important;">
        <div>{{ text }}</div>
      </v-card-text>
    </v-card>
  </v-menu>
</template>
<script>
  export default {
    props: {
      icon: {type: String, required: true},
      title: {type: String, required: true},
      text: {type: String, required: true
      }
    }
  }
</script>
