<template>
<div class="hidden-sm-and-down">
  <v-card-title align="center" style="max-width: 450px; width: 350px; padding: 0px">
    <v-text-field v-model="search"
      @input="up"
      dark
      :append-icon-cb="() => {}"
      placeholder="Buscar..."
      single-line
      append-icon="search"
      color="success"
      hide-details
     :loading="loadingSearch"
      />
    <v-btn icon class="orange--text text--darken-2" :loading="loadingSearch">
      <v-icon v>refresh</v-icon>
     </v-btn>
  </v-card-title>
</div>
</template>
<script>
  export default {
    props: {
      fetchSearchList: Function,
      loadingSearch: Boolean,
      titleSearch: String
    },
    data: () => ({
      search: ''
    }),
    methods: {
      up (value) {
        this.fetchSearchList(value)
      }
    },
    watch: {
      titleSearch (newVal) {
        this.search = newVal
      }
    }
  }
</script>
