<template>
    <div>
        <h4>Eventos internos</h4>
        <v-card>
            <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                        v-model="search"
                />
                <v-btn icon @click.native="refreshTable()" class="grey--text text--darken-2" :loading="loading">
                    <v-icon v>refresh</v-icon>
                </v-btn>

            </v-card-title>
            <v-data-table
                    :headers="headers"
                    :items="items.rows"
                    class="elevation-1"
                    :loading="loading"
                    :no-data-text="loading ? '' : 'no se encontraron resultados'"
                    :pagination.sync="pagination"
                    :total-items="items.total"
                    :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
                    rows-per-page-text="Filas por página"
            >
                <template slot="items" scope="props">

                    <td class="text-xs-center td-image">
                        <img :src="`${baseUrl}/files/event/${props.item.coverPhoto}`">
                    </td>
                    <td class="text-xs-center">{{ props.item.title }}</td>
                    <!--<td class="text-xs-left">{{ props.item.created_at }}</td>-->
                    <td class="text-xs-center">{{ dateFormat(props.item.startDate) }}</td>
                    <td class="text-xs-center">{{ dateFormat(props.item.endDate) }}</td>
                    <td class="text-xs-center">{{ props.item.name }}</td>
                    <td class="text-xs-center">{{ props.item.importance === 1 ? 'Alta' : props.item.importance === 2 ? 'Media' : 'Baja' }}</td>
                    <td class="text-xs-center">{{ props.item.participans }}</td>
                    <td class="text-xs-center">
                        <v-btn icon small flat primary class="tb-action" @click="editRow(props.item)">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-menu offset-y class="tb-action">
                            <v-btn small icon flat primary slot="activator">
                                <v-icon>delete</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile @click.native="removeEvent(props.item.id)">
                                    <v-list-tile-title>Remover</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </td>
                </template>
            </v-data-table>
        </v-card>
    </div>
</template>
<script>
  import {baseUrl} from '../../api'
  import {dateFormat} from '../../plugins/moment'
  export default {
    props: {
      items: Object,
      headers: Array,
      loading: Boolean,
      limit: Number,
      offset: Number,
      fetchEvent: Function,
      editRow: Function,
      removeEvent: Function
    },
    data () {
      return {
        search: '',
        pagination: {
          rowsPerPage: 10
        },
        baseUrl
      }
    },
    methods: {
      refreshTable () {
        this.fetchEvent(null, null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      dateFormat
    },
    watch: {
      search () {
        this.$emit('search', this.search)
      },
      pagination: {
        handler () {
          this.refreshTable()
        },
        deep: true
      }
    }
  }
</script>
