<template>
    <v-layout row justify-center>
        <v-dialog v-model="modalEvent" persistent  width="800px">
            <v-card class="default-modal" lazy absolute>
                <form @submit.prevent="submit('frm-event')" autocomplete="off">
                    <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
                        <div class="headline white--text">Evento</div>
                        <v-spacer></v-spacer>
                        <v-btn icon class="white--text" @click.native="$emit('showModalEvent', false)">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text :style="{height: $store.state.less600 ? '400px' : '600px',  overflowX: 'auto'}">
                        <v-layout row>
                            <v-flex xs6>
                                <label class="grey--text text--darken-2">Portada</label>
                                <v-card class="elevation-0">
                                    <v-card-media height="auto" class="upload-image">
                                        <img id="eventImg" :src="cardImage" style="height: 100%">
                                        <file-upload
                                                :class="{ active: files.length === 0 && fileIsRemoved }"
                                                class="upload-front"
                                                :name="fileUpConf.name"
                                                :extensions="fileUpConf.extensions"
                                                :accept="fileUpConf.accept"
                                                :multiple="fileUpConf.multiple"
                                                :directory="fileUpConf.directory"
                                                :size="fileUpConf.size || 0"
                                                :thread="fileUpConf.thread < 1 ? 1 : (fileUpConf.thread > 5 ? 5 : fileUpConf.thread)"
                                                :drop="fileUpConf.drop"
                                                :dropDirectory="fileUpConf.dropDirectory"
                                                v-model="files"
                                                @input-file="inputFile"
                                                ref="upload">
                                        </file-upload>
                                    </v-card-media>
                                    <v-card-actions >
                                        <v-spacer></v-spacer>
                                        <v-btn v-if="files.length > 0 && !isCropper" @click.native="addFile" icon
                                               class="grey lighten-2 green--text">
                                            <v-icon>check</v-icon>
                                        </v-btn>
                                        <v-btn @click.native="removeFile" v-if="!fileIsRemoved" icon class="grey lighten-2 red--text">
                                            <v-icon>remove</v-icon>
                                        </v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                                <br/>

                                <v-text-field
                                        v-model="event.title"
                                        name="title"
                                        label="Título"
                                        :rules="[formValidate('title', event.title)]"
                                />

                                <v-text-field
                                        v-model="event.summary"
                                        name="sumary"
                                        label="Texto resumen"
                                        multi-line
                                        rows="3"
                                        :rules="[formValidate('sumary', event.summary)]"
                                />
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field
                                        v-model="event.detail"
                                        name="detail"
                                        label="Texto detalle"
                                        multi-line
                                        rows="3"
                                        :rules="[formValidate('detail', event.detail)]"
                                />

                                <v-menu
                                        lazy
                                        :close-on-content-click="false"
                                        transition="v-scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-left="40"
                                        max-width="290px"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha inicio"
                                            :value="event.startDate ? dateFormat(event.startDate) : ''"
                                            name="startDate"
                                            readonly
                                            :rules="[formValidate('startDate', event.startDate)]"
                                    />
                                    <v-date-picker v-model="event.startDate" no-title scrollable actions autosave locale="es"/>
                                </v-menu>
                                <v-menu
                                        lazy
                                        :close-on-content-click="false"
                                        transition="v-scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-left="40"
                                        max-width="290px"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha fin"
                                            :value="event.endDate ? dateFormat(event.endDate) : ''"
                                            readonly
                                            name="endDate"
                                            :rules="[formValidate('endDate', event.endDate)]"
                                    ></v-text-field>
                                    <v-date-picker v-model="event.endDate" no-title scrollable actions autosave locale="es"/>
                                </v-menu>

                                <v-menu
                                        lazy
                                        :close-on-content-click="false"
                                        transition="v-scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-left="40"
                                        max-width="290px"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Hora inicio"
                                            v-model="event.hour"
                                            readonly
                                            name="hour"
                                            :rules="[formValidate('hour', event.hour)]"
                                    ></v-text-field>
                                    <v-time-picker v-model="event.hour" autosave/>
                                </v-menu>

                                <v-menu
                                        lazy
                                        :close-on-content-click="false"
                                        transition="v-scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-left="40"
                                        max-width="290px"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Hora fin"
                                            v-model="event.hourend"
                                            readonly
                                            name="hourend"
                                            :rules="[formValidate('hourend', event.hourend)]"
                                    ></v-text-field>
                                    <v-time-picker v-model="event.hourend" autosave/>
                                </v-menu>

                                <v-select
                                        :items="importances"
                                        v-model="event.importance"
                                        label="Importancia"
                                        bottom
                                        name="importance"
                                        :rules="[validateSelect(event.importance, 'importance')]"
                                />

                                <!--   <v-select
                                           :items="regions"
                                           v-model="event.region"
                                           label="Region"
                                           bottom
                                           autocomplete
                                           @change="fetchHeadquartersByRegion"
                                           name="region"
                                           :rules="[validateSelect(event.region, 'region')]"
                                   />-->

                                <!--v-if="event.region && event.region !== 'all'"-->
                                <v-select
                                        :items="headquarters"
                                        v-model="event.headquarters"
                                        item-text="text"
                                        item-value="value"
                                        ligth
                                        :max-height="200"
                                        label="Sede"
                                        autocomplete
                                        @change="event.areas = null"
                                        required
                                        multiple
                                        :rules="[validateSelect(event.headquarters, 'headquarters')]"
                                />



                                <v-select  v-if="!isEmpty(event.headquarters) && !checkAllValue(event.headquarters)"
                                           :items="areas"
                                           v-model="event.areas"
                                           item-text="text"
                                           item-value="value"
                                           ligth
                                           :max-height="200"
                                           multiple
                                           chips
                                           label="Unidades organizativas"
                                           autocomplete
                                           required>
                                           <!--:rules="[validateSelect(event.areas, 'areas')]"-->

                                    <!--<template slot="selection" scope="data">
                                        <v-chip close
                                                @input="data.parent.selectItem(data.item)"
                                                @click.native.stop
                                                class="chip&#45;&#45;select-multi"
                                                :key="data.item.value">
                                            {{ data.item.text }}
                                        </v-chip>
                                    </template>
                                    <template slot="item" scope="data">
                                        <v-list-tile-content>
                                            <v-list-tile-title v-html="data.item.text"></v-list-tile-title>
                                            <v-list-tile-sub-title v-html="data.item.code"></v-list-tile-sub-title>
                                        </v-list-tile-content>
                                    </template>-->
                                </v-select>
                                <v-menu
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="modalMap"
                                        origin="center center"
                                        transition="v-scale-transition"
                                        offset-y
                                        bottom
                                        full-width
                                        max-width="500px"
                                        max-height="400px"
                                >
                                    <v-text-field
                                            v-model="event.location.text"
                                            slot="activator"
                                            label="Localizacion"
                                            readonly
                                            @click.native=updateMapStyle
                                            name="location"

                                            :rules="[formValidate('location', event.location)]"
                                    />
                                    <gmap-map :style="mapStyle"
                                              :center="event.location.lat ? event.location : defaultLocation"
                                              :zoom="zoom"
                                              map-type-id="terrain"
                                              :resize-bus="customBus"
                                              class="vue-map"
                                              v-if="mapVisible"
                                    >
                                        <v-btn class="grey--text text--darken-3" style="position: absolute; top: 0px; width: 110px"
                                               @click="modalMap = false">
                                            Cerrar
                                        </v-btn>
                                        <gmap-place-input id="placeInput" :default-place="event.place"
                                                          class="search-map input-group__input"
                                                          @place_changed="setPlace">
                                        </gmap-place-input>
                                        <gmap-marker v-for="m in markers" :position="m.position" :opacity="m.opacity"
                                                     @position_changed="updateChild(m, 'position', $event)"
                                                     :key="m.id">
                                        </gmap-marker>
                                    </gmap-map>

                                </v-menu>

                            </v-flex>
                        </v-layout>

                    </v-card-text>
                </form>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="$emit('showModalEvent', false)">Cancelar</v-btn>
                    &nbsp;&nbsp;
                    <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text"
                           @click.native="submit">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-fab-transition>
            <v-btn primary dark absolute fab right large @click.native.stop="addEvent" style="bottom: 30px">
                <v-icon>add</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-layout>
</template>
<script>
  import Vue from 'vue'
  import cardDefualt from '../../assets/images/card-default.png'
  import FileUpload from 'vue-upload-component'
  import Cropper from 'cropperjs'
  import isEmpty from 'lodash/isEmpty'
  // import isNumber from 'lodash/isNumber'
  import {baseUrl} from '../../api'
  import {dateFormat} from '../../plugins/moment'
  export default{
    components: {FileUpload},
    props: {
      modalEvent: Boolean,
      submitEvent: Function,
      removeEvent: Function,
      fetchHeadquarters: Function,
      fetchRegions: Function,
      regions: Array,
      areas: Array,
      headquarters: Array,
      loading: Boolean,
      row: Object
    },
    data () {
      return {
        validated: false,
        modalMap: false,
        fileUpConf: {
          accept: 'image/png,image/gif,image/jpeg,image/webp',
          size: 1024 * 1024 * 10,
          extensions: 'gif,jpg,jpeg,png,webp',
          multiple: false,
          directory: false,
          drop: true,
          dropDirectory: false,
          thread: 3,
          name: 'coverPhoto',
          postAction: 'http://localhost:8080/admin/events'
        },
        cropConfig: {
          aspectRatio: 4 / 3,
          viewMode: 1,
          dragMode: 'move',
          guides: false,
          highlight: false,
          cropBoxMovable: true,
          cropBoxResizable: false,
          toggleDragModeOnDblclick: false
        },
        cardImage: cardDefualt,
        isCropper: false,
        cropper: null,
        zoom: 12,
        place: '',
        defaultLocation: {lat: -12.0852563, lng: -77.0142621},
        files: [],
        fileIsRemoved: false,
        event: {
          id: 0,
          cropperData: {},
          location: {},
          title: null,
          region: null,
          headquarters: null,
          importance: null,
          areas: null,
          summary: null,
          detail: null,
          startDate: null,
          endDate: null,
          hour: null,
          hourend: null,
          textLocation: null
        },
        customBus: new Vue(),
        mapVisible: false,
        markers: [],
        isEdit: false,
        mapStyle: {
          width: '500px',
          height: '400px'
        },
        clearHeadquarters: false,
        importances: this.$t('importanceEnum'),
        isValidEvent: false
      }
    },
    methods: {
      isEmpty,
      dateFormat,
      // Event
      addEvent () {
        this.validated = false
        this.event = {
          id: 0,
          files: [],
          cropperData: {},
          location: {},
          title: null,
          region: null,
          headquarters: null,
          importance: null,
          areas: null,
          summary: null,
          detail: null,
          startDate: null,
          endDate: null,
          hour: null,
          hourend: null,
          textLocation: null
        }
        this.cardImage = cardDefualt
        this.isEdit = false
        this.fileIsRemoved = true
        this.files = []
        this.isCropper = false
        this.$emit('showModalEvent', true)
      },
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) {
          this.isValidEvent = false
          return 'Campo requerido'
        } else {
          if (this.validated) this.isValidEvent = true
          return true
        }
      },
      validateSelect (obj, field) {
        if (!obj && this.validated) {
          this.isValidEvent = false
          return 'Campo requerido'
        } else {
          if (this.validated) this.isValidEvent = true
          return true
        }
      },
      submit () {
        this.validated = true
        setTimeout(() => {
          if (this.isValidEvent) {
            this.event.files = this.files
            if (this.isEdit && !this.event.cropperData) this.submitEvent(this.event)
            else if (this.files.length > 0 && this.isCropper) this.submitEvent(this.event)
            else this.$store.commit('SET_MESSAGE', {msg: this.$t('coverPhotoIsRequired'), type: 'error'})
          } else this.$store.commit('SET_MESSAGE', {msg: this.$t('fieldsRequired'), type: 'error'})
        }, 100)
      },
      fetchHeadquartersByRegion (id) {
        if (event.region !== id && id !== 'all') {
          this.event.headquarters = null
          this.event.areas = null
          this.clearHeadquarters = true
          this.fetchHeadquarters({region: id})
        }
      },
      refreshTable () {
        this.fetchEvent(null, null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      // File
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          // console.log('add', newFile)
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          // console.log('update', newFile, oldFile)
          if (newFile.progress !== oldFile.progress) {
            // console.log('progress', newFile.progress)
          }
        }
        if (!newFile && oldFile) {
          // console.log('remove', oldFile)
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      removeFile () {
        this.fileIsRemoved = true
        this.isCropper = false
        this.files.map(f => {
          this.$refs.upload.remove(f)
        })
        this.cardImage = cardDefualt
        this.cropper.destroy()
      },
      addFile () {
        this.fileIsRemoved = false
        this.isCropper = true
        this.event.cropperData = this.cropper.getData()
        this.cardImage = this.cropper.getCroppedCanvas().toDataURL('image/png', 0.5)
        this.cropper.destroy()
      },
      // Map
      addMarker () {
        this.markers.push({
          id: 1,
          position: this.event.location.lat ? this.event.location : this.defaultLocation,
          opacity: 1,
          draggable: false,
          enabled: false,
          clicked: 0,
          rightClicked: 0,
          dragended: 0
        })

        try {
          const input = document.getElementById('placeInput').getElementsByTagName('input')
          if (input.length > 0 && !isEmpty(input[0].value)) this.event.location.text = input[0].value
        } catch (e) {}
        // return this.markers[this.markers.length - 1];
      },
      setPlace (place) {
        if (place && place.geometry && place.geometry.location) {
          this.event.location = {
            lat: place.geometry.location.lat(),
            lng: place.geometry.location.lng()
          }
          this.addMarker()
          this.zoom = 18
        }
      },
      updateMapStyle () {
        this.mapVisible = !this.mapVisible
        this.mapVisible = true
        setTimeout(() => {
          Vue.$gmapDefaultResizeBus.$emit('resize')
        }, 300)
      },
      updateBus () {
        this.customBus.$emit('resize')
      },
      checkAllValue (arr) {
        var flag = false
        arr.map(v => {
          if (v === 'all') flag = true
        })
        return flag
      }
    },
    watch: {
      'files' () {
        this.files.map(f => {
          this.cardImage = f.type.substr(0, 6) === 'image/' && f.blob ? f.blob : cardDefualt
          this.fileIsRemoved = true
        })
      },
      cardImage () {
        setTimeout(() => {
          if (this.files.length > 0 && !this.isCropper) {
            this.cropper = new Cropper(document.getElementById('eventImg'), this.cropConfig)
          }
        }, 400)
      },
      'event.headquarters' () {
        if (!isEmpty(this.event.headquarters)) {
        }
      },
      row () {
        if (!isEmpty(this.row)) {
          var areas = !isEmpty(this.row.areas) && typeof this.row.areas !== 'object' ? JSON.parse(this.row.areas) : this.row.areas
          var headquarters = !isEmpty(this.row.headquarters) && typeof this.row.headquarters !== 'object' ? JSON.parse(this.row.headquarters) : this.row.headquarters
          this.isEdit = true
          this.row.location = !isEmpty(this.row.location) && typeof this.row.location !== 'object' ? JSON.parse(this.row.location) : this.row.location
          this.event = this.row
          // this.event.region = !isNumber(this.row.region) ? parseInt(this.row.region) : this.event.region
          setTimeout(() => {
            // this.event.headquarters = !isNumber(this.row.headquarters) ? parseInt(this.row.headquarters) : this.row.headquarters
            // this.event.headquarters = this.row.headquarters
            setTimeout(() => {
              this.event.areas = areas
              this.event.headquarters = headquarters
            }, 100)
          }, 100)
          this.cardImage = `${baseUrl}/files/event/${this.event.coverPhoto}`
          this.fileIsRemoved = false
          this.addMarker()
          // this.fetchHeadquartersByRegion(this.event.region)
        }
      },
      'event.areas' () {

      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalEvent', false)
      })
    }
  }
</script>
