<template>
    <div>
        <v-card-title>
            <v-icon class="primary darken-2 white--text w-30 h-30">forum</v-icon><v-toolbar-title class="grey--text text--darken-2">{{title}}</v-toolbar-title>
        </v-card-title>

        <v-card class="grid elevation-8">
            <!--<v-toolbar class="white elevation-0 pt-3">
                <v-layout row style="width: 100%">
                    <v-flex xs4>
                        <v-menu
                                lazy
                                :close-on-content-click="false"
                                transition="v-scale-transition"
                                offset-y
                                full-width
                                :nudge-left="40"
                                max-width="290px"
                        >
                            <v-text-field
                                    hide-details
                                    single-line
                                    slot="activator"
                                    label="Fecha"
                                    prepend-icon="event"
                                    v-model="searchParams.startDate"
                                    name="startDate"
                                    readonly
                            />
                            <v-date-picker v-model="searchParams.startDate" no-title scrollable actions autosave/>
                        </v-menu>
                    </v-flex>
                    <v-flex xs4>

                        <SelectField :items="areas"
                                     v-model="searchParams.areas"
                                     item-text="text"
                                     item-value="value"
                                     ligth
                                     :max-height="200"
                                     label="Areas"
                                     autocomplete
                                     hide-details
                                     single-line
                        />
                    </v-flex>
                    <v-flex xs4>
                        <v-text-field prepend-icon="search" hide-details single-line></v-text-field>
                    </v-flex>
                </v-layout>

            </v-toolbar>-->
            <v-container fluid grid-list-xl>
                <v-progress-linear v-if="loading" :indeterminate="true" class="mb-0"/>
                <v-tabs dark v-model="active" :scrollable="false" class="tabs-no-border">
                    <v-tabs-bar slot="activators" class="white">
                        <v-tabs-item
                                v-for="tab in tabs"
                                :key="tab.text"
                                :href="'#' + tab.text"
                                ripple
                        >
                            <span class="grey--text text-normal">{{ tab.text }}</span>
                        </v-tabs-item>
                        <v-tabs-slider class="orange darken-2"></v-tabs-slider>
                    </v-tabs-bar>
                    <v-tabs-content
                            v-for="tab in tabs"
                            :key="tab.text"
                            :id="tab.text"
                            class="pt-4"
                    >
                        <v-layout row wrap>
                            <v-flex xs12 sm6 md4 v-for="item in items.rows" :key="item.id" class="mb-3 pl-3 pr-3" v-if="(tab.type === 1 ? item.signedUp :  tab.type === 2)">
                                <v-card class="elevation-5">
                                    <v-card-media class="cursor-pointer" @click.native="$router.push({path: `/event/${item.id}`})">
                                        <img :src="`${baseUrl}/files/event/${item.coverPhoto}`">
                                    </v-card-media>
                                    <v-card-title>
                                        <div class="w-total">
                                            <h6 class="orange--text text--darken-2" style="font-size: 15px">{{item.title}}</h6>
                                            <!--<p class="grey&#45;&#45;text text&#45;&#45;darken-1 truncate-text row-2 mb-3" v-html="item.summary"/>-->
                                            <v-icon class="orange--text text--darken-2 w-30 h-30">place</v-icon>
                                            <span class="grey--text text--darken-2">{{JSON.parse(item.location).text}}</span>
                                            <br/>
                                            <v-icon class="white--text w-30 h-30"></v-icon>
                                            <span class="grey--text">{{item.region === 'all' ? 'Sucursal: todas' : item.nameStructure}}</span>
                                            <v-divider class="mb-3 mt-1"/>
                                            <v-layout row wrap>
                                                <v-flex xs6>
                                                    <v-icon class="orange--text text--darken-2 w-30 h-30">event</v-icon>
                                                    <span class="grey--text text--darken-2 text-ellipsis"  style="font-size: 11px">{{dateFormat(item.startDate, 'dddd DD/MM/YYYY')}}</span>
                                                    <br/>
                                                    <v-icon class="white--text w-30 h-30"></v-icon>
                                                    <span class="grey--text">Fecha</span>
                                                </v-flex>
                                                <v-flex xs6>
                                                    <v-icon class="orange--text text--darken-2 w-30 h-30">place</v-icon>
                                                    <span class="grey--text text--darken-2" style="font-size: 11px">{{item.hour}}</span>
                                                    <br/>
                                                    <v-icon class="white--text w-30 h-30"></v-icon>
                                                    <span class="grey--text">Hora</span>
                                                </v-flex>
                                            </v-layout>
                                            <v-divider class="mb-3 mt-1"/>
                                            <span class="grey--text">Creado por {{item.name}}</span>
                                            <router-link :to="`/event/${item.id}`" class="orange--text absolute-element a-10 right bottom">leer mas...</router-link>
                                        </div>
                                    </v-card-title>
                                </v-card>
                            </v-flex>
                        </v-layout>

                    </v-tabs-content>
                </v-tabs>
            </v-container>
        </v-card>
    </div>
</template>
<script>
  import {baseUrl} from '../../api/index'
  import {dateFormat} from '../../plugins/moment'
  import SelectField from '../common/SelectField.vue'
  export default {
    components: {SelectField},
    props: {
      items: Object,
      loading: Boolean,
      title: String,
      tabs: Array,
      areas: Array
    },
    data () {
      return {
        baseUrl,
        active: null,
        searchParams: {}
      }
    },
    methods: {
      dateFormat
    }
  }
</script>
