<template >
  <div class="signin-main vertical-align text-xs-center">
    <div class="signin-content vertical-align-middle">
      <v-card class="frm-signin animation-slide-bottom animation-duration-1 elevation-0">
        <h4 class="white--text text-xs-center">Olvidaste tu contraseña?</h4>
        <p class="white--text text-xs-center">introduce tu correo para recuperar tu cuenta</p>
        <ForgotForm :submit="submit" :loading="loading"/>
      </v-card>
    </div>
  </div>
</template>
<script>
  import ForgotForm from '../../components/auth/ForgotForm.vue'
  export default {
    components: { ForgotForm },
    data () {
      return {
        loading: false
      }
    },
    methods: {
      submit (email) {
        this.loading = true
        this.$store.dispatch('forgotPassword', email).then((res) => {
          this.loading = false
          if (res.data.success) this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      }
    }
  }
</script>
