<template >
  <div class="signin-main vertical-align app-vuetify" :class="{ show: isChecked }">
    <div class="signin-content vertical-align-middle">
      <v-card class="frm-signin animation-slide-top animation-duration-1 elevation-0">
        <h3 class="white--text text-xs-center text-md-left pl-5  mb-0">
          <img id="ver" style="width: auto" :src="logo">
        </h3>
        <!--h4 class="white--text mb-0 te" style="padding-left: 50px">Intranet</h4-->
        <br/>
        <SignInForm :submit="submit" :loading="loading" :googleAuth="googleAuth" :urlAuth="urlAuth"/>
      </v-card>
    </div>

  </div>
</template>
<script>
  import SignInForm from '../../components/auth/SignInForm.vue'
  const logo = process.env.STYLES === 'DV' ? require('../../assets/images/logo-divenet.png')
    : require('../../assets/images/logo-cr.png')
  export default {
    components: { SignInForm },
    data () {
      return {
        isChecked: this.$store.state.auth.isChecked,
        loading: false,
        logo,
        urlAuth: ''
      }
    },
    methods: {
      submit (user) {
        this.loading = true
        this.$store.dispatch('signin', user).then((res) => {
          res.data.user.token = res.data.token
          this.$store.dispatch('setCurrentUser', res.data.user)
          if (this.$store.state.auth.isAuth) this.$router.push('/')
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      googleAuth (immediate) {
        this.$store.dispatch('getGoogleAuth', immediate).then((res) => {
          this.$store.dispatch('signinGoogle', {email: res.emails[0].value, avatar: res.image.url}).then((res2) => {
            res2.data.user.token = res2.data.token
            this.$store.dispatch('setCurrentUser', res2.data.user)
            if (this.$store.state.auth.isAuth) this.$router.push('/')
          }).catch((err) => {
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: `gauth_${err}`, type: 'error' })
        })
      },
      microsoftAuth (immediate) {
        this.$store.dispatch('signinMicrosoft', immediate).then((res) => {
          this.urlAuth = res.data.callUrl
          return res.data.callUrl
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: `gauth_${err}`, type: 'error' })
        })
      }
    },
    watch: {
      '$store.state.auth.isChecked' () {
        if (this.$store.state.auth.isAuth) this.$router.push('/')
        this.isChecked = this.$store.state.auth.isChecked
      }
    },
    mounted () {
      if (!this.$store.state.auth.isLogout) this.googleAuth(true)
      this.microsoftAuth(true)
      if (!this.$store.state.auth.isLogout && this.$route.query.code) {
        this.$store.dispatch('signinMicrosoftData', {code: this.$route.query.code}).then((res2) => {
          res2.data.user.token = res2.data.token
          this.$store.dispatch('setCurrentUser', res2.data.user)
          if (this.$store.state.auth.isAuth) this.$router.push('/')
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
        })
      }
    }
  }
</script>
