.all-birthdays {
  .img-container {
    align-self: center;
    width: 120px;
    height: 120px;
    background-image: url("../images/birthday/circle.png");
    background-size: 100%;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .birthday-description{
    padding: 10px 20px;
    small{
      font-size: 15px;
    }
    .emoji-content{

      .emojionearea{
        height: 80px;
        max-width: 380px;
        .emojionearea-editor{
          max-width: 380px;
          height: 80px !important;
          min-height: 80px;
        }
      }

    }
  }
}

.no-edit .emojionearea-button {
  display: none !important;
}