.contact-avatar{
  background: rgba(240,238,237,1);
  background: -moz-linear-gradient(top, rgba(240,238,237,1) 0%, rgba(28,26,26,1) 39%, rgba(28,12,10,1) 57%, rgba(15,9,9,1) 71%, rgba(5,1,1,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,238,237,1)), color-stop(39%, rgba(28,26,26,1)), color-stop(57%, rgba(28,12,10,1)), color-stop(71%, rgba(15,9,9,1)), color-stop(100%, rgba(5,1,1,1)));
  background: -webkit-linear-gradient(top, rgba(240,238,237,1) 0%, rgba(28,26,26,1) 39%, rgba(28,12,10,1) 57%, rgba(15,9,9,1) 71%, rgba(5,1,1,1) 100%);
  background: -o-linear-gradient(top, rgba(240,238,237,1) 0%, rgba(28,26,26,1) 39%, rgba(28,12,10,1) 57%, rgba(15,9,9,1) 71%, rgba(5,1,1,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,238,237,1) 0%, rgba(28,26,26,1) 39%, rgba(28,12,10,1) 57%, rgba(15,9,9,1) 71%, rgba(5,1,1,1) 100%);
  background: linear-gradient(to bottom, rgba(240,238,237,1) 0%, rgba(28,26,26,1) 39%, rgba(28,12,10,1) 57%, rgba(15,9,9,1) 71%, rgba(5,1,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0eeed', endColorstr='#050101', GradientType=0 );
  .card__media__background{
    opacity: 0.7 !important;
  }
  .contact-avatar-list {
    background: transparent !important;
    width: 100%;
  }
  .card__media__content{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }

  .avatar{
    width: 100px;
    height: 100px;
  }
  img{
    width: 100px;
    height: 100px;
  }
}

.btn-close-contact{
  top: 10px;
  right: 10px;
}