.carousel-no-controls{
  .carousel__controls{
    display: none;
  }
}

.carousel-no-arrows{
  .carousel__left,
  .carousel__right{
    display: none;
  }
}

.widgets-communicated{
  position: relative;
  overflow: hidden;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  background: white;
  height: 350px;


  @media only screen and (min-width: 768px){
    height: 260px;
    a{
      height: 260px;
    }
  }

  @media only screen and (min-width: 1124px){
    height: 360px;
    a{
      height: 360px;
    }
  }

  .carousel-caption{
    float: left;
    width: 100%;
    height: 150px;
    background: #fff;
    padding: 10px;
    overflow-y: auto;
    align-items: center;
    h4{
      font-size: 16px;
      line-height: 1.2;
      font-weight: 600;
    }
    @media only screen and (min-width: 768px) {
      height: 100%;
      padding: 5px;
      width: 35%;
      h4{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
      }
      padding: 10px;
    }

    @media only screen and (min-width: 1124px) {
      h4{
        font-size: 25px;
        line-height: 1.2;
        font-weight: 600;
      }
      padding: 50px 30px;
    }
  }
  .img-container{
    float: left;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (min-width: 768px) {
      width: 65%;
      height: 100%;
    }
  }

  .carousel__controls {
    display: none!important;
  }

  .carousel__left {
    button {
      color: #222!important;
    }
  }

  .carousel__right {
    button {
      color: #222!important;
    }
  }
}

.widgets-birthday{
  height: 360px;
  max-width: 350px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 99999;

  @media only screen and (min-width: 768px){

  }

  @media only screen and (min-width: 1124px){

  }

  .back-image{
    padding-left: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../images/birthday/bb.png');
    background-size: 40% 100%;
  }

  .title {
    margin: 0 auto;
    position: relative;
    text-align: center;
    img{
      width: 90%;
    }
  }

  .carousel__item{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-size: 100%;
    .avatar-container{
      margin: 0 auto;
      position: relative;
      width: 50%;
      img{
        width: 100%;
        border-radius: 50%;
      }
      .balloon{
        position: absolute;
        top: 0;
        img{
          width: 100%;
        }
        &.left{
          left: -53px;
        }
        &.rigth{
          right: -53px;

        }
      }
    }

    .birthday-name{
      display: block;
      font-size: 15px;
      text-align: center;
      width: 100%;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .birthday-day{
      display: block;
    }


  }

  .emojionearea-picker{
    overflow: hidden;
    width: 100% !important;
    left: 0;
    .emojionearea-wrapper{
      width: 100% !important;
    }
  }

  .carousel__controls {
    display: none!important;
  }

  .carousel__left {
    button {
      color: #222!important;
    }
  }

  .carousel__right {
    button {
      color: #222!important;
    }
  }
}

.frm-congratulate{
  width: 100%;
}

.text-congratulated{
  font-size: 22px;
  text-shadow: 2px 2px #ccc;
}

.widgets-event-notice {
  .tabs__wrapper{
    margin: 0 !important;
  }

  .widgets-tab-item {
    height: 40px !important;
    a{
      justify-content: left !important;
    }
    span {
      text-transform: none !important;
    }

    .tabs__item--active {
      background: #FF7104;
      span {
        color: #fff !important;
      }
    }
  }

  .list-events{
    .list__tile{
      height: 175px;
    }
    .avatar {
      width: 130px !important;
      height: 100px !important;
      overflow: hidden;
      img{
        border-radius: 0 !important;
        width: 100% !important;
        height: auto !important;
      }

      @media only screen and (min-width: 768px){
        width: 250px !important;
        height: 140px !important;
      }

    }
  }
}

.widget-indicators {
  height: 436px ;
  .indicator--title {
    color: #424242;
    line-height: 22px;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    word-break: break-word;
  }

  .content--comment {
    text-align: center;
    border: 1px solid lightgrey;
    margin: 20px;
    border-radius: 4px;
    padding: 7px;
  }

  .indicator--comment {
    color: #808080;
    text-align: justify;
    font-size: 14px;
    line-height: 15px;
  }

  .carousel-cell {
    padding-bottom: 5px;
  }

  .flickity-prev-next-button .arrow {
    fill: #808080!important;
  }
  .flickity-prev-next-button.no-svg {
    color: #808080!important;
  }

  .value--indicator-voc {
    margin-top: 10px!important;
    color: #222!important;
    font-size: 55px;
    font-weight: bold;
  }

  .small--indicator-voc {
    color: #222!important;
    font-size: 14px;
  }

  .value--indicator-other {
    margin-top: -35px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .small--indicator-other {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }

  .content--legend-indicator {
    text-align: center;
    margin-top: 10px;
  }

  .section--legend-indicator {
    display: inline-block;
    margin-right: 10px;
  }

  .quarter--legend-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
  }

  /*.voc--indicator {
    @media only screen and (min-width: 768px){
      margin-left: 70px;
    }
  }*/


  .carousel__controls {
    display: none;
  }

  .carousel__left {
    button {
      color: #222!important;
    }
  }

  .carousel__right {
    button {
      color: #222!important;
    }
  }

  .carousel-cell {
    width: 90%!important;
  }

  .nps--indicator {
    canvas {
      width: 100%!important;
    }
  }
}

