.upload-image.link,
.upload-image.favorite{
  position: relative;
  text-align: center;
  #linkImg,
  #favoriteImg{
    width: 150px !important;
    height: 150px !important;
    border-radius: 100%;
  }
  .upload-front{
    left: 0;
    top: 0;
    position: absolute;
  }
}


