.vue-map {
  position: relative;
  overflow: hidden;
  background: #F2F2F2;
  margin: 0 auto;
  // min-height: calc(100vh - 90px);
}

.vue-map-hidden{
  display: block !important;
}


.iconmap {
  position: relative;
  width: 100px;
  height: 100px;
}

.iconmap i {
  position: absolute;
}

.iconmap i:before {
  font-size: 50px;
}

.iconmap i.w{z-index: 10;top: 2px;left: 2px;}
.iconmap i.w:before{color:white;}
.iconmap i.b1{z-index: 9;top: 0px;left: 0px;}
.iconmap i.b1:before{color:black;}
.iconmap i.b2{z-index: 8;top: 0px;left: 4px;}
.iconmap i.b2:before{color:black;}
.iconmap i.b3{z-index: 7;top: 4px;left: 0px;}
.iconmap i.b3:before{color:black;}
.iconmap i.b4{z-index: 6;top: 4px;left: 4px;}
.iconmap i.b4:before{color:black;}


.map-control {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 36px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.search-map {
  position: absolute;
  right: 50px;
  top: 10px;
  input{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 120px;
  }
}

.search-map input:focus {
  border-color: #4d90fe;
}

@media only screen and (min-width: 768px) {
  .search-map input{
    margin-left: 12px;
    padding: 0 11px 0 13px;
    width: 300px;
  }
}

#content ul  {
  margin-left: 15px;
}

#content ul i {
  font-size: 10px;
  margin-right: 5px;
}