.default-modal{
  .row-container{
    height: 600px !important;
    align-items: flex-start;
  }
  form{
    margin: 0 auto;
  }

  .madal-row-container{
    padding: 30px 0;
    max-width: 300px;
    margin: 0 auto;
  }
}
