.signin-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  &::before{
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &:before{
    background-image: url("../images/auth-intro-cr.jpg");
  }

  &:after {
    background-color: rgba(38, 50, 56, .3);
  }

  &::after{
    position: fixed;
    top: 0;
    //top: 4.715rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
  }

  .head-signin{
    text-align: center;
    img{
      width: 250px;
    }

    .card__text{
      padding: 30px;
    }

  }



  .frm-signin{
    padding-top: 5%;
    position: fixed;
    right: 0;
    top: 0;
    color: #76838f;
    background: rgba(0,0,0,0.4) !important;
    min-height: 100%;
    width: 100%;
    @media (min-width: 768px) {
      width: 400px;
    }
  }


  .page-brand-info {
    float: left;
    margin: 255px 100px 0 130px;
    .brand-img {
      vertical-align: middle;
    }
    .brand-text {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      opacity: .6;
      max-width: 650px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .page-brand-info {
      margin: 160px 0 0 35px;
      p {
        opacity: 0;
        color: transparent;
      }
    }
  }

  @media (max-width: 479px) {
    .page-brand-info {
      margin: 220px 0 0;
    }
  }
}
