<template>
  <v-container fluid style="max-width: 1378px" class="pa-0 pt-4">
    <v-layout row wrap>
      <v-flex xs12 sm6 md4>
        <v-card>
          <v-card-media class="contact-avatar" :src="covercontact" height="300px">
            <v-list two-line class="contact-avatar-list">
                <v-list-tile avatar>
                  <v-list-tile-avatar>
                    <img :src="this.$store.state.auth.user.avatar ? this.$store.state.auth.user.avatar : avatarDefault">
                  </v-list-tile-avatar>

                  <v-list-tile-content class="pl-5">
                    <v-list-tile-title class="white--text text-bold">{{ this.$store.state.auth.user.name }} {{ this.$store.state.auth.user.lastName }}</v-list-tile-title>
                    <v-list-tile-sub-title class="white--text text-bold">{{ this.$store.state.auth.user.desPosition }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
            </v-list>
          </v-card-media>
          <v-card-text v-if="!$store.state.less600" class="pa-2 ">
                    <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Correo</v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.email }}</v-subheader>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Nombre </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader class="text-uppercase">{{ this.$store.state.auth.user.name }} {{ this.$store.state.auth.user.lastName }}
                        </v-subheader>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Cumpleaños </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ moment(this.$store.state.auth.user.birthdate).format('DD/MM/YYYY') }}
                        </v-subheader>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Posición</v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.desPosition }}</v-subheader>
                      </v-flex>
                    </v-layout>
                    <!--v-layout row>
                      <v-flex xs4>
                        <v-subheader>Departamento </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.desDepartment }}</v-subheader>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Area </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.desArea }}</v-subheader>
                      </v-flex>
                    </v-layout-->
                  <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Sucursal </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.desDivisions }}</v-subheader>
                      </v-flex>
                    </v-layout>
                    <!--v-layout row>
                      <v-flex xs4>
                        <v-subheader>Jefe Directo </v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.bossName }}</v-subheader>
                      </v-flex>
                    </v-layout>

                    <v-layout row>
                      <v-flex xs4>
                        <v-subheader>Posición Jefe Directo</v-subheader>
                      </v-flex>
                      <v-flex xs8>
                        <v-subheader>{{ this.$store.state.auth.user.desBoss }}</v-subheader>
                      </v-flex>
                    </v-layout-->
                </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6 md8 style="position: relative">
        <v-progress-linear v-if="loading" :indeterminate="loading" style="position: absolute; top: 30px"></v-progress-linear>
        <v-card style="min-height: 100%;">
          <v-tabs>
            <v-tabs-bar slot="activators" class="white" style="overflow: hidden!important;">
              <v-tabs-item :href="'#tab-3-activities'" ripple>Actividades</v-tabs-item>
              <v-tabs-item :href="'#tab-4-changes'" ripple>Mis Cambios</v-tabs-item>
              <!--
              <v-tabs-item v-if="itemsDiv.indexOf($store.state.auth.user.divPersonal) == -1" :href="'#tab-1-receiptPayment'" ripple @click.native="openDir('boletas')">Boletas</v-tabs-item>
              <v-tabs-item v-if="itemsDiv.indexOf($store.state.auth.user.divPersonal) == -1"  :href="'#tab-2-cts'" ripple @click.native="openDir('cts')">CTS</v-tabs-item>
              <v-tabs-item v-if="itemsDiv.indexOf($store.state.auth.user.divPersonal) == -1"  :href="'#tab-5-vacation'" ripple >Vacaciones</v-tabs-item>
              -->
              <v-tabs-slider class="primary"></v-tabs-slider>
            </v-tabs-bar>
            <v-tabs-content id="tab-1-receiptPayment">
              <template>
                <v-expansion-panel expand v-if="paySlips">
                  <v-expansion-panel-content v-for="paySlip in paySlips" :key="paySlip.dir">
                      <div slot="header">
                        <v-subheader>{{ paySlip.dir }} </v-subheader>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">{{ paySlip.file.substr(0,8) }}
                          <v-btn large class="orange--text text--darken-2" icon v-if="paySlip.extension=='pdf'"
                                @click.native="downloadFile(paySlip.file,paySlip.dir,typeFile)">
                            <v-icon>open_in_browser</v-icon>
                          </v-btn>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
              </template>
            </v-tabs-content>
            <v-tabs-content id="tab-2-cts">
              <template>
                <v-expansion-panel expand>
                  <v-expansion-panel-content v-for="paySlip in paySlipsCTS" :key="paySlip">
                    <div slot="header">
                      <v-subheader>{{ paySlip.dir }}</v-subheader>
                    </div>
                    <v-card>
                      <v-card-text class="grey lighten-4">{{ paySlip.file.substr(0,8) }}
                        <v-btn large class="orange--text text--darken-2" icon v-if="paySlip.extension=='pdf'"
                               @click.native="downloadFile(paySlip.file,paySlip.dir,typeFile)">
                          <v-icon>open_in_browser</v-icon>
                        </v-btn>
                      </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </template>
            </v-tabs-content>
            <v-tabs-content id="tab-3-activities">
              <v-list three-line>
                <template v-for="(item, i) in activities">
                  <v-divider v-if="i > 0" :key="i"></v-divider>
                  <v-list-tile avatar :key="item.description">
                    <v-list-tile-avatar>
                      <img :src="$store.state.auth.user.avatar ? $store.state.auth.user.avatar : avatarDefault">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="item.description"></v-list-tile-title>
                      <v-list-tile-title class="hidden-xs-only" v-if="item.comment" v-html="item.comment"></v-list-tile-title>
                      <v-list-tile-title class="hidden-xs-only" v-if="item.start" v-html="item.start"></v-list-tile-title>

                        <v-layout>
                          <v-flex xs12 >
                            <span class="fc-center">{{ moment(item.created_at).fromNow() }}</span>
                            <router-link :to="item.link.to" class="hidden-xs-only text-md-right"></router-link>
                            <router-link :to="item.link.to"> <i class="material-icons rigth orange--text icon">zoom_in</i></router-link>
                          </v-flex>

                        </v-layout>

                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
              <v-divider></v-divider>
              <div class="text-xs-center pa-2">
                <v-pagination :length="totalPages" :disabled="loading" v-model="page" :total-visible="6"></v-pagination>
              </div>
            </v-tabs-content>
            <v-tabs-content id="tab-4-changes">
              <v-card>
                <v-data-table
                  v-bind:headers="headers"
                  :items="items.rows"
                  :total-items="items.total"
                  :pagination.sync="pagination"
                  :loading="loading"
                  :no-data-text="loading ? '' : 'no se encontraron resultados'">
                  <template slot="items" scope="props">
                    <td>{{ moment(props.item.created_at).format('DD/MM/YYYY h:m a') }}</td>
                    <td>{{ props.item.idStatus == 0 ? 'En espera' : (props.item.idStatus == 1 ? 'Aprobado' : 'Rechazado') }}</td>
                    <!--<td>
                      <v-btn icon class="primary&#45;&#45;text">
                        <v-icon>remove_red_eye</v-icon>
                      </v-btn>
                    </td>-->
                  </template>
                </v-data-table>
              </v-card>
            </v-tabs-content>
            <v-tabs-content id="tab-5-vacation">
              <v-card class="elevation-0 mt-3">
                <v-card-title class="pb-0" style="display: block!important;">
                  <v-toolbar-title class="primary--text body-1">Mis Vacaciones</v-toolbar-title>
                  <ul class="grey--text ma-0 pl-3" style="list-style-type: none!important;">
                    <li style="font-size: 11px">&bull; Saldo de vacaciones considerado al cierre del mes anterior</li>
                    <li style="font-size: 11px">&bull; Días de vacaciones expresados en días hábiles</li>
                  </ul>
                </v-card-title>
                <my-vacation :itemsMy="itemsMy" :headersMy="headersMy" :loading="loading"/>
              </v-card>
              <v-card class="elevation-0">
                <v-card-title class="pb-0 mt-3">
                  <v-toolbar-title class="primary--text body-1">Mis Colaboradores</v-toolbar-title>
                </v-card-title>
                <vacation-collaborator :itemsCol="itemsCol" :loading="loading" />
              </v-card>
            </v-tabs-content>

          </v-tabs>

        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="modalChange" persistent width="600px">
      <v-card class="default-modal" lazy absolute>
        <form @submit.prevent="submit('frm-ticket')" autocomplete="off">
          <v-card-title class="modal-row-title grey darken-3 ">
            <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
              Modificar datos
            </div>
          </v-card-title>
          <v-card-text :style="{height: $store.state.less600 ? '400px' : '400px',  overflowX: 'auto'}">
            <v-layout row wrap>
              <!-- NOMBRE Y APELLIDO -->
              <v-flex xs12 sm4>
                <v-subheader>Nombre y Apellido</v-subheader>
              </v-flex>
              <v-flex xs12 sm8>
                <v-layout row>
                  <v-flex xs6>
                    <v-text-field
                      v-model="profile.name.value"
                      single-line
                      hint="Nombre"
                      persistent-hint></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      v-model="profile.lastName.value"
                      single-line
                      hint="Apellido"
                      persistent-hint></v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>
            <!--</v-layout>
            <v-layout>-->
              <!-- EMAIL CORPORATIVO -->
              <v-flex xs12 sm4>
                <v-subheader>Email Corporativo</v-subheader>
              </v-flex>
              <v-flex xs12 sm8>
                <v-text-field
                  v-model="profile.email.value"
                  single-line
                  hint="Email"
                  persistent-hint></v-text-field>
              </v-flex>
            <!--</v-layout>
            <v-layout>-->
              <!-- TELEFONO -->
              <v-flex xs12 sm4>
                <v-subheader>Teléfono</v-subheader>
              </v-flex>
              <v-flex xs12 sm8>
                <v-text-field
                  v-model="profile.phone.value"
                  single-line
                  hint="Teléfono"
                  persistent-hint></v-text-field>
              </v-flex>
            <!--</v-layout>
            <v-layout>-->
              <!-- CUMPLEA;OS -->
              <v-flex xs12 sm4>
                <v-subheader>Cumpleaños</v-subheader>
              </v-flex>
              <v-flex xs12 sm8>
                <v-menu
                  lazy
                  :close-on-content-click="true"
                  v-model="menu"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-left="40"
                  max-width="290px">
                  <v-text-field
                    slot="activator"
                    v-model="profile.birthdate.value"
                    readonly></v-text-field>
                  <v-date-picker v-model="profile.birthdate.value" :date-format="date => moment(date).format('DD/MM/YYYY')" :formatted-value.sync="profile.birthdate.value" no-title scrollable actions></v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              flat
              @click.native="$emit('showModalChange', false)"
              class="primary--text">Cancelar</v-btn>

            <v-btn
              type="submit"
              primary
              :loading="loading"
              :disabled="loading">Enviar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>

    <v-fab-transition>
      <v-btn  primary dark  fab large @click.native.stop="showModal" class="btn-add-fixed">
        <v-icon>edit</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-container>
</template>
<script>
  import avatarDefault from '../../assets/images/avatar-default.png'
  import pdfDocument from '../../assets/images/boletas/pdf.png'
  import dirDocument from '../../assets/images/boletas/folders.png'
  // import coverContact from '../../assets/images/contact/contect-back.jpg'
  const coverContact = process.env.STYLES === 'DV' ? require('../../assets/images/contact/contect-back.jpg')
      : require('../../assets/images/contact/contect-back-cr.jpg')
  import MyVacation from '../../components/vacation/MyVacation.vue'
  import VacationCollaborator from '../../components/vacation/VacationCollaborator.vue'
  import {baseUrl, url, xmlHttpDownloadFile} from '../../api/'
  import moment from 'moment'
  import {isEqual} from 'lodash'
  export default {
    components: {MyVacation, VacationCollaborator},
    props: {
      paySlips: Array,
      paySlipsCTS: Array,
      headers: Array,
      headersMy: Array,
      loading: Boolean,
      fetchPayslips: Function,
      deleteFile: Function,
      activities: Array,
      modalChange: Boolean,
      dataProfile: Object,
      submitChange: Function,
      items: Object,
      itemsMy: Array,
      itemsCol: Array,
      fetchChanges: Function,
      fetchActivities: Function,
      totalAct: Number
    },
    data () {
      return {
        copied: false,
        avatarDefault: avatarDefault,
        pdfDocument: pdfDocument,
        dirDocument: dirDocument,
        covercontact: coverContact,
        typeFile: '',
        active: null,
        fecha: '',
        baseUrl: baseUrl,
        itemsDiv: [
          'PE37',
          'PE06',
          'PI01',
          'PE10'
        ],
        profile: {
          name: {
            key: 'Nombre',
            value: this.$store.state.auth.user.name
          },
          lastName: {
            key: 'Apellido',
            value: this.$store.state.auth.user.lastName
          },
          email: {
            key: 'Email',
            value: this.$store.state.auth.user.email
          },
          phone: {
            key: 'Teléfono',
            value: this.extractPhone(this.$store.state.auth.user.phones)
          },
          birthdate: {
            key: 'Cumpleaños',
            value: this.$store.state.auth.user.birthdate
          }
        },
        oldProfile: {
          name: {
            key: 'Nombre',
            value: this.$store.state.auth.user.name
          },
          lastName: {
            key: 'Apellido',
            value: this.$store.state.auth.user.lastName
          },
          email: {
            key: 'Email',
            value: this.$store.state.auth.user.email
          },
          phone: {
            key: 'Teléfono',
            value: this.extractPhone(this.$store.state.auth.user.phones)
          },
          birthdate: {
            key: 'Cumpleaños',
            value: this.$store.state.auth.user.birthdate
          }
        },
        diffProfile: [],
        pagination: {},
        menu: false,
        page: 1,
        totalPages: 1
      }
    },
    methods: {
      moment,
      openDir (type) {
        this.typeFile = type
        this.fetchPayslips(type)
      },
      downloadFile (name, fecha, typeFile) {
        var win = window.open('_blank')
        xmlHttpDownloadFile('GET', `${url}/boletas/download?nameDiv=${name}&fecha=${fecha}&typeFile=${typeFile}`, true, this.$store.state.auth.user.token).then(res => {
          win.location = URL.createObjectURL(res)
        })
      },
      deleteFiledir (name, fecha, typeFile) {
        this.deleteFile(name, fecha, typeFile)
      },
      showModal () {
        this.$emit('showModalChange', true)
      },
      getDiff (oldArry, newArray) {
        let keys = Object.keys(oldArry)
        keys.map(f => {
          if (oldArry[f].value !== newArray[f].value) {
            this.diffProfile.push(newArray[f])
          }
        })
        return this.diffProfile
      },
      submit () {
        if (isEqual(this.profile, this.oldProfile)) this.$store.commit('SET_MESSAGE', { msg: 'noChangeExists', type: 'error' })
        else {
          this.getDiff(this.oldProfile, this.profile)
          this.submitChange(this.diffProfile)
          this.diffProfile = []
        }
      },
      refreshChanges () {
        this.fetchChanges(this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      extractPhone (string) {
        if (string === null) return ''
        else if (string === 'null') return ''
        else if (string.trim() === '') return ''
        else return ''
      }
    },
    watch: {
      totalAct (value) {
        this.totalPages = parseInt(Math.round(value / 6))
      },
      page (value) {
        this.fetchActivities(6, value === 1 ? 0 : 6 * (value - 1))
      }
    },
    computed: {
      clonedItems () {
        return JSON.parse(JSON.stringify(this.profile))
      }
    },
    pagination: {
      handler () {
        this.refreshChanges()
      },
      deep: true
    },
    mounted () {
      console.log(this.$store.state.auth.user)
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalChange', false)
      })
    }
  }
</script>
