<template>
  <div>

  <div class="text-xs-ring">
    <v-btn success @click.native='syncOffice()'>
      Sincronizar Office 365
       <v-icon right dark>autorenew</v-icon>
    </v-btn>
    <v-btn success @click.native='syncGoogle()'>
      Sincronizar Google App
       <v-icon right dark>autorenew</v-icon>
    </v-btn>
    <v-btn success @click.native='newGroup()'>
      Cargar Excel
       <v-icon right dark>autorenew</v-icon>
    </v-btn>
    <v-btn success @click.native='syncHHRR()'>
      Sincronizar HHRR
       <v-icon right dark>autorenew</v-icon>
    </v-btn>

  </div>
    <v-layout row wrap>
      <!-- table contact-->
      <v-flex xs12>
        <v-card>
          <v-card-title>
            Lista de Colaboradores
            <v-spacer></v-spacer>
            <v-text-field
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                    v-model="search"
            />
            <v-btn icon @click.native="filterGroup()" class="grey--text text--darken-2" :loading="loading">
              <v-icon>refresh</v-icon>
            </v-btn>

          </v-card-title>
          <v-data-table
                  v-bind:headers="headers"
                  :items="items.rows"
                  class="elevation-1"
                  :loading="loading"
                  :no-data-text="loading ? '' : 'no se encontraron resultados'"
                  :pagination.sync="pagination"
                  :total-items="items.total"
                  :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
                  rows-per-page-text="Filas por página"

          >
            <template slot="items" scope="props">
              <td class="text-xs-left avatar">
                <v-btn icon small flat primary class="tb-action" @click.native="userDetail(props.item)">
                  <img :src="avatarDefault">
                </v-btn>
              </td>
              <td class="text-xs-left">{{ ucwords(strtolower(props.item.name))
                }}  {{ ucwords(strtolower(props.item.lastName)) }}
              </td>
              <td class="text-xs-left">{{ props.item.email }}</td>
              <td class="text-xs-left">{{ ucwords(strtolower(props.item.desPosition)) }}</td>
              <td class="text-xs-center">
                <v-btn icon small flat primary class="tb-action" @click.native="userDetail(props.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>


        </v-card>
      </v-flex>
    </v-layout>
    <!-- MODAL DETAIL USER -->
    <v-navigation-drawer
            right
            v-model="detailDrawer"
            absolute
            :style="{ width: detailDrawer ? '600px' : '240px', position: 'fixed'}">
      <v-card class="elevation-0 p-5">

          <v-card-media class="contact-avatar" :src="covercontact" height="300px">
            <v-btn icon class="white--text grey btn-close-contact" absolute @click.native="detailDrawer = !detailDrawer">
              <v-icon>close</v-icon>
            </v-btn>
            <v-list two-line class="contact-avatar-list">
                <v-list-tile avatar>
                  <v-list-tile-avatar>
                    <img :src="avatarDefault">
                  </v-list-tile-avatar>

                  <v-list-tile-content class="pl-4">
                    <v-list-tile-title class="white--text text-bold">{{detail.name}}</v-list-tile-title>
                    <v-list-tile-sub-title class="white--text text-bold">{{ detail.desPosition }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
            </v-list>
          </v-card-media>
        <div class="pt-5 pl-5 pr-5">
          <v-list three-line subheader>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Correo</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.email }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Nombre </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.name }} {{ detail.lastName }}</v-subheader>
              </v-flex>
            </v-layout>


            <v-layout row v-if="detail.phones != null">
              <v-flex xs4>
                <v-subheader>Móvil</v-subheader>
              </v-flex>
              <v-flex xs8 v-if="isJson(detail.phones)">
                <v-subheader>
                 <div v-for="(item,key) in JSON.parse(detail.phones)">
                  <span v-if="item.type === 'mobile'">{{ item.value }}</span>
                 </div>
                </v-subheader>
              </v-flex>
               <v-flex xs8 v-else>
                <v-subheader>
                 <div>
                  <span>{{ changeString(detail.phones) }}</span> &nbsp;
                 </div>
                </v-subheader>
              </v-flex>
            </v-layout>

            <v-layout row v-if="detail.phones != null">
              <v-flex xs4>
                <v-subheader>Anexo</v-subheader>
              </v-flex>
              <v-flex xs8 v-if="isJson(detail.phones)">
                <v-subheader>
                 <div v-for="(item,key) in JSON.parse(detail.phones)">
                  <span v-if="item.type === 'work'">{{ item.value }}</span>
                 </div>
                </v-subheader>
              </v-flex>
              <v-flex xs8 v-else>
                <v-subheader>
                 <span>No Definido</span>
                </v-subheader>
              </v-flex>
            </v-layout>

            <v-layout row>
              <v-flex xs4>
                <v-subheader>Cumpleaños </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader> {{ detail.birthdate | moment }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Sucursal </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desDivisions }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Posición </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desPosition }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Gerencia </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desSubManagement }}</v-subheader>
              </v-flex>
            </v-layout>
            <!--v-layout row>
              <v-flex xs4>
                <v-subheader>Departamento </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desDepartment }}</v-subheader>
              </v-flex>
            </v-layout-->
            <!--v-layout row>
              <v-flex xs4>
                <v-subheader>Área </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desArea }}</v-subheader>
              </v-flex>
            </v-layout-->
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Role </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>
                  <v-select
                          class="grey--text"
                          single-line
                          hide-details
                          :items="groupList"
                          label="Roles Usuario"
                          v-model="detail.idRole"
                          item-text="roleName"
                          item-value="idRole"
                          @change="updateUserRole"
                  ></v-select>
                </v-subheader>
              </v-flex>
            </v-layout>

           <v-layout row>
              <v-flex xs4>
                <v-subheader>Status</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>
                  <v-select
                          class="grey--text"
                          single-line
                          hide-details
                          :items="statusList"
                          label="Status Usuario"
                          v-model="detail.idStatus"
                          item-text="statusName"
                          item-value="idStatus"
                          @change="updateUserStatus"
                  ></v-select>
                </v-subheader>
              </v-flex>
            </v-layout>
          </v-list>
        </div>

        </v-card>
    </v-navigation-drawer>
    <!-- MODAL DETAIL USER //-->

    <!-- Modal upload Excel-->
    <v-dialog v-model="modalGroup" persistent width="400px">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text">CARGAR EXCEL </div>
        </v-card-title>
        <form @submit.prevent="submited('frm-New-Group')" data-vv-scope="frm-New-Group" autocomplete="off" enctype="multipart/form-data">
          <v-card-text>
                <label class="btn btn--raised primary" style="padding: 15px;">
                  <v-icon>unarchive</v-icon>
                  Buscar Archivo
                  <file-upload
                    style="display: block !important;z-index:10;"
                    :name="name"
                    :extensions="extensions"
                    :accept="accept"
                    :multiple="multiple"
                    :directory="directory"
                    :size="size || 0"
                    :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                    :drop="drop"
                    :dropDirectory="dropDirectory"
                    v-model="files"
                    @input-file="inputFile"
                    ref="upload">
                  </file-upload>
                </label>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
        <v-btn class="primary--text" flat  @click.native="$emit('showModalGroup', false)">Cerrar</v-btn>
        <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text">Cargar</v-btn>
        </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
    <!-- Modal upload zip //-->


  </div>
</template>
<script>
  import avatarDefault from '../../assets/images/avatar-default.png'
  const coverContact = process.env.STYLES === 'DV' ? require('../../assets/images/contact/contect-back-cr.jpg')
      : require('../../assets/images/contact/contect-back-cr.jpg')
  import moment from 'moment'
  import {baseUrl, url} from '../../api/'
  import FileUpload from 'vue-upload-component'
  export default {
    components: { FileUpload },
    props: {
      items: Object,
      headers: Array,
      loading: Boolean,
      modalGroup: Boolean,
      filterGroup: Function,
      updateContact: Function,
      limit: Number,
      offset: Number,
      loadGroup: Function,
      groupList: Array,
      statusList: Array,
      uploadZip: Function
    },
    data () {
      return {
        baseUrl: baseUrl,
        detailDrawer: false,
        avatarDefault: avatarDefault,
        covercontact: coverContact,
        group: {},
        idStatus: '',
        search: '',
        pagination: {
          rowsPerPage: 10
        },
        multiple: true,
        directory: false,
        thread: 3,
        detail: {
          idUser: '',
          email: '',
          idRole: '',
          idStatus: '',
          birthdate: '',
          url: '',
          typeContact: ''
        },
        name: 'file',
        drop: false,
        dropDirectory: false,
        accept: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        size: 1024 * 1024 * 10,
        extensions: 'xls,xlsx',
        files: []
      }
    },
    methods: {
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      submited (scope) {
        let fd = new FormData()
        fd.append('fileExcel', this.files[0].file)
        this.uploadZip(fd)
      },
      moment: function () {
        return moment()
      },
      userDetail (item) {
        this.detail = item
        this.detailDrawer = true
      },
      newGroup () {
        this.$emit('showModalGroup', true)
        this.group = {}
      },
      formValidate (field) {
        if (this.formErrors.has(field)) return this.formErrors.first(field)
        return true
      },
      editGroup (typeContact, name) {
        this.$emit('showModalGroup', true)
        this.group.nameGroup = name
        this.group.id = typeContact
      },
      isJson (str) {
        if (str.length > 15) return true
      },
      refreshTable () {
        this.filterGroup(null, this.search, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      syncOffice () {
        var accessToken = this.$store.state.auth.user.tokenOffice.access_token
        var refreshToken = this.$store.state.auth.user.tokenOffice.refresh_token
        window.open(`${url}/office/syncup?access_token=${accessToken}&refresh_token=${refreshToken}`, 'width=300,height=400')
      },
      syncGoogle () {
        window.open(`${url}/google/syncup`, 'width=300,height=400')
      },
      syncHHRR () {
        window.open(`${url}/hcm/getfecth`, 'width=300,height=400')
      },
      updateUserRole (value) {
        this.detail.idRole = value
        this.updateContact(this.detail)
      },
      updateUserStatus (value) {
        this.detail.idStatus = value
        this.updateContact(this.detail)
      },
      ucwords (str) {
        if (str != null) {
          return (str + '').replace(/^([a-z])|\s+([a-z])/g, function ($1) {
            return $1.toUpperCase()
          })
        }
      },
      strtolower (str) {
        if (str != null) {
          return (str + '').toLowerCase()
        }
      }
    },
    watch: {
      search () {
        this.search.length >= 3 ? this.$emit('search', this.search) : null
      },
      pagination: {
        handler () {
          this.refreshTable()
        },
        deep: true
      }
    },
    filters: {
      moment: function (date) {
        return moment(date).format('D MMMM')
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalGroup', false)
      })
    }
  }
</script>
