<template>
    <GridEvets :items="items" :loading="loading" :title="title" :tabs="tabs" :areas="areas"/>
</template>
<script>
  import GridEvets from '../../components/events/GridEvents.vue'
  export default {
    components: {GridEvets},
    data () {
      return {
        items: {
          rows: [],
          total: null
        },
        areas: [],
        loading: false,
        title: 'Eventos internos',
        tabs: [
          {
            text: 'Eventos Generales',
            type: 2
          },
          {
            text: 'Mis Eventos',
            type: 1
          }
        ]
      }
    },
    methods: {
      fetchEventsForAll (limit = 10, offset = 0) {
        this.$store.dispatch('fetchEventsForAll', {limit, offset, idUser: true}).then(res => {
          this.items = res.data
        })
      },
      fetchAreas () {
        this.$store.dispatch('fetchAreaSelect').then((res) => {
          this.areas = res.data
        })
      }
    },
    mounted () {
      this.fetchEventsForAll()
      this.fetchAreas()
    }
  }
</script>
