<template>
    <div style="max-width: 1280px; margin: 0 auto" v-if="event">
        <v-layout row wrap>
            <v-flex xs12 sm6 md7>
                <v-btn flat  class="grey--text btn-content-p-0" to="/events">
                    <v-icon left primary>place</v-icon>
                    Eventos internos
                </v-btn>
                <v-card>
                    <v-card-media >
                        <img :src="`${baseUrl}/files/event/${event.coverPhoto}`">
                    </v-card-media>
                    <v-card-text primary-title class="pt-5 pb-5">
                        <v-layout>
                            <v-flex xs2 class="aling-top-center">
                                <div class="orange darken-2 text-xs-center w-40 pa-1">
                                    <v-icon class="white--text" >place</v-icon>
                                </div>
                            </v-flex>
                            <v-flex xs10>
                                <div>
                                    <h3 class="headline orange--text text--darken-2 ">{{event.title}}</h3>
                                    <p class="grey--text text--darken-1 truncate-text" :class="{'row-4': !showMore}">{{event.detail}} </p>
                                    <a href="javascrit:void(0)" v-if="!showMore" @click="showMore = true" class="orange--text">leer mas...</a>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12 sm6 md5 class="pa-2 pt-5">
                <v-layout row wrap>
                    <div class="flex xs6 pt-1 pb-1 white elevation-1" style="font-size: 13px !important;text-transform: none;">
                        <v-icon class="orange darken-2 white--text w-30">event</v-icon> {{dateFormat(event.startDate, 'dddd DD MMM')}}
                    </div>
                    <div class="flex xs6 pt-1 pb-1 white elevation-1" style="font-size: 13px !important;text-transform: none;">
                        <v-icon class="orange darken-2 white--text w-30">access_time</v-icon> {{event.hour}}
                    </div>

                    <v-flex xs12 class="mt-2 pa-0">
                        <v-card>
                            <h5 class="ma-0 pa-2 headline grey--text text--darken-1">{{JSON.parse(event.location).text}}</h5>

                            <v-divider light/>
                            <v-card-actions class="pa-3">
                                <v-btn primary @click="confirmEvent"  :loading="loading" :disabled="loading" style="font-size: 13px !important;text-transform: none;">
                                    <v-icon class="pr-2 white--text">{{event.signedUp ? 'remove' : 'add'}}</v-icon>
                                    {{event.signedUp ? 'Salir' : 'inscribirse'}}
                                </v-btn>
                                <v-btn target="_blank"
                                       style="font-size: 13px !important;text-transform: none;"
                                       :href="`https://addtocalendar.com/atc/google?utz=-240&uln=es&vjs=1.5&e[0][date_start]=${event.startDate}%20${(event.hour.replace(':', '%3A').replace('am', '').replace('pm', ''))}&e[0][date_end]=${event.endDate}%20${(event.hourend.replace(':', '%3A').replace('am', '').replace('pm', ''))}&e[0][timezone]=America%2FLima&e[0][title]=${event.title}&e[0][description]=${event.summary}&e[0][location]=@${JSON.parse(event.location).lat}, ${JSON.parse(event.location).lng}&e[0][organizer]=DiveMotor&e[0][organizer_email]=`"
                                       class="grey lighten-3 grey--text text--darken-2">Agregar al calendario</v-btn>
                            </v-card-actions>

                            <gmap-map v-if="event.location" :style="mapStyle"
                                      :center="JSON.parse(event.location)"
                                      :zoom="15"
                                      map-type-id="terrain"
                                      class="vue-map"
                                      :options="mapOptions"
                            >
                                <gmap-marker :position="JSON.parse(event.location)">
                                </gmap-marker>
                            </gmap-map>
                        </v-card>
                    </v-flex>
                </v-layout>

            </v-flex>

        </v-layout>
    </div>
</template>
<script>
  import {baseUrl} from '../../api'
  import {dateFormat} from '../../plugins/moment'
  export default {
    data () {
      return {
        id: this.$route.params.id,
        baseUrl,
        event: null,
        showMore: false,
        mapStyle: {
          width: '100%',
          height: '400px'
        },
        loading: false,
        mapOptions: {
          draggable: false,
          scrollwheel: false,
          keyboardShortcuts: false,
          zoomControl: false,
          disableDoubleClickZoom: true,
          mapTypeControl: false,
          streetViewControl: false
        }
      }
    },
    methods: {
      fetchEvent (id = this.id) {
        this.loading = true
        this.$store.dispatch('fetchDetail', {id}).then((res) => {
          this.event = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data, type: 'error' })
          this.loading = false
        })
      },
      dateFormat,
      confirmEvent () {
        this.loading = true
        this.$store.dispatch('confirmEvent', {idEvent: this.id, flag: (this.event.signedUp ? 'false' : 'true')}).then((res) => {
          this.fetchEvent()
          this.$store.commit('SET_MESSAGE', { msg: '', type: 'info' })
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data, type: 'error' })
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchEvent()
    },
    '$route.params.id' () {
      this.id = this.$route.params.id
      this.fetchEvent()
    }
  }
</script>

