<template>
  <div>
    <v-card>
      <v-card-title>
        <v-layout row wrap style="width: 50%">
          <v-flex xs12 md6>
            <v-select
              class="mt-3 ml-3"
              label="Sucursal"
              :items="itemSede"
              v-model="sede"
              itemText="text"
              itemValue="value"
              bottom
              autocomplete></v-select>
          </v-flex>
          <v-flex xs12 md6>
            <v-select
              class="mt-3 ml-3"
              :items="itemsStatus"
              v-model="statuSearch"
              label="Estado"
              bottom></v-select>
          </v-flex>
        </v-layout>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="refreshTable()" class="grey--text text--darken-2" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="items.rows"
        :total-items="items.total"
        :loading="loading"
        :pagination.sync="pagination"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
        rows-per-page-text="Filas por página">
        <template slot="items" scope="props">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.ticketType }}</td>
          <td>{{ props.item.name }} {{ props.item.lastName }}</td>
          <td>{{ dateFormat(props.item.created_at, 'DD/MM/YYYY hh:mm a') }}</td>
          <td v-if="isAdmin">
            <v-select
              style="margin: 0 !important;padding-top: 15px!important;text-align: center;"
              :items="status"
              :value="props.item.idStatus"
              single-line>
              <template slot="selection" scope="data">
                <v-btn small :class="statusClasses[data.item.value]" class="elevation-0" :raised="false" :ripple="false">{{ data.item.text }}</v-btn>
              </template>
              <template slot="item" scope="data">
                <div v-on:click="setStatus(props.item.id, data.item.value)" class="text-xs-center" style="width: 90%">
                  <v-btn style="width: 100%!important;min-height: 0!important;" small :class="statusClasses[data.item.value]" class="elevation-0" :raised="false" :ripple="false">{{ data.item.text }}</v-btn>
                </div>
              </template>
            </v-select>
          </td>
          <td>
            <v-btn icon class="primary--text" @click.native="showDetail(props.item)">
              <v-icon light>visibility</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="modalDetail" persistent scrollable width="600" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">Detalle del Ticket</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 400px;">
          <v-layout class="pt-3">
            <v-flex xs3>
              <b>Máscara de servicio</b>
            </v-flex>
            <v-flex xs7>{{detail.component}}</v-flex>
            <v-flex xs1><b>Cod.</b></v-flex>
            <v-flex xs1>{{detail.idComponent}}</v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs3>
              <b>Servicio</b>
            </v-flex>
            <v-flex xs7>{{detail.desComponent}}</v-flex>
            <v-flex xs1><b>Cod.</b></v-flex>
            <v-flex xs1>{{detail.idComponent}}</v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs3>
              <b>Clasificación</b>
            </v-flex>
            <v-flex xs7>{{detail.classification}}</v-flex>
            <v-flex xs1><b>Cod.</b></v-flex>
            <v-flex xs1>{{detail.idClassification}}</v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs3>
              <b>Tipo de ticket</b>
            </v-flex>
            <v-flex xs7>{{detail.ticketType}}</v-flex>
            <v-flex xs1><b>Cod.</b></v-flex>
            <v-flex xs1>{{detail.idType}}</v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs3>
              <b>Teléfono directorio</b>
            </v-flex>
            <v-flex xs9><span v-for="item in detail.phones">{{item.value}}&nbsp;-&nbsp;</span></v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs3>
              <b>Teléfono contacto</b>
            </v-flex>
            <v-flex xs9>{{ detail.phone }}</v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs12><b>Descripción</b></v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12><div v-html="detail.description" class="description--ticket-detail"></div></v-flex>
          </v-layout>
          <v-divider class="mt-3"></v-divider>
          <v-layout class="pt-3">
            <v-flex xs12><b>Evidencias</b></v-flex>
            <v-flex xs12>
              <div v-for="(item, key) in detail.files">
                <a :href="url + item.href" download>{{ item.name }}</a>
              </div>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModal" class="primary--text">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import Headquarters from '../shared/Headquarters.vue'
  import {baseUrl} from '../../api/'
  import {dateFormat} from '../../plugins/moment'
  export default {
    components: {Headquarters},
    props: {
      headers: Array,
      items: Object,
      loading: Boolean,
      fetchTickets: Function,
      updateStatus: Function,
      limit: Number,
      offset: Number,
      sedes: Array,
      updated: Boolean,
      isAdmin: Boolean
    },
    data () {
      return {
        pagination: {},
        status: [
          {
            value: 0,
            text: 'Solicitado'
          },
          {
            value: 1,
            text: 'Aprobado'
          },
          {
            value: 2,
            text: 'Rechazado'
          },
          {
            value: 6,
            text: 'Archivado'
          }
        ],
        modalDetail: false,
        itemsStatus: [
          {
            value: -1,
            text: 'Todos'
          },
          {
            value: 0,
            text: 'Solicitado'
          },
          {
            value: 1,
            text: 'Aprobado'
          },
          {
            value: 2,
            text: 'Rechazado'
          }
        ],
        statuSearch: -1,
        detail: {
          tickettype: '',
          servicetype: '',
          service: '',
          component: '',
          desComponent: '',
          idComponent: '',
          classification: '',
          idClassification: '',
          specification: '',
          phone: '',
          phones: [],
          subject: '',
          description: '',
          idType: '',
          ticketType: '',
          files: []
        },
        url: baseUrl,
        itemSede: [],
        sede: '',
        bStatus: ['Solicitado', 'Aprobado', 'Rechazado', '', '', '', 'Archivado'],
        statusClasses: ['default', 'success', 'error', '', '', '', 'warning']
      }
    },
    methods: {
      dateFormat,
      showDetail (item) {
        this.detail.servicetype = item.service_type
        this.detail.service = item.service
        this.detail.component = item.component
        this.detail.desComponent = item.desComponent
        this.detail.idComponent = item.idComponent
        this.detail.classification = item.classification
        this.detail.idClassification = item.idClassification
        this.detail.subject = item.subject
        this.detail.phone = item.phone
        this.detail.phones = item.phones !== null ? JSON.parse(item.phones) : []
        this.detail.description = item.description
        this.detail.idType = item.idType
        this.detail.ticketType = item.ticketType
        item.file.split(',').map((f) => {
          this.detail.files.push({name: f, href: '/File/ticket/' + f})
        })
        this.modalDetail = true
      },
      hideModal () {
        this.modalDetail = false
        this.detail.files = []
      },
      refreshTable () {
        this.sede = ''
        this.fetchTickets(null, null, null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      setStatus (item, status) {
        this.updateStatus(item, status)
        if (this.updated) {
          this.fetchTickets(null, null, null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
        }
      }
    },
    watch: {
      pagination: {
        handler () {
          this.refreshTable()
        },
        deep: true
      },
      sede (value) {
        this.fetchTickets(value, null, this.statuSearch, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      sedes () {
        this.itemSede = this.sedes
      },
      statuSearch (value) {
        this.fetchTickets(this.sede, null, value, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    }
  }
</script>
