<template>
    <v-layout row justify-center>
        <v-dialog v-model="modalShow" persistent  width="400px">
            <v-card class="default-modal" lazy absolute>
                <form @submit.prevent="submitModule" autocomplete="off">
                    <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
                        <div class="headline white--text">Modulo</div>
                        <v-spacer></v-spacer>
                        <v-btn icon class="white--text" @click.native="$emit('show', false)">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text :style="{height: $store.state.less600 ? '400px' : '400px',  overflowX: 'auto'}">
                        <v-layout row>
                            <v-flex xs12>

                                <v-text-field
                                        v-model="module.name"
                                        name="title"
                                        label="Nombre"
                                        :rules="[formValidate('name', module.name)]"
                                />

                                <v-text-field
                                        v-model="module.to"
                                        label="Ruta"
                                        :rules="[formValidate(module.to)]"
                                />

                                <v-subheader v-text="'Icono'" class="grey--text text--darken-3 pl-0"/>


                                <v-menu
                                        lazy
                                        :close-on-content-click="false"
                                        transition="v-scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-left="40"
                                        max-width="290px"
                                        class="mb-2"
                                >
                                    <v-btn class="grey--text text--darken-3" slot="activator">
                                        <v-icon>{{module.icon}}</v-icon>
                                    </v-btn>

                                    <v-list class="list-icons">
                                        <v-list-tile @click="() => { module.icon = null}">
                                            Ninguno
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'view_module'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">view_module</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'import_contacts'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">import_contacts</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'receipt'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">receipt</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'account_balance'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">account_balance</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'person'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">person</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'supervisor_account'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">supervisor_account</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'description'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">description</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'assignment_ind'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">assignment_ind</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'event'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">event</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'restaurant'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">restaurant</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'photo'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">photo</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'notifications_active'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">notifications_active</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'dns'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">dns</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'wb_sunny'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">wb_sunny</v-icon>
                                        </v-list-tile>
                                        <v-list-tile @click="() => { module.icon = 'timeline'}">
                                            <v-icon class="grey--text text--darken-2 mar-auto">timeline</v-icon>
                                        </v-list-tile>
                                    </v-list>
                                </v-menu>

                                <v-select
                                        :items="headers"
                                        v-model="module.header"
                                        label="Header"
                                        bottom
                                />


                                <v-select
                                        :items="parents"
                                        v-model="module.parent"
                                        label="Padre"
                                        bottom
                                />

                                <v-select
                                        :items="interArr"
                                        v-model="module.internal"
                                        label="Interno"
                                        bottom
                                />

                                <v-select
                                        :items="system"
                                        v-model="module.system"
                                        label="Sistemas"
                                        bottom
                                        multiple
                                        chips
                                />


                                <v-select
                                        :items="activeArr"
                                        v-model="module.active"
                                        label="Activo"
                                        bottom
                                        :rules="[validateSelect(module.active)]"
                                />

                            </v-flex>
                        </v-layout>

                    </v-card-text>
                </form>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="$emit('show', false)">Cancelar</v-btn>
                    &nbsp;&nbsp;
                    <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text"
                           @click="submitModule">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-fab-transition>
            <v-btn primary dark absolute fab right large @click="add" style="bottom: 0">
                <v-icon>add</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-layout>
</template>
<script>
  import isEmpty from 'lodash/isEmpty'
  import {dateFormat} from '../../plugins/moment'
  export default{
    props: {
      modalShow: Boolean,
      submit: Function,
      modules: Array,
      loading: Boolean,
      row: Object
    },
    data () {
      return {
        validated: false,
        isValid: false,
        module: {
          id: 0,
          name: null,
          active: true,
          parent: null,
          icon: null,
          to: null,
          internal: true,
          header: 1,
          system: [1, 2]
        },
        interArr: [
          {
            value: true, text: 'Si'
          },
          {
            value: false, text: 'No'
          }
        ],
        activeArr: [
          {value: true, text: 'Activo'},
          {value: false, text: 'Inactivo'}
        ],
        headers: [
          {value: 1, text: 'General'},
          {value: 2, text: 'Administración'}
        ],
        parents: [],
        system: [
          {value: 'DV', text: 'Dive Motor'},
          {value: 'CR', text: 'Auto Start'}
        ]
      }
    },
    methods: {
      dateFormat,
      add () {
        this.validated = false
        this.module = {
          id: 0,
          name: null,
          active: true,
          parent: null,
          icon: null,
          to: null,
          internal: true,
          header: 1,
          system: ['DV', 'CR']
        }
        this.$emit('show', true)
      },
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      },
      validateSelect (obj, field) {
        if (!obj && this.validated) return 'Campo requerido'
        return true
      },
      submitModule () {
        this.validated = true
        var $this = this
        if (this.module.name) {
          setTimeout(() => {
            $this.submit(this.module)
          }, 400)
        }
      }
    },
    watch: {
      row () {
        if (!isEmpty(this.row)) {
          try {
            this.row.system = JSON.parse(this.row.system)
          } catch (e) {
            this.row.system = this.row.system
          }
          this.module = this.row
        }
      },
      modules () {
        this.parents = []
        let arr = []
        this.modules.map(m => {
          arr.push({value: m.id, text: m.name})
        })
        this.parents = arr
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('show', false)
      })
    }
  }
</script>
