<template>
  <v-card v-if="items.length > 0" class="elevation-0 mb-3" style="background: transparent">
    <v-progress-linear v-if="loading" :indeterminate="true" class="mt-0 "/>
    <!--<v-carousel v-model="carousel" v-if="items.length > 0" :interval="8000" class="widgets-birthday elevation-8" :style="{visibility: isRender ? 'visible' : 'hidden'}">
      <v-carousel-item src="" v-for="(item,i) in items" :key="i" >
        <div to="birthday/all" class="carousel__item">
          <div class="back-image">
            <div class="title">
              <img src="../../assets/images/birthday/congarulate.png">
            </div>
            <div class="avatar-container ">
              <img :src="item.avatar ? `${item.avatar}?sz=400` : avatarDefault">
            </div>
            <div style="text-align: center">
              <span class="birthday-name grey&#45;&#45;text text&#45;&#45;darken-2 pt-2 pl-2 pr-2">{{item.name.split(' ')[0]}} {{item.lastName.split(' ')[0]}}</span>
              <small class="grey&#45;&#45;text text&#45;&#45;darken-1" style="font-size: 13px; padding-top: 5px;">{{item.desPosition}}</small>
            </div>
          </div>
          <span style="border: 5px solid #F68B1E; width: 100%"></span>
          <form v-if="!item.congratulated" class="frm-congratulate pl-2 pr-2">
            <v-layout row>
              <v-flex xs10 class="aling-middle-center pa-0 emoji-content">
                <textarea :class="`birthdayEmojis ${i}`" :data-index="i"></textarea>
              </v-flex>
              <v-flex xs2 class="pa-0">
                <v-btn icon @click.native="clickSend(item, i)" di>
                  <v-icon primary>send</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </form>
        </div>
      </v-carousel-item>
    </v-carousel>-->
    <!--<flickity  ref="flickity" :options="flickityOptions" :style="{visibility: isRender ? 'visible' : 'hidden'}" class="widgets-birthday elevation-8">-->
    <!--<Slick ref="slick" :options="slickOptions" class="widgets-birthday elevation-8" >
      <div to="birthday/all" v-for="(item,i) in items" src="" :key="i"  class="slick-item">
        <div class="carousel__item">
        <div class="back-image">
          <div class="title">
            <span class="birthday-name text&#45;&#45;darken-2 pt-2 pl-2 pr-2 primary&#45;&#45;text" style="font-size: 16px" >{{dateFormat(item.birthdate, 'DD')}} de {{dateFormat(item.birthdate, 'MMMM')}}</span>
            <img src="../../assets/images/birthday/congarulate.png">
          </div>
          <div class="avatar-container ">
            <img :src="item.avatar ? `${item.avatar}?sz=400` : avatarDefault">
          </div>
          <div style="text-align: center">
            <span class="birthday-name grey&#45;&#45;text text&#45;&#45;darken-2 pt-2 pl-2 pr-2">{{item.name.split(' ')[0]}} {{item.lastName}}</span>
            <small class="grey&#45;&#45;text text&#45;&#45;darken-1" style="font-size: 13px; padding-top: 5px;">{{item.desPosition}}</small>
            <br/>
            <small class="grey&#45;&#45;text text&#45;&#45;darken-1" style="font-size: 13px; padding-top: 5px;">{{item.divition}}</small>
          </div>
        </div>
        <span style="border: 5px solid #F68B1E; width: 100%"></span>
        <form  class="frm-congratulate pl-2 pr-2">
          <v-layout row>
            <v-flex xs10 class="aling-middle-center pa-0 emoji-content">
              <textarea :class="`birthdayEmojis ${i}`" :data-index="i"></textarea>
            </v-flex>
            <v-flex xs2 class="pa-0">
              <v-btn icon @click.native="clickSend(item, i)" di>
                <v-icon primary>send</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </form>
        </div>
      </div>
    </Slick>-->
    <!--</flickity>-->

    <flickity  ref="flickity" :options="flickityOptions" :style="{visibility: isRender ? 'visible' : 'hidden'}" class="widgets-birthday elevation-8">
      <div to="birthday/all" v-for="(item,i) in items" src="" :key="i" class="carousel__item">
        <div class="back-image">
          <div class="title">
            <span class="birthday-name text--darken-2 pt-2 pl-2 pr-2 primary--text" style="font-size: 16px" >{{dateFormat(item.birthdate, 'DD')}} de {{dateFormat(item.birthdate, 'MMMM')}}</span>
            <img src="../../assets/images/birthday/congarulate.png">
          </div>
          <div class="avatar-container ">
            <img :src="item.avatar ? `${item.avatar}?sz=400` : avatarDefault">
          </div>
          <div style="text-align: center">
            <span class="birthday-name grey--text text--darken-2 pt-2 pl-2 pr-2">{{item.name.split(' ')[0]}} {{item.lastName}}</span>
            <small class="grey--text text--darken-1" style="font-size: 13px; padding-top: 5px;">{{item.desPosition}}</small>
            <br/>
            <small class="grey--text text--darken-1" style="font-size: 13px; padding-top: 5px;">{{item.divition}}</small>
          </div>
        </div>
        <span style="border: 5px solid #F68B1E; width: 100%"></span>
        <form  class="frm-congratulate pl-2 pr-2" v-if="!item.congratulated">
          <v-layout row>
            <v-flex xs10 class="aling-middle-center pa-0 emoji-content">
              <textarea :class="`birthdayEmojis ${i}`" :data-index="i"></textarea>
            </v-flex>
            <v-flex xs2 class="pa-0">
              <v-btn icon @click.native="clickSend(item, i)" di>
                <v-icon primary>send</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </form>
      </div>
    </flickity>
  </v-card>
</template>
<script>
  import avatarDefault from '../../assets/images/avatar-default.png'
  import {dateFormat} from '../../plugins/moment'
  import Flickity from 'vue-flickity'
  import Slick from 'vue-slick'
  import moment from 'moment'
  const $ = window.$
  export default{
    components: {Flickity, Slick},
    props: {
      items: Array,
      loading: Boolean,
      sendCongratilation: Function
    },
    data () {
      return {
        avatarDefault: avatarDefault,
        isRender: false,
        carousel: 0,
        flickityOptions: {
          initialIndex: 0,
          prevNextButtons: true,
          pageDots: false,
          freeScroll: true,
          wrapAround: true,
          draggable: false,
          autoPlay: 8000
        },
        slickOptions: {
          lazyLoad: 'ondemand',
          pauseOnFocus: false,
          pauseOnHover: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 6000,
          arrows: true,
          prevArrow: '<div class="carousel__left"><button type="button" class="btn btn--icon btn--raised theme--dark" style="position: relative;"><div class="btn__content"><i class="material-icons icon">chevron_left</i></div></button></div>',
          nextArrow: '<div class="carousel__right"><button type="button" class="btn btn--icon btn--raised theme--dark"><div class="btn__content"><i class="material-icons icon">chevron_right</i></div></button></div>'
        }
      }
    },
    methods: {
      dateFormat,
      clickSend (item, i) {
        this.sendCongratilation(i, $(`.birthdayEmojis.${i}`)[0].emojioneArea.getText())
      },
      isWeekend (date) {
        try {
          var dataBirth = date.split('-')
          var nowBrith = dateFormat(new Date(), 'YYYY-MM-DD').split('-')
          var day = moment(new Date()).day()
          if (day === 5 && nowBrith[2] === dataBirth[2] || day === 6 && nowBrith[2] === dataBirth[2] || day === 0 && nowBrith[2] === dataBirth[2]) return true
          else return false
        } catch (e) {
          return false
        }
      }
    },
    watch: {
      'items' () {
        let sendC = this.sendCongratilation
        setTimeout(() => {
          if (this.items.length > 0) {
            // this.$refs.slick.reSlick(this.slickOptions)
            this.$refs.flickity.rerender()
            setTimeout(() => {
              this.isRender = true
              $('.birthdayEmojis').emojioneArea({
                pickerPosition: 'top',
                filtersPosition: 'bottom',
                tones: false,
                autocomplete: false,
                inline: true,
                hidePickerOnBlur: false,
                events: {
                  keyup: function (editor, e) {
                    if (e.keyCode === 13) {
                      sendC(editor.closest('div.emoji-content').find('textarea').attr('data-index'), this.getText())
                    }
                  }
                }
              })
            }, 400)
          }
        }, 100)
      }
    }
  }
</script>
