<template>
  <div class="mb-3">
    <v-progress-linear v-if="loading" :indeterminate="true" class="mt-0"/>
    <v-carousel v-model="carousel" v-if="items.length > 0" :interval="8000" class="widgets-communicated elevation-8" :style="{visibility: isRender ? 'visible' : 'hidden'}">
      <v-carousel-item src="" v-for="(item,i) in items" :key="i" >
        <router-link :to="`/general/communicated/${item.id}`"  class="carousel__item" >
          <div class="carousel-caption">
            <h4 class="grey--text text--darken-2">{{item.title}}</h4>
            <div class="grey--text text--darken-2" v-html="item.summary"></div>
          </div>
          <!--<div  class="img-container" :style="{backgroundImage: `url(${item.images.widgetcommunique})`}">-->
          <div  class="img-container text-md-right">
            <img :src=item.images.large style=" text-align: right; height: 100%"/>
          </div>
        </router-link>
      </v-carousel-item>
    </v-carousel>
    <!--<flickity  ref="flickity" :options="flickityOptions" :style="{visibility: isRender ? 'visible' : 'hidden'}" class="widgets-communicated elevation-8">
        <router-link :to="`/general/communicated/${item.id}`" v-for="(item,i) in items" src="" :key="i"  class="carousel__item" >
          <div class="carousel-caption">
            <h4 class="grey&#45;&#45;text text&#45;&#45;darken-2">{{item.title}}</h4>
            <div class="grey&#45;&#45;text text&#45;&#45;darken-2" v-html="item.summary"></div>
          </div>
          <div  class="img-container" :style="{backgroundImage: `url(${item.images.widgetcommunique})`}">
          </div>
        </router-link>
    </flickity>-->
  </div>
</template>
<script>
  import Flickity from 'vue-flickity'
  export default{
    components: {Flickity},
    props: {
      items: Array,
      loading: Boolean
    },
    data () {
      return {
        isRender: false,
        carousel: 0,
        flickityOptions: {
          initialIndex: 0,
          prevNextButtons: true,
          pageDots: true,
          wrapAround: true,
          autoPlay: 10000
        }
      }
    },
    methods: {
    },
    watch: {
      'items' () {
        if (this.items.length > 0) {
          this.isRender = true
        }
        /* setTimeout(() => {
          this.$refs.flickity.rerender()
          this.isRender = true
        }, 400) */
      }
    }
  }
</script>
