<template>
  <div>
    <v-card class="elevation-8 mb-3" v-if="items.length > 0">
      <v-carousel v-if="items.length > 0" :interval="8000" class="widgets-communicated elevation-8" style="height: 250px">
        <v-carousel-item src="" v-for="(item,i) in items" :key="i" >
          <a :href="item.type === 1 ? item.urlPath : `webrun:${item.urlPath}`" :target="item.type === 1 ? item.urlPath !=='#' ? 'blank' : null : null" class="carousel__item">
           <!--- <div :style="{ width:`100%`; height:`100%`; backgroundImage: `url(${baseUrl}/files/link/${item.iconPath})`}">
            </div>-->
            <div class="pt-5">
              <img :src="`${baseUrl}/files/link/${item.iconPath}`" style="width: 100%; height:100%"/>
            </div>
            </a>
        </v-carousel-item>
      </v-carousel>


      <!--<flickity ref="flickity" :options="flickityOptions" class="widget-indicators">
        <div v-for="(item,i) in items" src="" :key="i" class="carousel-cell">
          <div class="indicator&#45;&#45;title">{{ item.title }}</div>
          <PieChart :height="350" :data="item.data"/>
          <div class="content&#45;&#45;comment">
            <div class="indicator&#45;&#45;comment">{{ item.comment }}</div>
          </div>
        </div>
        <div class="carousel-cell" v-if="nps > 0">
          <div class="indicator&#45;&#45;title">Índice de recomendación</div>
          <gauge :value="nps"/>
          <div class="value&#45;&#45;indicator-other">{{nps}}</div>
          <div class="small&#45;&#45;indicator-other">NPS</div>
          <div class="content&#45;&#45;legend-indicator">
            <div class="section&#45;&#45;legend-indicator">
              <div class="quarter&#45;&#45;legend-indicator" style="background: #F03E3E"></div><span>Detractor</span>
            </div>
            <div class="section&#45;&#45;legend-indicator">
              <div class="quarter&#45;&#45;legend-indicator" style="background: #FFDD00"></div><span>Neutral</span>
            </div>
            <div class="section&#45;&#45;legend-indicator">
              <div class="quarter&#45;&#45;legend-indicator" style="background: #30B32D"></div><span>Promotor</span>
            </div>
          </div>
          <div class="content&#45;&#45;comment">
            <div class="indicator&#45;&#45;comment">{{commentNps}}</div>
          </div>
        </div>
        <div class="carousel-cell voc&#45;&#45;indicator" v-if="voc > 0">
          <div class="indicator&#45;&#45;title">Índice de clientes satisfechos</div>
          <gauge-v :value="voc"/>
          <div class="content&#45;&#45;comment">
            <div class="indicator&#45;&#45;comment">{{commentVoc}}</div>
          </div>
        </div>
      </flickity>-->
    </v-card>

    <v-card class="elevation-8 mb-3 widget-indicators" v-else>
      <div class="indicator--title">No hay Imagen Cargada
      </div>
    </v-card>
  </div>
</template>
<script>
  import LineChart from '../common/LineChart'
  import BarChart from '../common/BarChart'
  import PieChart from '../common/PieChart'
  import Flickity from 'vue-flickity'
  import Gauge from '../common/GaugeNps.vue'
  import GaugeV from '../common/GaugeVoc.vue'
  import api from '../../api/mura'
  import { baseUrl } from '../../api'

  export default{
    components: {LineChart, BarChart, PieChart, Flickity, Gauge, GaugeV},
    data () {
      return {
        baseUrl: null,
        loading: false,
        items: [],
        nps: 0,
        commentNps: '',
        voc: 0,
        commentVoc: '',
        flickityOptions: {
          prevNextButtons: true,
          pageDots: false,
          wrapAround: true,
          cellSelector: '.carousel-cell',
          autoPlay: 12000
        },
        paginate: {
          pageindex: 1,
          itemsperpage: 10
        }
      }
    },
    methods: {
      fetchIndicator () {
        this.loading = true
        api.fetchBanners(this.paginate).then(res => {
          const { rows } = res.data
          this.items = rows
          this.loading = false
        })
      }
    },
    mounted () {
      this.baseUrl = baseUrl
      this.fetchIndicator()
    }
  }
</script>
