<template>
  <div style="height= auto">
    <v-dialog persistent v-model="modal" width="800px" max-width="900px">
      <v-toolbar dark color="primary" class="right">
          <v-btn icon dark @click.native="$emit('showModal', false)">
            <v-icon>close</v-icon>
          </v-btn>
      </v-toolbar>
        <img :src=imgPopup.large
                width="100%"
                height="600px"
                max-width="900"
                max-height="450"
              >
    </v-dialog>
  </div>
</template>
<script>
  export default {
    props: {
      loading: Boolean,
      modal: Boolean,
      imgPopup: Object
    },
    data () {
      return {
        isRender: false
      }
    },
    methods: {
      hideModal () {
        this.$emit('showModal', false)
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    },
    watch: {
      'items' () {
        if (this.imgPopup.length > 0) {
          this.isRender = true
        }
      }
    }
  }
</script>
