<template>
    <v-card class="elevation-8 mb-3">
        <v-card-title primary-title style="font-size: 18px" class="grey--text text--darken-3 text-bold">
            Los más recientes
        </v-card-title>
        <v-tabs dark v-model="active" class="widgets-event-notice">
            <v-tabs-bar slot="activators" class="white">
                <v-tabs-item
                        v-for="(tab, i) in (tabs)"
                        :key="i"
                        :href="'#' + tab.text"
                        ripple
                        style="width: 50%"
                        class="widgets-tab-item"
                >
                    <span class="grey--text">{{tab.text}}</span>
                    <div class="doltNews" v-if="tab.id === 1 && notices.length > 0">
                        <v-btn  :class="{active: doltN === i}" class="white--text ma-0 btn-dolt" @click="doltNotice(i)" flat icon  v-for="(item, i) in notices" small :key="i">
                            <v-icon style="font-size: 11px">fiber_manual_record</v-icon>
                        </v-btn>
                    </div>
                </v-tabs-item>
                <v-tabs-slider class="transparent"></v-tabs-slider>
            </v-tabs-bar>
            <v-tabs-content
                    v-for="tab in tabs"
                    :key="tab.text"
                    :id="tab.text"
            >
                <v-card flat>
                    <Slick v-if="tab.id === 1 && notices.length > 0" ref="slickNotice" :options="slickOptions">
                        <template>
                            <div v-for="(not, i) in (notices)" :key="i">
                                <v-list three-line class="list-events" v-for="(item, i) in not" :key="i">
                                    <v-subheader v-if="item.header" v-text="item.header"></v-subheader>
                                    <v-divider v-else-if="item.divider" v-bind:inset="item.inset"></v-divider>
                                    <v-list-tile class="list-title" avatar v-else v-bind:key="item.title" router :to="tab.id === 1 ? `/general/notice/${item.id}` : `/event/${item.id}`">
                                        <v-list-tile-avatar>
                                            <img :src="tab.id === 1 ? item.images.medium : `${baseUrl}/files/event/${item.coverPhoto}`"/>
                                        </v-list-tile-avatar>
                                        <v-list-tile-content class="pl-2">
                                            <v-list-tile-title v-html="item.title" class="primary--text text--darken-3"/>
                                            <v-list-tile-sub-title v-html="item.summary" class="grey--text text--darken-3"/>
                                            <v-list-tile-sub-title v-html="dateFormat(item.created)"/>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </v-list>
                            </div>
                        </template>
                    </Slick>

                    <v-list three-line class="list-events" v-else>
                        <template v-for="item in tab.id === 1 ? notices : events.rows">
                            <v-subheader v-if="item.header" v-text="item.header"></v-subheader>
                            <v-divider v-else-if="item.divider" v-bind:inset="item.inset"></v-divider>
                            <v-list-tile class="list-title" avatar v-else v-bind:key="item.title" router :to="tab.id === 1 ? `/general/notice/${item.id}` : `/event/${item.id}`">
                                <v-list-tile-avatar>
                                    <img :src="tab.id === 1 ? item.images.medium : `${baseUrl}/files/event/${item.coverPhoto}`"/>
                                </v-list-tile-avatar>
                                <v-list-tile-content class="pl-2">
                                    <v-list-tile-title v-html="item.title" class="primary--text text--darken-3"/>
                                    <v-list-tile-sub-title v-html="item.summary" class="grey--text text--darken-3"/>
                                    <v-list-tile-sub-title v-html="dateFormat(item.created)"/>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>



                </v-card>
            </v-tabs-content>
        </v-tabs>
    </v-card>
</template>
<script>
  import {baseUrl} from '../../api'
  import {dateFormat} from '../../plugins/moment'
  import Slick from 'vue-slick'
  export default{
    components: {Slick},
    props: {
      events: Object,
      notices: Array
    },
    data () {
      return {
        baseUrl: baseUrl,
        tabs: [{id: 1, text: 'Noticias'}, {id: 2, text: 'Eventos'}],
        active: null,
        slickOptions: {
          lazyLoad: 'ondemand',
          pauseOnFocus: true,
          pauseOnHover: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: false,
          autoplaySpeed: 0,
          dots: false,
          arrows: false
        },
        doltN: 0
      }
    },
    methods: {
      dateFormat,
      doltNotice (i) {
        this.$refs.slickNotice[0].goTo(i)
        this.doltN = i
      }
    },
    watch: {
      'notices' () {
        setTimeout(() => {
          if (this.notices.length > 0) {
            this.$refs.slickNotice[0].reSlick()
          }
        }, 400)
      }
    }
  }
</script>
