<template>
    <v-card v-if="weather" class="elevation-8 mb-3" style="max-width: 350px !important; margin: 0 auto">
        <v-card-text>
            <v-layout row wrap>
                <v-flex xs6 class="aling-middle-center text-xs-center">
                    <h3 class="ma-0 pa-0" style="font-size: 18px">Temperatura</h3>
                    <!--span>{{weather.name}}</span-->
                </v-flex>
                <v-flex xs6 class="aling-middle-center text-xs-center">
                    <span class="headline red--text">{{(-270.15 + weather.main.temp).toFixed(2)}} °</span>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>
<script>
  import {xmlHttp} from '../../api'
  export default{
    data () {
      return {
        weather: null
      }
    },
    methods: {
      getWeather () {
        if (!navigator.geolocation) {
          this.errorTryGet = 'Geolocation is not supported by your browser'
          return
        }
        navigator.geolocation.getCurrentPosition(p => {
          xmlHttp('GET',
            `https://api.openweathermap.org/data/2.5/weather?lat=${parseFloat(p.coords.latitude).toFixed(2)}&lon=${parseFloat(p.coords.longitude).toFixed(2)}&appid=6bdd2d24a10c772e1947016340229dbc`)
            .then(res => {
              this.weather = JSON.parse(res)
            })
        }, err => {
          console.error(err)
        })
      }
    },
    mounted () {
      this.getWeather()
    }
  }
</script>
