<template>
    <v-container class="pt-3 pa-0" fluid >
        <v-card-title class="pt-0 pl-0">
            <v-icon fab primary >note</v-icon>
            <v-toolbar-title class="grey--text text--darken-2">Directorio</v-toolbar-title>
        </v-card-title>
        <ContactTable :modalGroup="modalGroup" @showModalGroup="val => { modalGroup = val }" :items="items"
                      :groupList="groupList" :headers="headers" @search="val => { filterGroup(null,val)}"
                      :submitContact="submitContact" :updateContact="updateContact" :loading="loading"
                      :removeContact="removeContact" :filterGroup="filterGroup"/>
    </v-container>
</template>

<script>
  import ContactTable from '../../components/contact/ContactTable.vue'
  export default {
    components: {ContactTable},
    data () {
      return {
        loading: false,
        modalGroup: false,
        headers: [
          {text: 'Perfil', value: 'coverPhoto', align: 'center'},
          {text: 'Nombre', value: 'title', align: 'center'},
          {text: 'Correo', value: 'startDate', align: 'center'},
          {text: 'Posición', value: 'title', align: 'center'},
          {text: 'Acciones', align: 'center'}
        ],
        items: {},
        limit: 10,
        offset: 0,
        groupList: []
      }
    },
    methods: {
      submitContact (contact) {
        this.loading = true
        this.$store.dispatch(contact.id > 0 ? 'editContact' : 'newContact', contact).then((res) => {
          this.loading = false
          if (res.data.success) {
            this.user = {}
            this.loadGroup()
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
            this.modalGroup = false
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.modalGroup = false
          this.loading = false
        })
      },
      removeContact (typeContact, idUser) {
        this.loading = true
        this.$store.dispatch('deleteContact', {id: typeContact, idUser: idUser}).then((res) => {
          this.loading = false
          if (res.data.success) {
            this.user = {}
            this.loadGroup()
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      },
      filterGroup (id, search, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('fetchContact', {id: id, search: search, limit, offset}).then((res) => {
          this.items = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data, type: 'error'})
          this.loading = false
        })
      },
      loadGroup () {
        this.$store.dispatch('myContact').then((res) => {
          this.groupList = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      },
      updateContact (detail) {
        this.loading = true
        this.$store.dispatch('updateContact', detail).then((res) => {
          this.loading = false
          if (res.data.success) {
            this.user = {}
            this.loadGroup()
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      }
    },
    mounted () {
      this.filterGroup()
      this.loadGroup()
    }
  }
</script>
