<template>

  <v-container style="max-width: 1378px">
    <v-breadcrumbs divider="/" style="justify-content: left">
      <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.title"
                          :disabled="item.disabled" :to="item.documents ? '/info/documents':'/info/documents/'+item.id" style="font-size: 20px">
        <v-icon v-if="item.documents" class="orange--text pr-2" style="font-size: 17px">import_contacts</v-icon>
        {{ item.title }}
      </v-breadcrumbs-item>
    </v-breadcrumbs>

    <v-layout row wrap>
      <v-flex xs12 style="position: relative">
        <v-progress-linear v-if="loading" :indeterminate="loading" style="position: absolute; top: 30px;"></v-progress-linear>
        <v-card style="min-height: 100%;">

          <v-layout row wrap>
            <v-flex xs12>
              <FolderGrids v-if="folders.length > 0" :items="folders" :loading="loading" title="Carpetas" :type="2" :level="2"
                           :fetchFolders="fetchFolders" :fetchFiles="fetchFiles"/>
            </v-flex>
            <v-flex xs12>
              <DocumentGrids v-if="files.length > 0" :items="files" :loading="loading" title="Archivos" :type="2"/>
            </v-flex>
          </v-layout>

        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import {muraCrConf, muraDefConf} from '../../api/index'
  import DocumentGrids from '../../components/info/DocumentGrids.vue'
  import FolderGrids from '../../components/info/FolderGrids.vue'
  export default {
    components: {DocumentGrids, FolderGrids},
    data () {
      return {
        folders: [],
        files: [],
        breadcrumbs: [],
        docId: '',
        loading: false,
        params: {
          pageindex: 1,
          itemsperpage: 10,
          // domain: 1,
          parentid: this.$route.params.id,
          fields: 'filename,title,summary,images,created,type,url,contenttype,contentid,id,crumbs,links'
          // mode:'no-cors'
        }
      }
    },
    methods: {
      fetchFolders () {
        this.loading = false
        var params = this.params
        params.type = 'Folder'
        this.$store.dispatch('fetchInfo', params).then((com) => {
          if (com.data.data) this.folders = com.data.data.items
          this.fetchFiles()
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      },
      fetchFiles () {
        this.loading = false
        var params = this.params
        params.type = 'File'
        this.$store.dispatch('fetchInfo', params).then((com) => {
          if (com.data.data) this.files = com.data.data.items
          this.fetchPage()
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      },
      fetchPage () {
        this.loading = false
        var params = this.params
        params.type = 'Page'
        this.$store.dispatch('fetchInfo', params).then((com) => {
          if (com.data.data) this.files = this.files.concat(com.data.data.items)
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      },
      findOne () {
        var obj = {
          pageindex: 1,
          itemsperpage: 10,
          fields: 'filename,title,summary,images,created,type,url,contenttype,contentid,id,crumbs,links'
          // mode: 'no-cors'
        }
        obj.contentid = this.params.parentid
        obj.domain = this.params.domain
        this.$store.dispatch('fetchPage', obj).then((com) => {
          this.getCrumbs(com.data.data.links.crumbs)
        })
      },
      getCrumbs (url) {
        this.$store.dispatch('fetchCrumbs', {crumbsUrl: url}).then((com) => {
          var arr = com.data.data.items.reverse()
          arr.shift()
          arr.shift()
          arr[0].documents = true
          if (com.data.data.items) this.breadcrumbs = arr
        })
      }
    },
    mounted () {
      this.docId = this.domain === 1 ? muraDefConf['infoContentId'] : muraCrConf['infoContentId']
      this.findOne()
      this.fetchFolders()
      console.log('>>>>>>>>11111')
    },
    watch: {
      '$route.params.id' () {
        this.params.parentid = this.$route.params.id
        this.fetchFolders()
      }
    }
  }
</script>
