<template>

  <v-container style="max-width: 1378px; padding-top: 20px" class="pa-0">
    <v-card-title style="padding-top: 0px">
      <v-icon fab primary >import_contacts</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Documentos</v-toolbar-title>
    </v-card-title>
    <v-breadcrumbs divider="/" style="justify-content: left">
      <!--<v-breadcrumbs-item-->
        <!--:disabled="false" href="/info/documents" style="font-size: 20px">-->
        <!--Inicio-->
      <!--</v-breadcrumbs-item>-->
    </v-breadcrumbs>

    <v-progress-linear v-if="loading" :indeterminate="loading" style="position: absolute; top: 30px;"></v-progress-linear>


    <v-layout row wrap>
      <v-flex xs12>
        <FolderGrids v-if="folders.length > 0" :items="folders" :loading="loading" title="Carpetas" :type="2" :level="1"/>
      </v-flex>
      <v-flex xs12>
        <DocumentGrids v-if="files.length > 0" :items="files" :loading="loading" title="Archivos" :type="2"/>
      </v-flex>
    </v-layout>

  </v-container>

</template>

<script>
  import DocumentGrids from '../../components/info/DocumentGrids.vue'
  import FolderGrids from '../../components/info/FolderGrids.vue'
  export default {
    components: {DocumentGrids, FolderGrids},
    data () {
      return {
        folders: [],
        files: [],
        loading: false,
        params: {
          pageindex: 1,
          itemsperpage: 20,
          // domain: 1,
          parentid: this.$route.params.id,
          fields: 'filename,title,summary,images,created,type,url,contenttype,contentid,id'
          // mode:'no-cors'
        }
      }
    },
    methods: {
      fetchCommunicated (type, arrName) {
        this.loading = false
        this.params['type'] = type
        this.$store.dispatch('fetchInfo', this.params).then((com) => {
          if (com.data.data) this[arrName] = com.data.data.items
          this.loading = false
          if (this.params['type'] === 'Folder') this.fetchCommunicated('File', 'files')
          else if (this.params['type'] === 'File') this.fetchCommunicated('Page', 'files')
        }).catch(() => {
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchCommunicated('Folder', 'folders')
      console.log('>>>>>>>>0000')
    },
    watch: {
      '$route.params.id' () {
        this.params.parentid = this.$route.params.id
        this.fetchCommunicated()
      }
    }
  }
</script>
