<template>
  <v-container style="max-width: 1378px">
    <v-breadcrumbs divider="/" style="justify-content: left">
      <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.title"
        :disabled="item.disabled" :to="item.documents ? '/info/documents':'/info/documents/'+item.id" style="font-size: 20px">
        <v-icon v-if="item.documents" class="orange--text pr-2" style="font-size: 17px">import_contacts</v-icon>
        {{ item.title }}
      </v-breadcrumbs-item>
    </v-breadcrumbs>

    <v-layout row wrap>
      <v-flex xs12 style="position: relative">
        <v-card style="min-height: 100%;">

          <v-layout row wrap>
           <v-flex xs12>


            <v-card class="grid elevation-0">
              <v-toolbar class="white elevation-0">
                <v-toolbar-title class="grey--text text--darken-2">{{title}}</v-toolbar-title>
              </v-toolbar>
              <v-container fluid>
                <v-progress-linear v-if="loading" :indeterminate="true" class="mb-0"/>

                <v-layout row wrap id="page-body-sample">
                  <span v-html="body"></span>
                </v-layout>

              </v-container>
            </v-card>

           </v-flex>
          </v-layout>

        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import {muraCrConf, muraDefConf} from '../../api/index'
  export default {
    components: {},
    data () {
      return {
        loading: true,
        body: '',
        title: 'loading',
        filename: '',
        breadcrumbs: [],
        docId: '',
        params: {
          pageindex: 1,
          itemsperpage: 10,
          // domain: 1,
          contentid: this.$route.params.id,
          fields: 'filename,title,body,summary,images,created,type,url,contenttype,title,links'
          // mode:'no-cors'
        }
      }
    },
    methods: {
      fetchCommunicated (type, arrName) {
        this.params['type'] = type
        this.$store.dispatch('fetchPage', this.params).then((com) => {
          this.loading = false
          if (com.data.data.body) this.body = com.data.data.body
          if (com.data.data.title) this.title = com.data.data.title
          if (com.data.data.filename) this.filename = com.data.data.filename
          if (com.data.data.links.crumbs) this.getCrumbs(com.data.data.links.crumbs)
        }).catch(() => {
          this.loading = false
        })
      },
      getCrumbs (url) {
        this.$store.dispatch('fetchCrumbs', {crumbsUrl: url}).then((com) => {
          var arr = com.data.data.items.reverse()
          arr.shift()
          arr[0].documents = true
          if (com.data.data.items) this.breadcrumbs = arr
        })
      }
    },
    mounted () {
      this.docId = this.domain === 1 ? muraDefConf['infoContentId'] : muraCrConf['infoContentId']
      this.fetchCommunicated('Page', 'files')
    }
  }
</script>
