<template>
    <v-container fluid>
        <v-card class="elevation-8">
            <v-layout>
                <v-container fluid>
                    <v-flex xs12 sm6>
                        <v-container fluid  class="pt-0">
                            <label class="grey--text text--darken-2">Portada</label>
                            <v-card class="elevation-0">
                                <v-card-media class="upload-image link" height="auto">
                                    <img id="linkImg" :src="cardImage">

                                    <file-upload
                                            :class="{ active: files.length === 0 }"
                                            class="upload-front"
                                            :name="fileUpConf.name"
                                            :extensions="fileUpConf.extensions"
                                            :accept="fileUpConf.accept"
                                            :multiple="fileUpConf.multiple"
                                            :directory="fileUpConf.directory"
                                            :size="fileUpConf.size || 0"
                                            :thread="fileUpConf.thread < 1 ? 1 : (fileUpConf.thread > 5 ? 5 : fileUpConf.thread)"
                                            :drop="fileUpConf.drop"
                                            :dropDirectory="fileUpConf.dropDirectory"
                                            v-model="files"
                                            @input-file="inputFile"
                                            ref="upload">
                                    </file-upload>
                                </v-card-media>
                                <v-card-actions >
                                    <v-spacer></v-spacer>
                                    <v-btn v-if="files.length > 0 && !isCropper" @click.native="addFile" icon
                                           class="grey lighten-2 green--text">
                                        <v-icon>check</v-icon>
                                    </v-btn>
                                    <v-btn @click.native="removeFile" v-if="files.length > 0" icon class="grey lighten-2 red--text">
                                        <v-icon>remove</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                </v-card-actions>
                            </v-card>
                        </v-container>
                    </v-flex>
                <v-flex xs12 sm6>
                    <form @submit.prevent="sendNotification()" autocomplete="off">
                    <v-text-field
                            v-model="notification.title"
                            label="Título de la notificación"
                            :rules="[formValidate(notification.title)]"
                            required
                    />

                    <v-text-field
                            v-model="notification.body"
                            label="Cuerpo del mensaje"
                            multi-line
                            required
                            :rules="[formValidate(notification.body)]"
                    />

                    <v-text-field
                            v-model="notification.action"
                            label="Link"
                            required
                            :rules="[formValidate(notification.action)]"
                    />

                    <v-select v-model="notification.area"
                              required
                                 autocomplete
                                 label="Área"
                                 :rules="[formValidate(notification.area)]"
                                 :items="listAreas"
                    />

                        <div class="text-xs-center">

                            <v-btn type="submit" primary :loading="loading" :disabled="loading" class="text--white" style="margin: 0 auto">
                                Enviar
                            </v-btn>
                            <br/>
                            <br/>
                            <br/>
                            <v-btn block class="red white--text" @click.native="() => {
                              confirmModal = true
                              typeNode = 1
                            }"><v-icon left dark>report_problem</v-icon>  Borrar nodo de Usuarios</v-btn>
                            <br/>
                            <v-btn block class="red white--text" @click.native="() => {
                              confirmModal = true
                              typeNode = 2
                            }"><v-icon left dark>report_problem</v-icon>  Borrar nodo de Notificaciones</v-btn>
                        </div>

                        <v-dialog v-model="confirmModal" persistent>
                            <v-card>
                                <v-card-title class="headline text-xs-center red--text">¿Seguro que va a eliminar toda la data de este Nodo?</v-card-title>
                                <v-card-actions>
                                    <v-btn class="green--text" @click.native="deleteNode()" flat>Si</v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn class="" @click.native="confirmModal = false" flat>Cancelar</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                 </form>
                </v-flex>
                </v-container>
            </v-layout>
        </v-card>
    </v-container>
</template>
<script>
  import isEmpty from 'lodash/isEmpty'
  import cardDefualt from '../../assets/images/card-default.png'
  import FileUpload from 'vue-upload-component'
  import Cropper from 'cropperjs'
  export default {
    components: {FileUpload},
    data () {
      return {
        notification: {
          title: null,
          body: null,
          action: null,
          pathIcon: null,
          area: null,
          cropperData: {}
        },
        loading: false,
        validated: false,
        listAreas: [],
        fileUpConf: {
          accept: 'image/png,image/gif,image/jpeg,image/webp',
          size: 1024 * 1024 * 10,
          extensions: 'gif,jpg,jpeg,png,webp',
          multiple: false,
          directory: false,
          drop: true,
          dropDirectory: false,
          thread: 3,
          name: 'coverPhoto',
          postAction: 'http://localhost:8080/admin/links'
        },
        cropConfig: {
          aspectRatio: 1 / 1,
          viewMode: 1,
          dragMode: 'move',
          guides: false,
          highlight: false,
          cropBoxMovable: true,
          cropBoxResizable: false,
          toggleDragModeOnDblclick: false
        },
        cardImage: cardDefualt,
        files: [],
        fileIsRemoved: false,
        isCropper: false,
        isEdit: false,
        cropper: null,
        confirmModal: false,
        typeNode: null
      }
    },
    methods: {
      deleteNode () {
        this.$store.dispatch('deleteNode', this.typeNode)
        this.confirmModal = false
      },
      formValidate (value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      },
      fetchAreas () {
        this.$store.dispatch('fetchAreaSelect').then((res) => {
          this.listAreas = [{text: 'Todos', value: 'all'}].concat(res.data)
        })
      },
      sendNotification () {
        this.loading = true
        if (this.files.length > 0) {
          this.$store.dispatch('uploadImage', {files: this.files, cropperData: this.notification.cropperData}).then((res) => {
            this.notification.pathIcon = res.data.trim()
            this.setInfb()
          }).catch(err => {
            console.log(err)
            this.loading = false
          })
        } else {
          this.setInfb()
        }
      },
      setInfb () {
        this.$store.dispatch('sendNotification', this.notification).then(() => {
          this.notification = {}
          this.fileIsRemoved = true
          this.isCropper = false
          this.files.map(f => {
            this.$refs.upload.remove(f)
          })
          this.cardImage = cardDefualt
          this.validated = false
          this.$store.commit('SET_MESSAGE', { msg: 'notificationSend', type: 'success' })
          this.loading = false
        }).catch(err => {
          console.log(err)
          this.loading = false
        })
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          console.log('add', newFile)
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          // console.log('update', newFile, oldFile)
          if (newFile.progress !== oldFile.progress) {
            //  console.log('progress', newFile.progress)
          }
        }
        if (!newFile && oldFile) {
          // console.log('remove', oldFile)
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      removeFile () {
        this.fileIsRemoved = true
        this.isCropper = false
        this.files.map(f => {
          this.$refs.upload.remove(f)
        })
        this.cardImage = cardDefualt
        this.cropper.destroy()
      },
      addFile () {
        this.fileIsRemoved = false
        this.isCropper = true
        this.notification.cropperData = this.cropper.getData()
        this.cardImage = this.cropper.getCroppedCanvas().toDataURL('image/png', 0.5)
        this.cropper.destroy()
      }
    },
    mounted () {
      this.fetchAreas()
    },
    watch: {
      'files' () {
        this.files.map(f => {
          this.cardImage = f.type.substr(0, 6) === 'image/' && f.blob ? f.blob : cardDefualt
          this.fileIsRemoved = true
        })
      },
      cardImage () {
        setTimeout(() => {
          if (this.files.length > 0 && !this.isCropper) {
            this.cropper = new Cropper(document.getElementById('linkImg'), this.cropConfig)
          }
        }, 400)
      }
    }
  }
</script>
