<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-layout row wrap>
        <v-flex xs12 sm8 md9>
          <Communicated :items="communicated" :loading="loadingCommunicated"/>
        </v-flex>
        <v-flex xs12  sm4 md3>
          <Birthdays :items="birthdays" :loading="loadingBirthday" :sendCongratilation="sendCongratilation"/>
        </v-flex>
        <v-flex xs12 md7>
          <RecentEvents :events="events" :notices="notices"/>
        </v-flex>
        <Popup :loading="loadingPopup" @showModal="val => { modal = val }" :modal="modal" :imgPopup="imgPopup" />
        <v-flex xs12 md5>
          <v-layout row wrap>
            <v-flex xs12>
              <Metrics/>
            </v-flex>
            <v-flex xs12>
              <widget-menu />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>
  import Communicated from '../components/widgets/Communicated.vue'
  import Popup from '../components/widgets/Popup.vue'
  import Birthdays from '../components/widgets/Birthdays.vue'
  import WidgetMenu from '../components/widgets/Menu.vue'
  import RecentEvents from '../components/widgets/RecentEvents.vue'
  import Weather from '../components/widgets/Weather.vue'
  import Metrics from '../components/widgets/Metrics.vue'
  import isEmpty from 'lodash/isEmpty'
  export default {
    components: {Communicated, Birthdays, WidgetMenu, RecentEvents, Weather, Popup, Metrics},
    data () {
      return {
        modal: false,
        loadingPopup: false,
        imgPopup: {},
        loadingCommunicated: false,
        loadingBirthday: false,
        loadingEventsNotice: false,
        communicated: [],
        birthdays: [],
        events: {},
        notices: [],
        paginateNotices: {
          pageindex: 1,
          itemsperpage: 9,
          fields: 'title,summary,images,created'
        },
        paginateComminucate: {
          pageindex: 1,
          itemsperpage: 10
        },
        // domain: 1,
        picker: null,
        days: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Vienes', 'Sabado'],
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Obtubre', 'Noviembre', 'Diciembre'],
        current: null,
        less600: false,
        less768: false,
        less1124: false,
        interval: setInterval(() => {
          this.fetchCommunicated()
        }, 1800000)
      }
    },
    methods: {
      fetchCommunicated () {
        this.loadingCommunicated = true
        this.$store.dispatch('fetchCommunicated', this.paginateComminucate).then((com) => {
          if (com.data.data) {
            this.communicated = com.data.data.items
            if (this.$store.state.auth.user.idRole !== 2) this.$store.dispatch('sendCommunicateNot', com.data.data.items)
          }
          setTimeout(() => { this.loadingCommunicated = false }, 400)
        }).catch(() => {
          this.loadingCommunicated = false
        })
      },
      fetchBirtdays (now) {
        this.loadingBirthday = true
        this.$store.dispatch('fetchBirthday', {now: now}).then((res) => {
          if (res.data) this.birthdays = res.data
          this.loadingBirthday = false
        }).catch(() => {
          this.loadingBirthday = false
        })
      },
      sendCongratilation (item, msg) {
        const uCom = this.$store.state.auth.user
        if (!isEmpty(msg)) {
          this.$store.dispatch('congratulated', {comment: msg, idUser: this.birthdays[item].idUser}).then((res) => {
            this.$store.commit('SET_MESSAGE', { msg: 'youCongratulated', type: 'info', params: {name: this.birthdays[item].name} })
            this.birthdays[item].congratulated = true
            this.$store.dispatch('sendUserNotification', {
              title: `${uCom.name.split(' ')[0]} ${uCom.lastName}`,
              body: 'Te ha felicitado, ve lo que te ha escrito...',
              action: '/user/profile',
              avatar: uCom.avatar ? uCom.avatar : 'none',
              idUser: this.birthdays[item].idUser
            }).then(() => {
              this.loadingToday = false
            }).catch(() => {
              this.loadingToday = false
            })
          }).catch(() => {
          })
        }
      },
      fetchEvents (limit = 2, offset = 0) {
        this.loadingEventsNotice = true
        this.$store.dispatch('fetchEventsForAll', {limit, offset}).then((res) => {
          if (res.data) this.events = res.data
          this.loadingEventsNotice = false
        }).catch(() => {
          this.loadingEventsNotice = false
        })
      },
      fetchPopup () {
        this.loadingPopup = true
        this.$store.dispatch('fetchPopup').then((res) => {
          if (res.data.data.images) {
            this.imgPopup = res.data.data.images
            if (this.imgPopup.large) {
              this.modal = true
            }
          }
          this.loadingPopup = false
        }).catch(() => {
          this.loadingPopup = false
        })
      },
      fetchNotices () {
        this.loadingEventsNotice = true
        this.$store.dispatch('fetchNotices', this.paginateNotices).then((res) => {
          if (res.data.data) {
            var data = res.data.data.items
            var array = []
            for (var i = 0; i <= data.length; i++) {
              array.push(data.splice(0, 2))
            }
            this.notices = array
          }
          this.loadingEventsNotice = false
        }).catch(() => {
          this.loadingEventsNotice = false
        })
      }
    },
    created () {
    },
    mounted () {
      this.fetchPopup()
      this.fetchCommunicated()
      this.fetchBirtdays(true)
      this.fetchNotices()
      this.fetchEvents()
    },
    watch: {
      '$store.state.windowWidth' () {
        this.less600 = this.$store.state.less600
        this.less768 = this.$store.state.less768
        this.less1124 = this.$store.state.less1124
      },
      '$route.name' () {
        if (this.$route.name !== 'home') clearInterval(this.interval)
      }
    },
    destroyed () {
      clearInterval(this.interval)
    }
  }
</script>
