<template>
  <UserProfile :paySlips="paySlips" :paySlipsCTS="paySlipsCTS" :fetchPayslips="fetchPayslips" :deleteFile="deleteFile"
               :loading="loading" :activities="activities" :modalChange="modalChange" @showModalChange="val => { modalChange = val }"
               :dataProfile="dataProfile" :submitChange="submitChange" :items="items" :headers="headers"
               :fetchChanges="fetchChanges" :headersMy="headersMy" :itemsMy="itemsMy" :itemsCol="itemsCol"
               :totalAct="totalAct" :fetchActivities="fetchActivities"/>
</template>

<script>
  import UserProfile from '../../components/user/UserProfile.vue'
  export default {
    components: {UserProfile},
    data () {
      return {
        loading: false,
        paySlips: [],
        paySlipsCTS: [],
        activities: [],
        modalChange: false,
        dataProfile: {
          areas: [],
          organizations: [],
          sexos: [],
          positions: [],
          departments: []
        },
        items: {},
        itemsMy: [],
        itemsCol: [],
        headers: [
          {
            text: 'Fecha de Solicitud',
            value: 'created_at',
            align: 'left',
            sortable: false
          },
          {
            text: 'Estado',
            value: 'idStatus',
            align: 'left',
            sortable: false
          }/* ,
          {
            text: 'Acción',
            align: 'left',
            sortable: false
          } */
        ],
        headersMy: [
          {
            text: 'Fecha de contrato',
            value: 'contractDate',
            align: 'left',
            sortable: false
          },
          {
            text: 'Inicio de período',
            value: 'startPeriod',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fin de período',
            value: 'endPeriod',
            align: 'left',
            sortable: false
          },
          {
            text: 'Vacaciones ganadas',
            value: 'vacationWon',
            align: 'left',
            sortable: false
          },
          {
            text: 'Vacaciones gozadas',
            value: 'vacationTaken',
            align: 'left',
            sortable: false
          },
          {
            text: 'Vacaciones pendientes',
            value: 'vacationPending',
            align: 'left',
            sortable: false
          }
        ],
        totalWon: 0,
        totalTaken: 0,
        totalPending: 0,
        totalAct: 0
      }
    },
    methods: {
      fetchPayslips (type) {
        this.loading = true
        this.$store.dispatch('fetchPayslips', {type: type}).then((res) => {
          type === 'cts' ? this.paySlipsCTS = res.data : this.paySlips = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.dispatch('SET_ERROR', {error: err.code.replace('/', '-')})
          this.loading = false
        })
      },
      deleteFile (name, fecha, typeFile) {
        this.loading = true
        this.$store.dispatch('deleteFile', {name: name, fecha: fecha, typeFile: typeFile}).then((res) => {
          this.fetchPayslips('', typeFile)
          this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
          this.loading = false
        }).catch((err) => {
          this.$store.dispatch('SET_ERROR', {error: err.code.replace('/', '-')})
          this.loading = false
        })
      },
      fetchActivities (limit = 6, offset = 0) {
        this.loading = true
        this.$store.dispatch('getActivities', {limit, offset}).then((res) => {
          this.activities = res.data.rows
          this.totalAct = res.data.total
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      fetchDataProfile () {
        this.$store.dispatch('getDataProfile').then((res) => {
          this.dataProfile = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
        })
      },
      submitChange (params) {
        this.loading = true
        this.$store.dispatch('submitChange', {'changes': params}).then((res) => {
          this.loading = false
          this.modalChange = false
          this.fetchChanges()
          this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
        }).catch((err) => {
          this.loading = false
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
        })
      },
      fetchChanges (limit = 5, offset = 0) {
        this.$store.dispatch('getMyChanges', {limit, offset}).then((res) => {
          this.items = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
        })
      },
      fetchMyVacation () {
        this.loading = true
        this.$store.dispatch('getMyVacations', {hcm: this.$store.state.auth.user.posicionHCM})
          .then((res) => {
            this.loading = false
            this.itemsMy = res.data
            this.itemsMy.map(v => {
              this.totalWon += parseInt(v.vacationWon)
              this.totalTaken += parseInt(v.vacationTaken)
              this.totalPending += parseInt(v.vacationPending)
            })
            this.itemsMy.push({
              total: 'Total',
              totalWon: this.totalWon,
              totalTaken: this.totalTaken,
              totalPending: this.totalPending
            })
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchColVacation () {
        if (this.$store.state.auth.user.codPosicion) {
          this.loading = true
          this.$store.dispatch('getColVacations', {hcm: this.$store.state.auth.user.codPosicion})
            .then((res) => {
              this.loading = false
              this.itemsCol = res.data
            })
            .catch((err) => {
              this.loading = false
              this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
            })
        }
      }
    },
    mounted () {
      this.fetchPayslips('boletas')
      this.fetchActivities()
      // this.fetchDataProfile()
      this.fetchChanges()
      this.fetchMyVacation()
      this.fetchColVacation()
    },
    watch: {}
  }
</script>
