<template>
  <div>
    <!--v-layout row wrap>
      <v-flex xs12 sm4 md3 class="mb-3">
        <v-card>
          <v-card-title primary-title>
            <h3 class="headline mb-0 grey--text text--darken-2">Grupos</h3> <v-btn primary slot="activator" @click.native="filterGroup()" flat><v-icon primary>supervisor_account</v-icon>&nbsp;Todos</v-btn>
          </v-card-title>

          <v-list>
            <v-list-tile avatar v-for="item in groupList" :value="item.active" :key="item.title">
              <v-list-tile-content>
                <v-list-tile-title @click="filterGroup(item.typeContact)">{{ item.name }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-layout row wrap>
                  <v-flex xs6>
                    <v-list-tile-action-text>{{ item.count }}</v-list-tile-action-text>
                  </v-flex>
                  <v-flex xs6>
                    <v-menu bottom right :closeOnContentClick="false">
                      <v-btn icon slot="activator" >
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile @click.native="editGroup(item.typeContact,item.name)">
                          <v-list-tile-title><v-icon class="blue--text">edit</v-icon></v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile >
                          <v-menu bottom right>
                            <v-list-tile-title slot="activator" ><v-icon class="red--text">delete</v-icon></v-list-tile-title>
                            <v-list>
                              <v-list-tile @click.native="delectGroup(item.typeContact)">
                                <v-list-tile-title><v-icon class="green--text">check</v-icon></v-list-tile-title>
                              </v-list-tile>
                              <v-list-tile>
                                <v-list-tile-title><v-icon class="red--text">cancel</v-icon></v-list-tile-title>
                              </v-list-tile>
                            </v-list>
                          </v-menu>

                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </v-flex>
                </v-layout>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
          <v-btn primary slot="activator" @click.native="newGroup()" flat><v-icon primary>add_circle</v-icon>&nbsp;Crear Grupo</v-btn>
        </v-card>
      </v-flex -->
      <!-- table contact-->
      <v-flex xs12 sm9 md9>
        <v-card>
          <v-card-title>

            <v-spacer></v-spacer>
            <v-text-field
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
                    v-model="search"
                    style="min-width: 100px"
            />
            <v-btn icon @click.native="filterGroup()" class="grey--text text--darken-2" :loading="loading">
              <v-icon>refresh</v-icon>
            </v-btn>

          </v-card-title>
          <v-data-table
                  v-bind:headers="headers"
                  :items="items.rows"
                  class="elevation-1"
                  :loading="loading"
                  :no-data-text="loading ? '' : 'no se encontraron resultados'"
                  :pagination.sync="pagination"
                  :total-items="items.total"
                  :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
                  rows-per-page-text="Filas por página"
          >
            <template slot="items" scope="props">
              <td class="text-xs-left avatar" >
                <v-btn icon small flat primary  @click.native.stop="userDetail(props.item)">
                  <img :src="props.item.avatar ? props.item.avatar : avatarDefault" >
                </v-btn>

              </td>
              <td class="text-xs-left">
                {{ ucwords(strtolower(props.item.name)) }}  {{ ucwords(strtolower(props.item.lastName)) }}
              </td>
              <td class="text-xs-left">{{ props.item.email }}</td>
               <td class="text-xs-left">{{ props.item.desPosition }}</td>
               <td class="text-xs-center">
                <v-btn icon small flat primary class="tb-action" @click.native.stop="userDetail(props.item)">
                  <v-icon>zoom_in</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>


        </v-card>
      </v-flex>
    </v-layout>
    <!-- MODAL DETAIL USER -->
    <v-navigation-drawer
            right
            v-model="detailDrawer"
            absolute
            :style="{ width: detailDrawer ? '600px' : '240px', position: 'fixed'}">
      <v-card class="elevation-0 p-5">

          <v-card-media class="contact-avatar" :src="covercontact" height="300px">
            <v-btn icon class="white--text grey btn-close-contact" absolute @click.native.stop="detailDrawer = !detailDrawer">
              <v-icon>close</v-icon>
            </v-btn>
            <v-list two-line class="contact-avatar-list">
                <v-list-tile avatar>
                  <v-list-tile-avatar>
                    <img :src="avatarDefault">
                  </v-list-tile-avatar>

                  <v-list-tile-content class="pl-4">
                    <v-list-tile-title class="white--text text-bold">{{ detail.lastName }} {{detail.name}}</v-list-tile-title>
                    <v-list-tile-sub-title class="white--text text-bold">{{ detail.desPosition }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
            </v-list>
          </v-card-media>
        <div class="pt-5 pl-5 pr-5">
          <v-list three-line subheader>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Correo</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.email }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Nombre </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader class="text-uppercase">{{ detail.name }} {{ detail.lastName }}</v-subheader>
              </v-flex>
            </v-layout>

            <v-layout row v-if="detail.phones != null">
              <v-flex xs4>
                <v-subheader>Móvil</v-subheader>
              </v-flex>
              <v-flex xs8 v-if="isJson(detail.phones)">
                <v-subheader>
                 <div v-for="(item,key) in JSON.parse(detail.phones)">
                  <span v-if="item.type === 'mobile'">{{ item.value }}</span>
                 </div>
                </v-subheader>
              </v-flex>
               <v-flex xs8 v-else>
                <v-subheader>
                 <div>
                  <span>{{ changeString(detail.phones) }}</span> &nbsp;
                 </div>
                </v-subheader>
              </v-flex>
            </v-layout>

            <v-layout row v-if="detail.phones != null">
              <v-flex xs4>
                <v-subheader>Anexo</v-subheader>
              </v-flex>
              <v-flex xs8 v-if="isJson(detail.phones)">
                <v-subheader>
                 <div v-for="(item,key) in JSON.parse(detail.phones)">
                  <span v-if="item.type === 'work'">{{ item.value }}</span>
                 </div>
                </v-subheader>
              </v-flex>
              <v-flex xs8 v-else>
                <v-subheader>
                 <span>No Definido</span>
                </v-subheader>
              </v-flex>
            </v-layout>



            <v-layout row>
              <v-flex xs4>
                <v-subheader>Cumpleaños </v-subheader>
              </v-flex>
              <v-flex xs8 v-if="detail.birthdate">
                <v-subheader> {{ detail.birthdate | moment }}</v-subheader>
              </v-flex>
            </v-layout>
                      <v-layout row>
              <v-flex xs4>
                <v-subheader>Sucursal </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desDivisions }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Posición </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desPosition }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Gerencia </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desSubManagement }}</v-subheader>
              </v-flex>
            </v-layout>
            <!--v-layout row>
              <v-flex xs4>
                <v-subheader>Departamento </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desDepartment }}</v-subheader>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Área </v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-subheader>{{ detail.desArea }}</v-subheader>
              </v-flex>
            </v-layout-->

            <!--v-layout row>
              <v-flex xs4>
                <v-subheader>Grupo</v-subheader>
              </v-flex>
              <v-flex xs6>
                <v-subheader>
                <v-select
                  label="Seleccione los grupos"
                  :items="groupList"
                  v-model="typeContact"
                  item-text="name"
                  item-value="typeContact"
                  name="newtypeContact"
                  multiple
                  chips
                  persistent-hint
                  autocomplete
                  @change="changegroup"></v-select>

                </v-subheader>
              </v-flex>
            </v-layout-->
          </v-list>
        </div>

        </v-card>
    </v-navigation-drawer>
    <!-- MODAL DETAIL USER //-->
    <!-- MODAL NEW GROUP-->
    <v-dialog v-model="modalGroup" persistent >
      <v-card>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text">Crear Grupo</div>
        </v-card-title>
        <form @submit.prevent="submited('frm-New-Group')" data-vv-scope="frm-New-Group" autocomplete="off">
          <v-card-text>
            <v-text-field name="nameGroup" v-model="group.nameGroup" label="Nombre de Grupo" required></v-text-field>
            <input type="hidden" name="idGroup" v-model="group.id">
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="grey--text text--darken-3" flat @click.native="$emit('showModalGroup', false)">Cerrar</v-btn>
            <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text">Guardar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
    <!-- MODAL NEW GROUP //-->


  </div>
</template>
<script>
  import avatarDefault from '../../assets/images/avatar-default.png'
  const coverContact = process.env.STYLES === 'DV' ? require('../../assets/images/contact/contect-back.jpg')
      : require('../../assets/images/contact/contect-back-cr.jpg')
  import moment from 'moment'
  export default {
    props: {
      items: Object,
      headers: Array,
      loading: Boolean,
      modalGroup: Boolean,
      filterGroup: Function,
      submitContact: Function,
      updateContact: Function,
      removeContact: Function,
      limit: Number,
      offset: Number,
      loadGroup: Function,
      groupList: Array
    },
    data () {
      return {
        detailDrawer: false,
        avatarDefault: avatarDefault,
        covercontact: coverContact,
        group: {},
        typeContact: [],
        newtypeContact: '',
        search: '',
        pagination: {
          rowsPerPage: 10
        },
        multiple: true,
        directory: false,
        thread: 3,
        detail: {
          idUser: '',
          email: '',
          area: '',
          sede: '',
          birthdate: '',
          url: '',
          typeContact: ''
        }
      }
    },
    methods: {
      moment: function () {
        return moment()
      },
      userDetail (item) {
        this.detail = item
        this.detailDrawer = true
      },
      submited (scope) {
        this.submitContact(this.group)
      },
      newGroup () {
        this.$emit('showModalGroup', true)
        this.group = {}
      },
      formValidate (field) {
        if (this.formErrors.has(field)) return this.formErrors.first(field)
        return true
      },
      editGroup (typeContact, name) {
        this.$emit('showModalGroup', true)
        this.group.nameGroup = name
        this.group.id = typeContact
      },
      delectGroup (typeContact, idUser) {
        this.removeContact(typeContact, idUser)
      },
      refreshTable () {
        this.filterGroup(null, this.search, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      validateSelect (obj, field) {
        if (!obj && this.validated) return 'Campo requerido'
        return true
      },
      changegroup (value) {
        this.detail.typeContact = value
        this.updateContact(this.detail)
        this.refreshTable()
      },
      ucwords (str) {
        if (str != null) {
          return (str + '').replace(/^([a-z])|\s+([a-z])/g, function ($1) {
            return $1.toUpperCase()
          })
        }
      },
      changeString (str) {
        if (str !== null || str !== 'null') {
          return str
        } else {
          return 'No definido'
        }
      },
      strtolower (str) {
        if (str != null) {
          return (str + '').toLowerCase()
        }
      },
      isJson (str) {
        if (str.length > 15) return true
      }
    },
    watch: {
      search () {
        this.search.length >= 3 ? this.$emit('search', this.search) : null
      },
      pagination: {
        handler () {
          this.refreshTable()
        },
        deep: true
      }
    },
    filters: {
      moment: function (date) {
        return moment(date).format('D MMMM')
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalGroup', false)
      })
    }
  }
</script>
