<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Sugerencias</v-toolbar-title>
    </v-card-title>
    <v-card>
      <suggest-table :headers="headers" :items="items" :loading="loading" :isAdmin="isAdmin" :modal="modal"
                     @showModal="val => { modal = val }" :fetchSuggests="fetchSuggests" :submit="submit" />
    </v-card>
  </div>
</template>
<script>
  import SuggestTable from '../../components/suggest/SuggestTable.vue'
  export default {
    components: {SuggestTable},
    data () {
      return {
        isAdmin: this.$store.state.auth.user.idRole === 1,
        modal: false,
        headers: [
          {
            text: 'Código',
            value: 'code',
            align: 'left',
            sortable: false
          },
          {
            text: 'Colaborador',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Motivo',
            value: 'purpose',
            align: 'left',
            sortable: false
          },
          {
            text: 'Sugerencia',
            value: 'description',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false
      }
    },
    methods: {
      fetchSuggests (limit = 5, offset = 0) {
        this.loading = true
        this.$store.dispatch('getSuggests', {limit, offset})
          .then((res) => {
            this.loading = false
            this.items = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      submit (params) {
        this.loading = true
        this.$store.dispatch('submitSuggestGeneral', params)
          .then((res) => {
            this.loading = false
            this.fetchSuggests()
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchSuggests()
    }
  }
</script>
