<template>
  <div>
    <v-card class="elevation-0 ml-3 mb-3" v-if="isAdmin">
      <v-card-title class="pa-0">
        <v-btn
          @click.native="modal = true"
          primary
          class="elevation-0">
          <v-icon dark>add</v-icon>&nbsp;Agregar imágenes
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          icon
          class="grey--text text--darken-2 mr-3"
          @click.native="refreshDetail"
          :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
    </v-card>
    <v-card class="elevation-0 ml-3" style="background-color: transparent">
      <v-progress-linear v-bind:indeterminate="true" v-if="loading" style="position: absolute" class="pa-0 ma-0"></v-progress-linear>
      <v-container v-if="isAdmin" fluid v-bind="{ [`grid-list-md`]: true }" class="pa-0">
        <v-layout row wrap>
          <v-flex xs6 sm4 md3 v-for="item in items" :key="item.idGallery">
            <v-card class="elevation-0" style="border-radius: 0">
              <vue-lightbox album="galeria" :src="`${baseUrl}/files/gallery/${item.src}`" >
                <v-card-media :src="`${baseUrl}/files/gallery/${item.src}`" height="200px"></v-card-media>
              </vue-lightbox>
              <v-card-actions class="white pa-0" v-if="isAdmin">
                <v-spacer></v-spacer>
                <v-menu left>
                  <v-btn icon class="primary--text" slot="activator">
                    <v-icon light>delete</v-icon>
                  </v-btn>
                  <v-card>
                    <v-card-actions>
                      <v-btn fab success small @click.native="deleteItem(item.idGallery)">
                        <v-icon class="white--text">thumb_up</v-icon>
                      </v-btn>
                      <v-btn fab error small>
                        <v-icon class="white--text">thumb_down</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-menu>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container v-else fluid v-bind="{ [`grid-list-md`]: true }" class="pa-0">
        <v-layout row wrap>
          <v-flex xs6 sm4 md3 v-for="(img, i) in items" :key="i">
            <vue-lightbox :album="img.name" :src="img.src" >
              <v-card class="elevation-0" style="border-radius: 0">
                <v-card-media height="200px"><img :src="img.src"/></v-card-media>
              </v-card>
            </vue-lightbox>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <modal :isAdmin="isAdmin" @showModal="val => { modal = val }" :modal="modal" :loading="loading" :submit="submit"
           :edit="edit" :isDoneG="isDoneG"/>
  </div>
</template>
<script>
  import Modal from './Modal.vue'
  import {baseUrl} from '../../api/'
  import VueLightbox from 'vue-lightbox'
  export default {
    components: {Modal, VueLightbox},
    props: {
      items: Array,
      loading: Boolean,
      isDoneG: Boolean,
      delete: Function,
      fetchDetail: Function,
      addGalley: Function
    },
    data () {
      return {
        baseUrl: baseUrl,
        isAdmin: this.$store.state.auth.user.idRole === 1,
        modal: false,
        edit: true
      }
    },
    methods: {
      deleteItem (id) {
        this.delete(id)
      },
      submit (fd) {
        this.addGalley(fd)
      },
      refreshDetail () {
        this.fetchDetail()
      }
    }
  }
</script>
