<template>
  <div>
    <v-card class="elevation-0 ml-3">
      <v-card-title class="pa-0" v-if="isAdmin">
        <v-btn
          @click.native="modal = true"
          primary
          class="elevation-0">
          <v-icon dark>add</v-icon>&nbsp;Crear Álbum
        </v-btn>
        <v-select
          style="width: 200px"
          v-if="isAdmin"
          class="pt-2 pb-2 mt-1 ml-3"
          :items="sedes"
          v-model="sede"
          item-text="text"
          item-value="value"
          light
          max-height="200"
          hint="Sedes"
          persistent-hint
          autocomplete>
        </v-select>
        <v-spacer></v-spacer>
        <v-btn icon class="grey--text text--darken-2" @click.native="refreshAlbum(sede)" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
    </v-card>
    <v-card class="elevation-0 mt-3 ml-3" style="background-color: transparent;">
      <v-card-text class="pa-0">
        <v-container fluid v-bind="{ [`grid-list-md`]: true }" class="pa-0">
          <v-layout row wrap>
            <v-flex xs12 sm6 md3 v-for="item in gallery" :key="item.idAlbum">
              <v-card
                class="elevation-0"
                style="border-radius: 0;cursor: pointer"
                v-on:click="!isAdmin ? $router.push(`/gallery/album/${item.idAlbum}/${item.title}`) : ''">
                <v-card-media :src="`${baseUrl}/files/gallery/${item.coverPhoto}`" height="200px">
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <v-spacer></v-spacer>
                      <div v-if="isAdmin">
                        <router-link :to="`/gallery/album/${item.idAlbum}/${item.title}`">
                          <v-btn icon class="primary--text text--lighten-2 ma-0">
                            <v-icon>edit</v-icon>
                          </v-btn>
                        </router-link>
                        <v-menu left>
                          <v-btn icon class="primary--text" slot="activator">
                            <v-icon light>delete</v-icon>
                          </v-btn>
                          <v-card>
                            <v-card-actions>
                              <v-btn fab success small @click.native="deleteAlbum(item.idAlbum)">
                                <v-icon class="white--text">thumb_up</v-icon>
                              </v-btn>
                              <v-btn fab error small>
                                <v-icon class="white--text">thumb_down</v-icon>
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-menu>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card-media>
                <v-card-title primary-title class="pa-3">
                  <div>
                    <span class="mb-0" style="font-size: 18px; font-weigth: 200">{{ item.title }}</span>
                  </div>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>

    <modal :isAdmin="isAdmin" @showModal="val => { modal = val }" :modal="modal" :loading="loading" :submit="submitGallery"
           :edit="edit" :isDoneG="isDoneG" :sedes="sedes" :fetchSedes="fetchSedes"/>
  </div>
</template>
<script>
  import Modal from './Modal.vue'
  import FileUpload from 'vue-upload-component'
  import {baseUrl} from '../../api/'
  import Headquarters from '../shared/Headquarters.vue'
  export default {
    components: {FileUpload, Modal, Headquarters},
    props: {
      loading: Boolean,
      submit: Function,
      fetchGalleries: Function,
      gallery: Array,
      total: Number,
      isAdmin: Boolean,
      delete: Function,
      isDoneG: Boolean
    },
    data () {
      return {
        baseUrl: baseUrl,
        title: '',
        accept: 'image/png,image/gif,image/jpeg,image/webp',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        name: 'file',
        pagination: {},
        multiple: true,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,
        files: [],
        edit: false,
        modal: false,
        sedes: [],
        sede: 0
      }
    },
    methods: {
      submitGallery (fd) {
        this.submit(fd)
      },
      refreshAlbum (sede) {
        this.fetchGalleries(sede)
      },
      deleteAlbum (id) {
        this.delete(id)
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersGroup', {})
          .then((res) => {
            this.sedes = [{text: 'Todas', value: 0}].concat(res.data)
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    watch: {
      sede (value) {
        this.refreshAlbum(value)
      }
    },
    mounted () {
      this.fetchSedes()
    }
  }
</script>
