<template>
  <div>
    <v-dialog v-model="modal" persistent width="500px" v-if="isAdmin">
      <v-card class="default-modal" lazy absolute>
        <form @submit.prevent="submitGallery('frm-gallery')" autocomplete="off">
          <v-card-title class="modal-row-title grey darken-3">
            <div class="headline white--text">CREAR ÁLBUM</div>
          </v-card-title>
          <v-card-text>
            <v-layout v-if="!edit">
              <v-flex xs5>
                <div class="pa-2"><b>Título</b></div>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  class="pa-0"
                  v-model="title"
                  single-line></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout v-if="!edit">
              <v-flex xs5>
                <div class="pa-2"><b>División</b></div>
              </v-flex>
              <v-flex xs7>
                <v-select
                  class="mt-0 pt-0"
                  v-if="isAdmin"
                  :items="sedes"
                  v-model="sede"
                  item-text="text"
                  item-value="value"
                  light
                  max-height="200"
                  hint="Sedes"
                  multiple
                  chips
                  persistent-hint
                  autocomplete>
                </v-select>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 class="pl-2">
                <div class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                  <label>Subir fotos</label>
                </div>
                <file-upload
                  style="display: block !important;"
                  :name="name"
                  :extensions="extensions"
                  :accept="accept"
                  :multiple="multiple"
                  :directory="directory"
                  :size="size || 0"
                  :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                  :drop="drop"
                  :dropDirectory="dropDirectory"
                  v-model="files"
                  @input-file="inputFile"
                  ref="upload">
                  <v-card style="min-height: 50px; border: 1px dashed orangered!important;" class="grey lighten-4">
                    <v-card-text>
                      <v-list>
                        <v-subheader class="text-xs-center">
                          <span class="primary--text"><span><v-icon primary>file_upload</v-icon></span><br/>Buscar Fotos</span>
                        </v-subheader>
                        <v-list-tile v-for="(item, i) in files" src="" :key="+i">
                          <v-list-tile-action>
                            <v-btn icon class="primary--text" @click.native="removeFile(i, item)">
                              <v-icon light>close</v-icon>
                            </v-btn>
                          </v-list-tile-action>
                          <v-list-tile-content>
                            <v-list-tile-title>{{ item.file.name }}</v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-card-text>
                  </v-card>
                </file-upload>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              flat
              @click.native="hideModal"
              class="primary--text"
              :disabled="loading">Cancelar</v-btn>
            <v-btn
              type="submit"
              primary
              v-if="(!edit && files.length > 0 && title.trim().length > 0) || (edit && files.length > 0)"
              :loading="loading"
              :disabled="loading">Guardar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import FileUpload from 'vue-upload-component'
  import Headquarters from '../shared/Headquarters.vue'
  export default {
    components: {FileUpload, Headquarters},
    props: {
      isAdmin: Boolean,
      modal: Boolean,
      loading: Boolean,
      edit: Boolean,
      submit: Function,
      isDoneG: Boolean,
      sedes: Array
    },
    data () {
      return {
        title: '',
        accept: 'image/png,image/gif,image/jpeg,image/webp',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        name: 'file',
        pagination: {},
        multiple: true,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,
        files: [],
        sede: [0]
      }
    },
    methods: {
      uploadFile (file) {
        let fd = new FormData()
        fd.append('file', file)
        this.$store.dispatch('uploadFile', fd)
          .then((res) => {
            this.params.description = this.params.description.trim() === '' ? res.data + '\n' : this.params.description.trim() + '\n' + res.data + '\n'
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      removeFile (index, file) {
        this.files.splice(index, 1)
        this.$refs.upload.remove(file)
      },
      submitGallery () {
        let fd = new FormData()
        fd.append('title', this.title)
        fd.append('sede', this.sede.indexOf(0) > -1 ? [0] : this.sede)
        this.files.map(file => {
          fd.append('files[]', file.file)
        })
        this.submit(fd)
      },
      hideModal () {
        this.title = ''
        this.files = []
        this.sede = [0]
        this.$emit('showModal', false)
      }
    },
    watch: {
      isDoneG (value) {
        if (value) this.hideModal()
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    }
  }
</script>
