<template>
  <div>
    <v-card-title>
      <v-btn icon @click.native="$emit('showModal', true)" class="green--text" v-if="!isAdmin">
        <v-icon v>add_circle_outline</v-icon>
      </v-btn>
      <v-layout v-else row wrap style="width: 50%">
        <v-flex xs12 md4>
          <v-select
            class="mt-3 ml-3"
            label="Sucursal"
            :items="itemSede"
            itemText="text"
            itemValue="value"
            v-model="sede"
            bottom
            autocomplete></v-select>
        </v-flex>
        <v-flex xs12 md4>
          <v-select
            class="mt-3 ml-3"
            label="Tipo"
            :items="types"
            v-model="typeSearch"
            bottom></v-select>
        </v-flex>
        <v-flex xs12 md4>
          <v-select
            class="mt-3 ml-3"
            :items="itemsStatus"
            v-model="statuSearch"
            label="Estado"
            bottom></v-select>
        </v-flex>
      </v-layout>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="refreshRequest()" class="grey--text text--darken-2" :loading="loading">
        <v-icon v>refresh</v-icon>
      </v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items.rows"
      :total-items="items.total"
      :pagination.sync="pagination"
      :loading="loading"
      :no-data-text="loading ? '' : 'no se encontraron resultados'"
      :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
      rows-per-page-text="Filas por página">
      <template slot="items" scope="props">
        <td>{{ props.item.type }}</td>
        <td>{{ props.item.name + ' ' + props.item.lastName }}</td>
        <td>{{ props.item.purpose }}</td>
        <td>{{ dateFormat(props.item.dateStart) }}</td>
        <td>
          <div v-if="!isAdmin">
            <v-btn small :class="statusClasses[props.item.idStatus]" class="elevation-0" :raised="false" :ripple="false">{{ statusPos[props.item.idStatus] }}</v-btn>
          </div>
          <div v-else>
            <v-select
              :class="{ 'input-group--disabled': loading }"
              style="margin: 0 !important;padding-top: 15px!important;text-align: center;"
              :items="status"
              :value="props.item.idStatus"
              single-line>
              <template slot="selection" scope="data">
                <v-btn small :class="statusClasses[data.item.value]" class="elevation-0" :raised="false" :ripple="false">{{ data.item.text }}</v-btn>
              </template>
              <template slot="item" scope="data">
                <div v-on:click="setStatus(props.item.idRequest, data.item.value)" class="text-xs-center" style="width: 90%">
                  <v-btn style="width: 100%!important;min-height: 0!important;" small :class="statusClasses[data.item.value]" class="elevation-0" :raised="false" :ripple="false">{{ data.item.text }}</v-btn>
                </div>
              </template>
            </v-select>
          </div>
        </td>
        <td>
          <v-btn icon small class="ma-0" @click.native="showDetail(props.item)">
            <v-icon class="primary--text">visibility</v-icon>
          </v-btn>
          <v-btn icon small class="ma-0" v-if="props.item.note != null && !isAdmin" @click.native="showNote(props.item.idRequest, props.item.note, props.item.fileNote)">
            <v-icon class="primary--text">mail</v-icon>
          </v-btn>
          <v-btn icon small class="ma-0" v-if="isAdmin" @click.native="showNote(props.item.idRequest, props.item.note, props.item.fileNote)">
            <v-icon class="primary--text">mail</v-icon>
          </v-btn>
          <v-btn icon small class="ma-0" v-if="isAdmin && props.item.file.length > 0" @click.native="showFiles(props.item.file)">
            <v-icon class="primary--text">file_download</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="modal" persistent width="500px" v-if="!isAdmin">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">CREAR UNA SOLICITUD - CONSTANCIA</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card flat>
          <v-card-text>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Colaborador *</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  id="name"
                  v-model="name"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Tipo de Solicitud *</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-select
                  :items="types"
                  item-text="text"
                  item-value="idType"
                  v-model="type"
                  bottom></v-select>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Motivo *</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  id="purpose"
                  v-model="purpose"
                  rows="3"
                  multi-line></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Dirigido a</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  id="target"
                  v-model="target"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12 class="pl-3 pr-3 pt-0">
                <div
                  class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                  <label>Adjunto</label>
                </div>
                <file-upload
                  style="display: block !important;"
                  :name="nameAtt"
                  :extensions="extensions"
                  :accept="accept"
                  :multiple="multiple"
                  :directory="directory"
                  :size="size || 0"
                  :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                  :drop="drop"
                  :dropDirectory="dropDirectory"
                  v-model="files"
                  @input-file="inputFile"
                  ref="upload">
                  <v-card style="min-height: 50px; border: 1px dashed orangered!important;" class="grey lighten-4">
                    <v-card-text style="max-height: 210px;overflow-y: auto;">
                      <div style="background: white"><span
                        class="primary--text">Adjuntar archivos (máximo 5 MB)</span></div>
                      <v-list>
                        <v-list-tile v-for="(item, i) in files" src="" :key="i">
                          <v-list-tile-action>
                            <v-btn icon class="primary--text" @click.native="removeFile(i, item)">
                              <v-icon light>close</v-icon>
                            </v-btn>
                          </v-list-tile-action>
                          <v-list-tile-content>
                            <v-list-tile-title class="file--name-ticket">{{item.file.name}}</v-list-tile-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-card-text>
                  </v-card>
                </file-upload>
              </v-flex>
            </v-layout>
            <questions class="pl-3 mt-3" :questions="questions" @upAnwsers="val => { updateAnwsers(val) }"/>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <small class="primary--text" style="padding-left: 10px">(*) Campos obligatorios</small>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModal" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            primary
            class="white--text"
            v-if="type > 0 && purpose.trim().length > 0 && target.trim().length > 0"
            @click.native="submitRequest()"
            :loading="loading"
            :disabled="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalNote" persistent scrollable width="500px" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">NOTA AL COLABORADOR</div>
        </v-card-title>
        <v-card-text>
          <v-layout>
            <v-flex xs4>
              <div class="pa-2"><b>Nota al colaborador *</b></div>
            </v-flex>
            <v-flex xs8>
              <div class="pt-2" v-if="!isAdmin" v-html="note"></div>
              <div v-else>
                <v-text-field
                  class="pt-1"
                  id="note"
                  v-model="note"
                  maxlength="150"
                  multi-line
                  rows="3"></v-text-field>
              </div>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12 class="pl-3 pr-3 pt-0">
              <div
                class="input-group input-group--tab-focused input-group--focused input-group--dark input-group--text-field">
                <label>Adjunto</label>
              </div>
              <file-upload
                v-if="isAdmin"
                style="display: block !important;"
                :name="nameAttN"
                :extensions="extensions"
                :accept="accept"
                :multiple="multiple"
                :directory="directory"
                :size="size || 0"
                :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                :drop="drop"
                :dropDirectory="dropDirectory"
                v-model="filesNote"
                @input-file="inputFileNote"
                ref="uploadNote">
                <v-card style="min-height: 50px; border: 1px dashed orangered!important;" class="grey lighten-4">
                  <v-card-text style="max-height: 210px;overflow-y: auto;">
                    <div style="background: white"><span
                      class="primary--text">Adjuntar archivos (máximo 5 MB)</span></div>
                    <v-list>
                      <v-list-tile v-for="(item, i) in filesNote" src="" :key="i">
                        <v-list-tile-action>
                          <v-btn icon class="primary--text" @click.native="removeFileNote(i, item)">
                            <v-icon light>close</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title class="file--name-ticket">{{item.file.name}}</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-card-text>
                </v-card>
              </file-upload>
              <div v-else v-for="(item, key) in filesNote" :key="key">
                <a :href="url + '/files/constance/' + item" download>{{item}}</a>
              </div>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <small class="primary--text" style="padding-left: 10px">(*) Campos obligatorios</small>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalNote" class="primary--text">Cancelar</v-btn>
          <v-btn
            primary
            class="white--text"
            v-if="isAdmin && note !== ''"
            @click.native="setNote()"
            :loading="loading"
            :disabled="loading">Enviar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalFiles" persistent width="500px" v-if="isAdmin">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">Archivos</div>
        </v-card-title>
        <v-card-text>
          <div v-for="(item, key) in files" :key="key" class="pl-1 pt-1 pb-1">
            <a :href="url + '/files/constance/' + item" download>{{item}}</a>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalFiles" class="primary--text">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalDetail" persistent width="500px">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">DETALLE DE LA SOLICITUD</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card flat>
          <v-card-text>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Colaborador</v-subheader>
              </v-flex>
              <v-flex xs7 class="pt-3" style="word-break: break-all">
                <span>{{`${detail.name} ${detail.lastName}`}}</span>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Tipo de Solicitud</v-subheader>
              </v-flex>
              <v-flex xs7 class="pt-3" style="word-break: break-all">
                <span>{{detail.type}}</span>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Motivo</v-subheader>
              </v-flex>
              <v-flex xs7 class="pt-3" style="word-break: break-all">
                <span>{{detail.purpose}}</span>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs5>
                <v-subheader>Dirigido a</v-subheader>
              </v-flex>
              <v-flex xs7 class="pt-3" style="word-break: break-all">
                <span>{{detail.userTo}}</span>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalDetail" class="primary--text" :disabled="loading">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  import Headquarters from '../shared/Headquarters.vue'
  import FileUpload from 'vue-upload-component'
  import {baseUrl} from '../../api/'
  import Questions from '../../components/request/Questions.vue'
  export default {
    components: {FileUpload, Headquarters, Questions},
    props: {
      headers: Array,
      types: Array,
      items: Object,
      loading: Boolean,
      isDone: Boolean,
      isDoneNote: Boolean,
      modal: Boolean,
      isAdmin: Boolean,
      fetchRequest: Function,
      submit: Function,
      setStatusRequest: Function,
      setNoteRequest: Function,
      sedes: Array
    },
    data () {
      return {
        url: baseUrl,
        accept: 'application/msword,application/pdf,image/png,image/jpeg,image/webp,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        multiple: true,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,
        nameAtt: 'file',
        nameAttN: 'fileN',
        itemType: [
          {
            value: 7,
            text: 'Constancia Laboral'
          },
          {
            value: 8,
            text: 'Constancia Salarial'
          }
        ],
        pagination: {},
        type: '',
        purpose: '',
        target: '',
        modalNote: false,
        modalFiles: false,
        modalDetail: false,
        iduser: this.$store.state.auth.user.idUser,
        name: this.$store.state.auth.user.name + ' ' + this.$store.state.auth.user.lastName,
        itemSede: [],
        sede: '',
        status: [
          {
            view: true,
            value: 0,
            text: 'Solicitado'
          },
          {
            view: true,
            value: 2,
            text: 'Rechazado'
          },
          {
            view: true,
            value: 3,
            text: 'En proceso'
          },
          {
            view: true,
            value: 4,
            text: 'Listo para retirar'
          }
        ],
        statusPos: ['Solicitado', '', 'Rechazado', 'En proceso', 'Listo para retirar', ''],
        statusClasses: ['default', '', 'error', 'primary', 'info', ''],
        itemsStatus: [
          {
            value: -1,
            text: 'Todos'
          },
          {
            value: 0,
            text: 'Solicitado'
          },
          {
            value: 1,
            text: 'Aprobado'
          },
          {
            value: 2,
            text: 'Rechazado'
          }
        ],
        statuSearch: -1,
        note: '',
        menu: false,
        date: null,
        idRequest: 0,
        files: [],
        filesNote: [],
        typeSearch: 0,
        questions: [],
        answers: [],
        detail: {}
      }
    },
    methods: {
      dateFormat,
      submitRequest () {
        let fd = new FormData()
        fd.append('typeRequest', this.type)
        fd.append('purpose', this.purpose)
        fd.append('delivery', this.date)
        fd.append('toRequest', this.target)
        this.answers.map(a => {
          fd.append('q[' + a.key + ']', a.value)
        })
        this.files.map(f => {
          fd.append('files[]', f.file)
        })
        this.submit(fd)
      },
      refreshRequest () {
        this.fetchRequest(this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1), this.sede, this.typeSearch, this.statuSearch)
      },
      hideModal () {
        this.$emit('showModal', false)
        // this.modal = false
        this.type = ''
        this.purpose = ''
        this.target = ''
        this.date = null
        this.files = []
        this.questions = []
        this.answers = []
      },
      hideModalNote () {
        this.modalNote = false
        this.note = ''
        this.idRequest = 0
        this.filesNote = []
      },
      hideModalFiles () {
        this.modalFiles = false
        this.files = []
      },
      showFiles (files) {
        this.files = files.split(',')
        this.modalFiles = true
      },
      showNote (id, note, files) {
        this.note = note
        this.idRequest = id
        this.modalNote = true
        this.filesNote = files.split(',')
      },
      setStatus (id, status) {
        this.setStatusRequest(id, status)
      },
      setNote () {
        let fd = new FormData()
        fd.append('idRequest', this.idRequest)
        fd.append('note', this.note)
        this.filesNote.map(f => {
          fd.append('files[]', f.file)
        })
        this.setNoteRequest(fd)
      },
      removeFile (index, file) {
        this.files.splice(index, 1)
        this.$refs.upload.remove(file)
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      removeFileNote (index, file) {
        this.filesNote.splice(index, 1)
        this.$refs.uploadNote.remove(file)
      },
      inputFileNote (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.uploadNote.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.uploadNote.uploaded && !this.$refs.uploadNote.active) {
          this.$refs.uploadNote.active = true
        }
      },
      updateAnwsers (value) {
        this.answers = []
        // console.log(value)
        Object.keys(value).map(a => {
          for (var key in value[a]) {
            // console.log(key, value[a][key])
            this.answers.push({key, value: value[a][key]})
          }
        })
      },
      showDetail (item) {
        this.modalDetail = true
        this.detail = item
      },
      hideModalDetail () {
        this.modalDetail = false
      }
    },
    watch: {
      pagination: {
        handler () {
          this.refreshRequest()
        },
        deep: true
      },
      isDone () {
        if (this.isDone) {
          this.hideModal()
        }
      },
      isDoneNote () {
        this.hideModalNote()
      },
      sede (value) {
        this.refreshRequest()
      },
      statuSearch () {
        this.refreshRequest()
      },
      sedes () {
        this.itemSede = this.sedes
      },
      typeSearch () {
        this.refreshRequest()
      },
      type (value) {
        let filter = this.types.filter(f => f.idType === value)[0]
        if (filter) this.questions = filter.question
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) {
          this.hideModal()
          this.hideModalNote()
          this.hideModalDetail()
        }
      })
    }
  }
</script>
