<template>
  <v-layout row wrap v-if="lquestion.length > 0">
    <v-flex xs12 md12 >
      <div class="title mt-2 mb-2">Campos adicionales</div>
    </v-flex>
    <v-flex xs12 md12 v-for="(q, i) in questions" :key="i">
      <!--<div>{{q}}</div>-->
      <v-layout row wrap>
        <v-flex xs12 md5>
          <v-subheader class="pl-1">{{q.description}}</v-subheader>
        </v-flex>
        <v-flex xs12 md7>
          <!-- TEXTO -->
          <v-text-field
            v-if="q.type == 1"
            class="pa-0 mt-2"
            :id="`answer${i}`"
            v-model="answers.type1[q.idQuestion]"></v-text-field>
          <!-- TEXTO LARGO -->
          <v-text-field
            v-else-if="q.type == 2"
            class="pa-0 mt-2"
            :id="`answer${i}`"
            multi-line
            rows="3"
            v-model="answers.type2[q.idQuestion]"></v-text-field>
          <!-- OPCION -->
          <v-select
            v-else-if="q.type == 3"
            class="pa-0 mt-2"
            :items="q.options && q.options.split(',')"
            v-model="answers.type3[q.idQuestion]"
            single-line
            bottom></v-select>
          <!-- SELECCION SIMPLE -->
          <v-radio
            v-else-if="q.type == 4"
            class="pa-0 mt-2"
            v-model="answers.type4[q.idQuestion]"
            v-for="(o, i) in q.options.split(',')"
            :key="i"
            :label="o"
            :value="o"></v-radio>
          <!-- SELECCION MULTIPLE -->
          <v-checkbox
            v-else-if="q.type == 5"
            class="pa-0 mt-2"
            :label="o"
            v-for="(o, i) in q.options.split(',')"
            :key="i"
            v-model="auxType5"
            @click="handleChk(o, q.idQuestion)"
            :value="o"
            light></v-checkbox>
        </v-flex>
      </v-layout>
    </v-flex>
    <!--<v-btn @click="test">test</v-btn>-->
  </v-layout>
</template>
<script>
  export default {
    props: {
      questions: Array,
      editable: Boolean
    },
    data () {
      return {
        answers: {
          type1: {},
          type2: {},
          type3: {},
          type4: {},
          type5: []
        },
        auxType5: [],
        lquestion: []
      }
    },
    methods: {
      test () {
        console.log('type 1: ', this.answers.type1)
        console.log('type 2: ', this.answers.type2)
        console.log('type 3: ', this.answers.type3)
        console.log('type 4: ', this.answers.type4)
        console.log('type 5: ', this.answers.type5)
      },
      handleChk (o, q) {
        let chk = this.auxType5.indexOf(o)
        this.answers.type5 = []
        if (chk > -1) this.auxType5.splice(chk, 1)
        else this.auxType5.push(o)
        // console.log(this.auxType5)
        /* if (this.auxType5.length > 0) this.answers.type5.push({[q]: this.auxType5.join(',')}) */
        if (this.auxType5.length > 0) this.answers.type5[q] = this.auxType5.join(',')
        return true
      }
    },
    watch: {
      questions (value) {
        this.lquestion = value ? this.questions : []
        this.answers.type1 = {}
        this.answers.type2 = {}
        this.answers.type3 = {}
        this.answers.type4 = {}
        this.answers.type5 = []
        this.auxType5 = []
      },
      answers: {
        handler () {
          this.$emit('upAnwsers', this.answers)
        },
        deep: true
      }
    }
  }
</script>
