<template>
  <div>
    <v-card-text style="position: relative">
      <v-progress-linear v-bind:indeterminate="true" v-if="loading" style="position: absolute; top: -10px; left: 0"></v-progress-linear>
      <v-layout row wrap>
        <v-flex xs12 sm3 md3 style="border-right: 1px solid rgba(0,0,0,0.12)">
          <v-card flat>
            <v-card-title v-if="isAdmin" primary-title class="pa-0 pl-2 pr-1">
              <headquarters
                style="width: 100%!important;"
                :items="itemSede"
                v-model="sede"
                itemText="text"
                itemValue="value"
                :ligth="true"
                :max-height="200"
                :multiple="false"
                :chips="false"
                label="Sucursal"
                :autocomplete="true" />
            </v-card-title>
            <v-card-title primary-title class="pt-0">
              <h3 class="headline mb-0 grey--text text--darken-2">Salas</h3>
            </v-card-title>
            <v-list dense>
              <v-list-tile :class="{ isActiveList: isActive(3) }" @click.native="showRoomRequest(3)">
                <v-list-tile-content>
                  <v-list-tile-title>Sala de Cómputo</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile :class="{ isActiveList: isActive(4) }" @click.native="showRoomRequest(4)">
                <v-list-tile-content>
                  <v-list-tile-title>Sala de Reuniones</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile :class="{ isActiveList: isActive(5) }" @click.native="showRoomRequest(5)">
                <v-list-tile-content>
                  <v-list-tile-title>Sala de Capacitación</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile :class="{ isActiveList: isActive(6) }" @click.native="showRoomRequest(6)">
                <v-list-tile-content>
                  <v-list-tile-title>Sala de Administración</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-card-title primary-title>
              <h3 class="headline mb-0 grey--text text--darken-2">Leyenda</h3>
            </v-card-title>
            <v-list dense>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title><v-icon class="green--text">fiber_manual_record</v-icon>Aprobado</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title><v-icon class="blue--text">fiber_manual_record</v-icon>En Espera</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex xs12 sm9 md9>
          <full-calendar
            ref="calendar"
            defaultView="month"
            :event-sources="eventsource"
            @event-selected="eventSelected"
            @event-created="eventCreated"
            :config="config"></full-calendar>
        </v-flex>
      </v-layout>
    </v-card-text>

    <v-dialog v-if="!isAdmin" v-model="modal" persistent width="600px">
      <v-card class="default-modal" lazy absolute>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">CREAR UNA SOLICITUD - SALAS</div>
        </v-card-title>
        <v-card flat>
          <v-card-text :style="{height: $store.state.less600 ? '300px' : '600px',  overflowX: 'auto'}">
            <!--NOMBRE-->
            <v-layout>
              <v-flex xs5>
                <v-subheader>Nombre</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="name"
                  disabled></v-text-field>
              </v-flex>
            </v-layout>
            <!--PARTICIPANTES-->
            <v-layout>
              <v-flex xs5>
                <v-subheader>Participantes</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-select
                  :items="items"
                  v-model="members"
                  item-text="text"
                  item-value="value"
                  ligth
                  chips
                  cache-items
                  multiple
                  avatar
                  :max-height="200"
                  autocomplete
                  :clear="clear">
                  <template slot="selection" scope="data">
                    <v-chip
                      close
                      @input="data.parent.selectItem(data.item)"
                      @click.native.stop
                      class="chip--select-multi"
                      :key="data.item.text">
                      <v-avatar>
                        <img :src="data.item.avatar">
                      </v-avatar>
                      {{ data.item.text }}
                    </v-chip>
                  </template>
                  <template slot="item" scope="data">
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.text"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="data.item.code"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </template>
                </v-select>
              </v-flex>
            </v-layout>
            <!--MOTIVO-->
            <v-layout>
              <v-flex xs5>
                <v-subheader>Motivo</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-text-field
                  v-model="purpose"
                  rows="3"
                  multi-line></v-text-field>
              </v-flex>
            </v-layout>
            <!--HORA INICIO-->
            <v-layout>
              <v-flex xs5>
                <v-subheader>Hora inicio</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="menuStart"
                  offset-y
                  :nudge-left="40">
                  <v-text-field
                    slot="activator"
                    v-model="timeStart"
                    readonly></v-text-field>
                  <v-time-picker v-model="timeStart" autosave></v-time-picker>
                </v-menu>
              </v-flex>
            </v-layout>
            <!--HORA FIN-->
            <v-layout>
              <v-flex xs5>
                <v-subheader>Hora final</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="menuEnd"
                  offset-y
                  :nudge-left="40">
                  <v-text-field
                    slot="activator"
                    v-model="timeEnd"
                    readonly></v-text-field>
                  <v-time-picker v-model="timeEnd" autosave></v-time-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModal" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            primary
            class="white--text"
            v-if="timeStart != null && timeEnd != null && purpose.trim().length > 0 && members.length > 0"
            @click.native="submitRequest()"
            :loading="loading"
            :disabled="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-if="isAdmin" v-model="modalDetail" persistent width="600px">
      <v-card class="default-modal" lazy absolute>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">DETALLE DE LA SOLICITUD</div>
        </v-card-title>
        <v-card-text :style="{height: $store.state.less600 ? '400px' : '600px',  overflowX: 'auto'}">
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Códido colaborador</b></div>
            </v-flex>
            <v-flex xs7>
              <div class="pt-2">{{ detail.idUser }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Nombre colaborador</b></div>
            </v-flex>
            <v-flex xs7>
              <div class="pt-2">{{ detail.name }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Fecha de la solicitud</b></div>
            </v-flex>
            <v-flex xs7>
              <div class="pt-2">{{ dateFormat(detail.dateStart) }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Hora inicio</b></div>
            </v-flex>
            <v-flex xs7>
              <div class="pt-2">{{ detail.timeStart }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Hora final</b></div>
            </v-flex>
            <v-flex xs7>
              <div class="pt-2">{{ detail.timeEnd }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Motivo</b></div>
            </v-flex>
            <v-flex xs7>
              <div class="pt-2" style="word-break: break-all">{{ detail.purpose }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Participantes</b></div>
            </v-flex>
            <v-flex xs7>
              <div :class="i > 0 ? 'pt-1 pb-2' : 'pt-2'" v-for="(item, i) in detail.allmembers" :key="i">{{ item }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout>
            <v-flex xs5>
              <div class="pa-2"><b>Nota al colaborador</b></div>
            </v-flex>
            <v-flex xs7>
              <div v-if="detail.idStatus == 0">
                <v-text-field
                  v-model="note"
                  maxlength="150"
                  multi-line
                  rows="2"></v-text-field>
              </div>
              <div v-else class="pt-2">{{ detail.note }}</div>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="$emit('showModalDetail', false)" class="primary--text" :disabled="loading">Cancelar</v-btn>
          <v-btn
            success
            class="white--text"
            v-if="isAdmin && detail.idStatus == 0"
            @click.native="update(1)"
            :loading="loading"
            :disabled="loading">Aprobar</v-btn>
          <v-btn
            error
            class="white--text"
            v-if="isAdmin && detail.idStatus == 0"
            @click.native="update(2)"
            :loading="loading"
            :disabled="loading">Rechazar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  import moment from 'moment'
  import Headquarters from '../shared/Headquarters.vue'
  import AvatarDefault from '../../assets/images/avatar-default.png'
  export default {
    components: {Headquarters},
    props: {
      isAdmin: Boolean,
      isDone: Boolean,
      loading: Boolean,
      loadingM: Boolean,
      items: Array,
      eventsource: Array,
      modal: Boolean,
      modalDetail: Boolean,
      clear: Boolean,
      submit: Function,
      fetchRequest: Function,
      updateRequest: Function,
      fetchContact: Function,
      sedes: Array
    },
    data () {
      return {
        iduser: this.$store.state.auth.user.idUser,
        name: this.$store.state.auth.user.name + ' ' + this.$store.state.auth.user.lastName,
        menuStart: false,
        menuEnd: false,
        timeStart: null,
        timeEnd: null,
        members: [{
          value: this.$store.state.auth.user.email,
          code: this.$store.state.auth.user.email,
          text: this.$store.state.auth.user.email,
          avatar: this.$store.state.auth.user.avatar != null ? this.$store.state.auth.user.avatar : AvatarDefault
        }],
        purpose: '',
        type: 3,
        note: '',
        detail: [],
        item: 0,
        itemSede: [],
        sede: '',
        config: {
          weekends: false,
          fixedWeekCount: false,
          locale: 'es-Es',
          eventLimit: true,
          eventLimitText: 'Más solicitudes...',
          allDayText: 'Horas/Días',
          buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista'
          },
          columnFormat: 'ddd DD/MM',
          header: {
            left: 'today prev,next',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          dayRender: (date, cell) => {
            if (date.isBefore(moment(new Date()))) {
              cell.addClass('day-not-allowed')
            }
          },
          eventClick: (event) => {
            if (this.isAdmin) {
              this.detail = event.request
              this.item = event.request.idRequest
              this.$emit('showModalDetail', true)
            }
          },
          dayClick: (date, jsEvent, view) => {
            if (!this.isAdmin) {
              if (date.isAfter(moment(new Date())) || moment(date).format('DD/MM/YYYY') === moment(new Date()).format('DD/MM/YYYY')) {
                this.clear = false
                this.$emit('showModal', true)
                this.dateEvent = moment(date).format('YYYY-MM-DD')
              }
            }
          },
          eventRender: (event) => {
            let clss = event.request.idStatus === 1 ? 'green' : 'blue'
            return '<div class="text-xs-left ' + clss + ' white--text request-event">' + event.request.timeStart + ' ' + event.request.name + '</div>'
          }
        }
      }
    },
    methods: {
      dateFormat,
      refreshEvents () {
        this.$refs.calendar.$emit('refetch-events')
      },
      removeEvent () {
        this.$refs.calendar.$emit('remove-event', this.selected)
        this.selected = {}
      },
      eventSelected (event) {
        this.selected = event
      },
      eventCreated (...test) {
      },
      showRoomRequest (item) {
        this.type = item
        this.fetchRequest(this.type)
      },
      hideModal () {
        this.$emit('showModal', false)
        this.$emit('showModalDetail', false)
        this.timeStart = null
        this.timeEnd = null
        this.purpose = ''
        this.members = [{
          value: this.$store.state.auth.user.email,
          code: this.$store.state.auth.user.email,
          text: this.$store.state.auth.user.email,
          avatar: this.$store.state.auth.user.avatar != null ? this.$store.state.auth.user.avatar : AvatarDefault
        }]
        this.note = ''
      },
      isActive (value) {
        return this.type === value
      },
      submitRequest () {
        this.submit(this.dateEvent, this.timeStart, this.timeEnd, this.purpose, this.members, this.type)
      },
      update (idStatus) {
        this.updateRequest(idStatus, this.note, this.item, this.type)
      }
    },
    watch: {
      timeStart (value) {
        this.timeEnd = value
      },
      isDone () {
        if (this.isDone) this.hideModal()
      },
      sede (value) {
        this.fetchRequest(this.type, value)
      },
      sedes () {
        this.itemSede = this.sedes
      }
    },
    mounted () {
      /* this.members.push({
        value: this.$store.state.auth.user.email,
        code: this.$store.state.auth.user.idUser,
        text: this.$store.state.auth.user.email,
        avatar: this.$store.state.auth.user.avatar != null ? this.$store.state.auth.user.avatar : AvatarDefault
      }) */
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    }
  }
</script>
