<template>
  <div>
    <v-card>
      <v-card-title>
        <v-btn icon @click="$emit('showModal', true)" class="green--text">
          <v-icon v>add_circle_outline</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn icon @click="refreshTypes" class="grey--text text--darken-2" :loading="loading">
          <v-icon v>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="items.rows"
        :total-items="items.total"
        :pagination.sync="pagination"
        :loading="loading"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
        rows-per-page-text="Filas por página">
        <template slot="items" scope="props">
          <td>{{ props.item.idType }}</td>
          <td>{{ props.item.description }}</td>
          <td>
            <v-btn icon class="primary--text ma-0" @click="showDetail(props.item)">
              <v-icon light>visibility</v-icon>
            </v-btn>
            <v-btn icon class="primary--text ma-0" @click="showEdit(props.item)">
              <v-icon light>edit</v-icon>
            </v-btn>
            <v-menu right v-if="props.item.idType > 8">
              <v-btn icon class="primary--text ma-0" slot="activator">
                <v-icon light>delete</v-icon>
              </v-btn>
              <v-card>
                <v-card-actions>
                  <v-btn fab success small @click="deleteType(props.item)">
                    <v-icon class="white--text">thumb_up</v-icon>
                  </v-btn>
                  <v-btn fab error small>
                    <v-icon class="white--text">thumb_down</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="modal" persistent width="600px">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">NUEVO TIPO DE SOLICITUD</div>
        </v-card-title>
        <v-card flat>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md3>
                <v-subheader class="pl-0">Descripción *</v-subheader>
              </v-flex>
              <v-flex xs12 md9>
                <v-text-field
                  class="pt-2"
                  id="description"
                  v-model="description"></v-text-field>
              </v-flex>
              <v-flex xs12 md12>
                <v-expansion-panel class="elevation-0 pa-0">
                  <v-expansion-panel-content v-model="more" class="typerequest__expansion-panel">
                    <div slot="header" class="subheading">Campos adicionales</div>
                    <v-card flat>
                      <v-card-text>
                        <v-layout row wrap>
                          <v-flex xs12 md3>
                            <v-subheader class="pl-0">Título *</v-subheader>
                          </v-flex>
                          <v-flex xs12 md9>
                            <v-text-field
                              class="pt-2"
                              id="title"
                              v-model="title"></v-text-field>
                          </v-flex>
                          <v-flex xs12 md3>
                            <v-subheader class="pl-0">Tipo del campo *</v-subheader>
                          </v-flex>
                          <v-flex xs12 md9>
                            <v-select
                              class="pt-2"
                              :items="itemsField"
                              v-model="fieldType"
                              bottom></v-select>
                          </v-flex>
                          <v-flex xs12 md12 class="elevation-1 pa-3" v-if="fieldType > 2">
                            <v-layout row wrap>
                              <v-flex xs12 md3 >
                                <v-subheader class="pl-0">Opciones *</v-subheader>
                              </v-flex>
                              <v-flex xs9 md7>
                                <v-text-field
                                  class="pt-2"
                                  id="options"
                                  v-model="options"></v-text-field>
                              </v-flex>
                              <v-flex xs3 md2 class="text-xs-center">
                                <v-btn outline small fab class="primary--text" @click="addOption">
                                  <v-icon>check</v-icon>
                                </v-btn>
                              </v-flex>
                              <v-flex xs12 md12>
                                <v-list-tile v-for="(item, i) in optionsAdded" src="" :key="i">
                                  <v-list-tile-action>
                                    <v-btn icon class="primary--text" @click="removeOptionAdded(i)">
                                      <v-icon light>close</v-icon>
                                    </v-btn>
                                  </v-list-tile-action>
                                  <v-list-tile-content>
                                    <v-list-tile-title class="file--name-ticket">{{item}}</v-list-tile-title>
                                  </v-list-tile-content>
                                </v-list-tile>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                      <v-card-actions>
                        <v-btn flat @click="hideMore" class="primary--text">Cancelar</v-btn>
                        <v-btn
                          primary
                          class="white--text"
                          @click="addField"
                          v-if="title.length > 0 && ((fieldType > 0 && fieldType < 3) || (fieldType > 2 && optionsAdded.length > 0))"
                          :disabled="loading">Agregar</v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                      <v-divider></v-divider>
                      <v-data-table
                        :headers="headersOptionsAdded"
                        :items="questions"
                        :no-data-text="'no ha agregado campos adicionales'"
                        hide-actions>
                        <template slot="items" scope="props">
                          <td>{{ props.item.description }}</td>
                          <td>{{ itemsField[props.item.type - 1].text }}</td>
                          <td>
                            <v-btn icon small class="primary--text" @click="removeField(props.item)">
                              <v-icon light>close</v-icon>
                            </v-btn>
                          </td>
                        </template>
                      </v-data-table>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
        <v-card-actions>
          <small class="primary--text" style="padding-left: 10px">(*) Campos obligatorios</small>
          <v-spacer></v-spacer>
          <v-btn flat @click="hideModal" class="primary--text" :disabled="loadings">Cancelar</v-btn>
          <v-btn
            primary
            v-if="(description.length > 0 && !more) || (description.length > 0 && (more && (questions.length > 0)))"
            class="white--text"
            @click="submitType()"
            :loading="loadings"
            :disabled="loadings">{{inEdit ? 'Actualizar' : 'Guardar'}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modalDetail" persistent width="600px">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">TIPO DE SOLICITUD</div>
        </v-card-title>
        <v-card flat>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md3>
                <v-subheader class="pl-0">Título</v-subheader>
              </v-flex>
              <v-flex xs12 md9>
                <v-subheader class="pl-0">{{detail.description}}</v-subheader>
              </v-flex>
              <questions :questions="detail.question" />
            </v-layout>
          </v-card-text>
        </v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="hideDetail" class="primary--text" :disabled="loadings">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>
<script>
  import Questions from '../../components/request/Questions.vue'
  export default {
    components: {Questions},
    props: {
      headers: Array,
      items: Object,
      loading: Boolean,
      loadings: Boolean,
      isDone: Boolean,
      fetchTypeRequest: Function,
      submitTypeRequest: Function,
      updateTypeRequest: Function,
      deleteTypeRequest: Function,
      modal: Boolean
    },
    data () {
      return {
        pagination: {},
        description: '',
        title: '',
        more: false,
        modalDetail: false,
        fieldType: null,
        itemsField: [
          {value: 1, text: 'Texto'},
          {value: 2, text: 'Texto largo'},
          {value: 3, text: 'Opción'},
          {value: 4, text: 'Selección simple'},
          {value: 5, text: 'Selección múltiple'}
        ],
        options: '',
        optionsAdded: [],
        headersOptionsAdded: [
          {
            text: 'Título',
            value: 'title',
            align: 'left',
            sortable: false
          },
          {
            text: 'Tipo',
            value: 'type',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        questions: [],
        detail: {},
        inEdit: false,
        typeId: 0
      }
    },
    methods: {
      refreshTypes () {
        this.fetchTypeRequest(this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      hideModal () {
        this.$emit('showModal', false)
        this.description = ''
        this.inEdit = false
        this.hideMore()
      },
      addOption () {
        if (this.options.length > 0) {
          this.optionsAdded.push(this.options)
          this.options = ''
        }
      },
      removeOptionAdded (index) {
        this.optionsAdded.splice(index, 1)
      },
      hideMore () {
        this.more = false
        this.title = ''
        this.fieldType = -1
        this.options = ''
        this.optionsAdded = []
        this.questions = []
      },
      addField () {
        this.questions.push({
          description: this.title,
          type: this.fieldType,
          options: this.optionsAdded.join(',')
        })
        this.title = ''
        this.fieldType = -1
        this.options = ''
        this.optionsAdded = []
      },
      removeField (item) {
        this.questions.splice(this.questions.indexOf(item), 1)
      },
      submitType () {
        if (this.inEdit) this.updateTypeRequest({idType: this.typeId, typequest: this.description, questions: this.questions})
        else this.submitTypeRequest({typequest: this.description, questions: this.questions})
      },
      showDetail (detail) {
        // console.log(detail.question)
        this.modalDetail = true
        this.detail = detail
      },
      hideDetail () {
        this.modalDetail = false
        this.detail = {}
      },
      showEdit (item) {
        this.$emit('showModal', true)
        this.inEdit = true
        this.typeId = item.idType
        if (item.question.length > 0) this.more = true
        this.description = item.description
        this.questions = item.question
      },
      deleteType (item) {
        this.deleteTypeRequest({idType: item.idType})
      }
    },
    watch: {
      pagination: {
        handler () {
          this.refreshTypes()
        },
        deep: true
      },
      more (value) {
        if (!value) this.hideMore()
      },
      isDone (value) {
        if (value) this.hideModal()
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) {
          this.hideModal()
          this.hideDetail()
        }
      })
    }
  }
</script>
