<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Ticket - Mesa de ayuda</v-toolbar-title>
    </v-card-title>

    <v-layout row wrap>
      <v-flex xs12>
        <ticket-table :headers="headers" :items="items" :loading="loading" :updated="updated"
                      :fetchTickets="fetchTickets" :sedes="sedes" :updateStatus="updateStatus"
                      :isAdmin="isAdmin"></ticket-table>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  import TicketTable from '../../components/ticket/TicketTable.vue'
  export default {
    components: {TicketTable},
    data () {
      return {
        isAdmin: this.$store.state.auth.user.idRole === 1,
        modalEmail: false,
        itemsMembers: [],
        memberSelect: [],
        headers: [
          {
            text: 'Nro. Registro',
            value: 'id',
            align: 'left',
            sortable: false
          },
          {
            text: 'Tipo',
            value: 'ticket_type',
            align: 'left',
            sortable: false
          },
          {
            text: 'Solicitante',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha de Registro',
            value: 'created_at',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false,
        sedes: [],
        updated: false
      }
    },
    methods: {
      fetchTickets (id, search, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('getTickets', {sede: id, search: search, limit, offset})
          .then((res) => {
            this.items = res.data
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersSelect', {})
          .then((res) => {
            this.sedes = res.data
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      updateStatus (item, status) {
        this.$store.dispatch('updateStatus', {id: item, status: status})
          .then((res) => {
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.updated = true
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.updated = false
          })
      },
      fetchContact () {
        this.$store.dispatch('fetchContact', {})
          .then((res) => {
            res.data.rows.map(user => {
              this.itemsMembers.push({
                value: user.email,
                text: user.email
              })
            })
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      showModalEmail () {
        this.modalEmail = true
      },
      submitEmail () {
        this.loading = true
        this.$store.dispatch('submitEmail', {type: 2, mails: this.memberSelect}).then((res) => {
          this.loading = false
          this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      fetchEmails () {
        this.$store.dispatch('getEmails', {type: 2}).then((res) => {
          this.loading = false
          res.data.map(mail => {
            this.memberSelect.push({value: mail.description, text: mail.description})
          })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchTickets()
      this.fetchSedes()
      this.fetchContact()
      this.fetchEmails()
    }
  }
</script>
