<template >
 <v-container fluid class="all-birthdays pa-0" style="max-width: 1280px">
  <v-card-title>
   <v-icon class="orange darken-2 white--text w-30 h-30">cake</v-icon><v-toolbar-title class="grey--text text--darken-2">Cumpleaños</v-toolbar-title>
  </v-card-title>
  <v-layout row wrap>
   <v-flex xs12 class="mb-3" v-if="isBirthday">
    <v-card style="max-width: 700px; margin: 0 auto; position: relative">
     <v-card-text>
      <v-layout>
       <v-flex xs12 sm4  style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <img src="../../assets/images/birthday/congarulate.png" style="width: 100%">
        <v-btn style="flex: 0.7 !important;" class="ma-0 pa-o" to="/user/profile" primary block>Ver Felicitaciones</v-btn>
       </v-flex>
       <v-flex xs12 sm8>
        <v-layout>
         <v-flex xs6 style="display: flex;">
          <div class="img-container">
           <img :src="$store.state.auth.user.avatar ? $store.state.auth.user.avatar :  avatarDefault"/>
          </div>
         </v-flex>
         <v-flex xs6 style="display: flex; justify-content: center; align-items: center; flex-direction: row">
          <span class="mb-0 grey--text text--darken-3" style="font-size: 22px; font-weight: 600">{{$store.state.auth.user.name.split(' ')[0]}} {{$store.state.auth.user.lastName.split(' ')[0]}}</span>
         </v-flex>
        </v-layout>

       </v-flex>


      </v-layout>

     </v-card-text>

    </v-card>
   </v-flex>
   <v-flex xs12 sm6 class="mb-3">
    <v-card>
     <v-card-title primary-title>
      <span class="mb-0 grey--text text--darken-3" style="font-size: 18px">Cumpleaños de hoy</span>
      <v-spacer></v-spacer>
      <small style="font-size: 16px" class="mb-0 grey--text text--darken-2">{{dateFormat(new Date, 'DD')}} de {{dateFormat(new Date, 'MMMM')}} de {{dateFormat(new Date, 'YYYY')}}</small>
     </v-card-title>
     <v-divider></v-divider>
     <div :style="{maxHeight: $store.state.less600 ? '300px' : '600px', overflowX: 'hidden', overflowY: 'auto'}">
      <v-layout class="pa-3" v-for="(item,i) in today" src="" :key="i">
       <v-flex xs3 style="display: flex;">
        <div class="img-container">
         <img :src="item.avatar ? item.avatar : avatarDefault"/>
        </div>
       </v-flex>
       <v-flex xs9 class="birthday-description">
        <div><span class="mb-0 grey--text text--darken-3" style="font-size: 16px">{{item.name.split(' ')[0]}} {{item.lastName.split(' ')[0]}}</span></div>
        <small class="grey--text text--darken-1" style="font-size: 13px; padding-top: 5px;">{{item.desPosition}}</small>
        <br/>
        <small class="grey--text text--darken-1 text-uppercase" style="font-size: 13px; padding-top: 5px;">{{item.divition}}</small>
        <div class="mt-2 emoji-content"  :class="{ 'no-edit': item.congratulated }">
         <textarea :class="`birthdayEmojis ${i}`" :data-index="i" :data-congratulated="item.congratulated">{{item.comment}}</textarea>
        </div>
        <v-card-actions>
         <v-spacer></v-spacer>
         <v-btn v-if="!item.congratulated" primary @click="sendCongratilation(i)" :loading="loadingToday" :disabled="loadingToday">Felicitar</v-btn>
         <v-btn v-if="item.congratulated" icon success @click="" v-tooltip:top="{ html: 'Ya lo felicitaste' }"><v-icon class="white--text">mood</v-icon></v-btn>
        </v-card-actions>
       </v-flex>
      </v-layout>
     </div>
    </v-card>
   </v-flex>

   <v-flex xs12 sm6>
    <v-card>
     <v-card-title primary-title>
      <span class="mb-0 grey--text text--darken-3" style="font-size: 18px">Próximos cumpleaños</span>
     </v-card-title>
     <v-divider></v-divider>
     <div style="max-height: 600px; overflow-x: hidden; overflow-y: auto">
      <v-layout class="pa-3" v-for="(item,i) in next" src="" :key="i">
       <v-flex xs3 style="display: flex;">
        <div class="img-container">
         <img :src="item.avatar ? item.avatar : avatarDefault"/>
        </div>
       </v-flex>
       <v-flex xs9 class="birthday-description" style="display: flex;">
        <div style="width: 100%; align-self: center;">
         <div><span class="mb-0 grey--text text--darken-3" style="font-size: 16px">{{item.name}} {{item.lastName}}</span></div>
         <small class="grey--text text--darken-1" style="font-size: 13px; padding-top: 5px;">{{item.desPosition}}</small>
         <br/>
         <small class="grey--text text--darken-1 text-uppercase" style="font-size: 13px; padding-top: 5px;">{{item.divition}}</small>
         <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat class="text-lowercase grey--text text--darken-2">{{dateFormat(formatToYear(item.birthdate), 'dddd, DD')}} de {{dateFormat(item.birthdate, 'MMMM')}}</v-btn>
         </v-card-actions>
        </div>
       </v-flex>
      </v-layout>
     </div>
    </v-card>
   </v-flex>
  </v-layout>
 </v-container>
</template>
<script>
  import avatarDefault from '../../assets/images/avatar-default.png'
  import {dateFormat} from '../../plugins/moment'
  import isEmpty from 'lodash/isEmpty'
  import moment from 'moment'
  const $ = window.$
  export default{
    props: {

    },
    data () {
      return {
        avatarDefault,
        isRender: false,
        today: [],
        next: [],
        loadingToday: false,
        loadingNext: false,
        comment: '',
        isBirthday: false
      }
    },
    methods: {
      dateFormat,
      fetchTodayBirtdays () {
        this.loadingToday = true
        this.$store.dispatch('fetchBirthday', {now: true}).then((res) => {
          if (res.data) this.today = res.data
          this.loadingToday = false
        }).catch(() => {
          this.loadingToday = false
        })
      },
      fetchNextBirtdays () {
        this.loadingNext = true
        this.$store.dispatch('fetchBirthday', {now: false}).then((res) => {
          if (res.data) this.next = res.data
          this.loadingNext = false
        }).catch(() => {
          this.loadingNext = false
        })
      },
      sendCongratilation (item) {
        var msg = $(`.birthdayEmojis.${item}`)[0].emojioneArea.getText()
        const uCom = this.$store.state.auth.user
        if (!isEmpty(msg)) {
          this.loadingToday = true
          this.$store.dispatch('congratulated', {comment: msg, idUser: this.today[item].idUser}).then((res) => {
            this.$store.commit('SET_MESSAGE', { msg: 'youCongratulated', type: 'info', params: {name: this.today[item].name} })
            this.today[item].congratulated = true
            $(`.birthdayEmojis.${item}`).parent().addClass('no-edit')
            this.$store.dispatch('sendUserNotification', {
              title: `${uCom.name.split(' ')[0]} ${uCom.lastName}`,
              body: 'Te ha felicitado, ve lo que te ha escrito...',
              action: '/user/profile',
              pathIcon: uCom.avatar,
              idUser: this.today[item].idUser
            }).then(() => {
              this.loadingToday = false
            }).catch(() => {
              this.loadingToday = false
            })
          }).catch(() => {
            this.loadingToday = false
          })
        }
      },
      formatToYear (date) {
        var dataBirth = date.split('-')
        var nowBrith = dateFormat(new Date(), 'YYYY-MM-DD').split('-')
        return `${nowBrith[0]}-${dataBirth[1]}-${dataBirth[2]}`
      }
    },
    watch: {
      'today' () {
        let sendC = this.sendCongratilation
        setTimeout(() => {
          if (this.today.length > 0) {
            setTimeout(() => {
              this.isRender = true
              $('.birthdayEmojis').emojioneArea({
                pickerPosition: 'bottom',
                filtersPosition: 'bottom',
                tones: false,
                autocomplete: false,
                inline: false,
                hidePickerOnBlur: true,
                events: {
                  keyup: function (editor, e) {
                    if (e.keyCode === 13) {
                      sendC(editor.closest('div.emoji-content').find('textarea').attr('data-index'), this.getText())
                    }
                  }
                }
              })
            }, 400)
          }
        }, 100)
      }
    },
    mounted () {
      this.fetchTodayBirtdays()
      this.fetchNextBirtdays()
      $(document).on('keydown keyup paste', '.no-edit', (e) => {
        e.preventDefault()
      })

      try {
        var dataBirth = this.$store.state.auth.user.birthdate.split('-')
        var nowBrith = dateFormat(new Date(), 'YYYY-MM-DD').split('-')
        var day = moment(new Date()).day()

        if (dataBirth[1] === nowBrith[1] && dataBirth[2] === nowBrith[2] || day === 5 && dataBirth[2] === (parseInt(nowBrith[2]) + 1).toString() || dataBirth[2] === (parseInt(nowBrith[2]) + 2).toString()) {
          this.isBirthday = true
        }
      } catch (e) {
      }
    }
  }
</script>
