<template>
  <canvas></canvas>
</template>
<script>
  import {Gauge} from 'gaugeJS'
  export default {
    props: {
      value: {
        type: Number,
        default: 0,
        twoWay: true,
        required: true
      }
    },
    data () {
      return {
        gauge: null
      }
    },

    computed: {
      options () {
        return {
          lines: 12, // The number of lines to draw
          angle: -0.20, // The length of each line
          lineWidth: 0.20, // The line thickness
          pointer: {
            length: 0.75, // The radius of the inner circle
            strokeWidth: 0.005, // The rotation offset
            color: '#000000' // Fill color
          },
          limitMax: 'true',   // If true, the pointer will not go past the end of the gauge
          staticZones: [
            {strokeStyle: '#F03E3E', min: -100, max: -41},
            {strokeStyle: '#FFDD00', min: -39, max: 39},
            {strokeStyle: '#30B32D', min: 41, max: 100}
          ],
          staticLabels: {
            font: '10px sans-serif',  // Specifies font
            labels: [-100, 100],  // Print labels at these values
            color: '#000000',  // Optional: Label text color
            fractionDigits: 0  // Optional: Numerical precision. 0=round off.
          }
        }
      }
    },

    mounted () {
      setTimeout(() => {
        this.gauge = new Gauge(this.$el).setOptions(this.options)
        this.gauge.setMinValue(-100)
        this.gauge.maxValue = 100
        this.gauge.animationSpeed = 21
        this.gauge.set(this.value)
      }, 100)
    }
  }
</script>
