<template>
  <div style="width: 100%; height: 100%; position: relative;text-align: center">
    <v-progress-circular
      :size="220"
      :width="25"
      :rotate="-90"
      :value="value"
      class="red--text">
      <span class="value--indicator-voc">{{ value }}%</span>
      <div class="small--indicator-voc">VOC</div>
    </v-progress-circular>
  </div>
</template>
<script>
  export default {
    props: {
      value: {
        type: Number,
        default: 0,
        twoWay: true,
        required: true
      }
    },
    data () {
      return {
        gauge: null,
        completedSteps: 0,
        total: 100
      }
    }
  }
</script>
