<template>
    <div>
        <v-card-title>
            <v-icon fab primary >forum</v-icon>
            <v-toolbar-title class="grey--text text--darken-2">{{title}}</v-toolbar-title>
        </v-card-title>
        <v-card class="grid elevation-0" style="background-color: transparent">
            <v-container fluid grid-list-xl container-white>
                <v-progress-linear v-if="loading" :indeterminate="true" class="mb-0"/>
                <v-layout row wrap>
                    <v-flex xs12 sm4 md4 v-for="(item, i) in items" :key="i" style="display: flex">
                        <v-card class="elevation-5">
                            <v-card-media v-if="type > 2" class="cursor-pointer" @click.native="fetchDetail(item.id)">
                                <img :src="item.images.imgcardnotice">
                            </v-card-media>
                            <v-card-media v-else class="cursor-pointer" @click.native="$router.push({path: `/general/${type === 1 ? 'communicated' : 'notice'}/${item.id}`})">
                                <img :src="item.images.imgcardnotice">
                            </v-card-media>
                            <v-card-title>
                                <div>
                                    <h6 class="primary--text text--darken-2 mb-1" style="font-size: 15px">{{item.title}}</h6>
                                    <p class="grey--text text--darken-1 truncate-text row-2" v-html="item.summary"/>
                                    <span class="absolute-element a-5 ml-1 left bottom grey--text" >{{dateFormat(item.created)}}</span>
                                    <router-link v-if="type < 3" :to="`/general/${type === 1 ? 'communicated' : 'notice'}/${item.id}`" class="orange--text absolute-element a-5 right bottom">leer mas...</router-link>
                                    <div v-else class="primary--text absolute-element a-5 right bottom" v-on:click="fetchDetail(item.id)" style="cursor: pointer;">leer mas...</div>
                                </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>

        <v-dialog v-if="type > 2" v-model="modal" persistent width="700px">
            <v-card class="default-modal" lazy absolute>
                <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
                    <div v-if="loading" class="headline white--text">Cargando...</div>
                    <div v-else class="headline white--text">{{ detail.title }}</div>
                    <v-spacer></v-spacer>
                    <div>
                        <v-btn icon class="white--text" @click.native="hideModal">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </div>
                </v-card-title>
                <v-card-text>
                    <v-progress-linear v-if="loading" :indeterminate="true" class="mb-0"/>
                    <div v-else v-html="detail.body"></div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  export default {
    props: {
      items: Array,
      detail: Object,
      loading: Boolean,
      title: String,
      type: Number,
      fetchItems: Function,
      modal: Boolean
    },
    methods: {
      fetchDetail (id) {
        this.fetchItems(id)
        this.$emit('showModal', true)
      },
      hideModal () {
        this.$emit('showModal', false)
        this.detail = {}
      },
      dateFormat
    }
  }
</script>
