<template>
    <div>
        <v-subheader class="pl-0 layout">
            <v-icon class="orange darken-2 white--text w-30 h-30">forum</v-icon> &nbsp;
            <router-link class="orange--text text--darken-2" :to="type === 1 ? '/general/communicated' : '/general/notice'">{{type === 1 ? 'Comunicados' : 'Noticias'}}</router-link>&nbsp;
            <v-flex row hidden-xs-only> - {{item.title}} </v-flex>
        </v-subheader>
        <v-container style="max-width: 1000px">
            <v-progress-linear v-if="loading" :indeterminate="true"/>
            <v-card class="grid elevation-8">
                <v-card-media>
                    <img :src="item.images ? item.images.large : ''">
                </v-card-media>
                <v-card-title>
                    <div class="new-detail">
                        <h6 class="orange--text text--darken-2 ">{{item.title}} <span class="grey--text" style="font-size: 15px">{{dateFormat(item.created)}}</span></h6>

                        <p class="grey--text text--darken-1" v-html="item.body"/>
                    </div>
                </v-card-title>
            </v-card>
        </v-container>
    </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  export default {
    props: {
      item: Object,
      loading: Boolean,
      type: Number
    },
    methods: {
      dateFormat
    }
  }
</script>
