<template>
    <router-view/>
</template>

<script>
  import auth from './store/auth'
  import axios from 'axios'
  export default {
    methods: {
      setUser (user) {
        this.$store.dispatch('setCurrentUser', user)
      },
      googleAuth (immediate) {
      },
      microsoftAuth (immediate) {
        this.$store.dispatch('signinMicrosoft', immediate).then((res) => {
          return res.data.callUrl
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: `gauth_${err}`, type: 'error' })
        })
      }
    },
    created () {
      this.setUser(auth.getLocalUser())
      // Add a response interceptor
      axios.interceptors.response.use((res) => {
        if (res.headers.Authorization) this.$store.commit('REFRESH_AUTHORIZATION_TOKEN', res.headers.Authorization)
        return res
      }, (err) => {
        if (err.response.status === 401) {
          this.$store.commit('SET_CURRENT_USER', {})
        }
        return Promise.reject(err)
      })
    },
    watch: {
      '$store.state.auth.isAuth' () {
        if (!this.$store.state.auth.isAuth) this.$router.push({ path: '/auth/signin', params: { redirectUrl: this.$router.path } })
      }
    },
    mounted () {
      this.microsoftAuth(true)
    }
  }

</script>
