<template>
  <v-container style="max-width: 1378px">
    <v-layout row wrap>
      <v-flex xs12 style="position: relative">
        <v-progress-linear v-if="loading" :indeterminate="loading" style="position: absolute; top: 30px;"></v-progress-linear>
        <v-card style="min-height: 100%;">
          <v-tabs>
            <v-tabs-bar slot="activators" class="white" style="overflow: hidden!important;">
              <v-tabs-item :href="'#tab-1-receiptPayment'" ripple @click.native="openDir('boletas',null)">Boletas</v-tabs-item>
              <v-tabs-item :href="'#tab-2-cts'" ripple @click.native="openDir('cts',null)">CTS</v-tabs-item>
              <v-tabs-slider class="primary"></v-tabs-slider>
            </v-tabs-bar>
            <v-tabs-content id="tab-1-receiptPayment">
             <v-container fluid grid-list-xl row wrap>
                <v-layout row wrap>
                  <v-flex xs3 v-for="paySlip in paySlips" :key="paySlip.dir">
                  <v-layout row wrap class="elevation-6 pa-3">
                    <v-flex>
                        <div @click="openDir('boletas', paySlip.dir,paySlip.extension)" class="text-xs-left text-bold">
                        <v-icon x-large class="red--text text--darken-2 fa fa-file-pdf-o" v-if="paySlip.extension == 'pdf'"></v-icon>
                        <v-icon x-large class="orange--text text--darken-2" v-if="paySlip.extension != 'pdf'">folder_shared</v-icon>
                        
                       {{ paySlip.extension == 'pdf' ? paySlip.dir.substr(0,8) : paySlip.dir }}

                       </div>
                    </v-flex>
                      <v-flex xs2>
                        <v-btn large class="orange--text text--darken-2" icon v-if="paySlip.extension == 'pdf'"
                          @click.native="downloadFile(paySlip.dir,typeFile)">
                           <v-icon>get_app</v-icon>
                        </v-btn>
                        <v-btn large class="orange--text text--darken-2" icon v-if="paySlip.extension != 'pdf'"
                          @click.native="deleteFiledir(paySlip.dir,typeFile)">
                          <v-icon>delete</v-icon>
                        </v-btn>
                      </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
             </v-container>
            </v-tabs-content>
            <v-tabs-content id="tab-2-cts">
              <v-container fluid grid-list-xl row wrap>
                <v-layout row wrap>
                  <v-flex xs3 v-for="paySlip in paySlipsCTS" :key="paySlip.dir">
                  <v-layout row wrap class="elevation-6 pa-3">
                    <v-flex>
                        <div @click="openDir('cts', paySlip.dir,paySlip.extension)" class="text-xs-left text-bold">
                        <v-icon x-large class="red--text text--darken-2 fa fa-file-pdf-o" v-if="paySlip.extension == 'pdf'"></v-icon>
                        <v-icon x-large class="orange--text text--darken-2" v-if="paySlip.extension != 'pdf'">folder_shared</v-icon>
                         {{ paySlip.extension == 'pdf' ? paySlip.dir.substr(0,8) : paySlip.dir }}

                       </div>
                    </v-flex>
                      <v-flex xs2>
                        <v-btn large class="orange--text text--darken-2" icon v-if="paySlip.extension == 'pdf'"
                          @click.native="downloadFile(paySlip.dir,typeFile)">
                          <v-icon>get_app</v-icon>
                        </v-btn>
                        <v-btn large class="orange--text text--darken-2" icon v-if="paySlip.extension != 'pdf'"
                          @click.native="deleteFiledir(paySlip.dir,typeFile)">
                          <v-icon>delete</v-icon>
                        </v-btn>
                      </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
             </v-container>
          </v-tabs-content>
          </v-tabs>
            <v-btn primary slot="activator" @click.native="newGroup()" flat><v-icon primary>add_circle</v-icon>&nbsp;Cargar Zip {{ typeFile }}</v-btn>
        </v-card>
      </v-flex>
    </v-layout>
        <!-- Modal upload zip-->
    <v-dialog v-model="modalGroup" persistent width="400px">
      <v-card>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text">CARGAR ZIP {{ typeFile=='boletas' ? 'Boletas' : 'CTS' }}</div>
        </v-card-title>
        <form @submit.prevent="submited('frm-New-Group')" data-vv-scope="frm-New-Group" autocomplete="off" enctype="multipart/form-data">
          <v-card-text>
                <label class="btn btn--raised primary" style="padding: 15px;">
                  <v-icon>unarchive</v-icon>
                  Buscar Archivo
                  <file-upload
                    style="display: block !important;z-index:10;"
                    :name="name"
                    :extensions="extensions"
                    :accept="accept"
                    :multiple="multiple"
                    :directory="directory"
                    :size="size || 0"
                    :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                    :drop="drop"
                    :dropDirectory="dropDirectory"
                    v-model="files"
                    required
                    @input-file="inputFile"
                    ref="upload">
                  </file-upload>
                </label>

          </v-card-text>
            <template>
                <v-container fluid>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <v-menu
                                    lazy
                                    :close-on-content-click="false"
                                    v-model="menu"
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    :nudge-left="40"
                                    max-width="290px"
                            >
                                <v-text-field
                                        slot="activator"
                                        label="Periodo "
                                        v-model="e3"
                                        prepend-icon="event"
                                        readonly
                                        name = "period"
                                        :value = "e3"
                                ></v-text-field>
                                <v-date-picker
                                        locale="ES-es"
                                        v-model="e3"
                                        no-title scrollable autosave>
                                </v-date-picker>
                            </v-menu>
                        </v-flex>
                    </v-layout>
                </v-container>
            </template>

            <v-card-actions>

            <v-spacer></v-spacer>
        <v-btn class="primary--text" flat  @click.native="$emit('showModalGroup', false)">Cerrar</v-btn>
        <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text">Cargar</v-btn>
        </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
    <!-- Modal upload zip //-->
  </v-container>
</template>
<script>
  import avatarDefault from '../../assets/images/avatar-default.png'
  import pdfDocument from '../../assets/images/boletas/pdf.png'
  import dirDocument from '../../assets/images/boletas/folders.png'
  import coverContact from '../../assets/images/contact/contect-back.jpg'
  import {baseUrl, url, xmlHttpDownloadFile} from '../../api/'
  import Headquarters from '../shared/Headquarters.vue'
  import FileUpload from 'vue-upload-component'
  import moment from 'moment'
  export default {
    components: { Headquarters, FileUpload },
    props: {
      paySlips: Array,
      paySlipsCTS: Array,
      headers: Array,
      loading: Boolean,
      fetchPayslips: Function,
      deleteFile: Function,
      modalGroup: Boolean,
      uploadZip: Function
    },
    data () {
      return {
        avatarDefault: avatarDefault,
        pdfDocument: pdfDocument,
        dirDocument: dirDocument,
        covercontact: coverContact,
        typeFile: 'boletas',
        active: null,
        fecha: '',
        baseUrl: baseUrl,
        accept: 'application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed',
        size: 1024 * 1024 * 10,
        extensions: 'zip,x-rar-compressed',
        search: '',
        pagination: {},
        multiple: false,
        directory: false,
        thread: 3,
        drop: false,
        dropDirectory: false,
        name: 'file',
        files: [],
        e3: null,
        period: null,
        menu: false,
        modal: false,
        formatted: 'test',
        sede: '',
        itemSede: [],
        upload: {
          file: null,
          sede: ''
        },
        fileName: ''
      }
    },
    methods: {
      moment,
      openDir (type, date, extension) {
        this.typeFile = type
        this.fecha = date
        if (extension !== 'pdf') this.fetchPayslips(type, date)
      },
      downloadFile (name, typeFile) {
        var win = window.open('_blank')
        xmlHttpDownloadFile('GET', `${url}/boletas/download?nameDiv=${name}&fecha=${this.fecha}&typeFile=${typeFile}`, true, this.$store.state.auth.user.token).then(res => {
          win.location = URL.createObjectURL(res)
        })
      },
      deleteFiledir (name) {
        this.deleteFile(name, this.typeFile)
      },
      newGroup () {
        this.$emit('showModalGroup', true)
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      submited (scope) {
        let fd = new FormData()
        fd.append('fileZip', this.files[0].file)
        fd.append('typeFile', this.typeFile)
        fd.append('date', this.e3)
        this.uploadZip(fd)
      }

    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalGroup', false)
      })
    }
  }
</script>
