<template>
  <v-app class="app-vuetify show animation-fade animation-duration-1">
    <main>
      <v-container fluid derf>
          <router-view/>
      </v-container>
    </main>
    <v-snackbar  v-model="isMessage" :error="$store.state.message.type === 'error'" :success="$store.state.message.type === 'success'" :info="$store.state.message.type === 'info'">
      {{this.$store.state.message.type === 'success' ||
      this.$store.state.message.type === 'info' ? $t('message.' + this.$store.state.message.msg) : ''}}
      {{this.$store.state.message.type == 'error' ? $t('error.' + this.$store.state.message.msg) : ''}}
      <v-btn flat class="white--text" @click.native="isMessage = false">Cerrar</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        isMessage: this.$store.state.isMessage
      }
    },
    watch: {
      '$store.state.isMessage' () {
        this.isMessage = this.$store.state.isMessage
      },
      'isMessage' () {
        if (!this.isMessage) this.$store.commit('SET_MESSAGE', {})
      }
    }
  }
</script>
