<template>
  <v-app class="app-vuetify show animation-fade animation-duration-1">
    <LeftDrawer v-if="isAuth" :drawer="drawer" :clipped="clipped" :fixed="fixed" :miniVariant="miniVariant"
                :items="items" @drawer="val => { drawer = val}" @miniVariant="val => { miniVariant = val }" :less600="less600" :navItems="navItems"/>

    <AppBar v-if="isAuth" :drawer="drawer" :clipped="clipped" :fixed="fixed" :miniVariant="miniVariant" :logout="logout" :isChangePass="isChangePass"
            @clipped="val => {clipped = val}" @drawer="val => { drawer = val}" @fixed="val => {fixed = val}" :isModalTicket="isModalTicket"
            @miniVariant="val => { miniVariant = val }" @rightDrawer="val => { rightDrawer = val }" :notifications="notifications" :inbox="inbox"
            :googleApps="googleApps" :diveApps="diveApps" :readNotification="readNotification" :favorites="favorites" :fetchFavorite="fetchFavorite"
            :less600="less600" :less768="less768" :less1124="less1124" :googleAuth="googleAuth"/>

    <main v-if="isAuth">
      <v-container fluid container-grey>
        <v-fade-transition mode="out-in">
          <router-view/>
        </v-fade-transition>
      </v-container>
    </main>
    <v-snackbar  v-model="isMessage" :error="$store.state.message.type === 'error'" :success="$store.state.message.type === 'success'" :info="$store.state.message.type === 'info'">
      {{this.$store.state.message.type === 'success' ||
      this.$store.state.message.type === 'info' ? $t('message.' + this.$store.state.message.msg, this.$store.state.message.params ) : ''}}
      {{this.$store.state.message.type === 'error' ? $t('error.' + this.$store.state.message.msg, this.$store.state.message.params) : ''}}
      <v-btn flat class="white--text" @click.native="isMessage = false">Cerrar</v-btn>
    </v-snackbar>
    <ChangePassword :isChangePass="isChangePass"/>
    <ModalTicket :isModalTicket="isModalTicket" :type="descType" :intType="intType" />


    <v-card height="56px" v-if="less600" >
      <v-bottom-nav value="true" class="bottom-nav grey darken-3" >
        <MenuItems :notifications="notifications" :inbox="inbox" :isModalTicket="isModalTicket" :site="site" :baseUrl="baseUrl"
                   :googleApps="googleApps" :diveApps="diveApps" :readNotification="readNotification" :favorites="favorites"  :less600="less600" :less768="less768"/>
      </v-bottom-nav>
    </v-card>
  </v-app>
</template>

<script>
  import {baseUrl} from '../api'
  import AppBar from '../components/shared/AppBar.vue'
  import LeftDrawer from '../components/shared/LeftDrawer.vue'
  import notifications from '../store/notification'
  import ChangePassword from '../components/shared/ChangePassword.vue'
  import ModalTicket from '../components/shared/ModalTicket.vue'
  const diveDay = process.env.STYLES === 'DV' ? require('../assets/images/divealdia.png')
     : require('../assets/images/icono_A.png')
  import diveMas from '../assets/images/divemas.png'
  // import uDive from '../assets/images/udive.png'
  // Google Apps images
  import outlook from '../assets/images/365/outlook.png'
  import onedrive from '../assets/images/365/onedrive.png'
  import word from '../assets/images/365/word.png'
  import excel from '../assets/images/365/excel.png'
  import powerpoint from '../assets/images/365/powerpoint.png'
  import onenote from '../assets/images/365/onenote.png'
  import sharepoint from '../assets/images/365/sharepoint.png'
  import teams from '../assets/images/365/teams.png'
  import yammer from '../assets/images/365/yammer.png'
  // Systems Images
  import MenuItems from '../components/shared/MenuItems.vue'
  const site = process.env.STYLES === 'DV'
  export default {
    components: {AppBar, LeftDrawer, ChangePassword, ModalTicket, MenuItems},
    data () {
      return {
        isChecked: this.$store.state.auth.isChecked,
        loading: this.$store.state.isLoading,
        isMessage: this.$store.state.isMessage,
        clipped: this.$store.state.less600,
        drawer: false,
        fixed: true,
        items: [],
        notifications: [],
        inbox: [],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js',
        isAuth: this.$store.state.auth.isAuth,
        isChangePass: false,
        isModalTicket: false,
        descType: '',
        intType: 0,
        googleApps: [
          {
            text: 'Outlook',
            to: 'https://outlook.office.com/mail/inbox',
            img: outlook
          },
          {
            text: 'OneDrive',
            to: 'https://grupokaufmann-my.sharepoint.com/personal/intranet02_divemotor_com_pe/_layouts/15/onedrive.aspx',
            img: onedrive
          },
          {
            text: 'Word',
            to: 'https://www.office.com/launch/word?auth=2',
            img: word
          },
          {
            text: 'Excel',
            to: 'https://www.office.com/launch/excel?auth=2',
            img: excel
          },
          {
            text: 'Power Point',
            to: 'https://www.office.com/launch/powerpoint?auth=2',
            img: powerpoint
          },
          {
            text: 'OneNote',
            to: 'https://www.office.com/launch/onenote?auth=2',
            img: onenote
          },
          {
            text: 'Sharepoint',
            to: 'https://grupokaufmann.sharepoint.com/_layouts/15/sharepoint.aspx',
            img: sharepoint
          },
          {
            text: 'Teams',
            to: 'https://teams.microsoft.com/_#/conversations/newchat?ctx=chat',
            img: teams
          },
          {
            text: 'Yammer',
            to: 'https://www.yammer.com/grupokaufmann.onmicrosoft.com/#/home',
            img: yammer
          }
        ],
        diveApps: [],
        favorites: [],
        pushed: false,
        windowWidth: null,
        windowHeight: null,
        less600: this.$store.state.less600,
        less768: this.$store.state.less768,
        less1124: this.$store.state.less1124,
        site,
        baseUrl,
        navItems: [
          { title: 'Inicio', to: '/' },
          // { title: 'Beneficios', to: '/greats' },
          { title: 'Directorio', to: '/directory/contact' },
          { title: 'Institución', to: '/general/institution' }
        ]
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => this.$router.push('/auth/signin'))
      },
      fetchNotifications () {
        if (!this.pushed) {
          this.pushed = true
          setTimeout(() => {
            this.$store.dispatch('fetchUserNotifications', {user: this.$store.state.auth.user, push: true})
            this.pushed = false
          }, 2000)
        }
      },
      fetchInbox () {
        this.$store.dispatch('fetchInbox')
      },
      googleAuth (immediate) {
        this.$store.dispatch('getGoogleAuth', immediate).then((res) => {
          this.fetchInbox()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: `gauth_${err}`, type: 'error' })
        })
      },
      readNotification (not) {
        not.read = true
        this.$store.dispatch('readNotification', {not: not, userId: this.$store.state.auth.user.idUser}).then(res => {
          this.$store.dispatch('fetchUserNotifications', {user: this.$store.state.auth.user, push: false})
        })
      },
      fetchMyLinks () {
        this.$store.dispatch('fetchMyLinks', { area: this.$store.state.auth.user.areaId }).then(res => {
          this.diveApps = res.data
        })
      },
      fetchFavorite () {
        this.$store.dispatch('fetchFavorite').then(res => {
          this.favorites = res.data
        })
      },
      // Metodo que capturar el tamaño de la pantalla
      getWindowSize (event) {
        this.$store.commit('WINDOW_SIZE', { width: document.documentElement.clientWidth, height: document.documentElement.clientHeight })
      },
      fetchMyModules () {
        this.$store.dispatch('fetchMyModules').then(res => {
          var modules = []
          var general = {
            divider: true,
            admin: true,
            items: []
          }
          var admin = {
            header: 'Administración',
            divider: true,
            admin: true,
            items: []
          }
          res.data.map(m => {
            var system = JSON.parse(m.system)
            var flagSystem = false

            system.map(s => {
              if (s === process.env.STYLES) flagSystem = true
            })

            if (flagSystem) {
              if (m.header === 1 && m.parent === null) {
                var sm = []
                if (m.parent === null) {
                  res.data.map(s => {
                    if (s.parent === m.id && s.parent != null) sm.push({icon: s.icon, to: s.internal ? s.to : null, title: s.name, href: !s.internal ? s.to : null, target: !s.internal ? '_blank' : null, exact: !s.internal})
                  })
                }
                general.items.push({
                  icon: m.icon,
                  title: m.name,
                  to: m.internal ? m.to : null,
                  items: sm,
                  href: !m.internal ? m.to : null,
                  target: !m.internal ? '_blank' : null,
                  exact: !m.internal,
                  image: m.name === 'Dive al día' || m.name === 'Novedades' ? diveDay : m.name === 'Mis Beneficios' ? diveMas : null
                })
              } else if (m.header === 2 && m.parent === null) {
                var sma = []
                if (m.parent === null) {
                  res.data.map(s => {
                    if (s.parent === m.id && s.parent != null) sma.push({icon: s.icon, to: s.internal ? s.to : null, title: s.name, href: !s.internal ? s.to : null, target: !s.internal ? '_blank' : null, exact: !s.internal})
                  })
                }
                admin.items.push({
                  icon: m.icon,
                  title: m.name,
                  to: m.internal ? m.to : null,
                  href: !m.internal ? m.to : null,
                  target: !m.internal ? '_blank' : null,
                  exact: !m.internal,
                  items: sma
                })
              }
            }
          })
          if (general.items.length > 0) modules.push(general)
          if (admin.items.length > 0) modules.push(admin)
          this.items = modules
        })
      }
    },
    watch: {
      // Monitorear si el usuario esta chequeado
      '$store.state.auth.isChecked' () {
        if (!this.$store.state.auth.isAuth) this.$router.push('/auth/signin')
        this.isChecked = this.$store.state.auth.isChecked
      },
      '$store.state.isLoading' () {
        this.loading = this.$store.state.isLoading
      },
      '$store.state.auth.isAuth' () {
        this.isAuth = this.$store.state.auth.isAuth
      },
      '$store.state.isMessage' () {
        this.isMessage = this.$store.state.isMessage
      },
      'isMessage' () {
        if (!this.isMessage) this.$store.commit('SET_MESSAGE', {})
      },
      '$store.state.notification.items' () {
        this.notifications = this.$store.state.notification.items
      },
      '$store.state.changePass' () {
        this.isChangePass = this.$store.state.changePass
      },
      '$store.state.modalTicket' () {
        this.isModalTicket = this.$store.state.modalTicket
        this.descType = this.$store.state.descTypeTicket
        this.intType = this.$store.state.typeTicket
      },
      '$store.state.auth.isGoogleAuth' () {
        if (this.$store.state.auth.isGoogleAuth) this.fetchInbox(true)
      },
      '$store.state.inbox.mails' () {
        this.inbox = this.$store.state.inbox.mails
      },
      // Monitorear cambios en el tamaño de la pantalla
      '$store.state.windowWidth' () {
        this.less600 = this.$store.state.less600
        this.less768 = this.$store.state.less768
        this.less1124 = this.$store.state.less1124
      }
    },
    created () {
      if (!this.$store.state.auth.isAuth) this.$router.push('/auth/signin')
      this.getWindowSize()
    },
    mounted () {
      this.fetchMyModules()
      this.fetchMyLinks()
      this.fetchFavorite()
      notifications.fetchNotifications(this.$store.state.auth.user)
      notifications.on('notification-value', this.fetchNotifications)
      if (this.$store.state.auth.isGoogleAuth) this.fetchInbox(true)
      // Se instancia la llamada al metodo resize
      this.$nextTick(function () {
        window.addEventListener('resize', this.getWindowSize)
        this.getWindowSize()
      })

      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.isChangePass = false
      })
    },
    beforeDestroy () {
      // Agregar el evento de resize antes de destruir el componente
      window.removeEventListener('resize', this.getWindowSize)
    }
  }
</script>
