<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Solicitudes - Cambio de datos</v-toolbar-title>
    </v-card-title>
    <v-layout row wrap>
      <v-flex xs12>
        <change-table :loading="loading" :loadingDetail="loadingDetail" :modalChange="modalChange"
                      @showModalChange="val => { modalChange = val }" :items="items" :headers="headers"
                      :itemsMembers="itemsMembers" :members="members" :submitEmail="submitEmail" :fetchChangesRequest="fetchChangesRequest"
                      :updateDetail="updateDetail" :itemDetail="itemDetail" :fetchDetail="fetchDetail"/>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  import ChangeTable from '../../components/profiles/ChangeTable.vue'
  export default {
    components: {ChangeTable},
    data () {
      return {
        loading: false,
        loadingDetail: false,
        success: false,
        items: {},
        itemDetail: [],
        headers: [
          {
            text: 'Nombre colaborador',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Apellido colaborador',
            value: 'lastName',
            align: 'left',
            sortable: false
          },
          {
            text: 'Email',
            value: 'email',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha de Solicitud',
            value: 'created_at',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acción',
            align: 'left',
            sortable: false
          }
        ],
        modalChange: false,
        itemsMembers: [],
        members: []
      }
    },
    methods: {
      fetchChangesRequest (limit = 5, offset = 0) {
        this.loading = true
        this.$store.dispatch('getChangesRequest', {limit, offset}).then((res) => {
          this.loading = false
          this.items = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      fetchEmails () {
        this.$store.dispatch('getEmails', {type: 1}).then((res) => {
          this.loading = false
          res.data.map(mail => {
            this.members.push(mail.description)
          })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      fetchContact () {
        this.$store.dispatch('fetchContact', {})
          .then((res) => {
            res.data.rows.map(user => {
              this.itemsMembers.push({
                value: user.email,
                text: user.email
              })
            })
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      submitEmail (emails) {
        this.loading = true
        this.$store.dispatch('submitEmail', {type: 1, mails: emails}).then((res) => {
          this.loading = false
          this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      updateDetail (id, to) {
        this.loading = true
        this.$store.dispatch('updateChange', {id, to}).then((res) => {
          this.loading = false
          this.fetchChangesRequest()
          this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      fetchDetail (id, group) {
        this.loadingDetail = true
        this.$store.dispatch('detailChange', {id, group}).then((res) => {
          this.loadingDetail = false
          this.itemDetail = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loadingDetail = false
        })
      }
    },
    mounted () {
      this.fetchChangesRequest()
      this.fetchContact()
      this.fetchEmails()
    }
  }
</script>
