<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Constancias</v-toolbar-title>
    </v-card-title>
    <v-card>
      <constance-table :headers="headers" :items="items" :loading="loading" :modal="modal" @showModal="val => { modal = val }"
                       :fetchRequest="fetchRequest" :isAdmin="isAdmin" :setStatusRequest="setStatusRequest"
                       :setNoteRequest="setNoteRequest" :sedes="sedes" :isDoneNote="isDoneNote" :types="types"/>
    </v-card>
  </div>
</template>
<script>
  import ConstanceTable from '../../components/request/ConstanceTable.vue'
  export default {
    components: {ConstanceTable},
    data () {
      return {
        isAdmin: true,
        headers: [
          {
            text: 'Tipo de Solicitud',
            value: 'type',
            align: 'left',
            sortable: false
          },
          {
            text: 'Colaborador',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Motivo',
            value: 'purpose',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha',
            value: 'dateStart',
            align: 'left',
            sortable: false
          },
          {
            text: 'Estado',
            value: 'idStatus',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false,
        modal: false,
        modalNote: false,
        sedes: [],
        isDoneNote: false,
        types: []
      }
    },
    methods: {
      fetchRequest (limit = 10, offset = 0, sede, type, status) {
        this.loading = true
        this.$store.dispatch('getConstanceRequest', {limit, offset, sede, type, status})
          .then((res) => {
            this.loading = false
            this.items = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      setStatusRequest (idRequest, idStatus) {
        this.loading = true
        this.$store.dispatch('updateConstanceRequest', {idStatus, idRequest})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest()
            this.clear = true
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      setNoteRequest (params) {
        this.loading = true
        this.isDoneNote = false
        this.$store.dispatch('setNoteConstance', params)
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest()
            this.clear = true
            this.isDoneNote = true
          })
          .catch((err) => {
            this.loading = false
            this.isDoneNote = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersSelect', {})
          .then((res) => {
            this.sedes = [{text: 'Todas', value: ''}].concat(res.data)
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchTypeRequest () {
        this.$store.dispatch('getTypeRequest')
          .then((res) => {
            this.types = [{text: 'Todas', value: 0}].concat(res.data)
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchTypeRequest()
      this.fetchRequest()
      this.fetchSedes()
    }
  }
</script>
