<template>
    <v-container>
        <EventsTable :items="items" :headers="headers" @search="val => { fetchEvent(null,val) }"
                     :fetchEvent="fetchEvent" :loading="loading" :editRow="editRow" :removeEvent="removeEvent"/>
        <EventForm :submitEvent="submitEvent"  :modalEvent="modalEvent" @showModalEvent="val => { modalEvent = val }"
                   :fetchRegions="fetchRegions" :fetchHeadquarters="fetchHeadquarters" :regions="regions" :areas="areas"
                   :headquarters="headquarters" :loading="loading" :row="row"/>
    </v-container>
</template>

<script>
  import EventsTable from '../../components/events/EventsTable.vue'
  import EventForm from '../../components/events/EventForm.vue'
  export default {
    components: { EventsTable, EventForm },
    data () {
      return {
        loading: false,
        modalEvent: false,
        headers: [
          { text: 'Portada', value: 'coverPhoto', align: 'center' },
          { text: 'Título', value: 'title', align: 'center' },
            /* { text: 'Fecha de creación', value: 'created_at', left: true }, */
          { text: 'Fecha de inicio', value: 'startDate', align: 'center' },
          { text: 'Fecha fin', value: 'endDate', align: 'center' },
          { text: 'Creado por', value: 'name', align: 'center' },
          { text: 'Importancia', value: 'importance', align: 'center' },
          { text: 'Inscritos', value: 'participans', align: 'center' },
          { text: 'Acciones', align: 'center' }
        ],
        items: {},
        regions: [],
        areas: [],
        headquarters: [],
        row: {}
      }
    },
    methods: {
      fetchEvent (id, search, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('fetchEvents', {id: id, search, limit, offset}).then((res) => {
          this.items = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data, type: 'error' })
          this.loading = false
        })
      },
      submitEvent (event) {
        this.loading = true
        this.$store.dispatch('submitEvent', event).then((res) => {
          this.$store.dispatch('sendEventNotification', res.data)
          this.loading = false
          this.modalEvent = false
          this.fetchEvent()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      removeEvent (id) {
        this.loading = true
        this.$store.dispatch('deleteEvent', id).then((res) => {
          this.loading = false
          this.$store.dispatch('removeEventNotification', id)
          this.fetchEvent()
        })
      },
      fetchHeadquarters (params) {
        this.$store.dispatch('fetchHeadquartersGroup', params).then((res) => {
          this.headquarters = [{text: 'Todos', value: 'all'}].concat(res.data)
        })
      },
      fetchRegions (params) {
        this.$store.dispatch('fetchRegionSelect', params).then((res) => {
          this.regions = [{text: 'Todos', value: 'all'}].concat(res.data)
        })
      },
      fetchAreas () {
        this.$store.dispatch('fetchAreaSelect').then((res) => {
          this.areas = [{text: 'Todas', value: 'all'}].concat(res.data)
        })
      },
      editRow (row) {
        this.row = {}
        this.row = row
        this.modalEvent = true
      },
      deleteRow (id) {
        this.$store.dispatch('deleteEvent').then((res) => {
          this.fetchEvent()
        })
      }
    },
    mounted () {
      this.fetchEvent()
      this.fetchAreas()
      // this.fetchRegions()
      this.fetchHeadquarters()
    },
    watch: {
      modalEvent () {
        if (!this.modalEvent) this.row = {}
      }
    }
  }
</script>
