<template>
  <div>
    <v-card-title>
      <v-icon fab primary >photo</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Galería</v-toolbar-title>
    </v-card-title>
    <album :loading="loading" :submit="submit" :fetchGalleries="fetchGalleries" :gallery="gallery" :isAdmin="isAdmin"
           :delete="remove" :isDoneG="isDoneG" />
  </div>
</template>
<script>
  import Album from '../../components/gallery/Album.vue'
  export default {
    components: {Album},
    data () {
      return {
        /* modal: false, */
        loading: false,
        gallery: [],
        isAdmin: this.$store.state.auth.user.idRole === 1 || this.$store.state.auth.user.idRole === 3,
        isDoneG: false
      }
    },
    methods: {
      submit (params) {
        this.loading = true
        this.isDoneG = false
        this.$store.dispatch('submitGallery', params)
          .then((res) => {
            this.loading = false
            this.isDoneG = true
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchGalleries()
          })
          .catch((err) => {
            this.loading = false
            this.isDoneG = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchGalleries (sede) {
        this.loading = true
        this.$store.dispatch('getGalleries', {sede})
          .then((res) => {
            this.loading = false
            this.gallery = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      remove (id) {
        this.loading = true
        this.$store.dispatch('deleteAlbum', {id})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchGalleries()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchGalleries()
    }
  }
</script>
