<template>
    <v-container>
        <LinkTable :items="items" :headers="headers" @search="val => { fetchLink(null,val) }"
                     :fetchLink="fetchLink" :loading="loading" :editRow="editRow" :removeLink="removeLink"/>
        <LinkForm :submitLink="submitLink"  :modalLink="modalLink" @showModalLink="val => { modalLink = val }"
                  :areas="areas" :loading="loading" :row="row" :types="types"/>
    </v-container>
</template>

<script>
  import LinkTable from '../../components/link/LinkTable.vue'
  import LinkForm from '../../components/link/LinkForm.vue'
  export default {
    components: { LinkTable, LinkForm },
    data () {
      return {
        loading: false,
        modalLink: false,
        headers: [
          { text: 'Ícono', value: 'coverPhoto', align: 'center' },
          { text: 'Nombre', value: 'title', align: 'center' },
          { text: 'Area', value: 'startDate', align: 'center' },
          { text: 'Acciones', align: 'center' }
        ],
        items: {},
        areas: [],
        row: {},
        types: [
          {text: 'Web', value: 1, prefix: 'http://'},
          {text: 'Desktop', value: 2, prefix: '//'}
        ]
      }
    },
    methods: {
      fetchLink (id, search, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('fetchLink', {id: id, search: search, limit, offset}).then((res) => {
          this.items = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data, type: 'error' })
          this.loading = false
        })
      },
      submitLink (event) {
        this.loading = true
        this.$store.dispatch('submitLink', event).then((res) => {
          this.loading = false
          this.modalLink = false
          this.fetchLink()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      removeLink (id) {
        this.loading = true
        this.$store.dispatch('deleteLink', id).then((res) => {
          this.fetchLink()
        })
      },
      fetchAreas () {
        this.$store.dispatch('fetchAreaSelect').then((res) => {
          this.areas = res.data
        })
      },
      editRow (row) {
        this.row = {}
        this.row = row
        this.modalLink = true
      },
      deleteRow (id) {
        this.$store.dispatch('deleteLink').then((res) => {
        })
      }
    },
    mounted () {
      this.fetchLink()
      this.fetchAreas()
    },
    watch: {
      modalLink () {
        if (!this.modalLink) this.row = {}
      }
    }
  }
</script>
