<template>
  <div>
    <v-tabs dark fixed icons left class="custom__tab-item--menu">
      <v-tabs-bar slot="activators" class="transparent" style="border-bottom: 1px solid rgba(0,0,0,0.1)!important;">
        <v-tabs-slider class="primary"></v-tabs-slider>
        <v-tabs-item href="#tab-1"><span class="primary--text">Menú del día</span></v-tabs-item>
        <v-tabs-item href="#tab-2"><span class="primary--text">Sugerencias</span></v-tabs-item>
      </v-tabs-bar>

      <v-tabs-content id="tab-1">
        <v-card-title>
          <v-icon fab primary >restaurant</v-icon>
          <v-toolbar-title class="grey--text text--darken-2">Menú del día</v-toolbar-title>
        </v-card-title>
        <v-flex xs12>
          <MenuCalendar :headers="this.headers" :items="this.items" :loading="this.loading"
                        :events="this.events" :fetchmenusede="fetchMenuSede" :fetchMenu="fetchMenu"
                        :deleteMenu="deleteMenu"/>
        </v-flex>
      </v-tabs-content>

      <v-tabs-content id="tab-2">
        <v-card-title>
          <v-icon fab primary >restaurant</v-icon>
          <v-toolbar-title class="grey--text text--darken-2">Sugerencias *</v-toolbar-title>
        </v-card-title>
        <v-flex xs12 v-if="this.$store.state.auth.user.idRole == 1">
          <Suggests :headers="this.headersSug" :items="this.itemsSug" :loading="this.loadingSug"
                    :fetchsuggest="fetchSuggest" :sedes="this.sedes"/>
        </v-flex>
      </v-tabs-content>
    </v-tabs>

    <MenuDialog
      @showDialog="val => { dialog = val }"
      :dialog="dialog"
      :sedes="this.sedes"
      :fetchMenu="fetchMenu"
      v-if="this.$store.state.auth.user.idRole == 1"/>

    <v-fab-transition v-if="this.$store.state.auth.user.idRole == 1">
      <v-btn primary dark absolute fab right large @click.native.stop="dialog = true" style="bottom: 30px;">
        <v-icon>cloud_upload</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
  import MenuCalendar from '../../components/menu/MenuCalendar.vue'
  import Suggests from '../../components/menu/Suggest.vue'
  import MenuDialog from '../../components/menu/MenuDialog.vue'
  export default {
    components: { MenuCalendar, Suggests, MenuDialog },
    data () {
      return {
        headers: [
          {
            text: 'Sucursal',
            value: 'nameStructure',
            align: 'left',
            sortable: false
          },
          {
            text: 'Archivo Menú',
            value: 'file',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        headersSug: [
          {
            text: 'Usuario',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Sede',
            value: 'nameStructure',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha y Hora',
            value: 'fecha',
            align: 'left',
            sortable: false
          },
          {
            text: 'Sugerencia',
            value: 'description',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        itemsSug: {},
        loading: false,
        loadingSug: false,
        modalUser: false,
        sedes: [],
        dialog: false,
        params: {
          sede: '',
          fecha: ''
        },
        events: []
      }
    },
    methods: {
      fetchMenu (limit = 5, offset = 0) {
        this.loading = true
        this.$store.dispatch('getHistoryMenu', {limit, offset})
          .then((res) => {
            this.items = res.data
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      fetchSuggest (id, date, limit = 5, offset = 0) {
        this.loadingSug = true
        this.$store.dispatch('getSuggest', {id: id, date: date, limit, offset})
          .then((res) => {
            this.itemsSug = res.data
            this.loadingSug = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loadingSug = false
          })
      },
      fetchMenuSede (item) {
        this.$store.dispatch('getMenuSede', item.idMenu)
          .then((res) => {
            this.loading = false
            this.events = res.data.success
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersGroup', {})
          .then((res) => {
            this.sedes = res.data
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      deleteMenu (menu) {
        this.loading = true
        this.$store.dispatch('deleteMenu', {menu: menu})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchMenu()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchCurrentMenu () {
        this.loading = true
        this.$store.dispatch('getCurrentMenu')
          .then((res) => {
            // console.log(res)
            // this.events = res.data.success
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      }
    },
    mounted () {
      if (this.$store.state.auth.user.idRole === 1) {
        this.fetchMenu()
        this.fetchSuggest()
        this.fetchSedes()
      } else {
        // this.fetchCurrentMenu()
      }
    }
  }
</script>
