<template>
    <v-container>
        <h4>Módulos</h4>
        <v-card>
            <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                        v-model="search"
                />
                <v-btn icon @click.native="refreshTable()" class="grey--text text--darken-2" :loading="loading">
                    <v-icon v>refresh</v-icon>
                </v-btn>

            </v-card-title>
            <v-data-table
                    :headers="headers"
                    :items="items.rows"
                    class="elevation-1"
                    :loading="loading"
                    :no-data-text="loading ? '' : 'no se encontraron resultados'"
                    :pagination.sync="pagination"
                    :total-items="items.total"
                    :rows-per-page-items="[10,20,50, { text: 'Todos', value: -1 }]"
                    rows-per-page-text="Filas por página"
            >
                <template slot="items" scope="props">
                    <td class="text-xs-center">{{ props.item.name }}</td>
                    <td class="text-xs-center">{{ props.item.active ? 'Activo' : 'Inactivo' }}</td>
                    <td class="text-xs-center">{{ dateFormat(props.item.update_at) }}</td>
                    <td class="text-xs-center">
                        <v-btn icon small flat primary class="tb-action" @click="editRow(props.item)">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-menu offset-y class="tb-action">
                            <v-btn small icon flat primary slot="activator">
                                <v-icon>delete</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile @click.native="removeEvent(props.item.id)">
                                    <v-list-tile-title>Remover</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </td>
                </template>
            </v-data-table>
        </v-card>
        <ModuleForm @show="val => {modal = val}" :modalShow="modal" :submit="submit" :modules="items.rows" :loading="loading" :row="row"/>
    </v-container>
</template>
<script>
  import ModuleForm from '../../components/modules/ModuleForm.vue'
  import {dateFormat} from '../../plugins/moment'
  export default{
    components: {ModuleForm},
    data () {
      return {
        loading: false,
        modal: false,
        headers: [
          { text: 'Nombre', value: 'name', align: 'center' },
          { text: 'Activo', value: 'active', align: 'center' },
          { text: 'Creado', value: 'created_at', align: 'center' },
          { text: 'Acciones', align: 'center' }
        ],
        items: {
          rows: [],
          total: 0
        },
        pagination: {
          rowsPerPage: 10
        },
        row: {},
        search: null
      }
    },
    methods: {
      dateFormat,
      fetch (id, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('fetchModules', {id: id, search: this.search, limit, offset}).then((res) => {
          this.items = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data, type: 'error' })
          this.loading = false
        })
      },
      submit (event) {
        this.loading = true
        this.$store.dispatch('submitModules', event).then((res) => {
          this.loading = false
          this.modal = false
          this.fetch()
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      remove (id) {
        this.loading = true
        this.$store.dispatch('deleteModule', id).then((res) => {
          this.loading = false
        })
      },
      editRow (row) {
        this.row = {}
        this.row = row
        this.modal = true
      },
      deleteRow (id) {
        this.$store.dispatch('deleteModule').then((res) => {
        })
      },
      refreshTable () {
        this.fetch(null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      }
    },
    mounted () {
      this.fetch()
    },
    watch: {
      modal () {
        if (!this.modal) this.row = {}
      },
      search () {
        this.fetch()
      },
      pagination: {
        handler () {
          this.refreshTable()
        },
        deep: true
      }
    }
  }
</script>
