<template>
  <PayslipsUpload :uploadZip="uploadZip" :modalGroup="modalGroup" @showModalGroup="val => { modalGroup = val } ":paySlips="paySlips" :paySlipsCTS="paySlipsCTS" :fetchPayslips="fetchPayslips" :deleteFile="deleteFile"
               :loading="loading" />
</template>

<script>
  import PayslipsUpload from '../../components/payslips/Payslips.vue'
  export default {
    components: {PayslipsUpload},
    data () {
      return {
        loading: false,
        paySlips: [],
        paySlipsCTS: [],
        modalGroup: false,
        typeLoad: ''
      }
    },
    methods: {
      fetchPayslips (type, date) {
        this.loading = true
        this.$store.dispatch('listFile', {type: type, date: date}).then((res) => {
          type === 'cts' ? this.paySlipsCTS = res.data : this.paySlips = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.dispatch('SET_ERROR', {error: err.code.replace('/', '-')})
          this.loading = false
        })
      },
      uploadZip (fileZip) {
        this.loading = true
        this.$store.dispatch('uploadZip', fileZip).then((res) => {
          this.loading = false
          console.log(res.data.success)
          if (res.data.success) {
            this.$store.dispatch('sendNotificationForUser', res.data.user).then(() => {
              this.$store.commit('SET_MESSAGE', { msg: 'notificationSend', type: 'success' })
            })
            this.user = {}
            this.fetchPayslips('boletas')
            this.fetchPayslips('cts')
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
            this.modalGroup = false
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.modalGroup = false
          this.loading = false
        })
      },
      deleteFile (name, typeFile) {
        this.loading = true
        this.$store.dispatch('deleteFile', {name: name, typeFile: typeFile}).then((res) => {
          this.fetchPayslips(typeFile)
          this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
          this.loading = false
        }).catch((err) => {
          this.$store.dispatch('SET_ERROR', {error: err.code.replace('/', '-')})
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchPayslips('boletas')
    },
    watch: {}
  }
</script>
