<template>
  <div>
    <v-card-title>
      <v-icon fab primary >restaurant</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Prescripción Alimentaria</v-toolbar-title>
    </v-card-title>
    <v-layout row wrap>
      <v-flex xs12>
        <reservation-table :headers="headers" :loading="loading" :items="items" :sedes="sedes"
                           :fetchReservation="fetchReservation" :updateStatus="updateStatus"/>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  import ReservationTable from '../../components/menu/ReservationTable.vue'
  export default {
    components: {ReservationTable},
    data () {
      return {
        headers: [
          {
            text: 'Colaborador',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Email',
            value: 'email',
            align: 'left',
            sortable: false
          },
          {
            text: 'Nota',
            value: 'note',
            align: 'left',
            sortable: false,
            width: 10
          },
          {
            text: 'Estado',
            value: 'estatus',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha',
            value: 'date',
            align: 'left',
            sortable: false
          },
          {
            text: 'Archivo',
            value: 'photo',
            align: 'left',
            sortable: false
          }/* ,
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          } */
        ],
        loading: false,
        items: {},
        sedes: []
      }
    },
    methods: {
      fetchReservation (id, search, status, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('getReservation', {sede: id, search: search, status, limit, offset})
          .then((res) => {
            this.items = res.data
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersGroup', {})
          .then((res) => {
            this.sedes = res.data
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      updateStatus (item, status) {
        this.loading = true
        this.$store.dispatch('updateStatusReservation', {id: item, status: status, response: ''})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchReservation()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchReservation()
      this.fetchSedes()
    }
  }
</script>
