<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Salas</v-toolbar-title>
    </v-card-title>
    <v-card>
      <room-calendar :loading="loading" :items="items" :eventsource="eventsource" @showModalDetail="val => { modalDetail = val }"
                     :clear="clear" :modalDetail="modalDetail" :fetchRequest="fetchRequest" :isAdmin="isAdmin"
                     :updateRequest="updateRequest" :sedes="sedes"/>
    </v-card>
  </div>
</template>
<script>
  import AvatarDefault from '../../assets/images/avatar-default.png'
  import RoomCalendar from '../../components/request/RoomCalendar.vue'
  export default {
    components: {RoomCalendar},
    data () {
      return {
        isAdmin: this.$store.state.auth.user.idRole === 1,
        loading: false,
        modalDetail: false,
        events: [],
        eventsource: [
          {
            events: this.events,
            color: 'orange',
            textColor: 'black'
          }
        ],
        items: [],
        clear: false,
        sedes: []
      }
    },
    methods: {
      fetchRequest (type, sede = 0) {
        this.loading = true
        this.$store.dispatch('getRoomRequest', {type, sede})
          .then((res) => {
            this.loading = false
            this.events = res.data.requests
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchContact () {
        this.$store.dispatch('fetchContact', {})
          .then((res) => {
            res.data.rows.map(user => {
              this.items.push({
                value: user.email,
                code: user.idUser,
                text: `${user.name} ${user.lastName}`,
                avatar: user.avatar != null ? user.avatar : AvatarDefault
              })
            })
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      updateRequest (idStatus, note, idRequest, type) {
        this.loading = true
        this.$store.dispatch('updateStatusRequest', {idStatus, note, idRequest})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchRequest(type)
            this.clear = true
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersSelect', {})
          .then((res) => {
            this.sedes = res.data
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    watch: {
      events () {
        this.eventsource = [
          {
            events: this.events,
            color: 'orange',
            textColor: 'white'
          }
        ]
      }
    },
    mounted () {
      this.fetchRequest(3)
      this.fetchContact()
      this.fetchSedes()
    }
  }
</script>
