<template>
  <div>
    <v-card-title>
      <v-icon fab primary >edit</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Ticket - Mesa de ayuda</v-toolbar-title>
    </v-card-title>
    <!--<div class="pb-1">
      <v-icon class="primary&#45;&#45;text">edit</v-icon>&nbsp;<span class="primary&#45;&#45;text">Tickets - Mesa de Ayuda</span>
    </div>-->
    <v-layout row wrap>
      <v-flex xs12>
        <ticket-table :headers="headers" :items="items" :loading="loading" :updated="updated"
                      :fetchTickets="fetchTickets" :sedes="sedes" :updateStatus="updateStatus"
                      :isAdmin="isAdmin"></ticket-table>
      </v-flex>
    </v-layout>

    <v-dialog v-model="modalEmail" persistent scrollable width="600px">
      <v-card class="default-modal" lazy absolute>
        <form v-on:submit.prevent="submitEmail('frm-email')" data-vv-scope="frm-email" autocomplete="off" ref="form">
          <v-card-title class="modal-row-title grey darken-3 ">
            <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
              Administrar emails
            </div>
          </v-card-title>
          <v-card-text>
            <v-layout>
              <v-flex xs4>
                <v-subheader>Colaboradores a notificar</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-select
                  label="Seleccione los emails"
                  :items="itemsMembers"
                  v-model="memberSelect"
                  item-text="text"
                  item-value="value"
                  multiple
                  chips
                  persistent-hint
                  autocomplete></v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              flat
              @click.native="modalEmail = false"
              class="primary--text"
              :disabled="loading">Cancelar</v-btn>
            <v-btn
              right
              type="submit"
              primary
              :loading="loading"
              :disabled="loading">Guardar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>

    <v-fab-transition>
      <v-btn primary dark absolute fab right large @click.native.stop="showModalEmail" style="bottom: 30px;">
        <v-icon>build</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
  import TicketTable from '../../components/ticket/TicketTable.vue'
  export default {
    components: {TicketTable},
    data () {
      return {
        isAdmin: this.$store.state.auth.user.idRole === 1,
        modalEmail: false,
        itemsMembers: [],
        memberSelect: [],
        headers: [
          {
            text: 'Nro. Registro',
            value: 'id',
            align: 'left',
            sortable: false
          },
          {
            text: 'Tipo',
            value: 'ticket_type',
            align: 'left',
            sortable: false
          },
          {
            text: 'Solicitante',
            value: 'name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha de Registro',
            value: 'created_at',
            align: 'left',
            sortable: false
          },
          {
            text: 'Estado',
            value: 'idStatus',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false,
        sedes: [],
        updated: false
      }
    },
    methods: {
      fetchTickets (id, search, status, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('getTickets', {sede: id, search: search, status, limit, offset})
          .then((res) => {
            this.items = res.data
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      fetchSedes () {
        this.$store.dispatch('fetchHeadquartersSelect', {})
          .then((res) => {
            this.sedes = res.data
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      updateStatus (item, status) {
        this.$store.dispatch('updateStatus', {id: item, status: status})
          .then((res) => {
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.updated = true
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.updated = false
          })
      },
      fetchContact () {
        this.$store.dispatch('fetchContact', {})
          .then((res) => {
            res.data.rows.map(user => {
              this.itemsMembers.push({
                value: user.email,
                text: user.email
              })
            })
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      showModalEmail () {
        this.modalEmail = true
      },
      submitEmail () {
        this.loading = true
        this.$store.dispatch('submitEmail', {type: 2, mails: this.memberSelect}).then((res) => {
          this.loading = false
          this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      },
      fetchEmails () {
        this.$store.dispatch('getEmails', {type: 2}).then((res) => {
          this.loading = false
          res.data.map(mail => {
            this.memberSelect.push({value: mail.description, text: mail.description})
          })
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          this.loading = false
        })
      }
    },
    mounted () {
      this.fetchTickets()
      this.fetchSedes()
      this.fetchContact()
      this.fetchEmails()
    }
  }
</script>
