<template>
  <div>
    <v-card-title>
      <v-icon fab primary >dns</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Tipos de solicitudes</v-toolbar-title>
    </v-card-title>
    <v-card-title>
      <v-icon fab error >warning</v-icon>
      <v-toolbar-title class="error--text text--darken-2">EN CONSTRUCCIÓN</v-toolbar-title>
    </v-card-title>
    <type-table :headers="headers" :items="items" :loading="loading" :loadings="loadings" :fetchTypeRequest="fetchTypeRequest"
                @showModal="val => { modal = val }" :modal="modal" :isDone="isDone" :submitTypeRequest="submitTypeRequest"
                :updateTypeRequest="updateTypeRequest" :deleteTypeRequest="deleteTypeRequest"/>
  </div>
</template>
<script>
  import TypeTable from '../../components/request/TypesTable.vue'
  export default {
    components: {TypeTable},
    data () {
      return {
        headers: [
          {
            text: 'Código solicitud',
            value: 'idType',
            align: 'left',
            sortable: false
          },
          {
            text: 'Tipo de solicitud',
            value: 'description',
            align: 'left',
            sortable: false
          },
          {
            text: 'Acciones',
            align: 'left',
            sortable: false
          }
        ],
        items: {},
        loading: false,
        loadings: false,
        modal: false,
        isDone: false
      }
    },
    methods: {
      fetchTypeRequest (limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('getAllTypeRequest', {limit, offset})
          .then((res) => {
            this.loading = false
            this.items = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      submitTypeRequest (params) {
        this.loadings = true
        this.isDone = false
        this.$store.dispatch('submitTypeRequest', params)
          .then((res) => {
            this.loadings = false
            this.isDone = true
            this.items = res.data
            this.fetchTypeRequest(10, 0)
          })
          .catch((err) => {
            this.loadings = false
            this.isDone = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      updateTypeRequest (params) {
        this.loadings = true
        this.isDone = false
        this.$store.dispatch('updateTypeRequest', params)
          .then((res) => {
            this.loadings = false
            this.isDone = true
            this.items = res.data
            this.fetchTypeRequest(10, 0)
          })
          .catch((err) => {
            this.loadings = false
            this.isDone = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      },
      deleteTypeRequest (params) {
        this.loadings = true
        this.$store.dispatch('deleteTypeRequest', params)
          .then((res) => {
            this.loadings = false
            this.fetchTypeRequest(10, 0)
          })
          .catch((err) => {
            this.loadings = false
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
          })
      }
    },
    mounted () {
      this.fetchTypeRequest()
    }
  }
</script>
