<template>
    <v-container>
        <UsersTable :uploadZip="uploadZip" :modalGroup="modalGroup" @showModalGroup="val => { modalGroup = val }" :items="items" :groupList="groupList"
          :statusList="statusList" :headers="headers" @search="val => { filterGroup(null,val) }"
                   :updateContact="updateContact" :loading="loading" :filterGroup="filterGroup"/>
    </v-container>
    
</template>

<script>
  import UsersTable from '../../components/user/UsersTable.vue'
  export default {
    components: { UsersTable },
    data () {
      return {
        loading: false,
        modalGroup: false,
        headers: [
          { text: 'Perfil', value: 'coverPhoto', align: 'center' },
          { text: 'Nombre', value: 'title', align: 'center' },
          { text: 'Correo', value: 'startDate', align: 'center' },
          { text: 'Posición', value: 'title', align: 'center' },
          { text: 'Acciones', align: 'center' }
        ],
        items: {},
        limit: 10,
        offset: 0,
        groupList: [],
        statusList: []
      }
    },
    methods: {
      uploadZip (fileExcel) {
        this.loading = true
        this.$store.dispatch('uploadExcelUsers', fileExcel).then((res) => {
          this.loading = false
          if (res.data.success) {
            this.filterGroup()
            this.user = {}
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
            this.modalGroup = false
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: `gauth_${err}`, type: 'error' })
          this.modalGroup = false
          this.loading = false
        })
      },
      filterGroup (id, search, limit = 10, offset = 0) {
        this.loading = true
        this.$store.dispatch('fetchUsers', {id: id, search: search, limit, offset}).then((res) => {
          this.items = res.data
          this.loading = false
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: err.response.data, type: 'error' })
          this.loading = false
        })
      },
      loadRoles () {
        this.$store.dispatch('fetchRole').then((res) => {
          this.groupList = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      },
      loadStatus () {
        this.$store.dispatch('fetchStatus').then((res) => {
          this.statusList = res.data
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      },
      updateContact (detail) {
        this.loading = true
        this.$store.dispatch('updateUsers', detail).then((res) => {
          this.loading = false
          if (res.data.success) {
            this.user = {}
            this.$store.commit('SET_MESSAGE', {msg: res.data.success, type: 'success'})
            this.$validator.clean()
            this.$store.commit('TOOGLE_CHANGE_PASS', false)
          }
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          this.loading = false
        })
      }
    },
    mounted () {
      this.filterGroup()
      this.loadRoles()
      this.loadStatus()
    }
  }
</script>
