<template>
  <div>
    <v-card-title>
      <v-icon fab primary>wb_sunny</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Vacaciones</v-toolbar-title>
    </v-card-title>
    <v-layout row wrap>
      <v-flex xs12>
        <vacation-table :headers="headers" :items="items" :loading="loading" @showModal="val => { modal = val }"
                        :modal="modal" :submit="submit" />
      </v-flex>
    </v-layout>

    <v-fab-transition>
      <v-btn primary dark absolute fab right large @click.native.stop="modal = true" style="bottom: 30px;">
        <v-icon>file_upload</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
  import VacationTable from '../../components/vacation/VacationTable.vue'
  export default {
    components: {VacationTable},
    data () {
      return {
        headers: [
          {
            text: 'Nombre archivo',
            value: 'description',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fecha de subida',
            value: 'created_at',
            align: 'left',
            sortable: false
          },
          {
            text: 'Descarga',
            value: 'file',
            align: 'left',
            sortable: false
          }
        ],
        items: [],
        loading: false,
        modal: false
      }
    },
    methods: {
      submit (params) {
        this.loading = true
        this.$store.dispatch('submitExcelVacation', params)
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.fetchVacations()
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      fetchVacations () {
        this.loading = true
        this.$store.dispatch('getVacations')
          .then((res) => {
            this.loading = false
            this.items = res.data
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      }
    },
    mounted () {
      this.fetchVacations()
    }
  }
</script>
