<template>
  <div>
    <v-card-text>
      <v-data-table
        :headers="headersMy"
        :items="itemsMy"
        :loading="loading"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        hide-actions>
        <template slot="items" scope="props">
          <td>{{ !props.item.total ? moment(props.item.contractDate).format('DD/MM/YY') : props.item.total }}</td>
          <td>{{ !props.item.total ? moment(props.item.startPeriod).format('DD/MM/YY') : '' }}</td>
          <td>{{ !props.item.total ? moment(props.item.endPeriod).format('DD/MM/YY') : '' }}</td>
          <td>{{ !props.item.total ? addSeparatorsNF(props.item.vacationWon, '.', ',', '.') : addSeparatorsNF(props.item.totalWon, '.', ',', '.') }}</td>
          <td>{{ !props.item.total ? addSeparatorsNF(props.item.vacationTaken, '.', ',', '.') : addSeparatorsNF(props.item.totalTaken, '.', ',', '.') }}</td>
          <td>{{ !props.item.total ? addSeparatorsNF(props.item.vacationPending, '.', ',', '.') : addSeparatorsNF(props.item.totalPending, '.', ',', '.') }}</td>
        </template>
      </v-data-table>
    </v-card-text>
  </div>
</template>
<script>
  import moment from 'moment'
  export default {
    props: {
      itemsMy: Array,
      headersMy: Array,
      loading: Boolean
    },
    methods: {
      moment,
      addSeparatorsNF (nStr, inD, outD, sep) {
        nStr += ''
        var dpos = nStr.indexOf(inD)
        var nStrEnd = ''
        if (dpos !== -1) {
          nStrEnd = outD + nStr.substring(dpos + 1, nStr.length)
          nStr = nStr.substring(0, dpos)
        }
        var rgx = /(\d+)(\d{3})/
        while (rgx.test(nStr)) {
          nStr = nStr.replace(rgx, '$1' + sep + '$2')
        }
        return nStr + nStrEnd
      }
    }
  }
</script>
