<template>
  <div>
    <v-card>
      <v-data-table
        :headers="headers"
        :items="items"
        :loading="loading"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        hide-actions>
        <template slot="items" scope="props">
          <td>{{ props.item.description }}</td>
          <td>{{ dateFormat(props.item.created_at, 'DD/MM/YYYY hh:mm a') }}</td>
          <td>
            <v-btn icon class="primary--text" :href="`${url}/files/vacation/${props.item.file}`">
              <v-icon>file_download</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="modal" persistent scrollable width="500" scrollable>
      <v-card>
        <form v-on:submit.prevent="submitExcel('frm-vacation')" autocomplete="off" enctype="multipart/form-data">
          <v-card-title class="modal-row-title grey darken-3">
            <div class="headline white--text">Carga de Vacaciones</div>
          </v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex offset-xs2 xs10>
                <label class="btn btn--raised primary" style="padding: 15px;">
                  <v-icon class="white--text">unarchive</v-icon>&nbsp;
                  Buscar Archivo
                  <file-upload
                    style="display: block !important;z-index:10;"
                    :name="name"
                    :extensions="extensions"
                    :accept="accept"
                    :multiple="multiple"
                    :directory="directory"
                    :size="size || 0"
                    :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                    :drop="drop"
                    :dropDirectory="dropDirectory"
                    v-model="files"
                    @input-file="inputFile"
                    ref="upload">
                  </file-upload>
                </label>
                <v-btn fab small error @click.native="deleteFile" v-if="files.length > 0">
                  <v-icon class="white--text">delete</v-icon>
                </v-btn>
                <br/>
                <small class="caption pl-2">{{ fileName }}</small>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <!--<v-btn
              :href="`${url}/File/reporteVacaciones.xls`"
              type="submit"
              primary
              :disabled="loading">Descargar plantilla</v-btn>-->
            <v-spacer></v-spacer>
            <v-btn type="submit" primary :loading="loading" :disabled="loading" v-if="files.length > 0">Cargar</v-btn>
            <v-btn class="primary--text" flat :disabled="loading" @click.native="hideModal()">Close</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import {dateFormat} from '../../plugins/moment'
  import FileUpload from 'vue-upload-component'
  import {baseUrl} from '../../api/'
  export default {
    components: {FileUpload},
    props: {
      headers: Array,
      items: Array,
      loading: Boolean,
      modal: Boolean,
      submit: Function
    },
    data () {
      return {
        url: baseUrl,
        accept: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        size: 1024 * 1024 * 10,
        extensions: 'xls,xlsx',
        search: '',
        pagination: {},
        multiple: false,
        directory: false,
        thread: 3,
        drop: false,
        dropDirectory: false,
        name: 'file',
        files: [],
        fileName: ''
      }
    },
    methods: {
      dateFormat,
      submitExcel () {
        let fd = new FormData()
        fd.append('excel', this.files[0].file)
        this.submit(fd)
      },
      processFile (event) {
        this.upload.file = event.target.files[0]
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      deleteFile () {
        this.files = []
      },
      hideModal () {
        this.$emit('showModal', false)
        this.files = []
        this.fileName = ''
      }
    },
    watch: {
      files (value) {
        this.fileName = value.length > 0 ? value[0].file.name : ''
      },
      loading () {
        if (!this.loading) this.hideModal()
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    }
  }
</script>
