<template>
  <div>
    <v-card-text>
      <v-data-table
        class="vacation-collaborator--table"
        :headers="[]"
        :items="itemsCol"
        :loading="loading"
        :no-data-text="loading ? '' : 'no se encontraron resultados'"
        hide-actions>
        <template slot="items" scope="props">
          <td>{{ props.item.name }} {{ props.item.lastName }}</td>
          <td>
            <v-btn icon class="primary--text" @click.native="showModal(props.item)">
              <v-icon>zoom_in</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card-text>

    <v-dialog v-model="modal" persistent scrollable width="800" scrollable>
      <v-card>
        <v-card-title class="modal-row-title grey darken-3">
          <div class="headline white--text">Vacaciones - {{ name }}</div>
        </v-card-title>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="aux"
            :loading="loading"
            :no-data-text="loading ? '' : 'no se encontraron resultados'"
            hide-actions>
            <template slot="items" scope="props">
              <td>{{ !props.item.total ? moment(props.item.contractDate).format('DD/MM/YY') : props.item.total }}</td>
              <td>{{ !props.item.total ? moment(props.item.startPeriod).format('DD/MM/YY') : '' }}</td>
              <td>{{ !props.item.total ? moment(props.item.endPeriod).format('DD/MM/YY') : '' }}</td>
              <td>{{ !props.item.total ? addSeparatorsNF(props.item.vacationWon, '.', ',', '.') : addSeparatorsNF(props.item.totalWon, '.', ',', '.') }}</td>
              <td>{{ !props.item.total ? addSeparatorsNF(props.item.vacationTaken, '.', ',', '.') : addSeparatorsNF(props.item.totalTaken, '.', ',', '.') }}</td>
              <td>{{ !props.item.total ? addSeparatorsNF(props.item.vacationPending, '.', ',', '.') : addSeparatorsNF(props.item.totalPending, '.', ',', '.') }}</td>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary--text" flat :disabled="loading" @click.native="hideModal()">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import moment from 'moment'
  export default {
    props: {
      itemsCol: Array,
      loading: Boolean
    },
    data () {
      return {
        items: [],
        modal: false,
        name: '',
        headers: [
          {
            text: 'Fecha de contrato',
            value: 'contractDate',
            align: 'left',
            sortable: false
          },
          {
            text: 'Inicio de período',
            value: 'startPeriod',
            align: 'left',
            sortable: false
          },
          {
            text: 'Fin de período',
            value: 'endPeriod',
            align: 'left',
            sortable: false
          },
          {
            text: 'Vacaciones ganadas',
            value: 'vacationWon',
            align: 'left',
            sortable: false
          },
          {
            text: 'Vacaciones gozadas',
            value: 'vacationTaken',
            align: 'left',
            sortable: false
          },
          {
            text: 'Vacaciones pendientes',
            value: 'vacationPending',
            align: 'left',
            sortable: false
          }
        ],
        aux: []
      }
    },
    methods: {
      moment,
      showModal (item) {
        this.items = []
        this.modal = true
        this.items = item.vacation
        this.aux = this.items.concat({
          total: 'Total',
          totalWon: item.totalVacWon,
          totalTaken: item.totalVacTak,
          totalPending: item.totalVacPen
        })
        this.name = `${item.name} ${item.lastName}`
      },
      hideModal () {
        this.modal = false
        this.items = []
        this.name = ''
      },
      addSeparatorsNF (nStr, inD, outD, sep) {
        nStr += ''
        var dpos = nStr.indexOf(inD)
        var nStrEnd = ''
        if (dpos !== -1) {
          nStrEnd = outD + nStr.substring(dpos + 1, nStr.length)
          nStr = nStr.substring(0, dpos)
        }
        var rgx = /(\d+)(\d{3})/
        while (rgx.test(nStr)) {
          nStr = nStr.replace(rgx, '$1' + sep + '$2')
        }
        return nStr + nStrEnd
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.hideModal()
      })
    }
  }
</script>
