<template>
    <v-layout row justify-center>
        <v-dialog v-model="modalFavorite" persistent  width="400px">
            <v-card class="default-modal" lazy absolute>
                <form @submit.prevent="submit()" autocomplete="off">
                    <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
                        <div class="headline white--text">Favorito</div>
                        <v-spacer></v-spacer>
                        <v-btn icon class="white--text" @click.native="$emit('showModalFavorite', false)">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text style="height: 420px; overflow-x: auto" >
                        <v-layout row>
                            <v-flex xs12>
                                <v-container fluid style="max-width: 300px" class="pt-0 pb-0 mb-0">
                                    <label class="grey--text text--darken-2">Portada</label>
                                    <v-card class="elevation-0">
                                        <v-card-media class="upload-image favorite" height="auto"   >
                                            <img id="favoriteImg" :src="cardImage">

                                            <file-upload
                                                    :class="{ active: files.length === 0 && fileIsRemoved }"
                                                    class="upload-front"
                                                    :name="fileUpConf.name"
                                                    :extensions="fileUpConf.extensions"
                                                    :accept="fileUpConf.accept"
                                                    :multiple="fileUpConf.multiple"
                                                    :directory="fileUpConf.directory"
                                                    :size="fileUpConf.size || 0"
                                                    :thread="fileUpConf.thread < 1 ? 1 : (fileUpConf.thread > 5 ? 5 : fileUpConf.thread)"
                                                    :drop="fileUpConf.drop"
                                                    :dropDirectory="fileUpConf.dropDirectory"
                                                    v-model="files"
                                                    @input-file="inputFile"
                                                    ref="upload">
                                            </file-upload>
                                        </v-card-media>
                                        <v-card-actions >
                                            <v-spacer></v-spacer>
                                            <v-btn v-if="files.length > 0 && !isCropper" @click.native="addFile" icon
                                                   class="grey lighten-2 green--text">
                                                <v-icon>check</v-icon>
                                            </v-btn>
                                            <v-btn @click.native="removeFile" v-if="!fileIsRemoved" icon class="grey lighten-2 red--text">
                                                <v-icon>remove</v-icon>
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                        </v-card-actions>
                                    </v-card>
                                    <br/>

                                    <v-text-field
                                            v-model="link.name"
                                            name="name"
                                            label="Nombre"
                                            :rules="[formValidate('title', link.name)]"
                                            required
                                    />



                                    <v-layout row>
                                        <v-flex xs4>
                                            <v-select
                                                    :items="types"
                                                    v-model="link.type"
                                                    label="Tipo"
                                                    bottom
                                                    name="importance"
                                                    :rules="[validateSelect(link.type, 'type')]"
                                                    required
                                            />
                                        </v-flex>
                                        <v-flex xs8>
                                            <v-text-field
                                                    v-model="link.urlPath"
                                                    name="path"
                                                    label="Path"
                                                    :rules="[formValidate('path', link.urlPath)]"
                                                    required
                                            />
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-flex>
                        </v-layout>

                    </v-card-text>
                    <v-card-actions>
                        <small class="primary--text" style="float: left; margin-top: 15px; padding-left: 10px">(*) Campos obligatorios</small>
                        <v-spacer></v-spacer>
                        <v-btn flat @click.native="$emit('showModalFavorite', false)">Cancelar</v-btn>
                        &nbsp;&nbsp;
                        <v-btn type="submit" primary :loading="loadingFavorite" :disabled="loadingFavorite" class="white--text">
                            Guardar
                        </v-btn>
                    </v-card-actions>
                </form>

            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>
  import cardDefualt from '../../assets/images/card-default.png'
  import FileUpload from 'vue-upload-component'
  import Cropper from 'cropperjs'
  import isEmpty from 'lodash/isEmpty'
  export default{
    components: {FileUpload},
    props: {
      modalFavorite: Boolean,
      submitFavorite: Function,
      loadingFavorite: Boolean
    },
    data () {
      return {
        validated: false,
        fileUpConf: {
          accept: 'image/png,image/gif,image/jpeg,image/webp',
          size: 1024 * 1024 * 10,
          extensions: 'gif,jpg,jpeg,png,webp',
          multiple: false,
          directory: false,
          drop: true,
          dropDirectory: false,
          thread: 3,
          name: 'coverPhoto',
          postAction: 'http://localhost:8080/admin/links'
        },
        cropConfig: {
          aspectRatio: 1 / 1,
          viewMode: 1,
          dragMode: 'move',
          guides: false,
          highlight: false,
          cropBoxMovable: true,
          cropBoxResizable: false,
          toggleDragModeOnDblclick: false
        },
        cardImage: cardDefualt,
        isCropper: false,
        cropper: null,
        files: [],
        fileIsRemoved: false,
        link: {
          id: 0,
          cropperData: {},
          name: null,
          iconPath: null,
          type: null,
          urlPath: null
        },
        isEdit: false,
        types: [
          {text: 'Web', value: 1, prefix: 'http://'},
          {text: 'Desktop', value: 2, prefix: '//'}
        ]
      }
    },
    methods: {
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      },
      validateSelect (obj, field) {
        if (!obj && this.validated) return 'Campo requerido'
        return true
      },
      submit () {
        this.validated = true
        this.link.files = this.files
        if (this.isEdit && !this.link.cropperData) this.submitFavorite(this.link)
        else this.submitFavorite(this.link)
      },
      // File
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      removeFile () {
        this.fileIsRemoved = true
        this.isCropper = false
        this.files.map(f => {
          this.$refs.upload.remove(f)
        })
        this.cardImage = cardDefualt
        this.cropper.destroy()
      },
      addFile () {
        this.fileIsRemoved = false
        this.isCropper = true
        this.link.cropperData = this.cropper.getData()
        this.cardImage = this.cropper.getCroppedCanvas().toDataURL('image/png', 0.5)
        this.cropper.destroy()
      }
    },
    watch: {
      'files' () {
        this.files.map(f => {
          this.cardImage = f.type.substr(0, 6) === 'image/' && f.blob ? f.blob : cardDefualt
          this.fileIsRemoved = true
        })
      },
      cardImage () {
        setTimeout(() => {
          if (this.files.length > 0 && !this.isCropper) {
            this.cropper = new Cropper(document.getElementById('favoriteImg'), this.cropConfig)
          }
        }, 400)
      },
      'link.type' () {
        this.link.urlPath = this.link.type === 1 ? 'http://' : '//'
      },
      modalFavorite () {
        if (this.modalFavorite) {
          this.validated = false
          this.link = {
            id: 0,
            cropperData: {},
            name: null,
            areaId: null,
            iconPath: null,
            type: null,
            urlPath: null
          }
          this.cardImage = cardDefualt
          this.isEdit = false
          this.fileIsRemoved = true
          this.files = []
          this.isCropper = false
          this.$emit('showModalFavorite', true)
        } else {
          if (this.cropper) this.cropper.destroy()
        }
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalFavorite', false)
      })
    }
  }
</script>
