<template>
    <v-layout row justify-center>
        <v-dialog v-model="modalLink" persistent  width="400px">
            <v-card class="default-modal" lazy absolute>
                <form @submit="submit('frm-link')" autocomplete="off">
                    <v-card-title class="modal-row-title grey darken-3 pt-2 pb-2">
                        <div class="headline white--text">Link</div>
                        <v-spacer></v-spacer>
                        <v-btn icon class="white--text" @click.native="$emit('showModalLink', false)">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text style="height: 300px; overflow-x: auto" >
                        <v-layout row>
                            <v-flex xs12>
                                <v-container fluid style="max-width: 600px" class="pt-0">
                                    <v-select
                                      :items="typeLink"
                                      v-model="tipoBanner"
                                      label="Tipo"
                                      bottom
                                      name="importance"
                                    />
                                   <label class="grey--text text--darken-2">Portada</label>
                                    <v-card class="elevation-0">
                                        <v-card-media class="upload-image link" height="auto">
                                            <img id="linkImg" :src="cardImage">

                                            <file-upload
                                                    :class="{ active: files.length === 0 && fileIsRemoved }"
                                                    class="upload-front"
                                                    :name="fileUpConf.name"
                                                    :extensions="fileUpConf.extensions"
                                                    :accept="fileUpConf.accept"
                                                    :multiple="fileUpConf.multiple"
                                                    :directory="fileUpConf.directory"
                                                    :size="fileUpConf.size || 0"
                                                    :thread="fileUpConf.thread < 1 ? 1 : (fileUpConf.thread > 5 ? 5 : fileUpConf.thread)"
                                                    :drop="fileUpConf.drop"
                                                    :dropDirectory="fileUpConf.dropDirectory"
                                                    v-model="files"
                                                    @input-file="inputFile"
                                                    ref="upload">
                                            </file-upload>
                                        </v-card-media>
                                        <v-card-actions >
                                            <v-spacer></v-spacer>
                                            <v-btn v-if="files.length > 0 && !isCropper" @click.native="addFile" icon
                                                   class="grey lighten-2 green--text">
                                                <v-icon>check</v-icon>
                                            </v-btn>
                                            <v-btn @click.native="removeFile" v-if="!fileIsRemoved" icon class="grey lighten-2 red--text">
                                                <v-icon>remove</v-icon>
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                        </v-card-actions>
                                    </v-card>

                                    <br/>
                                    <v-text-field v-if="tipoBanner ===1"
                                            v-model="link.name"
                                            name="name"
                                            label="Nombre"
                                            :rules="[formValidate('title', link.name)]"
                                    />
                                    <v-layout row>
                                        <v-flex xs4>
                                            <v-select
                                                    :items="types"
                                                    v-model="link.type"
                                                    label="Tipo"
                                                    bottom
                                                    name="importance"
                                                    :rules="[validateSelect(link.type, 'type')]"
                                            />
                                        </v-flex>
                                        <v-flex xs8>
                                            <v-text-field
                                                    v-model="link.urlPath"
                                                    name="path"
                                                    label="Path"
                                                    :rules="[formValidate('path', link.urlPath)]"
                                            />
                                        </v-flex>
                                    </v-layout>
                                    <!--<v-select
                                            :items="areas"
                                            v-model="link.areaId"
                                            label="Unidades organizativas"
                                            bottom
                                            name="area"
                                            :rules="[validateSelect(link.areaId, 'area')]"
                                    />-->


                                </v-container>
                            </v-flex>
                        </v-layout>

                    </v-card-text>
                </form>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="$emit('showModalLink', false)">Cancelar</v-btn>
                    &nbsp;&nbsp;
                    <v-btn type="submit" primary :loading="loading" :disabled="loading" class="white--text"
                           @click.native="submit">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-fab-transition>
            <v-btn primary dark absolute fab right large @click.native.stop="addLink" style="bottom: 30px">
                <v-icon>add</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-layout>
</template>
<script>
  import cardDefualt from '../../assets/images/card-default.png'
  import FileUpload from 'vue-upload-component'
  import Cropper from 'cropperjs'
  import isEmpty from 'lodash/isEmpty'
  import {baseUrl} from '../../api'
  export default{
    components: {FileUpload},
    props: {
      modalLink: Boolean,
      submitLink: Function,
      removeLink: Function,
      areas: Array,
      types: Array,
      loading: Boolean,
      row: Object
    },
    data () {
      return {
        validated: false,
        tipoBanner: null,
        title: '',
        accept: 'image/png,image/gif,image/jpeg,image/webp',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        name: 'file',
        pagination: {},
        multiple: true,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,

        typeLink: [
          {
            value: 1,
            text: 'Link Sistema'
          },
          {
            value: 2,
            text: 'Banner Home'
          }
        ],
        fileUpConf: {
          accept: 'image/png,image/gif,image/jpeg,image/webp',
          size: 1024 * 1024 * 10,
          extensions: 'gif,jpg,jpeg,png,webp',
          multiple: false,
          directory: false,
          drop: true,
          dropDirectory: false,
          thread: 3,
          name: 'coverPhoto',
          postAction: 'http://localhost:8080/admin/links'
        },
        cropConfig: {
          aspectRatio: 1 / 1,
          viewMode: 1,
          dragMode: 'move',
          guides: false,
          highlight: false,
          cropBoxMovable: true,
          cropBoxResizable: false,
          toggleDragModeOnDblclick: false
        },
        cardImage: cardDefualt,
        isCropper: false,
        cropper: null,
        files: [],
        fileIsRemoved: false,
        link: {
          id: 0,
          cropperData: {},
          name: null,
          areaId: null,
          iconPath: null,
          type: null,
          urlPath: null,
          tipoBanner: 1
        },
        isEdit: false
      }
    },
    methods: {
      // Link
      addLink () {
        this.validated = false
        this.link = {
          id: 0,
          cropperData: {},
          name: null,
          areaId: null,
          iconPath: null,
          type: null,
          urlPath: null,
          banner: null
        }
        this.cardImage = cardDefualt
        this.isEdit = false
        this.fileIsRemoved = true
        this.files = []
        this.isCropper = false
        this.$emit('showModalLink', true)
      },
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      },
      validateSelect (obj, field) {
        if (!obj && this.validated) return 'Campo requerido'
        return true
      },
      submit () {
        this.validated = true
        this.link.files = this.files
        this.link.tipoBanner = this.tipoBanner
        if (this.link.tipoBanner === 2) this.link.name = 'Banner'
        if (this.isEdit && !this.link.cropperData) this.submitLink(this.link)
        else if (this.files.length > 0 && this.isCropper) this.submitLink(this.link)
        else this.$store.commit('SET_MESSAGE', {msg: this.$t('coverPhotoIsRequired'), type: 'error'})
      },
      refreshTable () {
        this.fetchLink(null, null, this.pagination.rowsPerPage, this.pagination.page === 1 ? 0 : this.pagination.rowsPerPage * (this.pagination.page - 1))
      },
      // File
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          console.log('add', newFile)
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
         // console.log('update', newFile, oldFile)
          if (newFile.progress !== oldFile.progress) {
          //  console.log('progress', newFile.progress)
          }
        }
        if (!newFile && oldFile) {
         // console.log('remove', oldFile)
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      removeFile () {
        this.fileIsRemoved = true
        this.isCropper = false
        this.files.map(f => {
          this.$refs.upload.remove(f)
        })
        this.cardImage = cardDefualt
        this.cropper.destroy()
      },
      addFile () {
        this.fileIsRemoved = false
        this.isCropper = true
        this.link.cropperData = this.cropper.getData()
        this.cardImage = this.cropper.getCroppedCanvas().toDataURL('image/png', 0.5)
        this.cropper.destroy()
      }
    },
    watch: {
      'files' () {
        this.files.map(f => {
          this.cardImage = f.type.substr(0, 6) === 'image/' && f.blob ? f.blob : cardDefualt
          this.fileIsRemoved = true
        })
        if (this.tipoBanner === 2) {
          this.addFile()
        }
      },
      cardImage () {
        setTimeout(() => {
          if (this.files.length > 0 && !this.isCropper) {
            this.cropper = new Cropper(document.getElementById('linkImg'), this.cropConfig)
          }
        }, 400)
      },
      'link.type' () {
        if (!this.isEdit) this.link.urlPath = this.link.type === 1 ? 'http://' : '//'
      },
      row () {
        if (!isEmpty(this.row)) {
          this.fileIsRemoved = false
          this.isEdit = true
          this.link = this.row
          this.cardImage = `${baseUrl}/files/link/${this.link.iconPath}`
        }
      }
    },
    mounted () {
      window.addEventListener('keyup', (e) => {
        if (e.keyCode === 27) this.$emit('showModalLink', false)
      })
    }
  }
</script>
