<template>
  <form v-on:submit.prevent="submited('frm-forgot')"
        data-vv-scope="frm-forgot">
    <v-card-text>

      <v-text-field label="Correo"
                    v-model="email"
                    name="email"
                    required
                    type="email"
                    dark
                    v-validate="'required'"
                    :rules="[formValidate('email')]"/>

      <v-btn primary
             block
             class="white--text mt-4 mb-4"
             type="submit"
             :loading="loading"
             :disabled="loading">Recuperar
      </v-btn>
      <p class="white--text ">Copyright © 2017 Divemotor </p>

    </v-card-text>

  </form>
</template>
<script>

  export default {
    props: {
      submit: Function,
      googleAuth: Function,
      loading: Boolean
    },
    data () {
      return {
        email: ''
      }
    },
    methods: {
      submited (scope) {
        this.submit(this.$data)
      },
      formValidate (field) {
        if (this.formErrors.has(field)) return 'Campo requerido'
        return true
      }
    }
  }
</script>
