<template>
  <form v-on:submit.prevent="submited('frm-forgot')">
    <v-card-text>

      <v-text-field label="Contraseña"
                    v-model="password"
                    name="password"
                    required
                    type="password"
                    dark
                    :rules="[formValidate('password', password)]"/>

      <v-text-field label="Confirmar Contraseña"
                    v-model="passwordConfirm"
                    name="password_confirmation"
                    required
                    type="password"
                    dark
                    :rules="[formValidate('passwordConfirmar', passwordConfirm)]"/>

      <v-btn primary
             block
             class="white--text mt-4 mb-4"
             type="submit"
             :loading="loading"
             :disabled="loading">Guardar
      </v-btn>
      <p class="white--text ">Copyright © 2017 Divemotor </p>

    </v-card-text>

  </form>
</template>
<script>
  import isEmpty from 'lodash/isEmpty'
  export default {
    props: {
      submit: Function,
      googleAuth: Function,
      loading: Boolean
    },
    data () {
      return {
        password: '',
        passwordConfirm: ''
      }
    },
    methods: {
      submited (scope) {
        this.submit(this.$data)
      },
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      }
    }
  }
</script>
