<template>
  <form v-on:submit.prevent="submited('frm-signin')" class="">
    <v-card-text>
      <!--p class="white--text" style="text-align: left; padding-left: 37px">Inicie sesión con</p-->
       <v-btn block class="white--text blue darken-1 mt-6 mb-3"
          style="width: 295px; margin: 0 auto"
          type="link"
          :loading="loading"
          :disabled="loading"
          :href="`${urlAuth}`">
          Iniciar Sesión
        </v-btn>

        <div v-if="showForm">
            <v-text-field label="Usuario"
                          v-model="user.email"
                          name="email"
                          type="email"
                          required
                          class="mb-0"
                          dark
                          :rules="[formValidate('email', user.email)]"/>

            <v-text-field label="Contraseña"
                          name="password"
                          v-model="user.password"
                          type="password"
                          required
                          class="mb-0"
                          dark
                          :rules="[formValidate('password', user.password)]"/>

            <v-checkbox color="primary" label="Recordarme" v-model="user.remember" dark primary hide-details/>

            <router-link dark flat class="white--text" to="/auth/forgotPassword" >¿Olvidaste tu contraseña?</router-link>


            <v-btn primary
                   block
                   class="white--text mt-2 mb-3"
                   type="submit"
                   :loading="loading"
                   :disabled="loading">{{$t('action.signIn')}}
            </v-btn>
        </div>


        <v-btn v-if="!showForm"
                primary
               @click="showForm = true"
               flat
               block
               style="width: auto; margin: 0 auto"
               class="white--text mt-2 mb-3 text-normal"
               type="submit"
               :loading="loading"
               :disabled="loading">o inicia con clave
        </v-btn>



      <p class="white--text text-xs-center">Copyright © 2017 {{site ? 'AutoStar' : 'Divemotor' }}</p>

    </v-card-text>

  </form>
</template>
<script>
  import {baseUrl} from '../../api'
  import isEmpty from 'lodash/isEmpty'
  const env = process.env.NODE_ENV !== 'production'
  const site = process.env.STYLES === 'CR'
  export default {
    props: {
      submit: Function,
      googleAuth: Function,
      urlAuth: String,
      loading: Boolean
    },
    data () {
      return {
        baseUrl: baseUrl,
        user: {
          email: '',
          password: '',
          remember: true
        },
        env,
        site,
        showForm: false
      }
    },
    methods: {
      submited (scope) {
        this.submit(this.user)
      },
      formValidate (field, value) {
        if (isEmpty(value) && this.validated) return 'Campo requerido'
        return true
      }
    }
  }
</script>
