<template>
  <div>
    <v-card-title>
      <v-icon fab primary >restaurant</v-icon>
      <v-toolbar-title class="grey--text text--darken-2">Menú del día</v-toolbar-title>
    </v-card-title>
    <v-card>
      <v-progress-linear v-bind:indeterminate="true" v-if="loading"></v-progress-linear>
      <v-card-text v-if="events.length > 0">
        <full-calendar
          ref="calendar"
          defaultView="month"
          :event-sources="eventsource"
          @event-selected="eventSelected"
          @event-created="eventCreated"
          :config="config"></full-calendar>
      </v-card-text>
      <v-card-text v-else class="text-xs-center">
        <h6>No hay menú cargado para su sucursal</h6>
      </v-card-text>
    </v-card>

    <v-dialog v-model="modalMenu" persistent width="600px">
      <v-card class="default-modal" lazy absolute>
        <v-card-title class="modal-row-title grey darken-3 ">
          <div class="headline white--text" style="font-size: 18px !important; line-height: 20px !important;">
            MENÚ DEL DÍA - {{ menuTitle }}
          </div>
          <v-spacer></v-spacer>
          <v-btn icon class="white--text" @click.native="hideModalMenu">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pa-0" :style="{height: $store.state.less600 ? 'auto' : 'auto',  overflowX: 'auto'}">
          <v-tabs v-model="active">
            <v-tabs-bar slot="activators" class="white">
              <v-tabs-item
                v-for="tab in tabs"
                :key="+tab.id"
                :href="'#' + tab.id"
                ripple>
                {{ tab.title }}
              </v-tabs-item>
              <v-tabs-slider class="primary"></v-tabs-slider>
            </v-tabs-bar>
            <v-tabs-content id="1">
              <v-progress-linear v-if="loading" :indeterminate="true" class="mt-0"/>
              <v-card >
                <v-card-text>
                  <v-layout row wrap >
                    <v-flex xs12 sm6 v-for="(item, index) in foods" :key="index" style="margin-bottom: 10px">
                      <v-card>
                        <v-card-media :src="plates[item.schedule]" height="100px">
                        </v-card-media>
                        <v-card-title primary-title>
                          <div>
                            <h3 class="title mb-0 fc-center">{{ item.schedule }}</h3>
                            <div class="body-1">{{ dateFormat(selected.start, 'DD/MM/YYYY') }}</div>
                          </div>
                          <v-spacer></v-spacer>
                          <label class="primary btn btn--floating btn--small theme--dark dark--bg elevation-0">
                            <v-icon class="white--text">restaurant</v-icon>
                          </label>
                        </v-card-title>
                        <v-card-text>
                          <div v-for="(i, n) in item.foods" :key="n">
                            <div v-for="(k, j) in i">
                              <b>{{ j }}</b> {{ k }}
                            </div>
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-tabs-content>
            <v-tabs-content id="2">
              <v-card flat>
                <v-layout row wrap>
                  <v-flex xs8 offset-xs2 class="mt-5">
                    <div class="primary--text">Sugerencia *</div>
                    <v-text-field
                      v-model="description"
                      counter
                      max="550"
                      maxlength="550"
                      label="Introduzca su sugerencia"
                      multi-line></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-tabs-content>
            <v-tabs-content id="3">
              <v-card flat>
                <v-layout row wrap>
                  <v-flex xs8 offset-xs2 class="mt-5">
                    <div class="primary--text">Reservación por Prescripción Médica *</div>
                    <small>Dieta blanda <br/> Opción disponible hasta las 10:15 am</small>
                    <v-text-field
                      v-model="prescription"
                      ref="suggest"
                      counter
                      max="150"
                      maxlength="150"
                      label="Introduzca su reservación"
                      single-line></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs6 offset-xs3 class="mt-2">
                    <file-upload
                      style="display: block !important;"
                      :name="name"
                      :extensions="extensions"
                      :accept="accept"
                      :multiple="multiple"
                      :directory="directory"
                      :size="size || 0"
                      :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                      :drop="drop"
                      :dropDirectory="dropDirectory"
                      v-model="files"
                      @input-file="inputFile"
                      ref="upload">
                      <v-card style="min-height: 50px; border: 1px dashed orangered!important;" class="grey lighten-4">
                        <v-card-text>
                          <div style="background: white;"><span><span class="primary--text">Buscar Archivos</span>&nbsp;para cargar.<br/> Microsoft word o PDF solamente (5MB)</span></div>
                          <v-list>
                            <v-list-tile v-for="(item, i) in files" src="" :key="i">
                              <v-list-tile-action>
                                <v-btn icon class="primary--text" @click.native="removeFile(i, item)">
                                  <v-icon light>close</v-icon>
                                </v-btn>
                              </v-list-tile-action>
                              <v-list-tile-content>
                                <v-list-tile-title>{{ item.file.name }}</v-list-tile-title>
                              </v-list-tile-content>
                            </v-list-tile>
                          </v-list>
                        </v-card-text>
                      </v-card>
                    </file-upload>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-tabs-content>
          </v-tabs>
        </v-card-text>
        <v-card-actions>
          <small class="primary--text" style="float: left; margin-top: 15px; padding-left: 10px">(*) Campos obligatorios</small>
          <v-spacer></v-spacer>
          <v-btn flat @click.native="hideModalMenu" :disabled="loading" class="primary--text">Cancelar</v-btn>
          <v-btn
            primary
            @click.native="submit"
            v-if="active > 1 && (description !== '' && active == 2) || (prescription !== '' && active == 3)"
            :loading="loading"
            :disabled="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import imgB from '../../assets/images/menu/desayuno.jpg'
  import imgL from '../../assets/images/menu/almuerzo.jpg'
  import imgD from '../../assets/images/menu/cena.jpg'
  import {dateFormat} from '../../plugins/moment'
  import FileUpload from 'vue-upload-component'
  export default {
    components: {FileUpload},
    data () {
      return {
        plates: {
          desayuno: imgB,
          almuerzo: imgL,
          cena: imgD
        },
        tabs: [
          {title: 'Menú', id: '1'},
          {title: 'Sugerencia', id: '2'},
          {title: 'Prescripción Médica', id: '3'}
        ],
        foods: [],
        modalDetail: false,
        modalMenu: false,
        loading: false,
        events: [],
        eventsource: [
          {
            events: this.events,
            color: 'orange',
            textColor: 'black'
          }
        ],
        config: {
          weekends: false,
          fixedWeekCount: false,
          locale: 'es',
          eventClick: (event) => {
            console.log(event)
            this.selected = event
            this.foods = event.food
            // this.modalDetail = true
            this.modalMenu = true
          },
          eventRender: (event) => {
            return '<div class="text-xs-center" style="cursor: pointer;">' +
              '<button class="btn btn--floating btn--small theme--dark dark--bg primary"><i class="material-icons icon white--text ">restaurant</i></button><br/>' +
              '<div class="div__text--calendar hidden-xs-only">Menú del día</div>' +
              '</div>'
          },
          header: {
            left: null,
            center: 'title',
            right: null
          }
        },
        accept: 'application/msword,application/pdf',
        size: 1024 * 1024 * 10,
        extensions: 'gif,jpg,jpeg,png,webp',
        search: '',
        pagination: {},
        multiple: false,
        directory: false,
        thread: 3,
        drop: true,
        dropDirectory: false,
        name: 'file',
        files: [],
        description: '',
        prescription: '',
        active: '1',
        menuTitle: 'Menú'
      }
    },
    methods: {
      dateFormat,
      fetchCurrentMenu () {
        this.loading = true
        this.$store.dispatch('getCurrentMenu')
          .then((res) => {
            this.events = res.data.success
            this.loading = false
          })
          .catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' })
            this.loading = false
          })
      },
      refreshEvents () {
        this.$refs.calendar.$emit('refetch-events')
      },
      removeEvent () {
        this.$refs.calendar.$emit('remove-event', this.selected)
        this.selected = {}
      },
      eventSelected (event) {
        this.selected = event
      },
      eventCreated (...test) {
      },
      hideModalMenu () {
        this.modalMenu = false
        this.sede = null
      },
      inputFile (newFile, oldFile) {
        if (newFile && !oldFile) {
          var URL = window.URL || window.webkitURL
          if (URL && URL.createObjectURL) {
            this.$refs.upload.update(newFile, {blob: URL.createObjectURL(newFile.file)})
          }
        }
        if (newFile && oldFile) {
          if (newFile.progress !== oldFile.progress) {
          }
        }
        if (!newFile && oldFile) {
        }
        if (this.auto && !this.$refs.upload.uploaded && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      },
      submit () {
        if (this.active === '2') {
          this.submitSuggest()
        } else if (this.active === '3') {
          this.submitPresciption()
        }
      },
      submitSuggest () {
        this.loading = true
        this.$store.dispatch('submitSuggest', {description: this.description})
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.description = ''
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      },
      submitPresciption () {
        this.loading = true
        let fd = new FormData()
        fd.append('prescription', this.prescription)
        if (this.files.length > 0) fd.append('coverPhoto', this.files[0].file)
        this.$store.dispatch('submitPrescription', fd)
          .then((res) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', { msg: res.data.success, type: 'success' })
            this.files = []
            this.prescription = ''
          })
          .catch((err) => {
            this.loading = false
            this.$store.commit('SET_MESSAGE', {msg: err.response.data.error, type: 'error'})
          })
      }
    },
    mounted () {
      this.fetchCurrentMenu()
    },
    watch: {
      events () {
        this.eventsource = [
          {
            events: this.events,
            color: 'orange',
            textColor: 'white'
          }
        ]
        this.refreshEvents
        // this.$refs.calendar.$emit('gotoDate', '02 2017')
      }
    }
  }
</script>
